<div class="colour">
    <h2 class="colour__title">Brand Red</h2>
    <div class="colour__section colour__section--red">
        <div class="colour__item colour__item--default">
            <h4>Default</h4>
            <div></div>
        </div>
        <div class="colour__item colour__item--dark">
            <h4>Dark</h4>
            <div></div>
        </div>
    </div>
</div>

<div class="colour">
    <h2 class="colour__title">Brand Green</h2>
    <div class="colour__section colour__section--green">
        <div class="colour__item colour__item--default">
            <h4>Default</h4>
            <div></div>
        </div>
        <div class="colour__item colour__item--dark">
            <h4>Dark</h4>
            <div></div>
        </div>
    </div>
</div>

<div class="colour">
    <h2 class="colour__title">Brand Yellow</h2>
    <div class="colour__section colour__section--yellow">
        <div class="colour__item colour__item--default">
            <h4>Default</h4>
            <div></div>
        </div>
        <div class="colour__item colour__item--light">
            <h4>Light</h4>
            <div></div>
        </div>
    </div>
</div>

<div class="colour">
    <h2 class="colour__title">Gray</h2>
    <div class="colour__section colour__section--gray">
        <div class="colour__item colour__item--default">
            <h4>Default</h4>
            <div></div>
        </div>
        <div class="colour__item colour__item--dark">
            <h4>Dark</h4>
            <div></div>
        </div>
        <div class="colour__item colour__item--light">
            <h4>Light</h4>
            <div></div>
        </div>
    </div>
</div>
