<form action="" method="GET" class="form {{modifier 'search' search.modifiers}}">
    <div class="form__field">
        <label for="search__search">{{ search.label }}</label>
        <input type="text" id="search__search" name="q" placeholder="{{ search.placeholder }}" />
    </div>
    {{ render '@button' button merge=true }}
</form>
