<div class="form {{modifier 'form--search' modifiers}}">
    <form action="/search" method="post">
        <div class="form__inner">
            {{ render '@form--field' fields.location merge=true }}
            {{ render '@button' button merge=true }}
        </div>
    </form>
</div>
