{{ render '@layout-header' header merge=true }}

<main>
    {{#> @section modifiers='bg-red' }}
        {{ render '@block--hero' hero }}
    {{/ @section }}

    {{#> @section modifiers='narrow' }}
        {{ render '@block--quote' }}
    {{/ @section }}
</main>

{{ render '@layout-footer' }}
