<header class="header">
    <div class="header__container">
        <div class="header__inner">
            <h1 class="header__logo"><a href="{{ header.link }}">{{ header.text }}</a></h1>

            {{ render '@layout-navigation' navigation merge=true }}
        </div>
    </div>

    {{ render '@block--search--alt' search merge=true }}
</header>
