.header {
    @apply fixed inset-x-0 z-40 text-white bg-brand-green-dark;

    &__container {
        @apply relative z-20 bg-brand-green-dark p-5;
    }

    &__inner {
        @apply mx-auto max-w-screen-xl flex justify-between items-center;
    }

    &__logo {
        @apply z-40 font-display text-4xl text-center m-0 flex-shrink-0;

        width: 220px;

        @screen xs {
            width: 300px;
        }

        a {
            @apply relative z-40 block bg-auto bg-no-repeat indent-full w-full overflow-hidden;

            background-image: url(../images/logo.svg);
            background-position: 0 50%;

            &:hover,
            &:focus,
            &:active {
                @apply text-brand-red-dark;
            }
        }

        &::after {
            @apply absolute inset-0 z-30 bg-brand-green-dark;

            content: "";
        }
    }

    @screen lg {
        &__container {
            @apply py-0;
        }

        &__logo {
            @apply absolute;

            &::after {
                @apply hidden;
            }
        }
    }

    .form--search {
        @apply hidden absolute z-10 inset-x-0 py-8 px-4;
        @apply transition-transform ease-in-out duration-300;

        top: 100%;
        transform: translateY(-100%);

        &.is-shown {
            transform: translateY(0);
        }

        @screen lg {
            @apply block;
        }
    }
}

@media print {
    .header {
        @apply hidden;
    }
}
