@screen xs {
    .typography {
        .alignright,
        .photoright {
            @apply float-right ml-2 mt-2;
        }

        .alignleft,
        .photoleft {
            @apply float-left mr-2 mt-2;
        }
    }
}

// Hopefully after rolling out the new site we can refactor the content & remove this
.partners {
    @apply bg-brand-yellow;

    float: left;
    max-width: 12em;
    margin-right: 3em;
    min-height: 19em;
    padding: 1em;
    margin-top: 2em;

    img {
        margin-bottom: 0;
    }
}

.treeidentifier {
    clear: both;
}

@media screen and (min-width: 600px) {
    .blog-post__content img.post-image {
        float: right;
        margin-left: 15px;
    }
}

@media print {
    .noprint {
        display: none;
    }

    .section {
        @apply p-0;
    }
}
