@screen xs {
    .typography {
        .alignright,
        .photoright {
            @apply float-right ml-2 mt-2;
        }

        .alignleft,
        .photoleft {
            @apply float-left mr-2 mt-2;
        }
    }
}

// Hopefully after rolling out the new site we can refactor the content & remove this
.partners {
    @apply bg-brand-yellow;

    float: left;
    max-width: 12em;
    margin-right: 3em;
    min-height: 21em;
    padding: 1em;
    margin-bottom: 2em;
}
