.intro {
    @apply bg-white flex items-center justify-center text-center mb-4 py-3;

    min-height: 133px;

    @screen md {
        @apply py-0;
    }

    &__item {
        @apply inline text-lg text-brand-green;

        &--link {
            @apply block;
        }

        > span::before {
            @apply -ml-1 mr-1;

            content: ",";
        }

        &:first-child span::before {
            content: "";
        }

        a {
            @apply text-current;
        }

        @screen md {
            @apply text-xl;

            &--link {
                @apply inline-block;
            }

            &::before {
                @apply inline-block mr-3 ml-2 -mt-1 text-xs align-middle;

                content: '•';
            }

            > span::before {
                @apply hidden;

                content: "";
            }

            &:first-child::before {
                @apply hidden;
            }
        }
    }
}
