<div class="accordion">
  {{#if title}}
  <h3 class="accordion__title">{{ title }}</h3>
  {{/if}}

  {{#each items }}
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">{{ title }}</h2>
    <div class="accordion__item__content">
      <div>
        <p>{{ text }}</p>
      </div>
    </div>
  </div>
  {{/each}}
</div>
