

<div class="card card--link">
  <a href="page-woodland" class="card__link">
    <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?9800" />
    </div>
</div>

    <div class="card__body">
      <h3 class="card__title">Sunt Similique Inventore Dolorum Nesciunt Saepe Nostrum.</h3>
      <div class="card__content">
        Exercitationem ut sit nesciunt deleniti est voluptatibus molestiae mollitia. Qui qui cupiditate iste et nemo repudiandae eius veritatis sint. Odit ut qui officiis accusantium. Quia a a corrupti velit tempore dolor illo possimus nisi. Necessitatibus quidem voluptatem sint error ducimus accusamus.
      </div>
    </div>
    <div class="card__banner">
      Blog
    </div>
  </a>
</div>

