

<div class="card ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Default Card</h3>
    <div class="card__content">
      Explicabo repudiandae beatae nemo. Praesentium qui eum. Inventore iusto quia dolores maxime reiciendis. Sequi aspernatur officia sit a distinctio. Sit eaque qui praesentium minima.
    </div>
  </div>
</div>

