

<form action="" method="GET" class="form form--cta">

    <div class="form--cta__container">
        <label for="form--cta__field-id" class="form__label form__title">Woodlands for sale for conservation and enjoyment</label>


        <div class="form__group">
            <input type="text" id="form--cta__field-id" name="field" placeholder="Enter locations eg. Suffolk" />
            <button class="button button--green ">
  <span>Search woodlands for sale</span>
</button>

        </div>
    </div>
</form>

