

  <div class="card card--link">
  <a href="page-woodland" class="card__link">
    <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?38830" />
    </div>
</div>

    <div class="card__body">
      <h3 class="card__title">Natus Nostrum Voluptatem Ipsum Dolorem Voluptas Voluptatem Dolorum Quae Hic.</h3>
      <div class="card__content">
        Hic cupiditate ullam doloremque et aut qui quod. Unde aut deserunt tempore sed temporibus reprehenderit. Pariatur maiores fuga ut dolor maiores libero earum et illum. A quis possimus voluptatem porro ducimus laudantium ducimus id nam. Dolorem nemo perspiciatis autem voluptates aliquid. Et sunt error sapiente quia.
      </div>
    </div>
    <div class="card__banner">
      Blog
    </div>
  </a>
</div>


