

<div class="modal modal--small" aria-hidden="true" id="modal-bd8b77b4-f8c6-4a9b-b174-bd772380af29">
  <div class="modal__container" data-modal-close="modal-bd8b77b4-f8c6-4a9b-b174-bd772380af29">
    <div class="modal__item" role="dialog" aria-modal="true" aria-labelledby="modal__title--bd8b77b4-f8c6-4a9b-b174-bd772380af29">

      <header class="modal__header">
        <h2 class="modal__title" id="modal__title--bd8b77b4-f8c6-4a9b-b174-bd772380af29">Default Modal</h2>
        <button type="button" data-modal-close="modal-bd8b77b4-f8c6-4a9b-b174-bd772380af29" aria-label="Close Modal">×</button>
      </header>

      <div class="modal__content">
          Reprehenderit tempora aliquam. Blanditiis laborum aut dolore est nemo porro. Amet optio et iusto voluptas aut et. Quam hic quia mollitia ipsam quibusdam assumenda. Et officia quae qui iure velit ea mollitia nam. Facilis dolores id dolore nihil ab laborum.
 Natus et aut quia esse in quo. Occaecati ut perferendis dolore assumenda autem voluptatem qui odio. Repellendus dolor ducimus velit iste quam vel et ipsum.
 Et aut ut illo ipsum tempora. Sit consequatur architecto iusto sit quis impedit facere deserunt est. Delectus voluptas quisquam earum rem autem. Reiciendis eos quo deserunt quidem et voluptatem dolorem pariatur et.
      </div>


    </div>
  </div>
</div>

