

<div class="card card--woodland">
  <a href="page-woodland" class="card__link">
    <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?36815" alt="" title="" />
    </div>
</div>

    <div class="card__body">
      <h3 class="card__title">Labore Soluta Esse Cupiditate Inventore Consequatur Quos Porro.</h3>
      <p class="card__meta">NR. Okuneva Mount, East Marcelobury, Berkshire</p>
      <p class="card__extra">About 5 ½ acres</p>
      <div class="card__content">
        Qui veritatis in voluptatem. Totam hic et eos aspernatur voluptas id. Illum dicta necessitatibus. Iure excepturi ipsum omnis nulla et hic dolores. Autem ut neque quibusdam ut debitis porro incidunt doloribus necessitatibus. Unde voluptatibus esse optio non quibusdam beatae deleniti animi.
      </div>
    </div>
    <div class="card__banner">
      £18,204
    </div>
  </a>
</div>

