

<div class="managed-by">
  <div class="managed-by__person">
    <h3 class="managed-by__title">
      Managed by <strong>Yesenia Krajcik Sr.</strong>
    </h3>
    <div class="managed-by__avatar">
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/solid_color/128.jpg" alt="Yesenia Krajcik Sr." title="" />
    </div>
  </div>
  <p class="managed-by__contact">Telephone: <a href="tel:664.720.3010 x888">664.720.3010 x888</a></p>
  <p class="managed-by__contact">Email: <a href="mailto:Margaret8@example.org">Margaret8@example.org</a></p>
</div>

