

<div class="card">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?14767" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Card With Banner</h3>
    <div class="card__content">
      Laborum suscipit aut et. Nobis eos est. Distinctio voluptatem corrupti doloribus labore eum ea animi unde dolorem. Veniam modi qui corrupti eum sed et et dolorem totam.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

