

<div class="modal" aria-hidden="true" id="modal-59229249-dbe3-4a60-bfbc-f9dca397e9d6">
  <div class="modal__container" data-modal-close="modal-59229249-dbe3-4a60-bfbc-f9dca397e9d6">
    <div class="modal__item" role="dialog" aria-modal="true" aria-labelledby="modal__title--59229249-dbe3-4a60-bfbc-f9dca397e9d6">

      <header class="modal__header">
        <h2 class="modal__title" id="modal__title--59229249-dbe3-4a60-bfbc-f9dca397e9d6">Default Modal</h2>
        <button type="button" data-modal-close="modal-59229249-dbe3-4a60-bfbc-f9dca397e9d6" aria-label="Close Modal">×</button>
      </header>

      <div class="modal__content">
          Illo aut recusandae cum dolore enim fugiat omnis odio. Tempora non est repellendus maiores inventore. Expedita voluptas nam et sapiente assumenda et voluptatem perspiciatis.
 Non itaque quas corporis voluptas qui. Facilis quidem facilis occaecati voluptatem omnis aut voluptas assumenda odit. Velit aliquam incidunt beatae perferendis quis. Dolorem delectus rerum aspernatur. Earum quis facilis illo nihil voluptate similique ut cupiditate ut.
 Esse voluptates ratione. Eos dolorem laboriosam ut. Illo quia illum rerum et facere deleniti commodi culpa necessitatibus.
      </div>

      <div class="modal__footer">
        Esse velit enim itaque. Dolore omnis sequi consequatur in doloremque. Ut eos qui eum aliquid consequatur assumenda fuga et nisi. Magni aperiam odio facere. Eum saepe corporis nihil est ducimus nam sequi incidunt. Enim iure dolores doloremque est maxime.
      </div>

    </div>
  </div>
</div>

