

<form action="" method="GET" class="form form--cta form--cta--alt form--cta--blog form--cta--box">
    <label for="form__cta__field" class="form__label form__title">Subscribe to our blog</label>

    <label for="form__cta__field" class="form__subtitle">We’ll email you with every new article</label>

    <div class="form__group">
        <input type="text" id="form__cta__field" name="field" placeholder="Enter email address…" />
        <button class="button button--green button--green--dark">
  <span>Subscribe</span>
</button>

    </div>
</form>

