

<div class="cta">
  <h2 class="cta__title">Call to Action</h2>
  <div class="cta__text">
    Facere sint eaque voluptatibus in rerum magni eos et alias. Magni accusamus qui voluptatem et culpa illum necessitatibus esse. Beatae illo cum consequatur et libero perspiciatis et repellat. Dolorum possimus rerum. Dicta magni distinctio quidem quas aut est. Et quas animi consequatur deserunt.
  </div>
  <button class="button button--red button--inline bottom">
  <span>Call to Action</span>
</button>

</div>

