

<div class="card card--woodland card--woodland--map " data-longitude="0.608671" data-latitude="51.2342">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Woodland Map Card <span class="card__price">£74,673</span></h3>
    <p class="card__meta">NR. Lucious Shoals, South Tobinburgh, Avon</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

