

<blockquote class="quote">
    <div class="quote__content">
        <p>“Every time I go through the gate into the wood I can’t help but smile to myself.”</p>
    </div>
    <div class="quote__by">
        <cite>
            Luz Hartmann, Dynamic Functionality Producer
        </cite>
    </div>
    <p class="quote__link">
        <a href="#">Read blog post</a>
    </p>
    <div class="quote__image">
        <img src="../../images/drawings/badger.png" alt="Badger" title="" class="drawing " />

    </div>
</blockquote>

