

<div class="card card--woodland card--woodland--map " data-longitude="51.2736" data-latitude="0.95869">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?24302" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Non Numquam Vero Modi Eos Eveniet Numquam. <span class="card__price">£46,913</span></h3>
    <p class="card__meta">NR. Treva Shores, New Isadoreville, Buckinghamshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

