

<div class="card card--woodland card--woodland--map" data-longitude="52.6016074" data-latitude="-2.3530738">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?98879" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Laborum Qui Qui Aut Quae Omnis Explicabo.</h3>
    <p class="card__meta">NR. Fahey Rue, Marquistown, Bedfordshire</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

