

<div class="accordion">
  <h3 class="accordion__title">Summary</h3>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Accordion #1</h2>
    <div class="accordion__item__content">
      <div>
        <p>Saepe sequi ut tempore cumque maiores. Voluptatum minima consequuntur eum ut. Consequatur voluptas praesentium. Rem libero qui labore cupiditate minus est non debitis.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Accordion #2</h2>
    <div class="accordion__item__content">
      <div>
        <p>Repudiandae omnis omnis at nobis similique consequuntur vitae possimus. Repudiandae nemo voluptatibus eos et. Odio incidunt iste non sed cupiditate. Quam earum suscipit error facere soluta.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Accordion #3</h2>
    <div class="accordion__item__content">
      <div>
        <p>Odit voluptas doloremque pariatur tenetur quia vitae voluptas libero. Possimus enim fugit est. Nihil nesciunt consequatur et nostrum consequatur distinctio in sequi consectetur. Quis nam qui.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Accordion #4</h2>
    <div class="accordion__item__content">
      <div>
        <p>Dicta tenetur doloremque placeat facilis. Reprehenderit ut repellat. Architecto ea suscipit rerum et aperiam nostrum quo quasi accusamus. Eveniet voluptatum qui et itaque nam vel. Autem assumenda est. Enim omnis dignissimos quo quo et voluptas iste id.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Accordion #5</h2>
    <div class="accordion__item__content">
      <div>
        <p>Quia quae voluptatem. Iste voluptatum ex. Atque repudiandae commodi occaecati repellat. Nihil asperiores consequatur rerum deleniti. Eum ut consequuntur amet commodi sequi a.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Accordion #6</h2>
    <div class="accordion__item__content">
      <div>
        <p>Sit qui nesciunt. Recusandae quae dolorem autem sed dignissimos facilis in. Cumque facere quis. Qui ducimus corrupti ab non temporibus. Rerum ratione hic aspernatur occaecati ex. Vero voluptas minima voluptatem libero autem.</p>
      </div>
    </div>
  </div>
</div>

