<!DOCTYPE html>
<html lang="en-gb" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../favicon.ico" type="image/ico">
<style>
    :root {
        
        
        
    }
</style>

<link rel="stylesheet" href="../../themes/mandelbrot/css/black.css?cachebust=1.8.1" type="text/css">

<link rel="stylesheet" href="../../themes/mandelbrot/css/highlight.css?cachebust=1.8.1" type="text/css">


<title>Error rendering component block--table | Woodlands.co.uk Component Library</title>

</head>
<body>



<div class="Frame Frame--full" id="frame">


<div class="Error Error--render">
    <h4 class="Error-title">Error rendering component</h4>
    <div class="Error-message Prose">
        <p>Could not render component &#39;tablerow&#39; - component not found.</p>

    </div>
    
    <code class="Error-stack">
        <pre>Error: Could not render component 'tablerow' - component not found.
    at Object.render (/home/runner/work/components/components/node_modules/@frctl/handlebars/src/helpers/render.js:23:19)
    at Object.helperWrapper (/home/runner/work/components/components/node_modules/promised-handlebars/index.js:130:23)
    at Object.<anonymous> (/home/runner/work/components/components/node_modules/promised-handlebars/lib/utils.js:29:28)
    at Object.wrapper (/home/runner/work/components/components/node_modules/handlebars/dist/cjs/handlebars/internal/wrapHelper.js:15:19)
    at eval (eval at createFunctionContext (/home/runner/work/components/components/node_modules/handlebars/dist/cjs/handlebars/compiler/javascript-compiler.js:262:23), <anonymous>:11:145)
    at prog (/home/runner/work/components/components/node_modules/handlebars/dist/cjs/handlebars/runtime.js:268:12)
    at prepareAndResolveMarkers (/home/runner/work/components/components/node_modules/promised-handlebars/index.js:92:17)
    at /home/runner/work/components/components/node_modules/promised-handlebars/lib/utils.js:29:28
    at execIteration (/home/runner/work/components/components/node_modules/handlebars/dist/cjs/handlebars/helpers/each.js:51:19)
    at Object.<anonymous> (/home/runner/work/components/components/node_modules/handlebars/dist/cjs/handlebars/helpers/each.js:61:13)
    at Object.helperWrapper (/home/runner/work/components/components/node_modules/promised-handlebars/index.js:130:23)
    at Object.<anonymous> (/home/runner/work/components/components/node_modules/promised-handlebars/lib/utils.js:29:28)
    at Object.wrapper (/home/runner/work/components/components/node_modules/handlebars/dist/cjs/handlebars/internal/wrapHelper.js:15:19)
    at Object.eval [as main] (eval at createFunctionContext (/home/runner/work/components/components/node_modules/handlebars/dist/cjs/handlebars/compiler/javascript-compiler.js:262:23), <anonymous>:11:49)
    at main (/home/runner/work/components/components/node_modules/handlebars/dist/cjs/handlebars/runtime.js:208:32)
    at ret (/home/runner/work/components/components/node_modules/handlebars/dist/cjs/handlebars/runtime.js:212:12)</pre>
    </code>
    
</div>


</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.8.1"></script>



</body>
</html>
