

<div class="card card--blog ">
  <a href="page-blog-post" class="card__link">
    <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?94718" alt="" title="" />
    </div>
</div>

    <div class="card__body">
      <h3 class="card__title">Quis Tenetur Architecto</h3>
      <p class="card__meta">by Annabelle, 26th July 2020, 40628 comments</p>
      <div class="card__content">
        Deleniti porro numquam dolore natus cumque voluptate harum quisquam. Eaque et et consequatur. Fugiat ullam enim nostrum perferendis. Deleniti neque quaerat dolores quasi quod qui magni sit qui. Aut velit quia in officiis quas aut laudantium. Rem sapiente voluptas placeat qui amet. Qui eligendi temporibus voluptates quis. Temporibus adipisci alias quod. Voluptas et rerum fugit natus quia. Dolorem veniam tempora aut sequi quia quas unde explicabo ea.
      </div>
    </div>
  </a>
</div>

