

<div class="cta">
  <h2 class="cta__title">Call to Action Listing</h2>
  <div class="cta__items">
        <div class="cta__item">
            <h3 class="cta__item__title">quis alias qui</h3>
            <i class="icon icon--medium icon--yellow-dark">
  <img src="../../icons/tick.png" alt="" title="" />
</i>

        </div>
        <div class="cta__item">
            <h3 class="cta__item__title">cum assumenda ipsam</h3>
            <i class="icon icon--medium icon--yellow-dark">
  <img src="../../icons/tick.png" alt="" title="" />
</i>

        </div>
        <div class="cta__item">
            <h3 class="cta__item__title">doloremque ducimus dolores</h3>
            <i class="icon icon--medium icon--yellow-dark">
  <img src="../../icons/tick.png" alt="" title="" />
</i>

        </div>
        <div class="cta__item">
            <h3 class="cta__item__title">sit non omnis</h3>
            <i class="icon icon--medium icon--yellow-dark">
  <img src="../../icons/tick.png" alt="" title="" />
</i>

        </div>
  </div>
</div>

