

<div class="cta cta--help">
  <div class="cta__inner">
    <h2 class="cta__title">debitis dolores nostrum veniam</h2>
    <p class="cta__text">Eum sequi nesciunt ratione voluptas velit qui. Quam iure error est id voluptatem laboriosam unde nisi qui. Quis amet velit consequatur accusamus occaecati quia dignissimos possimus. Aut ut commodi et similique cumque nihil.</p>

    <hr />

    <div class="managed-by managed-by--manager">
  <div class="managed-by__avatar">
    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/kijanmaharjan/128.jpg" alt="Reid Greenfelder" title="" />
  </div>
  <div class="managed-by__manager">
    <h3 class="managed-by__title">Regional Managers</h3>
    <p class="managed-by__contact">Reid Greenfelder</p>
    <p class="managed-by__contact"><a href="tel:568-179-0082 x2910">568-179-0082 x2910</a></p>
  </div>
</div>


    <hr />

    <p class="cta__text cta__text--extra">Explicabo voluptas esse ex maxime non nihil est voluptatem. Numquam qui nam unde voluptatem dolor molestias repudiandae.</p>

  </div>
</div>

