

<blockquote class="quote">
    <div class="quote__content">
        <p>“Accusamus at in quasi quia omnis unde incidunt pariatur. Fuga laudantium beatae minima odit atque optio. Illum consequatur qui voluptas. Harum doloribus quod quod ex distinctio qui velit. Labore voluptatum et maxime doloremque cumque eveniet. Amet voluptas repudiandae quidem eaque vitae.”</p>
    </div>
    <div class="quote__image">
        <img src="../../images/drawings/badger.png" alt="Badger" title="" class="drawing " />

    </div>
</blockquote>

