

<div class="gallery">
    <ul class="gallery__thumbnails">
        <li class="gallery__item">
                <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?17104" alt="" title="" />
        </div>
    </div>

        </li>
        <li class="gallery__item">
                <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?55061" alt="" title="" />
        </div>
    </div>

        </li>
        <li class="gallery__item">
                <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?49256" alt="" title="" />
        </div>
    </div>

        </li>
        <li class="gallery__item">
                <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?69515" alt="" title="" />
        </div>
    </div>

        </li>
        <li class="gallery__item">
                <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?62031" alt="" title="" />
        </div>
    </div>

        </li>
        <li class="gallery__item">
                <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?87182" alt="" title="" />
        </div>
    </div>

        </li>
    </ul>
</div>

