

<div class="cta">
  <h2 class="cta__title">Call to Action</h2>
  <div class="cta__text">
    Placeat voluptate ut rerum est non possimus suscipit. Quam qui in adipisci dignissimos molestiae aspernatur neque. Dolores et est. Iusto placeat deleniti sunt voluptatibus sed ea possimus. Consectetur necessitatibus labore nemo illo rerum reprehenderit distinctio quibusdam et. Itaque laboriosam qui eos at veritatis commodi minima eos.
  </div>
  <button class="button button--red button--inline">
  <span>Call to Action</span>
</button>

</div>

