

<div class="blog-comment">
  <div class="blog-comment__content typography">
    <p>Optio ut voluptatem sed voluptatem nemo a soluta. Commodi explicabo officiis. Unde optio porro molestiae. Voluptatum aut fuga commodi soluta dicta.</p>
<p>Commodi quaerat ut repellendus assumenda nostrum maiores. Nihil consequatur ducimus voluptatem nesciunt asperiores earum quo voluptatem temporibus. Voluptatem odit sed aspernatur quos iusto autem tenetur facere. Quia est laboriosam voluptates ea cupiditate quia veniam dolores incidunt.</p>

  </div>

  <div class="blog-comment__meta">
    <p class="blog-comment__author"><span>Haley</span></p>
    <p class="blog-comment__date"><span>30th April 2026</span></p>
  </div>
</div>

