

<div class="gallery">
    <ul class="gallery__thumbnails">
        <li class="gallery__item">
            <div class="media media--square">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?42199" alt="" title="" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media media--square">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?30965" alt="" title="" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media media--square">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?58289" alt="" title="" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media media--square">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?11451" alt="" title="" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media media--square">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?18264" alt="" title="" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media media--square">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?75923" alt="" title="" />
    </div>
</div>

        </li>
    </ul>
</div>

