

<div class="card">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?95795" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Nesciunt Expedita Exercitationem Laboriosam Quia Molestiae.</h3>
    <div class="card__content">
      Et nihil itaque natus exercitationem vel debitis qui. Tempora laborum impedit praesentium. Aperiam magnam quibusdam omnis et et nam maiores explicabo facere.
    </div>
  </div>
  <div class="card__banner">
    Blog
  </div>
</div>

