

<div class="read-more" data-show="Read more " data-hide="Read less">
  <div class="read-more__content">
      <p>Quasi porro quia et similique molestiae perspiciatis. Eius harum ipsum porro asperiores. Dolorem excepturi ut natus maiores velit dignissimos. Perferendis beatae consequuntur. Harum ipsa quia sint et perspiciatis corrupti esse quo. Dicta fugiat ut omnis at quia.
 Blanditiis voluptatibus sunt nulla consequatur. Iste recusandae aspernatur quidem nihil quibusdam. Ipsum commodi quas commodi laborum autem enim est. Est omnis voluptatem. Ea consequuntur et totam consequatur corporis.
 Est accusamus ab. Molestiae fugiat qui. Tenetur quia voluptatem amet. Corporis porro velit odio nesciunt et libero ea id id. Non quaerat aperiam.
 Ratione quia fugiat atque fugiat. Quia dolor velit eum ea nisi voluptas aut explicabo. Voluptatum consectetur recusandae et voluptatem qui aut aut quos dolorum. Consequatur quam soluta autem.
 Accusantium et dolor eos voluptate nihil at facere. Voluptatem facere iste exercitationem. Sed sunt quas aperiam cupiditate sunt voluptatem beatae cum. Minus quam aliquid ut nobis et molestiae non.</p>
  </div>

  <div class="read-more__toggle">
      <button class="button button--small">
  <span>Read more</span>
</button>

  </div>
</div>

