

<template id="photoswipe">
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>

    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>

</template>

<div class="gallery gallery--carousel">
    <ul class="gallery__list">
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?47992" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?47992" alt="" title="" />
    </div>
</div>

            <p class="gallery__description">Nobis et ut omnis.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?16070" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?16070" alt="" title="" />
    </div>
</div>

            <p class="gallery__description">Dolore ut eos doloribus similique et.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?2470" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?2470" alt="" title="" />
    </div>
</div>

            <p class="gallery__description">Ad asperiores sequi eum qui perferendis dolores molestiae est saepe.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?25301" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?25301" alt="" title="" />
    </div>
</div>

            <p class="gallery__description">Quam at dolorem soluta qui.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?8910" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?8910" alt="" title="" />
    </div>
</div>

            <p class="gallery__description">Provident vel quisquam saepe.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?87499" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?87499" alt="" title="" />
    </div>
</div>

            <p class="gallery__description">Eius ea autem quas velit iure labore et vel.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?7935" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?7935" alt="" title="" />
    </div>
</div>

            <p class="gallery__description">Quia temporibus beatae.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?60264" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?60264" alt="" title="" />
    </div>
</div>

            <p class="gallery__description">Velit atque saepe aut excepturi nemo iusto maiores.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?44435" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?44435" alt="" title="" />
    </div>
</div>

            <p class="gallery__description">Ut facere nihil itaque nobis rerum.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?63986" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?63986" alt="" title="" />
    </div>
</div>

            <p class="gallery__description">Ex minima rerum.</p>
        </li>
    </ul>
    <ul class="gallery__thumbnails">
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?47992"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?68907" alt="" title="" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?16070"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?4033" alt="" title="" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?2470"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?67691" alt="" title="" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?25301"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?40723" alt="" title="" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?8910"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?43054" alt="" title="" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?87499"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?18417" alt="" title="" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?7935"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?95599" alt="" title="" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?60264"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?49836" alt="" title="" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?44435"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?78313" alt="" title="" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?63986"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?64878" alt="" title="" />
    </div>
</div>
</a>
        </li>
    </ul>
</div>

