

<template id="photoswipe">
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>

    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>

</template>

<div class="gallery gallery--carousel">
    <ul class="gallery__list">
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?56356" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?56356" />
    </div>
</div>

            <p class="gallery__description">Perspiciatis nemo aliquam ea reiciendis temporibus.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?92290" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?92290" />
    </div>
</div>

            <p class="gallery__description">Consectetur sed rem aspernatur nesciunt libero.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?29639" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?29639" />
    </div>
</div>

            <p class="gallery__description">Placeat accusamus eum repudiandae quasi ducimus voluptatem id.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?25767" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?25767" />
    </div>
</div>

            <p class="gallery__description">Temporibus neque corrupti neque quaerat quis.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?91820" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?91820" />
    </div>
</div>

            <p class="gallery__description">Facere libero ipsam aliquam.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?73183" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?73183" />
    </div>
</div>

            <p class="gallery__description">Fuga incidunt ipsum iste molestiae dolor qui.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?33965" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?33965" />
    </div>
</div>

            <p class="gallery__description">Et aut et ea sunt vel consectetur.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?68449" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?68449" />
    </div>
</div>

            <p class="gallery__description">Aut nihil vel molestiae.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?40295" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?40295" />
    </div>
</div>

            <p class="gallery__description">Est ullam molestiae accusantium beatae numquam aut quia.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?75070" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?75070" />
    </div>
</div>

            <p class="gallery__description">Dolores illum incidunt dolorem impedit cupiditate provident.</p>
        </li>
    </ul>
    <ul class="gallery__thumbnails">
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?56356"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?28985" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?92290"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?12975" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?29639"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?52711" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?25767"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?39720" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?91820"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?69314" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?73183"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?69579" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?33965"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?99174" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?68449"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?58302" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?40295"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?99871" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?75070"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?61672" />
    </div>
</div>
</a>
        </li>
    </ul>
</div>

