

<div class="gallery">
    <ul class="gallery__thumbnails">
        <li class="gallery__item">
            <div class="media media--square">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?60500" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media media--square">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?74380" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media media--square">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?11834" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media media--square">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?96482" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media media--square">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?67684" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media media--square">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?26900" />
    </div>
</div>

        </li>
    </ul>
</div>

