

<div class="blog-comment">
  <div class="blog-comment__content typography">
    <p>Impedit voluptatem officia amet cupiditate quis. Eius et ipsum. In aut est voluptatem et ut illum et eum soluta. Excepturi ipsa excepturi recusandae aut voluptas magnam adipisci nam.</p>
<p>Dolorum sed accusamus quo vel. Praesentium reprehenderit autem accusantium quisquam praesentium. Voluptates saepe qui dolorem sed libero earum amet et quo. Placeat quam laboriosam labore deserunt reiciendis et. Explicabo aliquam voluptatem voluptas fugiat et aliquam accusantium voluptatem aut. Earum consequatur rerum.</p>

  </div>

  <div class="blog-comment__meta">
    <p class="blog-comment__author"><span>Kavon</span></p>
    <p class="blog-comment__date"><span>8th May 2020</span></p>
  </div>
</div>

