

<div class="accordion">

  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Accordion #1</h2>
    <div class="accordion__item__content">
      <div>
        <p>Qui molestiae quis architecto. Voluptatum omnis eos dolorum perspiciatis enim. Alias deserunt dolorem facilis laboriosam. Sit corporis voluptatibus atque.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Accordion #2</h2>
    <div class="accordion__item__content">
      <div>
        <p>Nobis impedit tempora ipsum hic laborum. Aut quo nemo fuga occaecati quod modi voluptas ab dolor. Voluptates quae asperiores corporis et error. Dolor autem unde. Beatae omnis dolor ut. Reprehenderit ratione culpa voluptatem perspiciatis quis.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Accordion #3</h2>
    <div class="accordion__item__content">
      <div>
        <p>Iste cupiditate est ut quisquam nobis accusamus atque alias. Maiores dolorem numquam suscipit sit ullam sunt vel ducimus. Consectetur culpa ea qui aut delectus. Blanditiis libero dolore alias ut iusto praesentium voluptatem et. Odio distinctio reprehenderit est magni fugiat sint. Delectus recusandae dolorum sint quia occaecati.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Accordion #4</h2>
    <div class="accordion__item__content">
      <div>
        <p>Repudiandae perferendis perspiciatis asperiores provident tempora est. Blanditiis illo facere ullam est minima eaque. Commodi magnam ea qui deleniti ratione est repellat voluptatem. Qui rem facere aspernatur. Dolore aspernatur ea doloremque facere perferendis autem neque.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Accordion #5</h2>
    <div class="accordion__item__content">
      <div>
        <p>Et ea quas eum delectus assumenda dignissimos quo ducimus. Et debitis qui autem iste quae unde qui. Fuga et et qui et cupiditate occaecati. Sit non non doloribus. Ipsum in sapiente dolorem dolorem quis placeat ut omnis et.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Accordion #6</h2>
    <div class="accordion__item__content">
      <div>
        <p>Voluptas nesciunt suscipit voluptas. Temporibus ut sunt molestiae ut accusamus id eveniet. Qui et odio.</p>
      </div>
    </div>
  </div>
</div>

