

<div class="card card--link">
  <a href="page-woodland" class="card__link">
    <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?87957" />
    </div>
</div>

    <div class="card__body">
      <h3 class="card__title">Quas Esse Quod.</h3>
      <div class="card__content">
        Repellat qui necessitatibus ut odio consequatur et reiciendis. Ratione placeat eaque voluptates veritatis. Ex est ea eius fugit dignissimos.
      </div>
    </div>
    <div class="card__banner">
      Blog
    </div>
  </a>
</div>

