

<div class="gallery">
    <ul class="gallery__thumbnails">
        <li class="gallery__item">
            <div class="media media--square">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?93661" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media media--square">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?22099" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media media--square">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?923" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media media--square">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?22985" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media media--square">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?29277" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media media--square">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?53851" />
    </div>
</div>

        </li>
    </ul>
</div>

