

<div class="tab" data-tab="93290688-81e4-437b-8947-1282f354583d">
  <div class="tab__navigation button-group">
        <button class="button button--small button--green button--green--outline" data-tab-for=4fa58843-7296-4b36-a02b-c5444aff16a1>
          <span>placeat officia ex</span>
        </button>
        <button class="button button--small button--green button--green--outline" data-tab-for=313f2fa8-37fb-4765-8f42-f35e97971af0>
          <span>perferendis soluta eligendi</span>
        </button>
        <button class="button button--small button--green button--green--outline" data-tab-for=4b3a06c6-4551-4358-b53d-2d288986a128>
          <span>et quo eius</span>
        </button>
        <button class="button button--small button--green button--green--outline" data-tab-for=3b6106fe-d6f9-4f10-8e6d-5ebdddab90cd>
          <span>non debitis qui</span>
        </button>
  </div>

  <div class="tab__items">
        <div class="tab__item tab__item--4fa58843-7296-4b36-a02b-c5444aff16a1" data-tab-item="4fa58843-7296-4b36-a02b-c5444aff16a1">
            <h3 class="tab__item__title">placeat officia ex</h3>
            Rerum excepturi velit ut incidunt sint et qui hic soluta. Quas perferendis perferendis. Iusto maiores illum rem voluptate recusandae sit corporis. Sit id similique aut itaque ea voluptas. Temporibus ullam dolores dolores autem id.
        </div>
        <div class="tab__item tab__item--313f2fa8-37fb-4765-8f42-f35e97971af0" data-tab-item="313f2fa8-37fb-4765-8f42-f35e97971af0">
            <h3 class="tab__item__title">perferendis soluta eligendi</h3>
            Tenetur et distinctio. Id magnam inventore itaque modi rerum architecto odio. Dolorem qui aspernatur accusamus voluptatibus. Odit illum voluptate cum unde dignissimos est quia iusto. Et quo vero.
        </div>
        <div class="tab__item tab__item--4b3a06c6-4551-4358-b53d-2d288986a128" data-tab-item="4b3a06c6-4551-4358-b53d-2d288986a128">
            <h3 class="tab__item__title">et quo eius</h3>
            Illum possimus nobis aut expedita laboriosam eum sunt cupiditate id. Eum et impedit voluptatum. Quia assumenda eos. Fuga omnis nobis veritatis repellat adipisci dolorem nisi nemo dolorum. Dignissimos alias similique est est quod animi culpa reiciendis id.
        </div>
        <div class="tab__item tab__item--3b6106fe-d6f9-4f10-8e6d-5ebdddab90cd" data-tab-item="3b6106fe-d6f9-4f10-8e6d-5ebdddab90cd">
            <h3 class="tab__item__title">non debitis qui</h3>
            Id consequatur illum. Quaerat et sit ut ex explicabo sapiente dolorem inventore. At harum alias ut laboriosam rerum molestias explicabo aut. Ipsa odit voluptatum molestiae earum. Qui alias aperiam ipsam est repellendus pariatur sit doloremque accusamus.
        </div>
  </div>
</div>

