

<div class="card card--sold">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?51714" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Card With Sold Banner</h3>
    <div class="card__content">
      In corporis sint quo sequi voluptatem eveniet. Reiciendis repudiandae eaque harum unde nobis vero ex ea et. Omnis in cumque. Laudantium recusandae dolores sunt nemo dicta. Rerum maiores beatae autem. Dolores explicabo omnis totam et labore autem nulla doloribus.
    </div>
  </div>
  <div class="card__banner">
    Sold
  </div>
</div>

