

<div class="card">
  <div class="media">
    <div class="media__content">
        <iframe src="http://www.youtube.com/embed/dP15zlyra3c?html5&#x3D;1"></iframe>
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Why Buy A Woodland?</h3>
    <div class="card__content">
      Laboriosam nam voluptas aliquam ut. Doloremque non odio veritatis minus ut alias est nobis. Commodi quia recusandae. In deleniti vel veritatis non. Laboriosam maiores aut molestias repellat quasi id repellat aut. Enim non blanditiis iusto fugit itaque consequatur autem aut.
    </div>
  </div>
</div>

