

<div class="gallery">
    <ul class="gallery__thumbnails">
        <li class="gallery__item">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?96801" alt="" title="" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?28366" alt="" title="" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?97215" alt="" title="" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?53824" alt="" title="" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?54505" alt="" title="" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?926" alt="" title="" />
    </div>
</div>

        </li>
    </ul>
</div>

