

<div class="cta">
  <h2 class="cta__title">Call to Action Listing</h2>
  <div class="cta__items">
        <div class="cta__item">
            <h3 class="cta__item__title">sunt voluptatum magni</h3>
            <i class="icon icon--medium icon--yellow-dark">
  <img src="../../icons/tick.png" alt="" title="" />
</i>

        </div>
        <div class="cta__item">
            <h3 class="cta__item__title">reprehenderit optio voluptatibus</h3>
            <i class="icon icon--medium icon--yellow-dark">
  <img src="../../icons/tick.png" alt="" title="" />
</i>

        </div>
        <div class="cta__item">
            <h3 class="cta__item__title">et quisquam officia</h3>
            <i class="icon icon--medium icon--yellow-dark">
  <img src="../../icons/tick.png" alt="" title="" />
</i>

        </div>
        <div class="cta__item">
            <h3 class="cta__item__title">quia aut vitae</h3>
            <i class="icon icon--medium icon--yellow-dark">
  <img src="../../icons/tick.png" alt="" title="" />
</i>

        </div>
  </div>
</div>

