

<div class="gallery">
    <ul class="gallery__thumbnails">
        <li class="gallery__item">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?80" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?48201" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?69025" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?64019" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?45047" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?40634" />
    </div>
</div>

        </li>
    </ul>
</div>

