

<div class="card card--link">
  <a href="page-woodland" class="card__link">
    <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?99113" />
    </div>
</div>

    <div class="card__body">
      <h3 class="card__title">Harum Sunt Delectus Recusandae Debitis Minus.</h3>
      <div class="card__content">
        Soluta voluptatibus molestiae quos. Corporis laudantium voluptate nesciunt iste sequi qui iure. Quas cupiditate beatae. Est enim iusto quia aperiam ipsam quia consequatur adipisci praesentium. Quisquam id velit illo accusamus et inventore.
      </div>
    </div>
    <div class="card__banner">
      Blog
    </div>
  </a>
</div>

