

<div class="cta">
  <h2 class="cta__title">How we support our buyers</h2>
  <div class="cta__items">
        <div class="cta__item">
            <h3 class="cta__item__title">Member of the <a href="#">small woodland owners’</a> group</h3>
            <i class="icon icon--medium icon--yellow-dark">
  <img src="../../icons/tick.png" alt="" title="" />
</i>

        </div>
        <div class="cta__item">
            <h3 class="cta__item__title">Membership of the <a href="#">royal forestry society</a></h3>
            <i class="icon icon--medium icon--yellow-dark">
  <img src="../../icons/tick.png" alt="" title="" />
</i>

        </div>
        <div class="cta__item">
            <h3 class="cta__item__title">£300 for a woodland <a href="#">course of your choice</a></h3>
            <i class="icon icon--medium icon--yellow-dark">
  <img src="../../icons/tick.png" alt="" title="" />
</i>

        </div>
        <div class="cta__item">
            <h3 class="cta__item__title">Free copies of <a href="#">two woodland books</a></h3>
            <i class="icon icon--medium icon--yellow-dark">
  <img src="../../icons/tick.png" alt="" title="" />
</i>

        </div>
  </div>
</div>

