

<div class="card card--blog ">
  <a href="page-blog-post" class="card__link">
        <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?13708" alt="" title="" />
        </div>
    </div>

    <div class="card__body">
      <h3 class="card__title">Blog Card</h3>
      <p class="card__meta">by Alisha, 11th June 2020, 24333 comments</p>
      <div class="card__content">
        Laboriosam eligendi est facere praesentium sunt pariatur ea voluptatum architecto. Dolorem ratione aut corrupti quia doloremque dolor deserunt quibusdam. Modi veritatis animi voluptatem. Minus iusto nisi eligendi temporibus. Ipsam qui ipsum.
      </div>
    </div>
  </a>
</div>

