

<div class="gallery">
    <ul class="gallery__thumbnails">
        <li class="gallery__item">
                <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?71728" alt="" title="" />
        </div>
    </div>

        </li>
        <li class="gallery__item">
                <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?91604" alt="" title="" />
        </div>
    </div>

        </li>
        <li class="gallery__item">
                <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?61476" alt="" title="" />
        </div>
    </div>

        </li>
        <li class="gallery__item">
                <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?94617" alt="" title="" />
        </div>
    </div>

        </li>
        <li class="gallery__item">
                <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?93226" alt="" title="" />
        </div>
    </div>

        </li>
        <li class="gallery__item">
                <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?25764" alt="" title="" />
        </div>
    </div>

        </li>
    </ul>
</div>

