

<blockquote class="quote">
    <div class="quote__content">
        <p>“Est enim et reiciendis officia non sequi velit explicabo. Repellendus quas rerum corrupti tenetur aut eveniet quis voluptatibus. Sequi animi placeat. Quo quisquam minus nostrum quia temporibus saepe incidunt harum.”</p>
    </div>
    <div class="quote__by">
        <cite>
            Eliseo Stracke, Corporate Usability Administrator
        </cite>
    </div>
    <div class="quote__image">
        <img src="../../images/drawings/badger.png" alt="Badger" title="" class="drawing " />

    </div>
</blockquote>

