

<form action="" method="GET" class="form form--cta form--cta--alt">
    <div class="form--cta__image">
        <img src="../../images/drawings/badger.png" alt="Badger" title="" class="drawing " />

    </div>

    <div class="form--cta__container">
        <label for="form--cta__field-id" class="form__label form__title">Hear about new woodlands first</label>

        <label for="form--cta__field-id" class="form__subtitle">Get emailed as soon as new woodlands go on the market</label>

        <div class="form__group">
            <input type="text" id="form--cta__field-id" name="field" placeholder="Enter email address…" />
            <button class="button button--green button--green--dark ">
  <span>Sign up to mailing list</span>
</button>

        </div>
    </div>
</form>

