

<div class="card ">
  <div class="media">
    <div class="media__content">
        <iframe src="http://www.youtube.com/embed/dP15zlyra3c?html5&#x3D;1"></iframe>
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Card With Video</h3>
    <div class="card__content">
      Ipsam et suscipit sit non dignissimos. Quasi delectus cupiditate culpa doloremque quia. Non fuga dolor quis error eos sed culpa. Voluptatibus esse molestiae incidunt earum repellat. Nihil laborum voluptatum earum possimus sed eveniet corrupti eveniet.
    </div>
  </div>
</div>

