

<div class="modal" aria-hidden="true" id="modal-e5bf3ce1-25f4-41f8-baaa-0b21c9a24ed6">
  <div class="modal__container" data-modal-close="modal-e5bf3ce1-25f4-41f8-baaa-0b21c9a24ed6">
    <div class="modal__item" role="dialog" aria-modal="true" aria-labelledby="modal__title--e5bf3ce1-25f4-41f8-baaa-0b21c9a24ed6">

      <header class="modal__header">
        <h2 class="modal__title" id="modal__title--e5bf3ce1-25f4-41f8-baaa-0b21c9a24ed6">Default Modal</h2>
        <button type="button" data-modal-close="modal-e5bf3ce1-25f4-41f8-baaa-0b21c9a24ed6" aria-label="Close Modal">×</button>
      </header>

      <div class="modal__content">
          Autem voluptas voluptates sed exercitationem quasi. Cupiditate occaecati laudantium consequatur earum voluptate tenetur facilis. Laboriosam placeat impedit incidunt quia saepe cum. Deserunt in ab fugit ad eos vel ut est.
 Earum sint eos in. Perferendis saepe sed qui eum doloremque quia voluptates nemo. Nisi cumque placeat quis omnis et autem error. Aliquid et omnis hic quaerat maiores ut. Consectetur sapiente quibusdam a nesciunt ipsum quia eius mollitia laboriosam.
 Animi molestias sequi velit sed optio blanditiis tenetur perferendis. Sint delectus voluptas dolorem quia repudiandae eum voluptas consequatur. Illo mollitia ut aut reprehenderit dicta est est ratione dolores. Fugit sed perferendis commodi et similique iusto. Asperiores eligendi tempore.
      </div>


    </div>
  </div>
</div>

