

<blockquote class="quote">
    <div class="quote__content">
        <p>“Voluptas omnis nostrum quidem illo ut vel quas fugit facilis. Nulla omnis dignissimos quis vel necessitatibus eos molestias deserunt. Fuga magni ipsam pariatur ut vel aut ullam. Ea labore reprehenderit nulla distinctio ex. Dicta error esse accusamus explicabo quae praesentium. Et aut et tempore ea velit earum rerum perferendis.”</p>
    </div>
    <p class="quote__link">
        <a href="#">Read blog post</a>
    </p>
    <div class="quote__image">
        <img src="../../images/drawings/badger.png" alt="Badger" title="" class="drawing " />

    </div>
</blockquote>

