

<form action="" method="post" class="grid grid--2 form form--blog-comment">
    <div class="grid__inner">
        <div class="grid__item form__field">
            <label for="form__comment__name" class="form__label">Name <small>(required)</small></label>
            <input type="text" class="form-input" id="form__comment__name" name="name" placeholder="Enter your name…" />
        </div>

        <div class="grid__item form__field">
            <label for="form__comment__email" class="form__label">Email <small>(required, will not be published)</small></label>
            <input type="email" class="form-input" id="form__comment__email" name="email" placeholder="Enter your email address…" />
        </div>
    </div>

    <div class="form__field">
        <label for="form__comment__comment" class="form__label">Comment <small>(required)</small></label>
        <textarea class="form-textarea" id="form__comment__comment" name="comment" placeholder="Enter your comment…"></textarea>
    </div>

    <button class="button button--green button--inline ">
  <span>Submit Comment</span>
</button>

</form>

