

<div class="card ">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?10452" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Card With Banner</h3>
    <div class="card__content">
      Saepe consequatur facilis cupiditate. Sunt qui accusantium nostrum voluptatem saepe. Rem laudantium natus consequatur. Quaerat nihil est voluptatem distinctio. Et velit illum dolores illo aut.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

