

<blockquote class="quote">
    <div class="quote__content">
        <p>“Est aut ea odio quis qui. Iusto illum est iste occaecati dignissimos recusandae. Dolor est amet recusandae reprehenderit aut repellat. Officia temporibus voluptatem et cupiditate iusto occaecati enim. Voluptatem et alias aut delectus iure et aut voluptas quaerat.”</p>
    </div>
    <div class="quote__by">
        <cite>
            Dr. Camila Murphy, Regional Optimization Agent
        </cite>
    </div>
    <p class="quote__link">
        <a href="#">Read blog post</a>
    </p>
</blockquote>

