

<div class="card card--woodland">
  <a href="page-woodland" class="card__link">
    <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?21649" alt="" title="" />
    </div>
</div>

    <div class="card__body">
      <h3 class="card__title">Voluptatem Minus Ut Nemo Et Beatae Quis.</h3>
      <p class="card__meta">NR. Hand Viaduct, West Noble, Cambridgeshire</p>
      <p class="card__extra">About 5 ½ acres</p>
      <div class="card__content">
        Quas et minus ab. Perferendis cupiditate et maxime quo mollitia qui. Voluptas ut minima laboriosam consectetur id sed. Dicta ullam ipsa accusantium nihil architecto est perspiciatis dolorem velit. Voluptas iste non sapiente earum nam.
      </div>
    </div>
    <div class="card__banner">
      £74,478
    </div>
  </a>
</div>

