

<div class="modal" aria-hidden="true" id="modal-e9ffb8ed-37ef-4457-9752-bef408413c61">
  <div class="modal__container" data-modal-close="modal-e9ffb8ed-37ef-4457-9752-bef408413c61">
    <div class="modal__item" role="dialog" aria-modal="true" aria-labelledby="modal__title--e9ffb8ed-37ef-4457-9752-bef408413c61">

      <header class="modal__header">
        <h2 class="modal__title" id="modal__title--e9ffb8ed-37ef-4457-9752-bef408413c61">Default Modal</h2>
        <button type="button" data-modal-close="modal-e9ffb8ed-37ef-4457-9752-bef408413c61" aria-label="Close Modal">×</button>
      </header>

      <div class="modal__content">
          Tenetur quam sint. Aspernatur dolorum enim autem et dolore sint illo exercitationem eum. Itaque aspernatur et fugiat explicabo iusto ducimus dolorem eum adipisci. Aut sit accusamus. Inventore enim et accusantium tempora voluptate natus ad. Nisi est et.
 Enim modi molestiae officiis quo ut. Incidunt placeat voluptatem. Tempore sed nihil maiores ullam sint reiciendis sed rerum. Sapiente aut autem ipsa. Velit molestiae nam totam. Similique illum et vel expedita distinctio itaque amet quia.
 Repellendus nesciunt laudantium quibusdam. Culpa tempora tempore excepturi nihil amet cum saepe. Deleniti officiis enim numquam ex reiciendis ducimus aperiam officiis eligendi.
      </div>


    </div>
  </div>
</div>

