

<div class="managed-by">
  <div class="managed-by__person">
    <h3 class="managed-by__title">
      Managed by <strong>Mrs. Kirsten Rowe</strong>
    </h3>
    <div class="managed-by__avatar">
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/javorszky/128.jpg" alt="Mrs. Kirsten Rowe" title="" />
    </div>
  </div>
  <p class="managed-by__contact">Telephone: <a href="tel:(486) 438-6615 x62264">(486) 438-6615 x62264</a></p>
  <p class="managed-by__contact">Email: <a href="mailto:Freddie.Funk@example.com">Freddie.Funk@example.com</a></p>
</div>

