

<div class="gallery">
    <ul class="gallery__thumbnails">
        <li class="gallery__item">
                <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?19712" alt="" title="" />
        </div>
    </div>

        </li>
        <li class="gallery__item">
                <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?76017" alt="" title="" />
        </div>
    </div>

        </li>
        <li class="gallery__item">
                <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?98370" alt="" title="" />
        </div>
    </div>

        </li>
        <li class="gallery__item">
                <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?82768" alt="" title="" />
        </div>
    </div>

        </li>
        <li class="gallery__item">
                <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?91680" alt="" title="" />
        </div>
    </div>

        </li>
        <li class="gallery__item">
                <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?86746" alt="" title="" />
        </div>
    </div>

        </li>
    </ul>
</div>

