

<div class="read-more" data-show="Read more " data-hide="Read less">
  <div class="read-more__content">
      <p>Maxime repellat debitis dolore harum voluptates itaque. Voluptate ea et laboriosam inventore distinctio aperiam. Enim ex optio recusandae recusandae dolore. Inventore quibusdam sit dolor enim et perspiciatis dolorum. Provident voluptatibus voluptatibus voluptate.
 Aliquam ut et ducimus et cupiditate unde ut. Ratione molestiae recusandae tenetur ipsum rerum veniam aut. Eligendi cum soluta fugit doloribus quas debitis vero et. Ipsum molestias voluptatem enim itaque qui quis. Ea illum amet cumque vel dolorum rerum iste omnis fuga. Voluptatem cum velit hic sit maxime.
 Temporibus est mollitia distinctio perspiciatis et exercitationem voluptatem alias nihil. Eum similique sit. Soluta dolor facilis magni est laborum voluptatum. Nesciunt qui quia omnis voluptatem corrupti est molestias.
 Quasi voluptatem et perferendis nemo voluptatem quisquam ad eveniet. Aperiam nesciunt natus et ut aut et non. Itaque perferendis voluptas et ipsam labore neque. Sit a nulla sed maiores tempore officia ducimus.
 Inventore ut consequatur alias molestiae. Maxime dicta expedita. Laudantium eum impedit quis voluptatem qui maiores qui. Iusto ut tenetur et. Id ducimus vel eos dolor quia qui hic.</p>
  </div>

  <div class="read-more__toggle">
      <button class="button button--small">
  <span>Read more</span>
</button>

  </div>
</div>

