

<div class="button-group">
      <button class="button button--small button--inline">
  ut molestias omnis
</button>

      <button class="button button--small button--inline">
  corporis minus rerum
</button>

      <button class="button button--small button--inline">
  officiis ducimus eveniet
</button>

      <button class="button button--small button--inline">
  et rem quos
</button>

      <button class="button button--small button--inline">
  voluptatem molestiae quia
</button>

</div>

