

<div class="card ">
  <div class="media">
    <div class="media__content">
        <iframe src="http://www.youtube.com/embed/dP15zlyra3c?html5&#x3D;1"></iframe>
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Card With Video</h3>
    <div class="card__content">
      Qui culpa provident aut non aliquid explicabo ex asperiores omnis. Quod ipsum quo modi deserunt ipsam velit magni laudantium. Quos aut laborum temporibus eveniet sint eaque eum. Aliquam laborum vel qui ut tempore eveniet quis neque. Excepturi porro a quo nulla magni aut.
    </div>
  </div>
</div>

