

<div class="managed-by">
  <div class="managed-by__person">
    <h3 class="managed-by__title">
      Managed by <strong>Jermain Homenick</strong>
    </h3>
    <div class="managed-by__avatar">
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jeremyworboys/128.jpg" />
    </div>
  </div>
  <p class="managed-by__contact">Telephone: <a href="tel:(301) 315-9996">(301) 315-9996</a></p>
  <p class="managed-by__contact">Email: <a href="mailto:Chester.Dicki21@example.org">Chester.Dicki21@example.org</a></p>
</div>

