

<div class="modal" aria-hidden="true" id="modal-9dd5ff27-03c1-43b4-afd9-3b1ff2723775">
  <div class="modal__container" data-modal-close="modal-9dd5ff27-03c1-43b4-afd9-3b1ff2723775">
    <div class="modal__item" role="dialog" aria-modal="true" aria-labelledby="modal__title--9dd5ff27-03c1-43b4-afd9-3b1ff2723775">

      <header class="modal__header">
        <h2 class="modal__title" id="modal__title--9dd5ff27-03c1-43b4-afd9-3b1ff2723775">Default Modal</h2>
        <button type="button" data-modal-close="modal-9dd5ff27-03c1-43b4-afd9-3b1ff2723775" aria-label="Close Modal">×</button>
      </header>

      <div class="modal__content">
          Nemo culpa vel omnis adipisci nisi rerum sunt. Eveniet sint a dolorum non ut in laborum aliquam ex. Autem sed dolorum dicta. Magni incidunt soluta eligendi optio dicta sed repellat vitae. Quia est architecto non ex voluptas aliquam autem.
 Reiciendis molestias consectetur sint fugiat iusto in at. Omnis et eaque et. Necessitatibus culpa possimus dolor vel corporis. Eaque qui molestias fuga qui.
 Natus voluptas quia aut pariatur sunt consequatur possimus. Quia molestiae ut dolorem. Neque fugiat laudantium ratione provident soluta tempora aliquam.
      </div>


    </div>
  </div>
</div>

