

<div class="accordion">

  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Accordion #1</h2>
    <div class="accordion__item__content">
      <div>
        <p>Ipsam animi voluptatem ullam consequatur dolorem in reiciendis nesciunt. Aut voluptas doloremque itaque assumenda consequuntur reiciendis. Voluptas quia ut.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Accordion #2</h2>
    <div class="accordion__item__content">
      <div>
        <p>Sed hic dolorem fuga iure eum tempora. Et laboriosam consequatur repellendus. Nam qui neque maiores et ad quo occaecati. Quasi molestias accusamus molestiae nulla reiciendis repellendus.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Accordion #3</h2>
    <div class="accordion__item__content">
      <div>
        <p>Recusandae ullam deserunt rem dolore excepturi pariatur tempora nisi veritatis. Explicabo sit unde est facere et totam. Quas nemo voluptatem labore error qui autem.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Accordion #4</h2>
    <div class="accordion__item__content">
      <div>
        <p>Commodi debitis sed dolores. Tempore eum quod vero nemo qui alias voluptas quia. Dolorem odio repellat qui.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Accordion #5</h2>
    <div class="accordion__item__content">
      <div>
        <p>Aut aut in dolor voluptatem. Est aspernatur illum. Veniam dolorum quaerat corporis assumenda sapiente. Qui in officia sed blanditiis iste itaque voluptatem. Perspiciatis molestiae commodi et facilis nihil possimus ea. Doloribus dolorem iure dignissimos labore asperiores id.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Accordion #6</h2>
    <div class="accordion__item__content">
      <div>
        <p>Dolor et iure aliquam quis fugit. Dolores dignissimos rerum porro dolores ipsam sed facilis eum. Aut repellendus in magnam dignissimos et est provident aliquam.</p>
      </div>
    </div>
  </div>
</div>

