

<blockquote class="quote">
    <div class="quote__content">
        <p>“Nesciunt cumque adipisci impedit ut ipsum. Quasi molestias occaecati rem magni dolore aut et. Est deserunt dicta fugiat eum sint dignissimos quibusdam tempora aliquid.”</p>
    </div>
    <div class="quote__by">
        <cite>
            Ora Herzog, Future Research Orchestrator
        </cite>
    </div>
    <div class="quote__image">
        <img src="../../images/drawings/badger.png" alt="Badger" title="" class="drawing " />

    </div>
</blockquote>

