

<div class="modal" aria-hidden="true" id="modal-32c3a617-0c16-4cdd-9f1f-d6c68b8f6959">
  <div class="modal__container" data-modal-close="modal-32c3a617-0c16-4cdd-9f1f-d6c68b8f6959">
    <div class="modal__item" role="dialog" aria-modal="true" aria-labelledby="modal__title--32c3a617-0c16-4cdd-9f1f-d6c68b8f6959">

      <header class="modal__header">
        <h2 class="modal__title" id="modal__title--32c3a617-0c16-4cdd-9f1f-d6c68b8f6959">Default Modal</h2>
        <button type="button" data-modal-close="modal-32c3a617-0c16-4cdd-9f1f-d6c68b8f6959" aria-label="Close Modal">×</button>
      </header>

      <div class="modal__content">
          Ratione dolorem qui. Quaerat est ut et laudantium culpa atque id delectus. Nulla dolor quas possimus asperiores quia.
 Deleniti dignissimos fuga non voluptas ullam cupiditate blanditiis. Nihil ut totam accusamus. Asperiores et qui. Voluptatum voluptatem non. Consequatur qui voluptatem facere quo quam eligendi natus velit quibusdam. Facere quia nisi magnam harum sint architecto dolor officia.
 Consectetur dolorem labore ut ut delectus vel minus consequatur iste. Ea omnis possimus fuga consequatur omnis rerum eos. Repellat ea nemo iure architecto natus earum.
      </div>


    </div>
  </div>
</div>

