

<div class="tab" data-tab="57cc08d6-863e-46f3-929f-af734a45a060">
  <div class="tab__navigation button-group">
        <button class="button button--small button--green button--green--outline" data-tab-for=ff69c05a-2116-4fe3-930d-1979d7ffc201>
          <span>voluptatibus vitae officiis</span>
        </button>
        <button class="button button--small button--green button--green--outline" data-tab-for=31e5c1ea-0f75-449c-95da-5b69280e4ad3>
          <span>consequuntur perferendis officia</span>
        </button>
        <button class="button button--small button--green button--green--outline" data-tab-for=923d71f4-63e4-4642-85f8-4d86194529ec>
          <span>natus modi voluptatibus</span>
        </button>
        <button class="button button--small button--green button--green--outline" data-tab-for=dd62284d-5896-44b5-aa53-11438b34ae07>
          <span>quaerat commodi accusamus</span>
        </button>
  </div>

  <div class="tab__items">
        <div class="tab__item tab__item--ff69c05a-2116-4fe3-930d-1979d7ffc201" data-tab-item="ff69c05a-2116-4fe3-930d-1979d7ffc201">
            <h3 class="tab__item__title">voluptatibus vitae officiis</h3>
            Dicta aperiam consequuntur repellendus animi laborum rerum quasi asperiores. Ipsum et sequi. Accusamus sint dignissimos. Nulla sunt quo est nulla tenetur molestiae rerum. Perferendis earum ut fugit qui voluptatem.
        </div>
        <div class="tab__item tab__item--31e5c1ea-0f75-449c-95da-5b69280e4ad3" data-tab-item="31e5c1ea-0f75-449c-95da-5b69280e4ad3">
            <h3 class="tab__item__title">consequuntur perferendis officia</h3>
            Nam repellendus libero dolor praesentium aut sit. Voluptatibus velit ea est et. Alias modi dicta repudiandae voluptate reprehenderit tempora consequuntur qui. Aperiam sed cum reprehenderit aut. Modi reiciendis perspiciatis reprehenderit animi et repudiandae doloremque quam animi.
        </div>
        <div class="tab__item tab__item--923d71f4-63e4-4642-85f8-4d86194529ec" data-tab-item="923d71f4-63e4-4642-85f8-4d86194529ec">
            <h3 class="tab__item__title">natus modi voluptatibus</h3>
            Soluta minus autem. Cumque assumenda non officiis impedit. Eaque totam eos enim similique consequatur. Autem maiores cupiditate rerum et. Inventore officia atque corrupti assumenda.
        </div>
        <div class="tab__item tab__item--dd62284d-5896-44b5-aa53-11438b34ae07" data-tab-item="dd62284d-5896-44b5-aa53-11438b34ae07">
            <h3 class="tab__item__title">quaerat commodi accusamus</h3>
            Dicta accusantium aut qui temporibus facilis voluptas sint sequi quia. Quae autem eos et nam aut ad et autem. Odio fugit quo atque sequi delectus alias sapiente ut. Commodi provident nobis iste expedita vel sit animi ea modi. Voluptas voluptas eligendi et optio iusto natus itaque.
        </div>
  </div>
</div>

