

<div class="tab" data-tab="7d1b4aa8-7919-45e7-8ad0-3600f0d09737">
  <div class="tab__navigation button-group">
        <button class="button button--small button--green button--green--outline" data-tab-for=5e952db6-922a-4664-85eb-5d33aaec61ce>
          <span>deleniti aperiam deserunt</span>
        </button>
        <button class="button button--small button--green button--green--outline" data-tab-for=dc0513c3-b5ba-4791-b442-aef425a0cea5>
          <span>itaque sed impedit</span>
        </button>
        <button class="button button--small button--green button--green--outline" data-tab-for=8616e322-e057-4772-89ad-8650252a7b57>
          <span>deserunt et excepturi</span>
        </button>
        <button class="button button--small button--green button--green--outline" data-tab-for=cfadad6c-cbb8-4ef7-a6e5-0201ced55db2>
          <span>et nemo voluptatum</span>
        </button>
  </div>

  <div class="tab__items">
        <div class="tab__item tab__item--5e952db6-922a-4664-85eb-5d33aaec61ce" data-tab-item="5e952db6-922a-4664-85eb-5d33aaec61ce">
            <h3 class="tab__item__title">deleniti aperiam deserunt</h3>
            Voluptas alias accusamus. Qui rerum quis nam voluptas est iure facilis autem. Illum et ex vero harum ea exercitationem. Veniam eos quo explicabo perspiciatis molestias est earum. Hic non consequatur vero temporibus est quia sit autem.
        </div>
        <div class="tab__item tab__item--dc0513c3-b5ba-4791-b442-aef425a0cea5" data-tab-item="dc0513c3-b5ba-4791-b442-aef425a0cea5">
            <h3 class="tab__item__title">itaque sed impedit</h3>
            Vitae itaque commodi ipsum suscipit. Nam velit reiciendis minus blanditiis non. Earum consequatur facere. Mollitia ducimus quaerat quam earum consequatur sed architecto possimus. Aliquid similique cum ullam omnis numquam.
        </div>
        <div class="tab__item tab__item--8616e322-e057-4772-89ad-8650252a7b57" data-tab-item="8616e322-e057-4772-89ad-8650252a7b57">
            <h3 class="tab__item__title">deserunt et excepturi</h3>
            Deserunt est sed explicabo enim quaerat. Libero odit eius corrupti. Qui provident itaque. Est explicabo suscipit id in voluptas enim ab impedit. Impedit dolore nulla nihil animi perspiciatis nihil.
        </div>
        <div class="tab__item tab__item--cfadad6c-cbb8-4ef7-a6e5-0201ced55db2" data-tab-item="cfadad6c-cbb8-4ef7-a6e5-0201ced55db2">
            <h3 class="tab__item__title">et nemo voluptatum</h3>
            Aperiam eos aliquam animi sunt illum. Adipisci et eos et laborum non quia beatae maxime expedita. Velit sit blanditiis alias nulla. Molestiae eos facilis. Voluptatem quas debitis ratione ea voluptatem explicabo quaerat.
        </div>
  </div>
</div>

