

<div class="modal" aria-hidden="true" id="modal-dd7d28eb-40a7-40c8-966e-d7a5ca50c8aa">
  <div class="modal__container" data-modal-close="modal-dd7d28eb-40a7-40c8-966e-d7a5ca50c8aa">
    <div class="modal__item" role="dialog" aria-modal="true" aria-labelledby="modal__title--dd7d28eb-40a7-40c8-966e-d7a5ca50c8aa">

      <header class="modal__header">
        <h2 class="modal__title" id="modal__title--dd7d28eb-40a7-40c8-966e-d7a5ca50c8aa">Default Modal</h2>
        <button type="button" data-modal-close="modal-dd7d28eb-40a7-40c8-966e-d7a5ca50c8aa" aria-label="Close Modal">×</button>
      </header>

      <div class="modal__content">
          Mollitia fuga ut placeat eum quo nihil earum perspiciatis. Repudiandae et repellendus atque. Qui facilis quis rerum repellendus aspernatur explicabo omnis sit. Soluta aut consequuntur qui amet nam beatae et voluptas eius. Ut dolor quod fugiat. Quisquam dolor totam et.
 Sed provident laudantium eum itaque nihil accusantium non. Itaque fuga fugit nisi consequuntur consequuntur aliquam nemo. Consequatur consequatur velit accusantium eaque voluptatem ut molestiae eius dolores. Modi ullam dolores enim consequatur autem animi ad. Quam expedita sed libero.
 Et sunt quia saepe consectetur. Commodi quibusdam architecto facere eum aut soluta minima. At ea aliquid molestias sed voluptas aut quasi dolorem et. Qui dolor nulla aut quia commodi maxime eaque vel. Est doloribus cumque. Deserunt rerum laborum fuga incidunt ea at alias dignissimos.
      </div>

      <div class="modal__footer">
        Voluptas deleniti excepturi pariatur quis dignissimos facere. Et aliquam id qui hic a repellat fuga ullam. Omnis rerum sunt cum quam explicabo quod nostrum ex et. Voluptatem magni doloremque non sit et eum debitis. Id modi non ipsa. Voluptatem omnis et dolorem enim quaerat corrupti.
      </div>

    </div>
  </div>
</div>

