

<blockquote class="quote">
    <div class="quote__content">
        <p>“Quia fuga fugiat saepe molestias ipsa ratione quia. Sed unde consequatur excepturi a cumque labore est qui quas. Consequatur mollitia quibusdam nam officia incidunt qui nisi ea alias. Fugit asperiores provident nostrum sit incidunt iure similique id. Sit rem libero atque dolore.”</p>
    </div>
    <p class="quote__link">
        <a href="#">Read blog post</a>
    </p>
    <div class="quote__image">
        <img src="../../images/drawings/badger.png" alt="Badger" title="" class="drawing " />

    </div>
</blockquote>

