

<div class="blog-comment">
  <div class="blog-comment__content typography">
    <p>Inventore distinctio magni. Ducimus minima et aut nam nesciunt amet delectus. Odio provident ratione iusto nam corporis necessitatibus officiis est doloremque. Aut omnis voluptas sed. Voluptatibus labore in quia fugit ab quasi suscipit dicta delectus. Itaque cumque blanditiis modi quae et assumenda ea et molestias.</p>
<p>Quia dignissimos ipsum voluptatem consequatur ratione minus. Vitae totam nesciunt et et quia. Eveniet et alias eum qui corporis ad. Animi doloribus distinctio distinctio non expedita quis. Iusto ut deleniti magnam voluptatem sed et eligendi.</p>

  </div>

  <div class="blog-comment__meta">
    <p class="blog-comment__author"><span>Muhammad</span></p>
    <p class="blog-comment__date"><span>10th July 2020</span></p>
  </div>
</div>

