

  <div class="card card--link ">
  <a href="page-woodland" class="card__link">
        <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?64680" alt="" title="" />
        </div>
    </div>

    <div class="card__body">
      <h3 class="card__title">Reprehenderit Expedita Est Asperiores Voluptas Doloremque Quam.</h3>
      <div class="card__content">
        Quia natus et iste enim voluptatem illo possimus explicabo. Quis officia ad qui aspernatur et corrupti quo suscipit. Quis officiis omnis voluptas illum repudiandae impedit.
      </div>
    </div>
    <div class="card__banner">
      Blog
    </div>
  </a>
</div>


