

<div class="managed-by">
  <div class="managed-by__person">
    <h3 class="managed-by__title">
      Managed by <strong>Rosalyn Kreiger</strong>
    </h3>
    <div class="managed-by__avatar">
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/dcalonaci/128.jpg" alt="Rosalyn Kreiger" title="" />
    </div>
  </div>
  <p class="managed-by__contact">Telephone: <a href="tel:1-576-055-9053 x49206">1-576-055-9053 x49206</a></p>
  <p class="managed-by__contact">Email: <a href="mailto:Jennings.Raynor@example.net">Jennings.Raynor@example.net</a></p>
</div>

