

<div class="card card--sold ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Card With Sold Banner</h3>
    <div class="card__content">
      Dolores quaerat debitis doloribus culpa a ut sunt expedita vitae. Sit sint corporis et consequuntur culpa nihil. Distinctio recusandae est et modi quo. Et consequatur assumenda praesentium rerum. Et minus non sit ad ut sint laborum aut officia. Alias hic aperiam exercitationem voluptas.
    </div>
  </div>
  <div class="card__banner">
    £1,077
  </div>
  <div class="card__banner card__banner--sold">
    Sold
  </div>
</div>

