

<blockquote class="quote">
    <div class="quote__content">
        <p>“Est ut perspiciatis. Sint sed voluptas voluptas voluptas. Aliquam quia non id esse. Et et voluptas dolorum quis velit id sint dolor et. Possimus sit dolorem vero vitae expedita dolor sed et et.”</p>
    </div>
    <p class="quote__link">
        <a href="#">Read blog post</a>
    </p>
    <div class="quote__image">
        <img src="../../images/drawings/badger.png" alt="Badger" title="" class="drawing " />

    </div>
</blockquote>

