

<div class="card card--sold ">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?703" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Card With Sold Banner</h3>
    <div class="card__content">
      Assumenda aliquam ut itaque non voluptas. Molestiae sit esse reiciendis at voluptatem aut atque. Hic vitae sed dolor et fuga officiis numquam quis quaerat. Est ut aut et consequatur animi quidem. Nulla eveniet reprehenderit ad.
    </div>
  </div>
  <div class="card__banner">
    Sold
  </div>
</div>

