

<div class="modal modal--small" aria-hidden="true" id="modal-db6a2df3-f812-4bbc-a155-a45a25d9763c">
  <div class="modal__container" data-modal-close="modal-db6a2df3-f812-4bbc-a155-a45a25d9763c">
    <div class="modal__item" role="dialog" aria-modal="true" aria-labelledby="modal__title--db6a2df3-f812-4bbc-a155-a45a25d9763c">

      <header class="modal__header">
        <h2 class="modal__title" id="modal__title--db6a2df3-f812-4bbc-a155-a45a25d9763c">Default Modal</h2>
        <button type="button" data-modal-close="modal-db6a2df3-f812-4bbc-a155-a45a25d9763c" aria-label="Close Modal">×</button>
      </header>

      <div class="modal__content">
          Tenetur quo nihil. Quo nesciunt provident possimus. Hic tempore voluptate quos sit sed. Laborum eius vitae voluptates ipsam.
 Similique sit illum et id doloremque vel magnam. Ut rem perferendis dolorum necessitatibus ipsa sed voluptas. Aut consequatur itaque perferendis dolorum neque illum et.
 Sequi repudiandae ut. Enim facilis quisquam quia autem ab explicabo ea adipisci. Sit et ipsam doloremque corporis vel.
      </div>


    </div>
  </div>
</div>

