

<div class="modal" aria-hidden="true" id="modal-1e2717d7-c55a-40b6-96ac-5c29941bd8e1">
  <div class="modal__container" data-modal-close="modal-1e2717d7-c55a-40b6-96ac-5c29941bd8e1">
    <div class="modal__item" role="dialog" aria-modal="true" aria-labelledby="modal__title--1e2717d7-c55a-40b6-96ac-5c29941bd8e1">

      <header class="modal__header">
        <h2 class="modal__title" id="modal__title--1e2717d7-c55a-40b6-96ac-5c29941bd8e1">Default Modal</h2>
        <button type="button" data-modal-close="modal-1e2717d7-c55a-40b6-96ac-5c29941bd8e1" aria-label="Close Modal">×</button>
      </header>

      <div class="modal__content">
          Et in aspernatur. Ut sit mollitia ipsam. Iste vel accusantium nemo rem. Voluptatibus harum rerum deleniti velit neque.
 Officiis et non ipsa voluptates laboriosam reprehenderit nulla. Officia eos dolor dolor incidunt eligendi incidunt omnis expedita. Et aliquid magnam rerum doloribus eaque tempore rerum.
 Exercitationem atque dignissimos laborum nesciunt excepturi aperiam ex quidem voluptatibus. Fugiat quo nihil omnis est itaque natus voluptas earum. Corrupti doloremque ipsum incidunt atque architecto voluptatem.
      </div>

      <div class="modal__footer">
        In ab temporibus a inventore sunt id. Nihil ea dolorem ut explicabo nesciunt in. Nisi maiores eius provident officiis ullam dolor et deleniti repellendus. Rerum dolor mollitia iste in quis et asperiores magni et. Maiores unde dolorum dicta est maiores.
      </div>

    </div>
  </div>
</div>

