

<div class="gallery">
    <ul class="gallery__list">
        <li class="gallery__item">
            <div class="media media--image">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?2390" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media media--image">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?83160" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media media--image">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?11437" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media media--image">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?14019" />
    </div>
</div>

        </li>
    </ul>
</div>

