

<div class="modal" aria-hidden="true" id="modal-67b6c8d6-0f2e-421c-839c-c612ac42558c">
  <div class="modal__container" data-modal-close="modal-67b6c8d6-0f2e-421c-839c-c612ac42558c">
    <div class="modal__item" role="dialog" aria-modal="true" aria-labelledby="modal__title--67b6c8d6-0f2e-421c-839c-c612ac42558c">

      <header class="modal__header">
        <h2 class="modal__title" id="modal__title--67b6c8d6-0f2e-421c-839c-c612ac42558c">Default Modal</h2>
        <button type="button" data-modal-close="modal-67b6c8d6-0f2e-421c-839c-c612ac42558c" aria-label="Close Modal">×</button>
      </header>

      <div class="modal__content">
          In corporis sed quia in voluptatem. Aut voluptatem autem asperiores. Voluptates autem quidem qui quas qui qui laudantium. Id fuga rerum velit.
 Laborum et ad assumenda saepe sapiente ab. Voluptas saepe quisquam consequatur similique eos. Hic blanditiis est sunt et modi mollitia sit sit.
 Magnam et pariatur eaque voluptatem. Mollitia veritatis tempora deleniti asperiores minima esse atque nam non. Exercitationem aliquam quasi.
      </div>


    </div>
  </div>
</div>

