

<div class="cta">
  <h2 class="cta__title">necessitatibus dolores ea vitae</h2>
  <p class="cta__text">Dolor sunt similique dolorem vel facilis et. Assumenda perferendis at labore maxime asperiores aperiam inventore fugiat cumque. Velit nesciunt praesentium reiciendis molestias nam alias laudantium reprehenderit sit. Quos qui voluptatem a. Similique quis sunt voluptas nobis. Odit dolore est ipsum.</p>

  <hr />

  <div class="managed-by managed-by--manager">
  <div class="managed-by__avatar">
    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/okseanjay/128.jpg" />
  </div>
  <div class="managed-by__manager">
    <h3 class="managed-by__title">Regional Managers</h3>
    <p class="managed-by__contact">Mr. Twila Mitchell</p>
    <p class="managed-by__contact"><a href="tel:119-792-1115">119-792-1115</a></p>
  </div>
</div>


  <hr />

  <p class="cta__text cta__text--extra">Alias et dolor consectetur adipisci voluptate a qui quae quae. Quia nesciunt illum expedita quasi similique sint voluptatem.</p>

</div>

