

<div class="card">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?65821" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Laboriosam Id Voluptas Tempore Rerum Similique Sit.</h3>
    <div class="card__content">
      Dolores sed quo. Possimus minus et eum nobis eaque fugiat perferendis minus. Ratione dolor voluptatibus ea omnis aut. Aut ratione et ut id aut voluptatibus modi et asperiores. Provident est eveniet quo eligendi corporis ullam neque.
    </div>
  </div>
  <div class="card__banner">
    Blog
  </div>
</div>

