

  <div class="card card--link">
  <a href="page-woodland" class="card__link">
    <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?10287" alt="" title="" />
    </div>
</div>

    <div class="card__body">
      <h3 class="card__title">Repellendus Dolor Sapiente Enim.</h3>
      <div class="card__content">
        Asperiores quia neque laboriosam qui. Deleniti nulla autem quidem consectetur ut sint inventore ipsam omnis. Nostrum sint repellendus voluptatibus non et et. Commodi provident neque. Est consequatur ipsa earum aperiam ut saepe.
      </div>
    </div>
    <div class="card__banner">
      Blog
    </div>
  </a>
</div>


