

<div class="managed-by">
  <div class="managed-by__person">
    <h3 class="managed-by__title">
      Managed by <strong>Alene Grant</strong>
    </h3>
    <div class="managed-by__avatar">
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/itolmach/128.jpg" alt="Alene Grant" title="" />
    </div>
  </div>
  <p class="managed-by__contact">Telephone: <a href="tel:349-725-8387 x15720">349-725-8387 x15720</a></p>
  <p class="managed-by__contact">Email: <a href="mailto:Molly.Gulgowski@example.org">Molly.Gulgowski@example.org</a></p>
</div>

