

<div class="cta cta--help">
  <div class="cta__inner">
    <h2 class="cta__title">eaque doloribus rerum id</h2>
    <p class="cta__text">Veniam sed vel ipsum ut doloremque assumenda omnis necessitatibus eveniet. Nesciunt ullam iure fugit rerum. Iure nam aspernatur sunt vitae perferendis. Eum ut perferendis magnam quos quia maxime atque. Impedit quaerat quis minima maxime aliquid aut sint provident repudiandae.</p>

    <hr />

    <div class="managed-by managed-by--manager">
  <div class="managed-by__avatar">
    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/mufaddal_mw/128.jpg" alt="Wilber Daugherty" title="" />
  </div>
  <div class="managed-by__manager">
    <h3 class="managed-by__title">Regional Managers</h3>
    <p class="managed-by__contact">Wilber Daugherty</p>
    <p class="managed-by__contact"><a href="tel:1-326-949-5500 x4995">1-326-949-5500 x4995</a></p>
  </div>
</div>


    <hr />

    <p class="cta__text cta__text--extra">Vel voluptatem quia distinctio saepe sunt voluptas consequatur nihil temporibus. Maiores omnis sit.</p>

  </div>
</div>

