

<div class="card card--woodland ">
  <a href="page-woodland" class="card__link">
    <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?76837" alt="" title="" />
    </div>
</div>

    <div class="card__body">
      <h3 class="card__title">Quis Laborum Repudiandae Ut Saepe Eum Vel Corrupti Voluptates Magnam.</h3>
      <p class="card__meta">NR. Lang Way, Port Pabloton, Cambridgeshire</p>
      <p class="card__extra">About 3 ¼ acres</p>
      <div class="card__content">
        Maiores ratione architecto. Repellendus ad quo. Laborum cumque error voluptatem consequatur quo aut.
      </div>
    </div>
    <div class="card__banner">
      £47,662
    </div>
  </a>
</div>

