

<template id="photoswipe">
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>

    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>

</template>

<div class="gallery gallery--carousel">
    <ul class="gallery__list">
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?2098" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?2098" />
    </div>
</div>

            <p class="gallery__description">Ut placeat maxime aut doloremque qui deleniti modi id at.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?32069" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?32069" />
    </div>
</div>

            <p class="gallery__description">Blanditiis assumenda autem quia eligendi dolorem odit sint.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?87416" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?87416" />
    </div>
</div>

            <p class="gallery__description">Esse tenetur explicabo molestiae aperiam.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?65823" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?65823" />
    </div>
</div>

            <p class="gallery__description">Qui optio ut.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?92996" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?92996" />
    </div>
</div>

            <p class="gallery__description">Optio voluptate iusto et.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?37299" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?37299" />
    </div>
</div>

            <p class="gallery__description">Similique qui et et dolores animi nesciunt nihil sed.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?63814" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?63814" />
    </div>
</div>

            <p class="gallery__description">Quod culpa aut.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?87400" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?87400" />
    </div>
</div>

            <p class="gallery__description">Sunt et ipsam sit ea ipsum.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?66520" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?66520" />
    </div>
</div>

            <p class="gallery__description">Laboriosam blanditiis consequuntur labore aperiam tempore.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?48201" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?48201" />
    </div>
</div>

            <p class="gallery__description">Aspernatur optio consequatur voluptatibus quo doloribus aut corporis ut dignissimos.</p>
        </li>
    </ul>
    <ul class="gallery__thumbnails">
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?2098"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?49565" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?32069"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?59298" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?87416"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?96612" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?65823"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?20129" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?92996"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?67712" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?37299"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?60602" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?63814"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?73845" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?87400"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?67137" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?66520"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?23783" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?48201"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?6391" />
    </div>
</div>
</a>
        </li>
    </ul>
</div>

