

<div class="form form--search form--search--simple">
    <form action="/search" method="post">
        <div class="form__inner">
            <div class="form__field">
    <label for="form__search_location" class="form__label"><span>Location</span></label>
    <input type="text" class="form-input" id="form__search_location" name="location" placeholder="Enter location / postcode" />
</div>

            <button class="button button--red button--inline ">
  <span>Search</span>
</button>

        </div>
    </form>
</div>

