

<div class="card card--blog">
  <a href="page-blog-post" class="card__link">
    <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?14852" />
    </div>
</div>

    <div class="card__body">
      <h3 class="card__title">Aut Facere Similique</h3>
      <p class="card__meta">by Arianna, 23rd October 2019, 35140 comments</p>
      <div class="card__content">
        Consequatur rerum est facilis officiis. Aspernatur id nihil et. Dolor dicta neque ipsa in omnis eum. Rem nesciunt sapiente quae aliquam voluptatem eaque. Ea veniam harum enim quia accusantium laborum in. Omnis nostrum et vitae rem magni velit ut voluptates soluta. In cupiditate quia suscipit laborum voluptatibus. Incidunt aut vel. Cum et sed voluptatum. Numquam in inventore.
      </div>
    </div>
  </a>
</div>

