

<form action="" method="GET" class="form form--cta">

    <div class="form--cta__container">
        <label for="form--cta__field-id" class="form__label form__title">Subscribe to email updates</label>

        <label for="form--cta__field-id" class="form__subtitle">Get an email when new woods come on to the market</label>

        <div class="form__group">
            <input type="text" id="form--cta__field-id" name="field" placeholder="Enter email address…" />
            <button class="button button--green ">
  <span>Sign up to mailing list</span>
</button>

        </div>
    </div>
</form>

