

<div class="gallery">
    <ul class="gallery__thumbnails" id="sortable_example">
        <li class="gallery__item">
                <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225?uniq&#x3D;0" alt="" title="" />
        </div>
    </div>

        </li>
        <li class="gallery__item">
                <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225?uniq&#x3D;1" alt="" title="" />
        </div>
    </div>

        </li>
        <li class="gallery__item">
                <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225?uniq&#x3D;2" alt="" title="" />
        </div>
    </div>

        </li>
        <li class="gallery__item">
                <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225?uniq&#x3D;3" alt="" title="" />
        </div>
    </div>

        </li>
        <li class="gallery__item">
                <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225?uniq&#x3D;4" alt="" title="" />
        </div>
    </div>

        </li>
        <li class="gallery__item">
                <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225?uniq&#x3D;5" alt="" title="" />
        </div>
    </div>

        </li>
    </ul>
</div>

