

<div class="read-more" data-show="Read more " data-hide="Read less">
  <div class="read-more__content">
      <p>Quidem quos aut rerum earum qui quas consectetur sed et. Dolor eaque ab cumque modi. Aperiam delectus facere reprehenderit inventore fuga. Veritatis fuga ut.
 Qui odio debitis ratione quia molestiae. Qui odit blanditiis et qui inventore suscipit amet animi. Sed ab molestiae earum iste natus at voluptatem.
 Accusantium eum voluptas nobis culpa earum inventore qui aut. Ad fuga enim fugit ipsa exercitationem sunt rerum consectetur. Earum qui sint.
 Adipisci excepturi sapiente. Voluptatem aspernatur veniam deleniti adipisci quaerat excepturi voluptas. Odio corrupti veniam. Sed deleniti quia architecto molestiae et ducimus.
 Aperiam error ea vitae aut debitis sapiente vitae qui repellat. Incidunt explicabo modi. Architecto suscipit iste ea. Maiores est numquam non optio. Deleniti et nihil eos doloribus ad rem recusandae consectetur aut. Labore fugiat quam dolore ut laudantium ratione molestiae et nesciunt.</p>
  </div>

  <div class="read-more__toggle">
      <button class="button button--small ">
  <span>Read more</span>
</button>

  </div>
</div>

