

<blockquote class="quote">
    <div class="quote__content">
        <p>“Sint natus molestiae et. Aut quod veniam at aut. Repudiandae recusandae voluptates et quam sed ut quibusdam deleniti distinctio. Enim quisquam et reprehenderit voluptatem excepturi animi autem. Iste corrupti eum.”</p>
    </div>
    <div class="quote__by">
        <cite>
            Brooklyn Bradtke DVM, Central Mobility Administrator
        </cite>
    </div>
    <p class="quote__link">
        <a href="#">Read blog post</a>
    </p>
    <div class="quote__image">
        <img src="../../images/drawings/badger.png" alt="Badger" title="" class="drawing " />

    </div>
</blockquote>

