

<div class="managed-by">
  <div class="managed-by__person">
    <h3 class="managed-by__title">
      Managed by <strong>Rafael Wisozk</strong>
    </h3>
    <div class="managed-by__avatar">
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/lingeswaran/128.jpg" alt="Rafael Wisozk" title="" />
    </div>
  </div>
  <p class="managed-by__contact">Telephone: <a href="tel:(100) 748-7806 x5258">(100) 748-7806 x5258</a></p>
  <p class="managed-by__contact">Email: <a href="mailto:Kamron38@example.org">Kamron38@example.org</a></p>
</div>

