

<div class="card ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Card With Banner</h3>
    <div class="card__content">
      Cumque iusto ut voluptas rerum et dolores est et quo. Nisi natus sed rerum. Facilis occaecati reprehenderit numquam voluptate dolor.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

