

<div class="card card--cta">
  <div class="card__body">
    <img src="../../images/drawings/badger.png" alt="Badger" title="" class="drawing " />


    <form action="" method="GET" class="form form--card">
      <label for="form__card--cta__field" class="form__label card__title">Call To Action</label>

      <div class="form__field">
        <label for="form__card--cta__field" class="card__content">Non quas animi doloremque iure nihil eos. Voluptatem natus ipsam veniam libero enim dicta est quod.</label>
        <input type="text" id="form__card--cta__field" name="field" class="form-input" placeholder="architecto doloribus rem" />
      </div>

      <button class="button button--green--dark">
  <span>Subscribe to email updates</span>
</button>

  </form>

  </div>
</div>

