

<form action="" method="GET" class="form form--cta">
    <label for="form__cta__field" class="form__label form__title">Subscribe to email updates</label>

    <label for="form__cta__field" class="form__subtitle">Get an email when new woods come on to the market</label>

    <div class="form__group">
        <input type="text" id="form__cta__field" name="field" placeholder="Enter email address…" />
        <button class="button button--green bottom">
  <span>Sign up to mailing list</span>
</button>

    </div>
</form>

