

<!-- Start: @button--default -->
<button class="button ">
  <span>Default Button</span>
</button>
<!-- End: @button--default -->

<!-- Start: @button--red -->
<button class="button button--red ">
  <span>Red Button</span>
</button>
<!-- End: @button--red -->

<!-- Start: @button--red--dark -->
<button class="button button--red--dark ">
  <span>Dark Red Button</span>
</button>
<!-- End: @button--red--dark -->

<!-- Start: @button--red--outline -->
<button class="button button--red button--red--outline ">
  <span>Red Outlined Button</span>
</button>
<!-- End: @button--red--outline -->

<!-- Start: @button--green -->
<button class="button button--green ">
  <span>Green Button</span>
</button>
<!-- End: @button--green -->

<!-- Start: @button--green--dark -->
<button class="button button--green--dark ">
  <span>Dark Green Button</span>
</button>
<!-- End: @button--green--dark -->

<!-- Start: @button--green--outline -->
<button class="button button--green button--green--outline ">
  <span>Green Outlined Button</span>
</button>
<!-- End: @button--green--outline -->

<!-- Start: @button--yellow -->
<button class="button button--yellow ">
  <span>Yellow Button</span>
</button>
<!-- End: @button--yellow -->

<!-- Start: @button--yellow--outline -->
<button class="button button--yellow button--yellow--outline ">
  <span>Yellow Outlined Button</span>
</button>
<!-- End: @button--yellow--outline -->

<!-- Start: @button--inline -->
<button class="button button--inline ">
  <span>Default Inline Button</span>
</button>
<!-- End: @button--inline -->

<!-- Start: @button--inline-red -->
<button class="button button--inline button--red--dark ">
  <span>Dark Red Inline Button</span>
</button>
<!-- End: @button--inline-red -->

<!-- Start: @button--inline-green -->
<button class="button button--inline button--green ">
  <span>Green Inline Button</span>
</button>
<!-- End: @button--inline-green -->

<!-- Start: @button--inline-yellow -->
<button class="button button--inline button--yellow ">
  <span>Yellow Inline Button</span>
</button>
<!-- End: @button--inline-yellow -->

<!-- Start: @button--small--inline -->
<button class="button button--inline--small ">
  <span>Default Small Inline Button</span>
</button>
<!-- End: @button--small--inline -->

