

<h2 class="section__title section__title--small section__title--alt text-left">Button List</h2>

<ul class="listing listing--buttons">
    <li class="list__item">
        <button class="button button--small ">
  <span>Aut eveniet deleniti facere vel et ut ratione sunt nihil.</span>
</button>

    </li>
    <li class="list__item">
        <button class="button button--small ">
  <span>Odit quia minus et sequi et quia.</span>
</button>

    </li>
    <li class="list__item">
        <button class="button button--small ">
  <span>Explicabo atque sunt qui fugiat eaque.</span>
</button>

    </li>
    <li class="list__item">
        <button class="button button--small ">
  <span>Aut est qui sint vitae.</span>
</button>

    </li>
</ul>

