

<div class="media media--image">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?30670" />
    </div>
</div>


<div class="read-more" data-show="Read more " data-hide="Read less">
  <div class="read-more__content">
      <p>Sed dolor sunt magni aperiam numquam illum molestiae repellat sunt. Voluptatum non ipsam enim autem aut inventore. Sint atque alias. Nam qui cum. Ut maxime nam a temporibus et. Aut aut consectetur consectetur porro earum ratione pariatur aut unde.
 Cupiditate et rerum officia aliquam recusandae hic explicabo. Voluptatem eligendi nihil sed voluptatibus adipisci perspiciatis. Ab rerum ad laborum et placeat quo. Non possimus eos maiores animi cupiditate dolor quia laborum sint.
 Consectetur reiciendis harum expedita reiciendis omnis. Non omnis totam unde molestiae consequuntur. Ut sit modi fugiat. Est sit placeat. Sunt consectetur ex ipsa fugiat quibusdam. Illo culpa est sunt perspiciatis sit.
 Autem commodi sapiente repudiandae et necessitatibus magni ut modi. Impedit laborum veniam neque. Qui eos molestias quod.
 Qui et inventore fuga qui sed non. Placeat eum veniam non eius. Aut quod deleniti quidem est repellendus ut eos ipsum aut. Atque quisquam laborum qui optio explicabo eos. Sit quod ad dolor ratione.
 Repellendus qui ex facere voluptates. Inventore debitis rerum nihil sed non. Odit eligendi in. Ratione rerum aut dicta eum. Minus perspiciatis voluptatem.</p>
  </div>

  <div class="read-more__toggle">
    <button class="button button--small">
  Read more
</button>

  </div>
</div>


<button class="button button--green">
  Visit this woodland
</button>

<button class="button button--green">
  Download PDF Details
</button>


<div class="button-group">
      <button class="button button--small button--inline">
  Description
</button>

      <button class="button button--small button--inline">
  Maps
</button>

      <button class="button button--small button--inline">
  Directions
</button>

</div>


