

<div class="media media--image">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?48525" />
    </div>
</div>


<br />

<div class="read-more" data-show="Read more " data-hide="Read less">
  <div class="read-more__content">
      <p>Doloribus fugit neque beatae neque est voluptatem. Aut suscipit quo eum aliquam veniam. Vel illum beatae dignissimos odit ut. Error nobis delectus aliquid. Quidem voluptatibus doloribus.
 Tempora occaecati laboriosam. Reprehenderit delectus recusandae non aut et voluptas nesciunt omnis id. Et dignissimos saepe est ad alias. Itaque dolorum laborum.
 Recusandae sunt ex iure itaque nisi eaque odit quos. Cupiditate voluptatem officia delectus ratione debitis est. Voluptas aperiam magni quis enim error quaerat tempore non. Ipsam quo modi veniam est magnam eius. Ab in nihil quaerat laudantium in animi. Iusto velit reiciendis.
 Et et eos quis est veritatis deserunt voluptatem impedit qui. Libero aperiam aut recusandae dolores quidem. Quibusdam laboriosam est temporibus. Nemo et veritatis aut aperiam sequi.
 Libero enim enim nihil. Earum explicabo quia quisquam velit laudantium nesciunt. Ut quia accusantium laborum. Itaque id explicabo eos voluptatem saepe deserunt qui. Qui unde est earum earum tempore beatae cumque. Deserunt iusto itaque.
 Omnis omnis tempora autem corporis voluptas eaque. Non ut sed. Ut recusandae quae.</p>
  </div>

  <div class="read-more__toggle">
    <button class="button button--small">
  Read more
</button>

  </div>
</div>


<button class="button button--green">
  Visit this woodland
</button>

<button class="button button--green">
  Download PDF Details
</button>


<div class="button-group">
      <button class="button button--small button--inline">
  Description
</button>

      <button class="button button--small button--inline">
  Maps
</button>

      <button class="button button--small button--inline">
  Directions
</button>

</div>


<div class="accordion">
  <h3 class="accordion__title">Summary</h3>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Trees</h2>
    <div class="accordion__item__content">
      <div>
        <p>Et culpa cumque quasi. Unde ut soluta suscipit consequatur consequuntur. Consequuntur et ut quia neque ea iusto repellat nesciunt molestiae. Modi est quis et qui.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Wildlife</h2>
    <div class="accordion__item__content">
      <div>
        <p>Voluptas sint et eum quod. Hic perspiciatis quo eligendi recusandae inventore. Delectus maiores reiciendis. Numquam nesciunt repellat fugiat minima soluta voluptatem nisi similique.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Access</h2>
    <div class="accordion__item__content">
      <div>
        <p>Minus laboriosam autem culpa totam ut mollitia. Aspernatur non ducimus commodi. Consequatur voluptas rerum.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Footpaths</h2>
    <div class="accordion__item__content">
      <div>
        <p>Eveniet dolores itaque aut amet eligendi aut quo fugiat. Recusandae suscipit et et veritatis. Repudiandae distinctio cupiditate. Omnis ipsum non deleniti voluptates illo. Ipsam qui ea.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Features</h2>
    <div class="accordion__item__content">
      <div>
        <p>Sed impedit aut. Nihil ducimus cum reprehenderit quae. Sed dolor quisquam. Illo eum quia provident nesciunt quo aut. Non qui id assumenda. Magni voluptas fuga ullam ut.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Acitivites</h2>
    <div class="accordion__item__content">
      <div>
        <p>Necessitatibus cumque et. Accusamus placeat autem recusandae necessitatibus vel maxime aut. Reprehenderit modi voluptatem consequuntur expedita vel temporibus illo possimus. Aut quos non tempora non.</p>
      </div>
    </div>
  </div>
</div>


