

<h2 class="section__title section__title--small">Popular topics</h2>

<ul class="list list--unstyled list--spaced">
    <li>
        <button class="button button--small">
  In recusandae nulla ipsum repellendus ut eveniet nesciunt asperiores non.
</button>

    </li>
    <li>
        <button class="button button--small">
  Vitae consequatur ab quos accusamus.
</button>

    </li>
    <li>
        <button class="button button--small">
  Assumenda pariatur harum incidunt nesciunt dolorem illum aliquid.
</button>

    </li>
    <li>
        <button class="button button--small">
  Cum ut esse tenetur optio est odio ut.
</button>

    </li>
</ul>

