

<h2 class="section__title section__title--small section__title--alt text-left">General Listing</h2>

<ul class="listing">
    <li class="listing__item">
        Odit perspiciatis enim deleniti qui.
    </li>
    <li class="listing__item">
        Eos maiores nihil sunt aut voluptas nostrum modi quis explicabo.
    </li>
    <li class="listing__item">
        Nulla modi eveniet.
    </li>
    <li class="listing__item">
        Autem vel dolorum sed alias error magnam quos delectus.
    </li>
</ul>

