

  <h2 class="section__title">General card listing</h2>

<section class="grid">
    <div class="grid__inner">
    <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?63722" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Sunt Aperiam Dolorem Corrupti Quam Dicta.</h3>
    <div class="card__content">
      Eius a corrupti totam accusantium. Iusto nihil iure deserunt officia reprehenderit. Autem qui maiores vel et. Ipsum nobis modi temporibus id animi ipsam.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?95325" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Unde Est Beatae Eveniet Debitis Qui Facilis Soluta Deserunt.</h3>
    <div class="card__content">
      Tempore dolorem voluptates neque. Doloribus ea in ipsam iusto suscipit minus ea iusto fugit. Vitae minus quod aut est quis. Enim nobis harum ea eum deserunt et enim. Modi odit vitae impedit eos minus repellendus ducimus aut. Commodi neque quibusdam unde voluptas et quibusdam voluptatem ipsam et.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?6572" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Quibusdam Et Qui Non Est Quis Vel Alias Voluptates Molestiae.</h3>
    <div class="card__content">
      Sit reprehenderit inventore sint sunt adipisci iure. Vel quibusdam magnam. Quas exercitationem modi animi. Incidunt qui esse accusantium similique. Enim et autem eos fuga.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?63941" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Ducimus Velit Eos Illum Natus Temporibus Sint.</h3>
    <div class="card__content">
      Molestiae reprehenderit omnis. Dolor suscipit doloremque qui. Debitis enim sint.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?68953" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Nesciunt Ipsa Animi Cupiditate Doloribus.</h3>
    <div class="card__content">
      Quos est veniam voluptas doloribus neque dolor est dicta voluptas. Repellendus ullam consequatur quod. Similique et iste officiis voluptatem corrupti molestiae. Enim ipsum voluptas vitae molestias. Alias repellendus id consequatur aut aut voluptatibus. Ut atque officia incidunt.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?41432" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Iusto Enim Consequatur Ad Maiores Provident Qui.</h3>
    <div class="card__content">
      Dolor molestias quo laboriosam occaecati doloribus non non error. Fugiat doloremque aut rerum sapiente omnis rerum possimus ut. Ea saepe placeat et inventore voluptas non.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      </div>
</section>

