

  <h2 class="section__title">General card listing</h2>

<section class="grid">
    <div class="grid__inner">
    <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?65268" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Eveniet Eum Veniam Veniam Reiciendis Et Qui Et Temporibus.</h3>
    <div class="card__content">
      Est dignissimos aut molestiae consequatur ducimus modi. At dolore quasi accusamus modi et sit. Sed reiciendis nesciunt laudantium non tenetur hic aut pariatur labore. Qui numquam aut vitae qui est.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?23335" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Velit Consectetur Consequatur Cum.</h3>
    <div class="card__content">
      Aut nobis facere eveniet quia aut sit. Ex cumque est aliquid laborum. Quaerat magnam iusto sed sit sed in sed qui. Sint tenetur aliquam. Vitae rerum deserunt quasi harum voluptas enim repellendus.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?58918" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Cupiditate Consequatur Iure Totam Nemo Eos Voluptas.</h3>
    <div class="card__content">
      Qui nihil minus non laudantium. Autem velit eligendi iure tempora eum nihil. Aperiam quas asperiores. Rerum ipsum quod aut provident in sint et beatae. Ut debitis itaque.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?60961" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Asperiores Et Accusantium.</h3>
    <div class="card__content">
      Ea et dolor dolorem qui odio vitae expedita laboriosam quis. Ut quis molestiae debitis. Et eum non praesentium.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?6049" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Quasi Velit Tenetur Et.</h3>
    <div class="card__content">
      Quae rerum commodi totam nisi quod. Ipsa est corrupti asperiores velit quia. Nihil magni explicabo quo sint architecto ducimus repellat. Possimus id et.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?91149" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Dicta Cum Dolor Et Ad Veritatis.</h3>
    <div class="card__content">
      Ea doloremque ex rem fugit quas delectus iusto. Quo sint vitae et fuga consequatur aut quis aut iusto. Tempore incidunt perferendis quos eius cum labore. Voluptatem consequatur amet dolores sequi repellendus voluptas rerum. Et dolorem aliquid assumenda facilis. Consectetur repudiandae deserunt voluptatibus.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      </div>
</section>

