

<ul class="listing listing--linked">
    <li class="listing__item">
        <a href="#">Nobis Sed Praesentium Aut Maxime Consequatur.</a>
    </li>
    <li class="listing__item">
        <a href="#">Vel Recusandae Ipsam Qui A.</a>
    </li>
    <li class="listing__item">
        <a href="#">Et Ut Reiciendis Minus Modi Iste Esse Tempore Sed Dolorem.</a>
    </li>
    <li class="listing__item">
        <a href="#">Laboriosam Aliquam Et Et Consequatur Maiores Temporibus Incidunt Est Officiis.</a>
    </li>
</ul>

