

<h2 class="section__title section__title--small section__title--alt text-left">General Listing</h2>

<ul class="listing">
    <li class="listing__item">
        Facilis reiciendis ut ut et aspernatur placeat velit qui optio.
    </li>
    <li class="listing__item">
        Occaecati eos dolorem sapiente deleniti possimus nemo consequatur ut et.
    </li>
    <li class="listing__item">
        Accusamus possimus corporis et atque odit iusto enim assumenda.
    </li>
    <li class="listing__item">
        Sint earum omnis quisquam.
    </li>
</ul>

