

<section id="" class="grid grid--2/3 grid--spaced grid--divider grid--woodland">
    <div class="grid__inner">
    <div class="grid__item grid__item--secondary">
        <template id="photoswipe">
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>

    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>

</template>

<div class="gallery gallery--carousel">
    <ul class="gallery__list">
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?100" data-video="" data-width="1156" data-height="650">
                <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/1156/650/nature?100" alt="" title="" />
        </div>
    </div>

            <p class="gallery__description">Dolorum et deleniti impedit est et.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?72314" data-video="" data-width="1156" data-height="650">
                <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/1156/650/nature?72314" alt="" title="" />
        </div>
    </div>

            <p class="gallery__description">Qui unde temporibus doloremque tempore et aperiam ipsa.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?84825" data-video="" data-width="1156" data-height="650">
                <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/1156/650/nature?84825" alt="" title="" />
        </div>
    </div>

            <p class="gallery__description">Voluptate et quidem architecto at possimus impedit sed beatae eos.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?96269" data-video="" data-width="1156" data-height="650">
                <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/1156/650/nature?96269" alt="" title="" />
        </div>
    </div>

            <p class="gallery__description">Quod aut ut et unde vitae id enim dicta eum.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?37964" data-video="" data-width="1156" data-height="650">
                <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/1156/650/nature?37964" alt="" title="" />
        </div>
    </div>

            <p class="gallery__description">Molestiae aspernatur eum.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?66777" data-video="" data-width="1156" data-height="650">
                <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/1156/650/nature?66777" alt="" title="" />
        </div>
    </div>

            <p class="gallery__description">Sed iusto quaerat dolore facilis occaecati corporis dolores.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?41626" data-video="" data-width="1156" data-height="650">
                <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/1156/650/nature?41626" alt="" title="" />
        </div>
    </div>

            <p class="gallery__description">Eveniet est consequatur.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?26813" data-video="" data-width="1156" data-height="650">
                <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/1156/650/nature?26813" alt="" title="" />
        </div>
    </div>

            <p class="gallery__description">Ea ea ut ipsum itaque velit architecto assumenda.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?95116" data-video="" data-width="1156" data-height="650">
                <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/1156/650/nature?95116" alt="" title="" />
        </div>
    </div>

            <p class="gallery__description">Ipsa nihil rerum facere.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?8010" data-video="" data-width="1156" data-height="650">
                <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/1156/650/nature?8010" alt="" title="" />
        </div>
    </div>

            <p class="gallery__description">Praesentium incidunt delectus ipsa ipsum error et porro qui culpa.</p>
        </li>
        <li class="gallery__item" data-src="http://www.youtube.com/embed/dP15zlyra3c?html5&#x3D;1" data-video="http://www.youtube.com/embed/dP15zlyra3c?html5&#x3D;1&amp;enablejsapi&#x3D;1" data-width="" data-height="">
                <div class="media">
    <div class="media__content">
        <iframe src="http://www.youtube.com/embed/dP15zlyra3c?html5&#x3D;1&amp;enablejsapi&#x3D;1"></iframe>
    </div>
</div>


        </li>
    </ul>
    <ul class="gallery__thumbnails">
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?100">    <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?12802" alt="" title="" />
        </div>
    </div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?72314">    <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?24197" alt="" title="" />
        </div>
    </div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?84825">    <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?11078" alt="" title="" />
        </div>
    </div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?96269">    <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?80726" alt="" title="" />
        </div>
    </div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?37964">    <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?6467" alt="" title="" />
        </div>
    </div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?66777">    <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?47334" alt="" title="" />
        </div>
    </div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?41626">    <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?70829" alt="" title="" />
        </div>
    </div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?26813">    <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?61080" alt="" title="" />
        </div>
    </div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?95116">    <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?78067" alt="" title="" />
        </div>
    </div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?8010">    <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?88884" alt="" title="" />
        </div>
    </div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://www.youtube.com/embed/dP15zlyra3c?html5&#x3D;1">    <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?76443" alt="" title="" />
        </div>
    </div>
</a>
        </li>
    </ul>
</div>

        <div class="tab tab--2/3 tab--spaced tab--divider tab--woodland" data-tab="">
  <div class="tab__navigation button-group">
        <button class="button button--small button--inline button--green button--green--outline" data-tab-for=description>
          <span>Description</span>
        </button>
        <button class="button button--small button--inline button--green button--green--outline" data-tab-for=maps>
          <span>Maps</span>
        </button>
        <button class="button button--small button--inline button--green button--green--outline" data-tab-for=directions>
          <span>Directions</span>
        </button>
  </div>

  <div class="tab__items">
        <div class="tab__item tab__item--description" data-tab-item="description">
            <h3 class="tab__item__title">Description</h3>
            Description
        </div>
        <div class="tab__item tab__item--maps" data-tab-item="maps">
            <h3 class="tab__item__title">Maps</h3>
            Maps
        </div>
        <div class="tab__item tab__item--directions" data-tab-item="directions">
            <h3 class="tab__item__title">Directions</h3>
            Directions
        </div>
  </div>
</div>

<section class="section section--bg-yellow ">
    <div class="section__inner">
            <div class="cta">
  <h2 class="cta__title">Call to Action Listing</h2>
  <div class="cta__items">
        <div class="cta__item">
            <h3 class="cta__item__title">odit enim et</h3>
            <i class="icon icon--medium icon--yellow-dark">
  <img src="../../icons/tick.png" alt="" title="" />
</i>

        </div>
        <div class="cta__item">
            <h3 class="cta__item__title">eum dolore nihil</h3>
            <i class="icon icon--medium icon--yellow-dark">
  <img src="../../icons/tick.png" alt="" title="" />
</i>

        </div>
        <div class="cta__item">
            <h3 class="cta__item__title">quisquam ut adipisci</h3>
            <i class="icon icon--medium icon--yellow-dark">
  <img src="../../icons/tick.png" alt="" title="" />
</i>

        </div>
        <div class="cta__item">
            <h3 class="cta__item__title">et est voluptates</h3>
            <i class="icon icon--medium icon--yellow-dark">
  <img src="../../icons/tick.png" alt="" title="" />
</i>

        </div>
  </div>
</div>

    </div>
</section>
    </div>
    <div class="grid__item grid__item--primary">
        <div class="sticky">
            <div class="lede">
                <p>Ut rerum at. Laboriosam distinctio ipsum et vitae recusandae ipsa id ab. Dolores soluta dolorem illum repellat explicabo molestiae aperiam quia.</p>
            </div>

            <button class="button button--green" data-modal-open="modal-fd16909b-fac0-4fd3-9296-f3fe5ea9f973">
                <span>Visit this woodland</span>
            </button>

            <a href="#" class="button button--green--dark ">
  <span>Download PDF Details</span>
</a>


            <div class="managed-by">
  <div class="managed-by__person">
    <h3 class="managed-by__title">
      Managed by <strong>Immanuel Toy</strong>
    </h3>
    <div class="managed-by__avatar">
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/themrdave/128.jpg" alt="Immanuel Toy" title="" />
    </div>
  </div>
  <p class="managed-by__contact">Telephone: <a href="tel:(917) 944-2913 x252">(917) 944-2913 x252</a></p>
  <p class="managed-by__contact">Email: <a href="mailto:Lourdes_Carter58@example.com">Lourdes_Carter58@example.com</a></p>
</div>

        </div>
    </div>
    </div>
</section>

<div class="modal modal--small" aria-hidden="true" id="modal-fd16909b-fac0-4fd3-9296-f3fe5ea9f973">
  <div class="modal__container" data-modal-close="modal-fd16909b-fac0-4fd3-9296-f3fe5ea9f973">
    <div class="modal__item" role="dialog" aria-modal="true" aria-labelledby="modal__title--fd16909b-fac0-4fd3-9296-f3fe5ea9f973">

      <header class="modal__header">
        <h2 class="modal__title" id="modal__title--fd16909b-fac0-4fd3-9296-f3fe5ea9f973">Visit Woodland</h2>
        <button type="button" data-modal-close="modal-fd16909b-fac0-4fd3-9296-f3fe5ea9f973" aria-label="Close Modal">×</button>
      </header>

<div class="modal__content text-center">
    <p>Eos nihil eos quia temporibus quisquam reiciendis. Voluptatum cum quod adipisci quasi impedit quia nihil. Iusto delectus perferendis asperiores velit.
 Dolores non consequatur et nisi tenetur. Quae et aut voluptatibus aut commodi est quaerat. Delectus rerum quia. Soluta ut et blanditiis quia earum dignissimos tempora consequatur dolor. Veritatis cum aut suscipit quas eligendi vel deserunt animi. Iure vitae commodi beatae a hic.</p>

    <button class="button button--green ">
  <span>Download PDF Details</span>
</button>

    <button class="button button--green--dark ">
  <span>Print PDF Details</span>
</button>


    <p>Consequatur quos enim quas. Cupiditate aut animi ut exercitationem in sequi tempora non quasi. Quos est quisquam nemo in porro facilis deleniti dolor.</p>
</div>


    </div>
  </div>
</div>

