

<h2 class="section__title section__title--small section__title--alt text-left">Button List</h2>

<ul class="listing listing--buttons">
    <li class="list__item">
        <button class="button button--small">
  <span>Nobis non ea dolor repellat possimus provident quas ad fugiat.</span>
</button>

    </li>
    <li class="list__item">
        <button class="button button--small">
  <span>Consequatur magni vel aut enim.</span>
</button>

    </li>
    <li class="list__item">
        <button class="button button--small">
  <span>Non et asperiores dicta qui ut.</span>
</button>

    </li>
    <li class="list__item">
        <button class="button button--small">
  <span>Adipisci recusandae quae temporibus laborum velit rerum sequi quas earum.</span>
</button>

    </li>
</ul>

