

  <h2 class="section__title">General card listing</h2>

<section id="c5c92520-9680-46eb-adac-2467252af7ed" class="grid">
    <div class="grid__inner">
    <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?55928" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Sint Rerum Consequatur Inventore Quisquam Laborum Quia.</h3>
    <div class="card__content">
      Nemo molestias molestias odit. Vel ad id facilis ut aut quo inventore quod. Accusamus cumque ducimus sed.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?51808" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Soluta Quidem Esse Occaecati Earum Non.</h3>
    <div class="card__content">
      Voluptatem voluptas ratione. Quos voluptates inventore earum quia est accusantium magni quod repudiandae. Incidunt quod autem voluptas aut iste dolor.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?20241" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Adipisci Ut Ipsam Veniam Qui Dolorem Occaecati Pariatur.</h3>
    <div class="card__content">
      Dolorem iste asperiores ullam nobis debitis. Incidunt aliquam assumenda omnis. Sit labore ea architecto in. Aliquam in dolorem voluptas et numquam a rerum. Nobis quo ipsam.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?12716" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Cupiditate Est Dolores Enim Odio.</h3>
    <div class="card__content">
      Quo voluptates dolores harum incidunt veritatis. Illum consequatur et tempore et ratione mollitia. Sed aut eum velit est est enim maiores. Quasi aspernatur delectus eius eum perspiciatis et et. Dolorem cumque harum vel rerum ducimus et aut ipsum est. Magni veritatis ut ex.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?78897" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Quisquam Ut Perspiciatis Illo Tempore Temporibus Dicta Quis Qui.</h3>
    <div class="card__content">
      Adipisci consequatur atque nesciunt doloribus. Pariatur qui iusto sapiente quod. Sequi ut quidem doloribus modi id ad. Voluptatum maxime suscipit harum dolorem eligendi ut id quae alias. Qui incidunt aperiam qui quaerat id tempora. Quas aut architecto tempora maxime dolor doloribus cum dolorum.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?47464" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Eius Explicabo Nobis.</h3>
    <div class="card__content">
      Dolor excepturi nesciunt tempore non. Voluptatem culpa voluptates. Error cupiditate laboriosam vel adipisci. Aut enim sit. Eius asperiores neque sint corrupti. Qui ea modi culpa cumque consequuntur vitae culpa aliquam id.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      </div>
</section>

