

<h2 class="section__title section__title--small">Popular topics</h2>

<ul class="list list--unstyled list--spaced">
    <li>
        <button class="button button--small">
  Blanditiis omnis quidem dolorum.
</button>

    </li>
    <li>
        <button class="button button--small">
  Illo recusandae eaque recusandae.
</button>

    </li>
    <li>
        <button class="button button--small">
  Totam numquam maxime.
</button>

    </li>
    <li>
        <button class="button button--small">
  Qui eum quod reiciendis maxime a possimus animi.
</button>

    </li>
</ul>

