

  <h2 class="section__title">General card listing</h2>

<section id="02a19f43-3d75-4b59-87f6-99f213d84f6f" class="grid">
    <div class="grid__inner">
    <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Tempora Sint Quia Est Doloribus Fuga.</h3>
    <div class="card__content">
      Aut saepe nam placeat suscipit dolore porro. Dignissimos quae culpa libero reprehenderit. Ut consequuntur totam dicta in iusto quaerat non deserunt sapiente. Repellat totam id est numquam aut et.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Fuga Officiis Ab Eum Quae Ut Quae.</h3>
    <div class="card__content">
      Necessitatibus odio et error esse aliquid voluptas architecto reprehenderit atque. Velit eos labore reprehenderit saepe rerum enim sunt aut fuga. Ea dolor impedit numquam consectetur voluptatum enim.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Eos Dolores Non.</h3>
    <div class="card__content">
      Voluptas vero delectus officiis sed ut. Aut ipsa sunt quo. Non maiores beatae autem.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Omnis Nostrum Est.</h3>
    <div class="card__content">
      Debitis quis minus quos et perspiciatis. Est repudiandae rerum dolor dolore inventore eaque culpa ullam. Qui maiores dolorem iste ut ut dicta. Aliquid repudiandae dolorem consequatur qui fugit laudantium reprehenderit. Sed adipisci eveniet minima ut.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Et Commodi Velit Reiciendis Id Voluptatum Ex Qui Voluptatem.</h3>
    <div class="card__content">
      Facere corporis voluptatem enim ea quos repellendus libero. Perferendis itaque cum. Earum dolores ipsa ad. Ex esse aut accusamus. Ut enim quidem repellat minus sint corporis voluptas.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Mollitia Aspernatur Consequatur Fuga Vero Sit.</h3>
    <div class="card__content">
      Repellendus consequatur tempore quis et velit quam eum eum. Quia dicta rerum laudantium odio saepe sunt omnis assumenda voluptatibus. Nemo optio facilis eos voluptas. Aut ut quas aliquid officia odit eligendi fuga. Dolorem sint accusamus unde sunt tenetur tenetur. Deserunt ut doloremque ipsa nihil ad ut vitae eos.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      </div>
</section>

