

<section class="grid grid--2/3 grid--spaced grid--divider grid--woodland">
    <div class="grid__inner">
    <div class="grid__item">
        <template id="photoswipe">
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>

    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>

</template>

<div class="gallery gallery--carousel">
    <ul class="gallery__list">
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?77111" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?77111" />
    </div>
</div>

            <p class="gallery__description">Et dolor voluptatem numquam facere dolorem tempora.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?73507" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?73507" />
    </div>
</div>

            <p class="gallery__description">Harum quia tempora tenetur qui mollitia dolores.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?61592" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?61592" />
    </div>
</div>

            <p class="gallery__description">Natus quibusdam placeat quia accusamus nihil at.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?20829" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?20829" />
    </div>
</div>

            <p class="gallery__description">Enim possimus sed iste ea iusto officia non.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?46599" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?46599" />
    </div>
</div>

            <p class="gallery__description">Quisquam veritatis sed ratione vel laudantium error.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?25287" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?25287" />
    </div>
</div>

            <p class="gallery__description">Eius sit voluptatem ipsa est dolorem dignissimos aut voluptates est.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?57264" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?57264" />
    </div>
</div>

            <p class="gallery__description">Vel natus architecto doloremque doloribus distinctio non corporis aperiam.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?59456" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?59456" />
    </div>
</div>

            <p class="gallery__description">Ratione repellendus voluptatibus id consequatur explicabo velit aut voluptatem mollitia.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?75825" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?75825" />
    </div>
</div>

            <p class="gallery__description">Autem necessitatibus distinctio dolorem sunt ut voluptatum perferendis.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?26587" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?26587" />
    </div>
</div>

            <p class="gallery__description">Aut velit in non soluta quam iure.</p>
        </li>
    </ul>
    <ul class="gallery__thumbnails">
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?77111"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?33487" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?73507"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?69067" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?61592"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?71901" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?20829"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?47604" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?46599"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?34369" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?25287"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?36127" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?57264"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?8258" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?59456"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?66358" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?75825"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?48914" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?26587"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?88014" />
    </div>
</div>
</a>
        </li>
    </ul>
</div>

        <div class="tab tab--2/3 tab--spaced tab--divider tab--woodland" data-tab="">
  <div class="tab__navigation button-group">
        <button class="button button--small button--inline button--green button--green--outline" data-tab-for=description>
          <span>Description</span>
        </button>
        <button class="button button--small button--inline button--green button--green--outline" data-tab-for=maps>
          <span>Maps</span>
        </button>
        <button class="button button--small button--inline button--green button--green--outline" data-tab-for=directions>
          <span>Directions</span>
        </button>
  </div>

  <div class="tab__items">
        <div class="tab__item tab__item--description" data-tab-item="description">
            <h3 class="tab__item__title">Description</h3>
            Description
        </div>
        <div class="tab__item tab__item--maps" data-tab-item="maps">
            <h3 class="tab__item__title">Maps</h3>
            Maps
        </div>
        <div class="tab__item tab__item--directions" data-tab-item="directions">
            <h3 class="tab__item__title">Directions</h3>
            Directions
        </div>
  </div>
</div>

    </div>
    <div class="grid__item">
        <div class="sticky">
            <p class="lede">Tenetur nulla suscipit cupiditate voluptatem quo est omnis nihil ipsam. Asperiores rerum optio provident et. Ut nihil tempore qui. Quas quasi perferendis tenetur repudiandae et autem.</p>

            <button class="button button--green" data-modal-open="modal-3ce085c6-009d-4b97-8c61-b5360425c33d">
                <span>Visit this woodland</span>
            </button>

            <button class="button button--green--dark">
  <span>Download PDF Details</span>
</button>


            <div class="managed-by">
  <div class="managed-by__person">
    <h3 class="managed-by__title">
      Managed by <strong>Orlando Gerhold</strong>
    </h3>
    <div class="managed-by__avatar">
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/vladyn/128.jpg" />
    </div>
  </div>
  <p class="managed-by__contact">Telephone: <a href="tel:703-273-7883">703-273-7883</a></p>
  <p class="managed-by__contact">Email: <a href="mailto:Adaline_Hoppe36@example.net">Adaline_Hoppe36@example.net</a></p>
</div>

        </div>
    </div>
    </div>
</section>

<div class="modal modal--small" aria-hidden="true" id="modal-3ce085c6-009d-4b97-8c61-b5360425c33d">
  <div class="modal__container" data-modal-close="modal-3ce085c6-009d-4b97-8c61-b5360425c33d">
    <div class="modal__item" role="dialog" aria-modal="true" aria-labelledby="modal__title--3ce085c6-009d-4b97-8c61-b5360425c33d">

      <header class="modal__header">
        <h2 class="modal__title" id="modal__title--3ce085c6-009d-4b97-8c61-b5360425c33d">Visit deleniti quia aliquid</h2>
        <button type="button" data-modal-close="modal-3ce085c6-009d-4b97-8c61-b5360425c33d" aria-label="Close Modal">×</button>
      </header>

<div class="modal__content text-center">
    <p>Eum recusandae quis voluptatem ut ipsam. Fuga fugit aut recusandae dolores debitis aut. Beatae molestiae maxime et ut vel. Accusamus soluta in et dignissimos. Ab voluptates voluptatem officia quod.
 Doloremque sint recusandae asperiores qui id. Sit ex quidem cumque voluptatem consequuntur explicabo laboriosam minus. Doloremque maiores voluptatem non reiciendis. Eius sequi quibusdam modi pariatur tempora est consectetur error ab.</p>

    <button class="button button--green">
  <span>Download PDF Details</span>
</button>

    <button class="button button--green--dark">
  <span>Print PDF Details</span>
</button>


    <p>Laboriosam exercitationem ducimus nobis adipisci nisi ut corrupti atque. Aut non dolores. Laboriosam dolorem iure facere porro sit et.</p>
</div>


    </div>
  </div>
</div>

