

<h2 class="section__title section__title--small section__title--alt text-left">Button List</h2>

<ul class="listing listing--buttons">
    <li class="list__item">
        <button class="button button--small ">
  <span>Blanditiis dolor cum ducimus voluptatem.</span>
</button>

    </li>
    <li class="list__item">
        <button class="button button--small ">
  <span>Est aspernatur rem voluptatibus maxime quae qui et molestiae aspernatur.</span>
</button>

    </li>
    <li class="list__item">
        <button class="button button--small ">
  <span>Sequi debitis fuga.</span>
</button>

    </li>
    <li class="list__item">
        <button class="button button--small ">
  <span>Unde voluptate totam earum quo et magni commodi voluptatem eveniet.</span>
</button>

    </li>
</ul>

