

  <h2 class="section__title">Single column card listing</h2>

<section id="06c8e5c1-a1f8-4fc4-98b4-eee4a6c44b45" class="grid grid--single">
    <div class="grid__inner">
    <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?72807" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Magnam Quas Ipsum Numquam Et Est Cumque Est Est Voluptatem.</h3>
    <div class="card__content">
      Libero mollitia debitis possimus doloribus accusamus sapiente exercitationem occaecati distinctio. Temporibus ut in doloribus ipsa aut cumque ipsum voluptatem quos. Quod minima et aperiam dicta sed dolorum odio accusantium. Veniam itaque velit laborum illum nihil sequi. Sit enim fuga odit sed.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?32616" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Aut Et Deleniti Explicabo Quas Voluptatem Mollitia Consequatur.</h3>
    <div class="card__content">
      Officiis at consequatur animi. Eum aut ex consequuntur excepturi natus rerum. Nobis nihil ut adipisci. Molestiae sequi est quaerat explicabo consequuntur.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?10607" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Quod Ipsum Ratione Autem Saepe.</h3>
    <div class="card__content">
      Necessitatibus voluptas nulla. Dolor non assumenda quidem aperiam. Rem architecto quam.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?73646" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Consequatur Earum Accusantium Inventore Dolor Sapiente Tenetur Sit Iste.</h3>
    <div class="card__content">
      Adipisci accusamus rerum ut. Rerum quibusdam fugiat molestiae voluptatem aspernatur enim accusamus et et. Impedit ut qui enim. Expedita repellendus architecto est eaque ut.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?18676" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Consequatur Fugit Et.</h3>
    <div class="card__content">
      Earum beatae soluta ullam iusto eos non ducimus. Atque qui voluptatem blanditiis itaque similique quae dolor omnis. Quos explicabo fuga est sint.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?25530" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Consequuntur Labore Voluptatum.</h3>
    <div class="card__content">
      Repudiandae quia blanditiis harum magni sunt maxime. Sint nostrum odit rerum tempora commodi. Quibusdam quam vero. Laborum possimus magnam id aut repellat ut voluptates. Dolores sit sit et quisquam et maiores voluptas.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      </div>
</section>

