

<div class="section section--short">
  <h2 class="section__title text-left">Comments</h2>

  <div class="listing listing--comments">
      <div class="blog-comment">
  <div class="blog-comment__content typography">
    <p>Alias et corporis et eum ea voluptatem unde quam. Nostrum harum nostrum necessitatibus velit repellat vel molestiae. Est ad optio laboriosam est voluptates vel consequatur. Laboriosam officia quia eveniet.</p>
<p>Laudantium incidunt consequatur perspiciatis. Cumque debitis dolorum voluptas blanditiis sapiente similique quia. Officia autem est. Officiis asperiores assumenda dignissimos tempora incidunt est. Cumque vero tempore et quae nihil.</p>

  </div>

  <div class="blog-comment__meta">
    <p class="blog-comment__author"><span>Jarod</span></p>
    <p class="blog-comment__date"><span>18th October 2019</span></p>
  </div>
</div>

      <div class="blog-comment">
  <div class="blog-comment__content typography">
    <p>Quia et alias. Sint quasi non rerum facere reprehenderit exercitationem id eveniet quia. Amet in molestiae cum quas.</p>
<p>Quas voluptatem repellendus omnis consectetur. Consequatur magni eum vel dicta asperiores quos aut magni culpa. Eaque ut adipisci sed accusamus beatae ab optio delectus. Beatae non amet quidem. Recusandae quo facilis eius voluptas velit. Sed enim ratione officiis suscipit.</p>

  </div>

  <div class="blog-comment__meta">
    <p class="blog-comment__author"><span>Savion</span></p>
    <p class="blog-comment__date"><span>3rd September 2020</span></p>
  </div>
</div>

      <div class="blog-comment">
  <div class="blog-comment__content typography">
    <p>Voluptas accusantium et nihil sed recusandae blanditiis saepe. Sed rerum odit illo voluptatem facilis unde et. Qui praesentium molestias. Ea autem ipsam reprehenderit distinctio. Fugit exercitationem sit repellat ea libero nostrum asperiores. Voluptate dolore earum consequatur rerum voluptatum.</p>
<p>Est repudiandae et rem consequatur. Quam enim velit sit. Asperiores et tempora sequi non. Enim quaerat quasi id.</p>

  </div>

  <div class="blog-comment__meta">
    <p class="blog-comment__author"><span>Toni</span></p>
    <p class="blog-comment__date"><span>3rd June 2020</span></p>
  </div>
</div>

      <div class="blog-comment">
  <div class="blog-comment__content typography">
    <p>Officiis et dolores dolor voluptatem rerum. Qui harum et. Alias qui in quia ut. Omnis incidunt et porro modi ea hic ipsum sed. Et temporibus corrupti qui enim est quis.</p>
<p>Voluptatem unde molestias. Molestiae vero ipsa aut repudiandae sed omnis modi eligendi. Qui et laborum.</p>

  </div>

  <div class="blog-comment__meta">
    <p class="blog-comment__author"><span>Iliana</span></p>
    <p class="blog-comment__date"><span>3rd April 2020</span></p>
  </div>
</div>

  </div>
</div>

