

  <h2 class="section__title">Single column card listing</h2>

<section id="d409a4af-c838-4e0a-bb6b-262a385b01bf" class="grid grid--single">
    <div class="grid__inner">
    <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?92568" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Neque Possimus Velit.</h3>
    <div class="card__content">
      Ad voluptatem quis eum culpa modi eius aut ipsum. Ut dolor provident dolorem saepe nihil assumenda eligendi quia architecto. Cumque maxime nisi accusantium quidem.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?99518" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Vero Ex Non Voluptas Vitae Et.</h3>
    <div class="card__content">
      Earum debitis neque. Commodi quam laborum. Nam quas eum consectetur ipsum blanditiis ut nulla omnis.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?36824" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Perferendis Nostrum Similique Voluptatibus.</h3>
    <div class="card__content">
      Ut est ut quo consequatur natus. Dignissimos qui ipsa cumque molestias fuga. Quis accusamus et molestiae sapiente nisi eos dolorum.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?54352" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Mollitia Laborum Sit Dolores Et Ipsum Ut Nesciunt Quo.</h3>
    <div class="card__content">
      Ab commodi sed dolores soluta. Sunt totam non dolor. Omnis et voluptatum quas.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?23001" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Veritatis Quod Dolorum Et Molestiae Saepe Hic Minus.</h3>
    <div class="card__content">
      Quos cum nesciunt. Eligendi qui sed eum. Illum impedit corrupti ut qui ratione repellendus est velit unde. Quos ullam inventore dignissimos. Aliquid ad illo ut dicta quia deserunt praesentium vel.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?50410" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Ducimus Voluptatem Dolor Animi Autem Voluptates Cum.</h3>
    <div class="card__content">
      Quo totam qui eaque earum deserunt nobis voluptatem quasi. Labore earum perferendis consequatur nisi laudantium. Optio voluptas ut dolor qui.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      </div>
</section>

