

<section class="grid grid--2/3 grid--spaced grid--divider grid--woodland">
    <div class="grid__inner">
    <div class="grid__item">
        <template id="photoswipe">
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>

    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>

</template>

<div class="gallery gallery--carousel">
    <ul class="gallery__list">
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?47160" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?47160" />
    </div>
</div>

            <p class="gallery__description">Sit pariatur autem.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?87197" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?87197" />
    </div>
</div>

            <p class="gallery__description">In quos veniam laboriosam facilis dicta veniam quasi ratione cum.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?2351" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?2351" />
    </div>
</div>

            <p class="gallery__description">Quisquam nulla repudiandae placeat minus enim iure.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?81575" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?81575" />
    </div>
</div>

            <p class="gallery__description">Voluptatem dolorem sed eaque amet eos.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?97749" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?97749" />
    </div>
</div>

            <p class="gallery__description">Et aut eius eum.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?79913" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?79913" />
    </div>
</div>

            <p class="gallery__description">Et aperiam magnam occaecati laboriosam.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?84059" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?84059" />
    </div>
</div>

            <p class="gallery__description">Voluptate sed recusandae quaerat.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?90822" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?90822" />
    </div>
</div>

            <p class="gallery__description">Nostrum dolorem nemo sit quis error.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?50199" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?50199" />
    </div>
</div>

            <p class="gallery__description">Voluptas tempore velit ex vel ipsa maiores.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?53160" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?53160" />
    </div>
</div>

            <p class="gallery__description">Rem et doloremque omnis commodi beatae non eius soluta ipsa.</p>
        </li>
    </ul>
    <ul class="gallery__thumbnails">
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?47160"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?55569" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?87197"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?26865" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?2351"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?81357" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?81575"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?15963" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?97749"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?87609" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?79913"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?6472" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?84059"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?5624" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?90822"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?74553" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?50199"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?57653" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?53160"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?51921" />
    </div>
</div>
</a>
        </li>
    </ul>
</div>

        <div class="tab tab--2/3 tab--spaced tab--divider tab--woodland" data-tab="">
  <div class="tab__navigation button-group">
        <button class="button button--small button--inline button--green button--green--outline" data-tab-for=description>
          <span>Description</span>
        </button>
        <button class="button button--small button--inline button--green button--green--outline" data-tab-for=maps>
          <span>Maps</span>
        </button>
        <button class="button button--small button--inline button--green button--green--outline" data-tab-for=directions>
          <span>Directions</span>
        </button>
  </div>

  <div class="tab__items">
        <div class="tab__item tab__item--description" data-tab-item="description">
            <h3 class="tab__item__title">Description</h3>
            Description
        </div>
        <div class="tab__item tab__item--maps" data-tab-item="maps">
            <h3 class="tab__item__title">Maps</h3>
            Maps
        </div>
        <div class="tab__item tab__item--directions" data-tab-item="directions">
            <h3 class="tab__item__title">Directions</h3>
            Directions
        </div>
  </div>
</div>

    </div>
    <div class="grid__item">
        <div class="sticky">
            <p class="lede">Debitis tenetur deleniti sint. Cupiditate nihil at non placeat fugit accusamus necessitatibus. Sed dolore nemo quo sapiente.</p>

            <button class="button button--green" data-modal-open="modal-b2369206-e46b-48fe-84f5-ab22f9ab322f">
                <span>Visit this woodland</span>
            </button>

            <button class="button button--green--dark">
  <span>Download PDF Details</span>
</button>


            <div class="managed-by">
  <div class="managed-by__person">
    <h3 class="managed-by__title">
      Managed by <strong>Sidney Gerhold</strong>
    </h3>
    <div class="managed-by__avatar">
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/Talbi_ConSept/128.jpg" />
    </div>
  </div>
  <p class="managed-by__contact">Telephone: <a href="tel:282-478-0622 x65060">282-478-0622 x65060</a></p>
  <p class="managed-by__contact">Email: <a href="mailto:Samir_Reichel7@example.com">Samir_Reichel7@example.com</a></p>
</div>

        </div>
    </div>
    </div>
</section>

<div class="modal modal--small" aria-hidden="true" id="modal-b2369206-e46b-48fe-84f5-ab22f9ab322f">
  <div class="modal__container" data-modal-close="modal-b2369206-e46b-48fe-84f5-ab22f9ab322f">
    <div class="modal__item" role="dialog" aria-modal="true" aria-labelledby="modal__title--b2369206-e46b-48fe-84f5-ab22f9ab322f">

      <header class="modal__header">
        <h2 class="modal__title" id="modal__title--b2369206-e46b-48fe-84f5-ab22f9ab322f">Visit perferendis corrupti error</h2>
        <button type="button" data-modal-close="modal-b2369206-e46b-48fe-84f5-ab22f9ab322f" aria-label="Close Modal">×</button>
      </header>

<div class="modal__content text-center">
    <p>Sit laudantium magni ea ut molestiae tempore. Quidem soluta consequuntur et placeat fugit cupiditate omnis. Ipsa quia maiores distinctio magnam. Autem aperiam dolores commodi et maiores occaecati dolores itaque. Mollitia officia neque dolorum. Ut provident qui optio omnis quia ut recusandae.
 Animi quod sequi aliquam ut et esse similique pariatur. Dignissimos recusandae dicta et dolorem odit fugiat enim. Est doloribus sit ut unde iste.</p>

    <button class="button button--green">
  <span>Download PDF Details</span>
</button>

    <button class="button button--green--dark">
  <span>Print PDF Details</span>
</button>


    <p>Est soluta consequatur. Doloremque accusantium dolor sint debitis. Dolorum et nobis voluptatem nesciunt voluptatum explicabo sapiente aut.</p>
</div>


    </div>
  </div>
</div>

