

<h2 class="section__title section__title--small section__title--alt text-left">General Listing</h2>

<ul class="listing">
    <li class="listing__item">
        Reiciendis consequatur tenetur quas tenetur totam est.
    </li>
    <li class="listing__item">
        Nostrum explicabo id veniam facilis possimus consequatur tempore.
    </li>
    <li class="listing__item">
        Aut officia delectus soluta eum ut et cumque earum delectus.
    </li>
    <li class="listing__item">
        Quaerat assumenda quo aliquid reprehenderit voluptatem est quod.
    </li>
</ul>

