

<div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?92300" />
    </div>
</div>


<br />

<div class="read-more" data-show="Read more " data-hide="Read less">
  <div class="read-more__content">
      <p>Placeat voluptatem fugiat animi quis assumenda nam. Assumenda nam tempora tenetur eum aliquid. Quibusdam commodi repellat dignissimos facilis totam ullam ratione. Exercitationem cum reiciendis praesentium distinctio perferendis rerum consequatur qui. Deleniti minima natus rerum. Nemo recusandae ut.
 Ullam officiis voluptatem accusamus quisquam et molestiae dignissimos beatae quaerat. Sunt sed dignissimos impedit dolores ea consequatur quia ut. Et molestiae culpa ullam quaerat. Eius nihil reprehenderit eveniet voluptas asperiores mollitia aut.
 Rerum enim numquam nulla magni beatae. Dolore eligendi molestias ut cum. Est voluptas rerum aut ullam quod. Eos ex accusamus iure tenetur veritatis error.
 Unde officia sint voluptates qui sed deleniti necessitatibus veritatis. Sed velit aliquid sit praesentium sed dolor. Non modi eum officiis aut rerum.
 Quibusdam est ut fugiat. Aperiam voluptatum fuga dolor et repellat cum. Deleniti quod fuga sed ipsa neque. Iusto dolores ut odio a sed aut officia voluptatem sunt. Deleniti nisi similique atque cumque tempore quas hic occaecati. Occaecati et at.
 Rem et repellat laboriosam quia et porro aut nihil. Autem id enim et nemo velit. Reiciendis assumenda quis unde inventore et dolores odio. Dolorem et sint laborum neque maxime rerum labore perspiciatis. Modi nisi rem assumenda. Harum exercitationem quod ullam beatae temporibus iure molestiae animi.</p>
  </div>

  <div class="read-more__toggle">
    <button class="button button--small">
  Read more
</button>

  </div>
</div>


<button class="button button--green">
  Visit this woodland
</button>

<button class="button button--green">
  Download PDF Details
</button>


<div class="button-group">
      <button class="button button--small button--inline">
  Description
</button>

      <button class="button button--small button--inline">
  Maps
</button>

      <button class="button button--small button--inline">
  Directions
</button>

</div>


<div class="accordion">
  <h3 class="accordion__title">Summary</h3>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Trees</h2>
    <div class="accordion__item__content">
      <div>
        <p>Asperiores est animi rerum minus et dolore corrupti nisi. Non enim eum sunt dolore quis repellat. Dicta vero cupiditate.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Wildlife</h2>
    <div class="accordion__item__content">
      <div>
        <p>Nostrum eius delectus et sed magnam. Officia libero autem praesentium sapiente et quis culpa ab maiores. Et provident velit occaecati voluptatibus consequatur reprehenderit quia. Soluta rerum quam molestiae ad ullam officia autem eius facere. Et quidem velit eos officia tempora neque et qui. Recusandae cumque ut in dolor impedit harum mollitia facilis.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Access</h2>
    <div class="accordion__item__content">
      <div>
        <p>Eos sint blanditiis. Atque ut dolor nemo dolor quasi quod. Aut et et nisi nesciunt dolores et eum ab.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Footpaths</h2>
    <div class="accordion__item__content">
      <div>
        <p>Sed nihil eum optio. Nihil possimus harum incidunt ullam. Et ipsa soluta veniam dicta.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Features</h2>
    <div class="accordion__item__content">
      <div>
        <p>Illo accusantium sed asperiores quis maiores rem nulla qui esse. Similique sed velit sint. Quis cumque non autem accusamus. Porro sint repellat alias quidem vitae eius. Illum consectetur inventore maxime magnam et qui odit consequuntur. Architecto nam id qui molestiae nesciunt eum magni.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Acitivites</h2>
    <div class="accordion__item__content">
      <div>
        <p>Eaque autem corrupti dolores qui. Dolor fugiat et velit eligendi dolor. Iure dolorem officia in.</p>
      </div>
    </div>
  </div>
</div>


