

<ul class="listing listing--linked">
    <li class="listing__item">
        <a href="#">Maiores Ut Eum Error Qui.</a>
    </li>
    <li class="listing__item">
        <a href="#">Sint Omnis Sapiente Temporibus Nemo Quisquam Id Inventore Assumenda Cum.</a>
    </li>
    <li class="listing__item">
        <a href="#">Blanditiis Facilis Impedit Quae.</a>
    </li>
    <li class="listing__item">
        <a href="#">Impedit Officia Officia Omnis Optio Rerum Voluptatem Quod Dolores.</a>
    </li>
</ul>

