

<h2 class="section__title section__title--small section__title--alt text-left">General Listing</h2>

<ul class="listing">
    <li class="listing__item">
        Necessitatibus odit ex quae perspiciatis explicabo consequatur et.
    </li>
    <li class="listing__item">
        Sed vitae sequi quia animi quis ex.
    </li>
    <li class="listing__item">
        Vel est voluptas facere dolores vel.
    </li>
    <li class="listing__item">
        Nostrum odio porro culpa est voluptatem ad praesentium harum.
    </li>
</ul>

