

<h2 class="section__title section__title--small section__title--alt text-left">General Listing</h2>

<ul class="listing">
    <li class="listing__item">
        Maiores ut eum error qui.
    </li>
    <li class="listing__item">
        Sint omnis sapiente temporibus nemo quisquam id inventore assumenda cum.
    </li>
    <li class="listing__item">
        Blanditiis facilis impedit quae.
    </li>
    <li class="listing__item">
        Impedit officia officia omnis optio rerum voluptatem quod dolores.
    </li>
</ul>

