

  <h2 class="section__title">General card listing</h2>

<section id="cb0a4489-0ca2-490a-8777-dca31739d16e" class="grid">
    <div class="grid__inner">
    <div class="card card--link ">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?117" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Ipsum Delectus In.</h3>
    <div class="card__content">
      Dolores incidunt beatae omnis. In totam accusamus. Voluptatibus delectus officia est eos laudantium. Eos veniam aspernatur. Quibusdam voluptas ea quia vel velit. Consequuntur odio possimus dolores delectus quas amet voluptas blanditiis rerum.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?53749" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Eos Animi Quibusdam Nesciunt Dolorum.</h3>
    <div class="card__content">
      Nihil minus et expedita. Rerum magnam sint est sed ea fuga possimus quaerat sit. Quis illum aut voluptas aut qui voluptate voluptas.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?71964" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Ratione Aut Et Modi Incidunt Tempora Qui.</h3>
    <div class="card__content">
      Voluptatum eos officiis. Non laborum molestias incidunt. Atque dolor reprehenderit. Nostrum eos quia doloribus dignissimos et assumenda aut distinctio. Cumque velit aut.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?85649" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Nam Fugit Tempore.</h3>
    <div class="card__content">
      Dignissimos et nesciunt. Fugiat voluptatem unde eos nemo perferendis nihil. Sit omnis a. Iste voluptas est aut necessitatibus qui tenetur. Ipsam eveniet iure nostrum ut nobis explicabo molestias ducimus. Et sint facilis amet tenetur et aliquid.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?80547" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Voluptatem Nam Est.</h3>
    <div class="card__content">
      Odio ut ut in occaecati nobis molestiae. Ad minima dolore earum porro necessitatibus in rerum voluptas. Adipisci tempore libero repudiandae corrupti atque ea autem iusto.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?942" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Voluptas Officia Itaque Qui Ea Quia Ad Explicabo Laudantium Quae.</h3>
    <div class="card__content">
      Temporibus similique commodi eveniet quae quis quis. Necessitatibus natus qui. Ab non hic mollitia voluptate doloribus ut a eveniet reprehenderit. Omnis quasi odit non vel minima omnis. Eius eius exercitationem quod quam harum facere. Quasi eum omnis et.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      </div>
</section>

