

<ul class="listing listing--linked">
    <li class="listing__item">
        <a href="#">Doloremque Molestiae Provident Voluptas.</a>
    </li>
    <li class="listing__item">
        <a href="#">Veniam Nesciunt Libero Et Omnis Sunt Dolorum Rerum Illum.</a>
    </li>
    <li class="listing__item">
        <a href="#">Molestiae Itaque Et Est Nisi Sit Totam Placeat Enim Consequatur.</a>
    </li>
    <li class="listing__item">
        <a href="#">Dolores Quibusdam Doloremque Amet Quia Numquam Quasi Quod.</a>
    </li>
</ul>

