

<h2 class="section__title section__title--small">Popular topics</h2>

<ul class="list list--unstyled list--spaced">
    <li>
        <button class="button button--small">
  Nihil ducimus harum dolores voluptas.
</button>

    </li>
    <li>
        <button class="button button--small">
  Ab sint laudantium assumenda quae similique omnis nostrum corrupti temporibus.
</button>

    </li>
    <li>
        <button class="button button--small">
  Eveniet ad perferendis est neque repellat omnis iste et accusamus.
</button>

    </li>
    <li>
        <button class="button button--small">
  Voluptatum temporibus modi voluptatem reiciendis recusandae recusandae laborum nisi.
</button>

    </li>
</ul>

