

  <h2 class="section__title">Single column card listing</h2>

<section id="d0a38b4e-ac22-45eb-9ed5-a35cbd8eb572" class="grid grid--single">
    <div class="grid__inner">
    <div class="card card--link ">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?24053" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Commodi Beatae Rerum Totam Voluptates Aut.</h3>
    <div class="card__content">
      Amet quibusdam nulla aut suscipit qui tempore reprehenderit ex. Quis omnis voluptatem iste sed placeat. Ipsam eum accusamus accusantium.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?22311" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Quidem Sapiente Et Dolores Sunt Voluptatem Cum Corporis.</h3>
    <div class="card__content">
      Quod voluptatem accusamus quisquam est facere animi. Dolor qui molestiae autem delectus laudantium rerum laudantium. Tenetur suscipit rem accusantium dolore quia itaque minus. Fugit iste dicta.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?61037" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Inventore Et Ut Officiis.</h3>
    <div class="card__content">
      Consectetur nulla nisi iusto iure tenetur. Temporibus voluptatem ut deserunt porro quos hic veritatis. Et deleniti ipsa. Dolor atque in quisquam voluptatibus facilis tempora in. Omnis sapiente enim ea quo adipisci. Ipsa eaque reiciendis dignissimos quo sit voluptatem atque autem.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?76634" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Similique Eos Cupiditate Amet Molestiae Sit.</h3>
    <div class="card__content">
      Dignissimos et eum optio hic quisquam sunt et. Voluptatem quis blanditiis sit fugit. Quas modi iste quia quo modi et quod voluptas cumque. Eos minus fugit eos atque at officiis repellendus. Optio ea rerum et aut et numquam ex.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?87844" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Autem Consequatur Fuga Eveniet Provident Perspiciatis.</h3>
    <div class="card__content">
      Aperiam a ad et. Alias dignissimos nihil. Numquam nihil mollitia ratione adipisci et asperiores eum laudantium ea. Hic aliquid consequatur assumenda omnis reprehenderit molestiae eos. Voluptates quasi est accusantium dolores molestiae in. Suscipit nihil vitae omnis.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?72599" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Nihil Dolores Quia Aut Id Mollitia Aut Minus Ab.</h3>
    <div class="card__content">
      Consectetur dolores et dolorem nemo voluptas sunt. Natus ut voluptatem sequi consequatur totam tempore aut quaerat. Est labore eos.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      </div>
</section>

