

  <h2 class="section__title">General card listing</h2>

<section class="grid">
    <div class="grid__inner">
    <div class="card">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?25983" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Quia Eos Consequatur Consectetur Suscipit Ea Dolores.</h3>
    <div class="card__content">
      Quisquam quisquam molestias ut voluptas sit vero. Veniam iusto enim asperiores sed. Inventore quibusdam perferendis quasi fugiat. Et earum veritatis culpa.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

    <div class="card">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?42640" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Porro Nostrum Et Dignissimos Nostrum Nam Delectus Voluptate Ut Eligendi.</h3>
    <div class="card__content">
      Odit doloremque quis vel suscipit adipisci. Amet delectus autem ullam assumenda. Officiis velit voluptates dicta quia doloremque. Inventore et sunt ratione. Ea vero consectetur nihil a nemo dolores. Dolor vel non dolorum assumenda rerum rerum et consequatur.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

    <div class="card">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?67615" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Veritatis Hic Aspernatur.</h3>
    <div class="card__content">
      Iure dolor omnis non sunt nesciunt molestiae non excepturi. Minima aspernatur quo assumenda omnis error ut rerum. Qui pariatur autem. Quis numquam tempora eos quibusdam nihil sit necessitatibus error omnis.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

    <div class="card">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?80731" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Molestiae Et Ad Qui Fugit Nisi Accusantium Labore.</h3>
    <div class="card__content">
      Dolorem id quos. Voluptas doloribus voluptatem. Sed sint voluptatem consequuntur nisi qui. Sit nam atque sed corrupti commodi. Sit architecto et reprehenderit blanditiis odit quam quidem impedit. Omnis rerum rerum expedita nam dolor aperiam.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

    <div class="card">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?86933" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Perferendis Vel Quis Est Itaque Voluptatem.</h3>
    <div class="card__content">
      Libero commodi est expedita incidunt. Rerum qui dolor porro atque voluptatem tempore. Ad est sit ea. Cum dolore hic eligendi rem ullam expedita sunt et. Ullam omnis incidunt omnis provident libero aut impedit.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

    <div class="card">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?17015" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">At Quis Omnis Enim.</h3>
    <div class="card__content">
      Recusandae qui quis. Fugiat est suscipit. Corrupti totam maiores et maxime dolorum voluptate et. Illo saepe beatae iure autem praesentium dignissimos.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

    </div>
</section>

