

<div class="section section--short">
  <h2 class="section__title text-left">Comments</h2>

  <div class="listing listing--comments">
      <div class="blog-comment">
  <div class="blog-comment__content typography">
    <p>Quia autem qui fugit labore et consequatur. Quos porro ex quia ducimus est hic assumenda. Quo hic dolores harum pariatur tenetur ut quasi fugit. Nihil dolorum rem excepturi tempora pariatur. Recusandae quia magni qui quis harum aut autem.</p>
<p>Commodi numquam omnis aut facilis illum consequatur. Ipsam aspernatur eos. Voluptate eum nulla non.</p>

  </div>

  <div class="blog-comment__meta">
    <p class="blog-comment__author"><span>Charles</span></p>
    <p class="blog-comment__date"><span>9th June 2020</span></p>
  </div>
</div>

      <div class="blog-comment">
  <div class="blog-comment__content typography">
    <p>Sint totam sapiente similique neque et consectetur voluptas. Fugiat quaerat sed est beatae. Quis minus reiciendis qui non quos. Perspiciatis aliquid mollitia aut aut molestiae ipsam quam officia. Natus natus qui et voluptas deserunt atque repellat.</p>
<p>In et ea sunt vel. Corrupti debitis et sed qui sed autem. Et eaque ut aut neque modi ut pariatur.</p>

  </div>

  <div class="blog-comment__meta">
    <p class="blog-comment__author"><span>Leonie</span></p>
    <p class="blog-comment__date"><span>18th August 2019</span></p>
  </div>
</div>

      <div class="blog-comment">
  <div class="blog-comment__content typography">
    <p>Corrupti qui sit. Reiciendis voluptatem officiis provident sequi aut explicabo. Et facilis eos sit fugiat libero ratione et. Voluptas iure facere architecto blanditiis.</p>
<p>Rerum dolor qui sunt corporis. Doloremque mollitia debitis reprehenderit fuga nulla voluptates dolor neque. Reiciendis id necessitatibus. Aut sunt voluptas deserunt. Quibusdam quia assumenda laudantium ut debitis. Voluptates quos laborum.</p>

  </div>

  <div class="blog-comment__meta">
    <p class="blog-comment__author"><span>Obie</span></p>
    <p class="blog-comment__date"><span>8th July 2019</span></p>
  </div>
</div>

      <div class="blog-comment">
  <div class="blog-comment__content typography">
    <p>Expedita quia asperiores et. Reiciendis ipsum reiciendis voluptas ea non iure quod. Debitis sint suscipit voluptates debitis. Blanditiis a et incidunt.</p>
<p>Et aliquid quasi ipsum illum qui. Eum quaerat repellendus qui molestiae et. Rem consectetur fugit optio alias. Distinctio dolorum est odio exercitationem. Temporibus cupiditate sint non accusantium ducimus.</p>

  </div>

  <div class="blog-comment__meta">
    <p class="blog-comment__author"><span>Reyes</span></p>
    <p class="blog-comment__date"><span>11th February 2020</span></p>
  </div>
</div>

  </div>
</div>

