

<h2 class="section__title section__title--small section__title--alt text-left">General Listing</h2>

<ul class="listing">
    <li class="listing__item">
        Rerum exercitationem reiciendis animi soluta.
    </li>
    <li class="listing__item">
        Nesciunt magnam aspernatur quidem aperiam.
    </li>
    <li class="listing__item">
        Quo officiis facilis commodi ut et quis optio magni tenetur.
    </li>
    <li class="listing__item">
        Nisi ut maxime dolores necessitatibus.
    </li>
</ul>

