

<!-- Start: @drawing--badger -->
<img src="../../images/drawings/badger.png" alt="Badger" title="" class="drawing " />
<!-- End: @drawing--badger -->

<!-- Start: @drawing--bird -->
<img src="../../images/drawings/bird.png" alt="Bird" title="" class="drawing " />
<!-- End: @drawing--bird -->

<!-- Start: @drawing--butterfly -->
<img src="../../images/drawings/butterfly.png" alt="Butterfly" title="" class="drawing " />
<!-- End: @drawing--butterfly -->

<!-- Start: @drawing--flowers -->
<img src="../../images/drawings/flowers.png" alt="Flowers" title="" class="drawing " />
<!-- End: @drawing--flowers -->

<!-- Start: @drawing--landscape -->
<img src="../../images/drawings/landscape.png" alt="Landscape" title="" class="drawing " />
<!-- End: @drawing--landscape -->

<!-- Start: @drawing--logs -->
<img src="../../images/drawings/logs.png" alt="Logs" title="" class="drawing " />
<!-- End: @drawing--logs -->

<!-- Start: @drawing--moth -->
<img src="../../images/drawings/moth.png" alt="Moth" title="" class="drawing " />
<!-- End: @drawing--moth -->

<!-- Start: @drawing--trees -->
<img src="../../images/drawings/trees.png" alt="Trees" title="" class="drawing " />
<!-- End: @drawing--trees -->

