

<!-- Start: @form--field--text -->
<div class="form__field">
    <label for="form__example__field" class="form__label"><span>Text Field</span></label>
    <input type="text" class="form-input" id="form__example__field" name="example-field" placeholder="Placeholder" />
</div>
<!-- End: @form--field--text -->

<!-- Start: @form--field--password -->
<div class="form__field">
    <label for="form__example__field--password" class="form__label"><span>Password Field</span></label>
    <input type="password" class="form-input" id="form__example__field--password" name="example-field--password" placeholder="Placeholder" />
</div>
<!-- End: @form--field--password -->

<!-- Start: @form--field--number -->
<div class="form__field">
    <label for="form__example__field--number" class="form__label"><span>Number Field</span></label>
    <input type="number" class="form-input" id="form__example__field--number" name="example-field--number" placeholder="Placeholder" />
</div>
<!-- End: @form--field--number -->

<!-- Start: @form--field--select -->
<div class="form__field">
    <label for="form__example__field--select" class="form__label"><span>Select Field</span></label>
    <select class="form-select" id="form__example__field--select" name="example-field--select">
        <option value="0">Aliquam Id Natus</option>
        <option value="1">Explicabo Velit Quibusdam</option>
        <option value="2">Corporis Quidem Autem</option>
        <option value="3">Recusandae Quia Aperiam</option>
        <option value="4">Placeat Et Reprehenderit</option>
        <option value="5">Quis Vero Totam</option>
    </select>
</div>
<!-- End: @form--field--select -->

