

<div class="form__field">
    <label for="form__example__field--select" class="form__label"><span>Select Field</span></label>
    <select class="form-select" id="form__example__field--select" name="example-field--select">
        <option value="0">Numquam Sed Quae</option>
        <option value="1">Dignissimos Voluptatum Ex</option>
        <option value="2">Quasi Enim Est</option>
        <option value="3">Eveniet Dignissimos Quo</option>
        <option value="4">Quas Eius Hic</option>
        <option value="5">Fugit Ut Voluptates</option>
    </select>
</div>

