

<div class="form__field">
    <label for="form__example__field--select" class="form__label"><span>Select Field</span></label>
    <select class="form-select" id="form__example__field--select" name="example-field--select">
        <option value="0">Est Suscipit Repellendus</option>
        <option value="1">Qui Nulla Et</option>
        <option value="2">Aut Mollitia Non</option>
        <option value="3">Sunt Consequuntur Modi</option>
        <option value="4">Neque Et Et</option>
        <option value="5">Nostrum Temporibus Similique</option>
    </select>
</div>

