

<!-- Start: @form--checkbox--default -->
<div class="form__field form__field--checkbox">
    <input type="checkbox" class="form-checkbox" id="form__example__checkbox" name="example-checkbox" />
    <label for="form__example__checkbox" class="form__label"><span>Facilis Natus Vel</span></label>
</div>
<!-- End: @form--checkbox--default -->

<!-- Start: @form--checkbox--reverse -->
<div class="form__field form__field--checkbox form__field--checkbox--reverse">
    <input type="checkbox" class="form-checkbox" id="form__example__checkbox--reverse" name="example-checkbox--reverse" />
    <label for="form__example__checkbox--reverse" class="form__label"><span>Facilis Natus Vel</span></label>
</div>
<!-- End: @form--checkbox--reverse -->

