

<div class="form__field form__field--stacked">
    <label for="form__example__field--select" class="form__label"><span>Select Field</span></label>
    <select class="form-select" id="form__example__field--select" name="example-field--select">
        <option value="0">Sit Facere Officia</option>
        <option value="1">Ut Labore Aut</option>
        <option value="2">Nostrum Voluptates Eos</option>
        <option value="3">Ducimus Ut Quos</option>
        <option value="4">Sit Adipisci Autem</option>
        <option value="5">Laudantium Impedit Illum</option>
    </select>
</div>

