

<!-- Start: @form--radio--default -->
<ul class="form__field form__field--radio">
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--0" name="example-radio" />
        <label for="form__example__radio--0" class="form__label"><span>Quidem Officia Cupiditate</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--1" name="example-radio" />
        <label for="form__example__radio--1" class="form__label"><span>Qui Ut Minima</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--2" name="example-radio" />
        <label for="form__example__radio--2" class="form__label"><span>Placeat Deleniti Cupiditate</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--3" name="example-radio" />
        <label for="form__example__radio--3" class="form__label"><span>Aut Ex Tenetur</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--4" name="example-radio" />
        <label for="form__example__radio--4" class="form__label"><span>Doloribus Magni Et</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--5" name="example-radio" />
        <label for="form__example__radio--5" class="form__label"><span>Ea Sint Voluptatum</span></label>
    </li>
</ul>
<!-- End: @form--radio--default -->

<!-- Start: @form--radio--reverse -->
<ul class="form__field form__field--radio form__field--radio--reverse">
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--0--reverse" name="example-radio--reverse" />
        <label for="form__example__radio--0--reverse" class="form__label"><span>Deleniti Sequi Veniam</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--1--reverse" name="example-radio--reverse" />
        <label for="form__example__radio--1--reverse" class="form__label"><span>Aliquid Veritatis Dolorem</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--2--reverse" name="example-radio--reverse" />
        <label for="form__example__radio--2--reverse" class="form__label"><span>Numquam Est Et</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--3--reverse" name="example-radio--reverse" />
        <label for="form__example__radio--3--reverse" class="form__label"><span>Quae Corporis Et</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--4--reverse" name="example-radio--reverse" />
        <label for="form__example__radio--4--reverse" class="form__label"><span>Atque Voluptates Accusantium</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--5--reverse" name="example-radio--reverse" />
        <label for="form__example__radio--5--reverse" class="form__label"><span>Voluptatem Blanditiis Sed</span></label>
    </li>
</ul>
<!-- End: @form--radio--reverse -->

<!-- Start: @form--radio--inline -->
<ul class="form__field form__field--radio form__field--radio--inline">
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--0--inline" name="example-radio--inline" />
        <label for="form__example__radio--0--inline" class="form__label"><span>Omnis Architecto Ipsa</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--1--inline" name="example-radio--inline" />
        <label for="form__example__radio--1--inline" class="form__label"><span>Qui Nemo Molestiae</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--2--inline" name="example-radio--inline" />
        <label for="form__example__radio--2--inline" class="form__label"><span>Eos Molestiae Exercitationem</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--3--inline" name="example-radio--inline" />
        <label for="form__example__radio--3--inline" class="form__label"><span>Laudantium Sunt Explicabo</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--4--inline" name="example-radio--inline" />
        <label for="form__example__radio--4--inline" class="form__label"><span>Nostrum Quibusdam Voluptatum</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--5--inline" name="example-radio--inline" />
        <label for="form__example__radio--5--inline" class="form__label"><span>Assumenda Et Possimus</span></label>
    </li>
</ul>
<!-- End: @form--radio--inline -->

