

<!-- Start: @form--radio--default -->
<ul class="form__field form__field--radio">
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--0" name="example-radio" />
        <label for="form__example__radio--0" class="form__label"><span>Molestias Voluptatem Laudantium</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--1" name="example-radio" />
        <label for="form__example__radio--1" class="form__label"><span>Ex Dignissimos Dignissimos</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--2" name="example-radio" />
        <label for="form__example__radio--2" class="form__label"><span>Vitae Minus Suscipit</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--3" name="example-radio" />
        <label for="form__example__radio--3" class="form__label"><span>Et Id Reiciendis</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--4" name="example-radio" />
        <label for="form__example__radio--4" class="form__label"><span>Illo Nostrum Sequi</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--5" name="example-radio" />
        <label for="form__example__radio--5" class="form__label"><span>Quidem Laborum Voluptates</span></label>
    </li>
</ul>
<!-- End: @form--radio--default -->

<!-- Start: @form--radio--reverse -->
<ul class="form__field form__field--radio form__field--radio--reverse">
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--0--reverse" name="example-radio--reverse" />
        <label for="form__example__radio--0--reverse" class="form__label"><span>Et Porro Consectetur</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--1--reverse" name="example-radio--reverse" />
        <label for="form__example__radio--1--reverse" class="form__label"><span>Facilis Qui Et</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--2--reverse" name="example-radio--reverse" />
        <label for="form__example__radio--2--reverse" class="form__label"><span>Vel Minus Voluptatem</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--3--reverse" name="example-radio--reverse" />
        <label for="form__example__radio--3--reverse" class="form__label"><span>Soluta Non Quis</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--4--reverse" name="example-radio--reverse" />
        <label for="form__example__radio--4--reverse" class="form__label"><span>Odio Deleniti Voluptas</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--5--reverse" name="example-radio--reverse" />
        <label for="form__example__radio--5--reverse" class="form__label"><span>Et Eos Sed</span></label>
    </li>
</ul>
<!-- End: @form--radio--reverse -->

<!-- Start: @form--radio--inline -->
<ul class="form__field form__field--radio form__field--radio--inline">
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--0--inline" name="example-radio--inline" />
        <label for="form__example__radio--0--inline" class="form__label"><span>Minima Quia Voluptatibus</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--1--inline" name="example-radio--inline" />
        <label for="form__example__radio--1--inline" class="form__label"><span>Aliquid Repellendus Ut</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--2--inline" name="example-radio--inline" />
        <label for="form__example__radio--2--inline" class="form__label"><span>Quaerat Quas Labore</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--3--inline" name="example-radio--inline" />
        <label for="form__example__radio--3--inline" class="form__label"><span>Id Non Tempora</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--4--inline" name="example-radio--inline" />
        <label for="form__example__radio--4--inline" class="form__label"><span>Fuga Enim Dolores</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--5--inline" name="example-radio--inline" />
        <label for="form__example__radio--5--inline" class="form__label"><span>Consequatur Qui Hic</span></label>
    </li>
</ul>
<!-- End: @form--radio--inline -->

