

<!-- Start: @form--radio--default -->
<ul class="form__field form__field--radio">
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--0" name="example-radio" />
        <label for="form__example__radio--0" class="form__label"><span>Quam Expedita Debitis</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--1" name="example-radio" />
        <label for="form__example__radio--1" class="form__label"><span>Cumque Eos Ea</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--2" name="example-radio" />
        <label for="form__example__radio--2" class="form__label"><span>Esse Optio Illo</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--3" name="example-radio" />
        <label for="form__example__radio--3" class="form__label"><span>Ex Ut Quis</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--4" name="example-radio" />
        <label for="form__example__radio--4" class="form__label"><span>Repellendus Quam Quia</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--5" name="example-radio" />
        <label for="form__example__radio--5" class="form__label"><span>Et Delectus Voluptate</span></label>
    </li>
</ul>
<!-- End: @form--radio--default -->

<!-- Start: @form--radio--reverse -->
<ul class="form__field form__field--radio form__field--radio--reverse">
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--0--reverse" name="example-radio--reverse" />
        <label for="form__example__radio--0--reverse" class="form__label"><span>Vitae Facilis Natus</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--1--reverse" name="example-radio--reverse" />
        <label for="form__example__radio--1--reverse" class="form__label"><span>Explicabo Sunt Velit</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--2--reverse" name="example-radio--reverse" />
        <label for="form__example__radio--2--reverse" class="form__label"><span>Soluta Molestias Quos</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--3--reverse" name="example-radio--reverse" />
        <label for="form__example__radio--3--reverse" class="form__label"><span>Quas Voluptatem Delectus</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--4--reverse" name="example-radio--reverse" />
        <label for="form__example__radio--4--reverse" class="form__label"><span>Unde Et Iure</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--5--reverse" name="example-radio--reverse" />
        <label for="form__example__radio--5--reverse" class="form__label"><span>Veniam Et Rerum</span></label>
    </li>
</ul>
<!-- End: @form--radio--reverse -->

<!-- Start: @form--radio--inline -->
<ul class="form__field form__field--radio form__field--radio--inline">
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--0--inline" name="example-radio--inline" />
        <label for="form__example__radio--0--inline" class="form__label"><span>Asperiores Ex Ut</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--1--inline" name="example-radio--inline" />
        <label for="form__example__radio--1--inline" class="form__label"><span>Accusamus Eaque Qui</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--2--inline" name="example-radio--inline" />
        <label for="form__example__radio--2--inline" class="form__label"><span>Voluptatem Culpa Quibusdam</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--3--inline" name="example-radio--inline" />
        <label for="form__example__radio--3--inline" class="form__label"><span>Earum Omnis Illo</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--4--inline" name="example-radio--inline" />
        <label for="form__example__radio--4--inline" class="form__label"><span>Dolore Nostrum Corrupti</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--5--inline" name="example-radio--inline" />
        <label for="form__example__radio--5--inline" class="form__label"><span>Id Et Saepe</span></label>
    </li>
</ul>
<!-- End: @form--radio--inline -->

