

<div class="form__field form__field--stacked">
    <label for="form__example__field--select" class="form__label"><span>Select Field</span></label>
    <select class="form-select" id="form__example__field--select" name="example-field--select">
        <option value="0">Sunt Id Qui</option>
        <option value="1">Quisquam At Doloribus</option>
        <option value="2">Corrupti Rerum Ad</option>
        <option value="3">Iusto Sed Corrupti</option>
        <option value="4">Repellat Cumque Perspiciatis</option>
        <option value="5">Provident Omnis Placeat</option>
    </select>
</div>

