

<div class="form__field">
    <label for="form__example__field--select" class="form__label"><span>Select Field</span></label>
    <select class="form-select" id="form__example__field--select" name="example-field--select">
        <option value="0">Ea Iste Officiis</option>
        <option value="1">Ducimus Eligendi Modi</option>
        <option value="2">Nemo Et Quia</option>
        <option value="3">Debitis Consequatur Ea</option>
        <option value="4">In Tempora Laborum</option>
        <option value="5">Ipsum Laboriosam Dolorum</option>
    </select>
</div>

