

<!-- Start: @form--switch--default -->
<div class="form__field form__field--switch">
    <input type="checkbox" class="form-checkbox" id="form__example__checkbox--switch" name="example-checkbox--switch" />
    <label for="form__example__checkbox--switch" class="form__label"><i></i><span>Eos Voluptas Itaque</span></label>
</div>
<!-- End: @form--switch--default -->

<!-- Start: @form--switch--red -->
<div class="form__field form__field--switch form__field--switch--red">
    <input type="checkbox" class="form-checkbox" id="form__example__checkbox--red" name="example-checkbox--red" />
    <label for="form__example__checkbox--red" class="form__label"><i></i><span>Eos Voluptas Itaque</span></label>
</div>
<!-- End: @form--switch--red -->

<!-- Start: @form--switch--large -->
<div class="form__field form__field--switch form__field--switch--large">
    <input type="checkbox" class="form-checkbox" id="form__example__checkbox--large" name="example-checkbox--large" />
    <label for="form__example__checkbox--large" class="form__label"><i></i><span>Eos Voluptas Itaque</span></label>
</div>
<!-- End: @form--switch--large -->

<!-- Start: @form--switch--red--large -->
<div class="form__field form__field--switch form__field--switch--red form__field--switch--large">
    <input type="checkbox" class="form-checkbox" id="form__example__checkbox--red--large" name="example-checkbox--large" />
    <label for="form__example__checkbox--red--large" class="form__label"><i></i><span>Eos Voluptas Itaque</span></label>
</div>
<!-- End: @form--switch--red--large -->

<!-- Start: @form--switch--reverse -->
<div class="form__field form__field--switch form__field--switch--reverse">
    <input type="checkbox" class="form-checkbox" id="form__example__checkbox--reverse" name="example-checkbox--reverse" />
    <label for="form__example__checkbox--reverse" class="form__label"><i></i><span>Eos Voluptas Itaque</span></label>
</div>
<!-- End: @form--switch--reverse -->

<!-- Start: @form--switch--reverse--red -->
<div class="form__field form__field--switch form__field--switch--reverse form__field--switch--red">
    <input type="checkbox" class="form-checkbox" id="form__example__checkbox--red--reverse" name="example-checkbox--red--reverse" />
    <label for="form__example__checkbox--red--reverse" class="form__label"><i></i><span>Eos Voluptas Itaque</span></label>
</div>
<!-- End: @form--switch--reverse--red -->

<!-- Start: @form--switch--reverse--large -->
<div class="form__field form__field--switch form__field--switch--reverse form__field--switch--large">
    <input type="checkbox" class="form-checkbox" id="form__example__checkbox--reverse--large" name="example-checkbox--reverse--large" />
    <label for="form__example__checkbox--reverse--large" class="form__label"><i></i><span>Eos Voluptas Itaque</span></label>
</div>
<!-- End: @form--switch--reverse--large -->

<!-- Start: @form--switch--reverse--red--large -->
<div class="form__field form__field--switch form__field--switch--reverse form__field--switch--red form__field--switch--large">
    <input type="checkbox" class="form-checkbox" id="form__example__checkbox--red--reverse--large" name="example-checkbox--red--reverse--large" />
    <label for="form__example__checkbox--red--reverse--large" class="form__label"><i></i><span>Eos Voluptas Itaque</span></label>
</div>
<!-- End: @form--switch--reverse--red--large -->

<!-- Start: @form--switch--standalone -->
<div class="form__field form__field--switch form__field--switch--standalone">
    <input type="checkbox" class="form-checkbox" id="form__example__checkbox--standalone" name="example-checkbox--standalone" />
    <label for="form__example__checkbox--standalone" class="form__label"><i></i><span>Eos Voluptas Itaque</span></label>
</div>
<!-- End: @form--switch--standalone -->

<!-- Start: @form--switch--standalone--red -->
<div class="form__field form__field--switch form__field--switch--standalone form__field--switch--red">
    <input type="checkbox" class="form-checkbox" id="form__example__checkbox--standalone--red" name="example-checkbox--standalone--red" />
    <label for="form__example__checkbox--standalone--red" class="form__label"><i></i><span>Eos Voluptas Itaque</span></label>
</div>
<!-- End: @form--switch--standalone--red -->

<!-- Start: @form--switch--standalone--large -->
<div class="form__field form__field--switch form__field--switch--standalone form__field--switch--large">
    <input type="checkbox" class="form-checkbox" id="form__example__checkbox--standalone--large" name="example-checkbox--standalone--large" />
    <label for="form__example__checkbox--standalone--large" class="form__label"><i></i><span>Eos Voluptas Itaque</span></label>
</div>
<!-- End: @form--switch--standalone--large -->

<!-- Start: @form--switch--standalone--red-large -->
<div class="form__field form__field--switch form__field--switch--standalone form__field--switch--red form__field--switch--large">
    <input type="checkbox" class="form-checkbox" id="form__example__checkbox--standalone--red-large" name="example-checkbox--standalone--red-large" />
    <label for="form__example__checkbox--standalone--red-large" class="form__label"><i></i><span>Eos Voluptas Itaque</span></label>
</div>
<!-- End: @form--switch--standalone--red-large -->

