

<div class="form__field form__field--stacked">
    <label for="form__example__field--select" class="form__label"><span>Select Field</span></label>
    <select class="form-select" id="form__example__field--select" name="example-field--select">
        <option value="0">Ipsa Nesciunt Recusandae</option>
        <option value="1">Occaecati Non Debitis</option>
        <option value="2">Natus Reiciendis Sit</option>
        <option value="3">Quidem Placeat Quas</option>
        <option value="4">In Quo Aut</option>
        <option value="5">Et Neque Explicabo</option>
    </select>
</div>

