

<!-- Start: @form--field--stacked--text -->
<div class="form__field form__field--stacked">
    <label for="form__example__field" class="form__label"><span>Text Field</span></label>
    <input type="text" class="form-input" id="form__example__field" name="example-field" placeholder="Placeholder" />
</div>
<!-- End: @form--field--stacked--text -->

<!-- Start: @form--field--stacked--password -->
<div class="form__field form__field--stacked">
    <label for="form__example__field--password" class="form__label"><span>Password Field</span></label>
    <input type="password" class="form-input" id="form__example__field--password" name="example-field--password" placeholder="Placeholder" />
</div>
<!-- End: @form--field--stacked--password -->

<!-- Start: @form--field--stacked--number -->
<div class="form__field form__field--stacked">
    <label for="form__example__field--number" class="form__label"><span>Number Field</span></label>
    <input type="number" class="form-input" id="form__example__field--number" name="example-field--number" placeholder="Placeholder" />
</div>
<!-- End: @form--field--stacked--number -->

<!-- Start: @form--field--stacked--select -->
<div class="form__field form__field--stacked">
    <label for="form__example__field--select" class="form__label"><span>Select Field</span></label>
    <select class="form-select" id="form__example__field--select" name="example-field--select">
        <option value="0">Ut Sunt Nam</option>
        <option value="1">Voluptatem Est Quas</option>
        <option value="2">Similique Porro Repudiandae</option>
        <option value="3">Reprehenderit Qui Voluptatem</option>
        <option value="4">Sit Similique Inventore</option>
        <option value="5">Quos Et Dicta</option>
    </select>
</div>
<!-- End: @form--field--stacked--select -->

