

<header class="header">
    <h1 class="header__logo"><a href="page-homepage">Woodlands.co.uk</a></h1>

    <button type="button" class="header__search js--search"></button>

    <div class="navigation">
    <nav class="navigation__list">
        <ul>
                <li class="navigation__item "><a href="page-buy">Buy</a></li>
                <li class="navigation__item "><a href="page-owning">Owning a Wood</a></li>
                <li class="navigation__item "><a href="page-videos-guides">Videos &amp; Guides</a></li>
                <li class="navigation__item "><a href="page-about">About Us</a></li>
        </ul>
    </nav>

    <button class="hamburger hamburger--squeeze navigation__button js--navigation" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</div>

</header>

