

<header class="header">
    <div class="header__container">
        <div class="header__inner">
            <h1 class="header__logo"><a href="page-homepage">Woodlands.co.uk</a></h1>

            <div class="navigation">
    <nav class="navigation__list">
        <form action="/search" method="post" class="form form--search form--search--simple">
    <div class="form__inner">
        <div class="form__field">
    <label for="form__search_location" class="form__label"><span>Location</span></label>
    <input type="text" class="form-input" id="form__search_location" name="location" placeholder="Enter location / postcode" />
</div>

        <button class="button button--red button--inline bottom">
  <span>Search</span>
</button>

    </div>
</form>


        <ul>
                <li class="navigation__item navigation__item--has-sub ">
    <a href="page-buy">Buy</a>

    <ul>
            <li class="navigation__item navigation__item--has-sub ">
    <a href="page-buy">Woodlands for sale</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Search for woods</a>

</li>

            <li class="navigation__item  ">
    <a href="#">South East England</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Northern England</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Cumbria</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Central England</a>

</li>

            <li class="navigation__item  ">
    <a href="#">East Anglia</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Devon</a>

</li>

    </ul>
</li>

            <li class="navigation__item navigation__item--has-sub ">
    <a href="page-buy">Buying a wood</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Why buy a wood?</a>

</li>

            <li class="navigation__item  ">
    <a href="#">How to buy a woodland</a>

</li>

            <li class="navigation__item  ">
    <a href="#">How we support owners</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Legal guide</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Finance guide</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Our covenant</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Recommended solicitors</a>

</li>

    </ul>
</li>

            <li class="navigation__item navigation__item--has-sub ">
    <a href="#">Other land for sale</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Tree planting land</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Lakes and rivers</a>

</li>

    </ul>
</li>

            <li class="navigation__item navigation__item--has-sub ">
    <a href="page-sell">Sell your wood</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Sell your wood to us</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Selling your wood through us</a>

</li>

    </ul>
</li>

    </ul>
</li>

                <li class="navigation__item navigation__item--has-sub ">
    <a href="page-owning">Owning a wood</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Planning legislation</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Trees &amp; regulations</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Access &amp; tracks</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Management insurance</a>

</li>

    </ul>
</li>

                <li class="navigation__item navigation__item--has-sub ">
    <a href="page-videos-guides">Videos &amp; guides</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Woodlands TV</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Woodland activities</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Practical guides</a>

</li>

            <li class="navigation__item  ">
    <a href="#">What do people do?</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Looking after your wood</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Tree identification</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Wildlife identification</a>

</li>

    </ul>
</li>

                <li class="navigation__item navigation__item--has-sub ">
    <a href="page-about">About us</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Our team</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Press room</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Our research</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Contact us</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Meet us at woodfairs</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Community woodlands</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Woodland awards</a>

</li>

    </ul>
</li>


            <li class="navigation__item navigation__item--search"><a href="page-search" class="js--navigation-search">Search Woods</a></li>
        </ul>
    </nav>

    <button class="hamburger hamburger--squeeze navigation__button js--navigation" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</div>

        </div>
    </div>

    <form action="/search" method="post" class="form form--search form--search--alt">
    <div class="form__inner">
        <h4 class="form--search__title">Search for woodlands</h4>

        <div class="form__field">
    <label for="form__search_location" class="form__label"><span>Location</span></label>
    <input type="text" class="form-input" id="form__search_location" name="location" placeholder="Enter location / postcode" />
</div>

        <div class="form__field">
    <label for="form__search_type" class="form__label"><span>Type</span></label>
    <select class="form-select" id="form__search_type" name="type">
        <option value="woodland">Woodland</option>
        <option value="mixed deciduous">Mixed Deciduous</option>
        <option value="coniferous">Coniferous</option>
        <option value="coppice">Coppice</option>
        <option value="ancient woodland">Ancient Woodland</option>
    </select>
</div>


        <div class="form__field form__field--switch form__field--switch--reverse">
    <input type="checkbox" class="form-checkbox" id="form__search_sold" name="sold" />
    <label for="form__search_sold" class="form__label"><i></i><span>Show Sold</span></label>
</div>


        <button class="button button--red button--inline bottom">
  <span>Search</span>
</button>

    </div>

</form>

</header>


<main>
<section class="section section--map ">
    <div class="section__inner">
<section id="" class="grid grid--2/3--reverse">
    <div class="grid__inner">
            <div class="grid__item map--map">
                    <div class="map" data-map="#listing--map"></div>

            </div>
            <div class="grid__item map--listing">
                <button class="button button--inline button--inline--small button--green--dark button--left top">
  <span>← Exit map view</span>
</button>


                <h2 class="section__title section__title--medium normal-case">Woodlands for sale in this location:</h2>

                
<section id="listing--map" class="grid grid--single">
    <div class="grid__inner">
      <div class="card card--woodland card--woodland--map " data-longitude="51.2371" data-latitude="1.1662">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?91141" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Et Accusamus Qui Vitae Porro Nihil Rerum Sed Non Nostrum. <span class="card__price">£40,930</span></h3>
    <p class="card__meta">NR. Lemke Port, West Micahhaven, Berkshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.2164" data-latitude="1.01703">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?50558" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Officia Eaque A. <span class="card__price">£30,292</span></h3>
    <p class="card__meta">NR. Crist Path, Jacobsonborough, Berkshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.2179" data-latitude="1.01953">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?98619" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Laborum Hic Impedit. <span class="card__price">£23,544</span></h3>
    <p class="card__meta">NR. Davis Freeway, Rachellehaven, Bedfordshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.2757" data-latitude="0.959027">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?73544" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Eligendi Dolores Vero Voluptates. <span class="card__price">£74,622</span></h3>
    <p class="card__meta">NR. Tillman Harbors, Bednarshire, Avon</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.0596" data-latitude="0.19216">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?98691" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Illo Ea Reiciendis Consequuntur. <span class="card__price">£73,222</span></h3>
    <p class="card__meta">NR. Nola Fields, South Dianna, Berkshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.1196" data-latitude="0.403002">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?75593" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Commodi Ex Soluta. <span class="card__price">£58,577</span></h3>
    <p class="card__meta">NR. Heidenreich Plains, Port Cortezbury, Cambridgeshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.1196" data-latitude="0.403002">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?48554" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Quidem Qui Dolorem Molestiae Neque Exercitationem Fuga Eum Nobis. <span class="card__price">£79,375</span></h3>
    <p class="card__meta">NR. Bonnie Road, North Karelleside, Bedfordshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.234" data-latitude="1.16485">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?75469" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Fugit Vel Soluta Ut. <span class="card__price">£94,366</span></h3>
    <p class="card__meta">NR. Homenick Burg, Eliasview, Buckinghamshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.233" data-latitude="0.604208">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?59306" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Omnis Corrupti Quo Alias Possimus Non Quas Ut Fugit Voluptatem. <span class="card__price">£48,473</span></h3>
    <p class="card__meta">NR. Cremin Locks, New Timothyberg, Buckinghamshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.2751" data-latitude="0.960194">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?24617" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Aspernatur Aut Praesentium Omnis Rerum. <span class="card__price">£39,745</span></h3>
    <p class="card__meta">NR. Daron Courts, South Vince, Berkshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="50.853" data-latitude="-0.583575">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?62932" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Earum Et Ab Velit Nobis Sit Provident Recusandae. <span class="card__price">£94,268</span></h3>
    <p class="card__meta">NR. Johnathon Dale, East Margarette, Bedfordshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.2363" data-latitude="1.16438">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?56057" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Sit Quos Vitae Quia. <span class="card__price">£71,580</span></h3>
    <p class="card__meta">NR. Watsica Mills, Elissaborough, Borders</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.2342" data-latitude="0.608671">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?61552" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Reprehenderit Voluptatum Quia Ut Esse Et Voluptates Ex Aut Ipsum. <span class="card__price">£22,085</span></h3>
    <p class="card__meta">NR. Juwan Extensions, North Chadd, Borders</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.2736" data-latitude="0.95869">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?54722" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Ut Et Et Inventore Et Qui. <span class="card__price">£16,131</span></h3>
    <p class="card__meta">NR. Schamberger Street, Leoraburgh, Bedfordshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.234" data-latitude="0.601902">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?99102" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Qui Est Corporis. <span class="card__price">£96,083</span></h3>
    <p class="card__meta">NR. Farrell Coves, New Makaylamouth, Cambridgeshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.0601" data-latitude="0.193125">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?62866" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Dolor Quae Laborum Maxime Totam Ex Aut Dolor. <span class="card__price">£57,346</span></h3>
    <p class="card__meta">NR. Collier Road, Flatleyland, Avon</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.1065" data-latitude="-1.01441">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?40426" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Delectus Ut Ullam Veniam Aliquid. <span class="card__price">£87,771</span></h3>
    <p class="card__meta">NR. Von Trafficway, Lake Heather, Buckinghamshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.1155" data-latitude="0.213422">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?86535" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Fuga Tempora At Ad Tempora Quam Non Quia Dignissimos. <span class="card__price">£27,475</span></h3>
    <p class="card__meta">NR. Ursula Wall, Murazikmouth, Berkshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.1155" data-latitude="0.213422">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?67731" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Repellendus Consequatur Provident Eos Repellat. <span class="card__price">£55,894</span></h3>
    <p class="card__meta">NR. Mohr Fords, New Oralville, Berkshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.0598" data-latitude="0.199746">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?10445" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">In Sunt Asperiores Fugiat Possimus Ut Nobis. <span class="card__price">£40,140</span></h3>
    <p class="card__meta">NR. Hyatt Road, Kendraville, Cambridgeshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.1283" data-latitude="0.551742">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?76571" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Deleniti Unde Optio. <span class="card__price">£82,941</span></h3>
    <p class="card__meta">NR. Lafayette Camp, Nellaland, Berkshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.0601" data-latitude="0.193125">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?33805" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Doloremque Eos Unde. <span class="card__price">£14,184</span></h3>
    <p class="card__meta">NR. Aileen Dale, East Aliya, Berkshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.1211" data-latitude="0.406269">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?21030" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Magni Officia Ipsum Voluptas Dolorem Autem. <span class="card__price">£15,827</span></h3>
    <p class="card__meta">NR. Kshlerin Spring, Humbertoville, Bedfordshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.1699" data-latitude="0.28978">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?20752" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Id Architecto Et Autem Corporis Dicta. <span class="card__price">£42,174</span></h3>
    <p class="card__meta">NR. Hermann Way, Odellfort, Bedfordshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.1155" data-latitude="0.213422">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?3513" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Nisi Illum Voluptatem. <span class="card__price">£2,730</span></h3>
    <p class="card__meta">NR. Sasha Mountains, Jarredburgh, Borders</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.1695" data-latitude="0.286227">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?99559" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Molestiae Quod Facilis Ut At Harum Repudiandae. <span class="card__price">£90,474</span></h3>
    <p class="card__meta">NR. Kieran Turnpike, Kuhnchester, Buckinghamshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="50.9428" data-latitude="0.637193">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?97468" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Porro Est Sint Sunt. <span class="card__price">£45,282</span></h3>
    <p class="card__meta">NR. Toy Summit, New Diamond, Bedfordshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.1211" data-latitude="0.406269">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?66917" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Libero Voluptatibus Facilis Ut Nisi Ipsum. <span class="card__price">£25,913</span></h3>
    <p class="card__meta">NR. Parker Rapid, Skilesberg, Berkshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.2234" data-latitude="1.01088">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?3140" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Nam Et Rerum Nobis Tempora Tenetur Animi Aut Deleniti Similique. <span class="card__price">£86,874</span></h3>
    <p class="card__meta">NR. Isaias Branch, Schadenberg, Buckinghamshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.2328" data-latitude="0.608438">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?77179" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Iste Sunt Assumenda Vel Qui Eos Non. <span class="card__price">£44,981</span></h3>
    <p class="card__meta">NR. Ida Bridge, West Ursulahaven, Berkshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.114" data-latitude="0.22118">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?84156" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Aut Quisquam Aut Nihil Officia Culpa Aut Sed Laudantium Necessitatibus. <span class="card__price">£33,255</span></h3>
    <p class="card__meta">NR. Winifred Summit, Kirkhaven, Bedfordshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.2371" data-latitude="1.1662">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?56687" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Sapiente Sit Ut Expedita. <span class="card__price">£83,355</span></h3>
    <p class="card__meta">NR. Gisselle Valleys, South Garry, Cambridgeshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.2363" data-latitude="1.16438">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?74071" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Nesciunt Ut Ut Et Fugit Id Neque Animi Aspernatur Sint. <span class="card__price">£24,588</span></h3>
    <p class="card__meta">NR. Jake Pines, Kuphalchester, Buckinghamshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.1588" data-latitude="0.350633">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?2496" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Dignissimos Quos Tempora Veritatis Quia Neque. <span class="card__price">£69,579</span></h3>
    <p class="card__meta">NR. Bettie Cove, South Reynold, Bedfordshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.2148" data-latitude="1.0148">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?16795" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Aspernatur Quis Quia. <span class="card__price">£30,757</span></h3>
    <p class="card__meta">NR. Nikolaus Mountains, Lake Judetown, Cambridgeshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.0601" data-latitude="0.193125">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?70799" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Fugit Blanditiis Quaerat Est Ratione. <span class="card__price">£57,826</span></h3>
    <p class="card__meta">NR. Marks Flat, Jordanetown, Borders</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.1196" data-latitude="0.403002">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?76689" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Similique Nihil Magni Quia Mollitia. <span class="card__price">£99,807</span></h3>
    <p class="card__meta">NR. Betsy Pass, New Krystelchester, Cambridgeshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="50.8522" data-latitude="-0.586424">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?4144" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Quia Eveniet Voluptate Est Consequatur Ab Perferendis Exercitationem Et. <span class="card__price">£84,485</span></h3>
    <p class="card__meta">NR. Kovacek Highway, Jeradshire, Bedfordshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.2363" data-latitude="1.16438">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?7491" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Odit Repudiandae Asperiores A Accusamus Aut Placeat Sapiente Eligendi Libero. <span class="card__price">£50,375</span></h3>
    <p class="card__meta">NR. Rice Stravenue, South Rachelleport, Borders</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.0596" data-latitude="0.19216">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?67627" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Quam Ipsam Sint Eveniet Consequuntur Mollitia Consequatur Placeat. <span class="card__price">£80,583</span></h3>
    <p class="card__meta">NR. Nienow Field, East Sarinaville, Avon</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.2336" data-latitude="0.610572">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?68944" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Tenetur Ad Autem Et Modi Quibusdam. <span class="card__price">£31,378</span></h3>
    <p class="card__meta">NR. Henry Place, Danialhaven, Cambridgeshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.2328" data-latitude="0.608438">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?35758" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Eos Voluptas A. <span class="card__price">£54,303</span></h3>
    <p class="card__meta">NR. Maryjane Branch, Feilhaven, Buckinghamshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="50.9428" data-latitude="0.637193">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?17983" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Facilis Libero Debitis Molestiae Minima Suscipit Eveniet Ea. <span class="card__price">£31,065</span></h3>
    <p class="card__meta">NR. Beier Pike, Wilhelmbury, Bedfordshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.1073" data-latitude="-1.01361">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?78387" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Illum Et Cum Vitae Quia Et Ab Sapiente Error. <span class="card__price">£34,195</span></h3>
    <p class="card__meta">NR. Mitchell Locks, Robbshire, Buckinghamshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.1267" data-latitude="0.017139">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?83132" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Qui Dolores Sunt Fuga Consectetur Sit Quibusdam Non. <span class="card__price">£92,530</span></h3>
    <p class="card__meta">NR. Gideon Highway, Krajcikville, Borders</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.2331" data-latitude="1.16044">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?70125" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Deleniti Mollitia Quam Sint Itaque Quod. <span class="card__price">£78,230</span></h3>
    <p class="card__meta">NR. Haylie Common, Port Zackarystad, Cambridgeshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.0596" data-latitude="0.19216">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?69901" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Corrupti Soluta Perferendis Eos. <span class="card__price">£46,566</span></h3>
    <p class="card__meta">NR. Alexander Courts, North Alexandrea, Bedfordshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.1196" data-latitude="0.403002">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?20586" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Et Cum Id Molestiae. <span class="card__price">£43,609</span></h3>
    <p class="card__meta">NR. Daugherty Locks, O&#x27;Connerfurt, Avon</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="51.1699" data-latitude="0.28978">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?69967" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Et Dolore Sit Et Vel Distinctio Expedita Et. <span class="card__price">£53,205</span></h3>
    <p class="card__meta">NR. Jacques Place, Jenkinsside, Avon</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="50.8522" data-latitude="-0.586424">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?57847" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Culpa Aliquam Repudiandae Esse A Optio. <span class="card__price">£84,892</span></h3>
    <p class="card__meta">NR. Trantow Centers, New Rosemariemouth, Berkshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

    </div>
</section>


                <button class="button button--inline button--inline--small button--green--dark button--left bottom">
  <span>← Exit map view</span>
</button>

            </div>
    </div>
</section>

    </div>
</section>
</main>

