

<header class="header">
    <div class="header__container">
        <div class="header__inner">
            <h1 class="header__logo"><a href="page-homepage">Woodlands.co.uk</a></h1>

            <div class="navigation">
    <nav class="navigation__list">
        <div class="form form--search form--search--simple">
    <form action="/search" method="post">
        <div class="form__inner">
            <div class="form__field">
    <label for="form__search_location" class="form__label"><span>Location</span></label>
    <input type="text" class="form-input" id="form__search_location" name="location" placeholder="Enter location / postcode" />
</div>

            <button class="button button--red button--inline bottom">
  <span>Search</span>
</button>

        </div>
    </form>
</div>


        <ul>
                <li class="navigation__item navigation__item--has-sub ">
    <a href="page-buy">Buy</a>

    <ul>
            <li class="navigation__item navigation__item--has-sub ">
    <a href="page-buy">Woodlands for sale</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Search for woods</a>

</li>

            <li class="navigation__item  ">
    <a href="#">South East England</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Northern England</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Cumbria</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Central England</a>

</li>

            <li class="navigation__item  ">
    <a href="#">East Anglia</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Devon</a>

</li>

    </ul>
</li>

            <li class="navigation__item navigation__item--has-sub ">
    <a href="page-buy">Buying a wood</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Why buy a wood?</a>

</li>

            <li class="navigation__item  ">
    <a href="#">How to buy a woodland</a>

</li>

            <li class="navigation__item  ">
    <a href="#">How we support owners</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Legal guide</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Finance guide</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Our covenant</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Recommended solicitors</a>

</li>

    </ul>
</li>

            <li class="navigation__item navigation__item--has-sub ">
    <a href="#">Other land for sale</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Tree planting land</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Lakes and rivers</a>

</li>

    </ul>
</li>

            <li class="navigation__item navigation__item--has-sub ">
    <a href="page-sell">Sell your wood</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Sell your wood to us</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Selling your wood through us</a>

</li>

    </ul>
</li>

    </ul>
</li>

                <li class="navigation__item navigation__item--has-sub ">
    <a href="page-owning">Owning a wood</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Planning legislation</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Trees &amp; regulations</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Access &amp; tracks</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Management insurance</a>

</li>

    </ul>
</li>

                <li class="navigation__item navigation__item--has-sub ">
    <a href="page-videos-guides">Videos &amp; guides</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Woodlands TV</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Woodland activities</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Practical guides</a>

</li>

            <li class="navigation__item  ">
    <a href="#">What do people do?</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Looking after your wood</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Tree identification</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Wildlife identification</a>

</li>

    </ul>
</li>

                <li class="navigation__item navigation__item--has-sub ">
    <a href="page-about">About us</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Our team</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Press room</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Our research</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Contact us</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Meet us at woodfairs</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Community woodlands</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Woodland awards</a>

</li>

    </ul>
</li>


            <li class="navigation__item navigation__item--search"><a href="page-search" class="js--navigation-search">Search Woods</a></li>
        </ul>
    </nav>

    <button class="hamburger hamburger--squeeze navigation__button js--navigation" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</div>

        </div>
    </div>

    <div class="form form--search form--search--alt" data-search="Show Search Filters">
    <form action="/search" method="post">
        <div class="form__inner">
            <h4 class="form--search__title">Search for woodlands</h4>

            <div class="form__field">
    <label for="form__search_location" class="form__label"><span>Location</span></label>
    <input type="text" class="form-input" id="form__search_location" name="location" placeholder="Enter location / postcode" />
</div>

            <div class="form__field">
    <label for="form__search_type" class="form__label"><span>Type</span></label>
    <select class="form-select" id="form__search_type" name="type">
        <option value="woodland">Woodland</option>
        <option value="mixed deciduous">Mixed Deciduous</option>
        <option value="coniferous">Coniferous</option>
        <option value="coppice">Coppice</option>
        <option value="ancient woodland">Ancient Woodland</option>
    </select>
</div>


            <div class="form__field form__field--switch form__field--switch--reverse">
    <input type="checkbox" class="form-checkbox" id="form__search_sold" name="sold" />
    <label for="form__search_sold" class="form__label"><i></i><span>Show Sold</span></label>
</div>


            <button class="button button--red button--inline bottom">
  <span>Search</span>
</button>

        </div>
    </form>

    <button class="button button--green--dark button--full button--toggle bottom">
  <span>Show search filters</span>
</button>

</div>

</header>


<main>
<section class="section section--map ">
    <div class="section__inner">
<section id="" class="grid grid--2/3--reverse">
    <div class="grid__inner">
            <div class="grid__item map--map">
                    <div class="map" data-map="#listing--map"></div>

            </div>
            <div class="grid__item map--listing">
                <button class="button button--inline button--inline--small button--green--dark button--left top">
  <span>← Exit map view</span>
</button>


                <h2 class="section__title section__title--medium normal-case">Woodlands for sale in this location:</h2>

                
<section id="listing--map" class="grid grid--single">
    <div class="grid__inner">
      <div class="card card--woodland card--woodland--map " data-longitude="0.601902" data-latitude="51.234">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?59441" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Ut Voluptatem Ad Delectus. <span class="card__price">£51,406</span></h3>
    <p class="card__meta">NR. Rebeka Forest, Port Alvaside, Avon</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.01953" data-latitude="51.2179">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?2534" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Doloremque Quia Aspernatur Rerum Similique Placeat Voluptates Corrupti Molestiae. <span class="card__price">£6,536</span></h3>
    <p class="card__meta">NR. Alec Spring, Ebertside, Bedfordshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.16252" data-latitude="51.2325">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?6020" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Non At Distinctio Quaerat Qui. <span class="card__price">£27,481</span></h3>
    <p class="card__meta">NR. Marta Estates, Port Bo, Berkshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.193125" data-latitude="51.0601">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?34775" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">At Placeat Eum Non Sed Voluptate Beatae Quia. <span class="card__price">£18,398</span></h3>
    <p class="card__meta">NR. Cassin Greens, Ettiechester, Avon</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.959027" data-latitude="51.2757">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?55045" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Similique Eveniet Omnis Qui Qui Quod Adipisci Voluptas Quia Non. <span class="card__price">£29,627</span></h3>
    <p class="card__meta">NR. Rahul Park, Koeppview, Buckinghamshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.350633" data-latitude="51.1588">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?74284" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Temporibus Nisi Ut. <span class="card__price">£58,368</span></h3>
    <p class="card__meta">NR. Walsh Valleys, East Meredithside, Borders</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.95869" data-latitude="51.2736">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?31102" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Facere Natus Consequuntur Laudantium Eum Dignissimos. <span class="card__price">£95,137</span></h3>
    <p class="card__meta">NR. Krystina Crossroad, Missouriview, Berkshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.213422" data-latitude="51.1155">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?90646" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Sint Quod Laboriosam Consequuntur Velit Minus. <span class="card__price">£30,593</span></h3>
    <p class="card__meta">NR. Feeney Way, New Laverna, Bedfordshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.604208" data-latitude="51.233">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?32208" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Voluptas Tenetur Ipsa Aut. <span class="card__price">£94,020</span></h3>
    <p class="card__meta">NR. Zachary Isle, East Lydiaport, Cambridgeshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.286625" data-latitude="51.1684">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?23972" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Eaque Sed Est Et Consequuntur Ipsam Esse Inventore Quia Est. <span class="card__price">£50,458</span></h3>
    <p class="card__meta">NR. Denesik Springs, South Gaetanoton, Berkshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.01088" data-latitude="51.2234">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?65201" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Sit Sit Minus Officia Doloremque Ipsa Expedita Placeat Modi Tempore. <span class="card__price">£69,781</span></h3>
    <p class="card__meta">NR. Cruickshank Path, Stoltenbergburgh, Borders</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.16044" data-latitude="51.2331">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?57322" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Illo Similique Tenetur Saepe Sapiente Ratione Nemo. <span class="card__price">£23,484</span></h3>
    <p class="card__meta">NR. Amara Meadows, South Kaia, Cambridgeshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.608671" data-latitude="51.2342">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?94041" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Tempore Amet Aut Velit Hic Ut Est Enim Excepturi Ullam. <span class="card__price">£93,479</span></h3>
    <p class="card__meta">NR. Ratke Bridge, Rolfsonview, Avon</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.1662" data-latitude="51.2371">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?8134" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Laborum Corrupti Velit Sed Facere Earum Voluptas. <span class="card__price">£61,899</span></h3>
    <p class="card__meta">NR. Leann Locks, Port Cedrick, Bedfordshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.601902" data-latitude="51.234">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?96207" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Sint Labore Reiciendis Esse Odit Repellendus Itaque. <span class="card__price">£59,149</span></h3>
    <p class="card__meta">NR. Luettgen Road, Lake Clementina, Buckinghamshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.01703" data-latitude="51.2164">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?34834" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Omnis Cum Modi Debitis Exercitationem Vero Eos Odio Esse Voluptatem. <span class="card__price">£22,824</span></h3>
    <p class="card__meta">NR. Brenda Plains, West Lauryville, Berkshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="-1.01441" data-latitude="51.1065">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?93264" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Maxime Et Soluta Impedit Tempore. <span class="card__price">£32,568</span></h3>
    <p class="card__meta">NR. Jacky Islands, Elodyfort, Avon</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.601613" data-latitude="51.2322">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?52322" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Cumque Cumque Explicabo. <span class="card__price">£41,181</span></h3>
    <p class="card__meta">NR. Kreiger Gardens, Abelmouth, Borders</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.644051" data-latitude="51.0998">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?81331" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Nihil Rerum Beatae Vel Ad Quam. <span class="card__price">£97,183</span></h3>
    <p class="card__meta">NR. Anahi Skyway, Port Silasshire, Borders</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.01736" data-latitude="51.2169">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?23224" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Et Quibusdam Cum Ad Impedit. <span class="card__price">£91,024</span></h3>
    <p class="card__meta">NR. Wolf Tunnel, Tayaville, Buckinghamshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.608438" data-latitude="51.2328">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?22779" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Quia Quisquam Ut Ullam Omnis Rerum Vel Quis Qui Fugit. <span class="card__price">£25,366</span></h3>
    <p class="card__meta">NR. Teresa Curve, West Buddyland, Borders</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.639071" data-latitude="51.2495">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?12431" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Sunt Eum Eum Voluptas. <span class="card__price">£22,718</span></h3>
    <p class="card__meta">NR. Towne Rest, New Ilianaton, Bedfordshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.0121" data-latitude="51.22">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?75856" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Reiciendis Eum Dolorum Hic Ad Delectus. <span class="card__price">£49,333</span></h3>
    <p class="card__meta">NR. Schmidt Squares, Mayertchester, Borders</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.404422" data-latitude="51.1205">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?58093" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Quae At Eveniet Nostrum Officiis Voluptatem Voluptatem Hic Esse. <span class="card__price">£35,846</span></h3>
    <p class="card__meta">NR. Reilly Fields, Port Flostad, Buckinghamshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="-0.586818" data-latitude="50.8505">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?44887" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Iure Provident Ut Aut. <span class="card__price">£33,160</span></h3>
    <p class="card__meta">NR. Tromp Forges, Friesenland, Buckinghamshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.22118" data-latitude="51.114">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?1365" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Aperiam Sed Aliquid Hic Natus Sed Ipsum Consequatur Quidem Et. <span class="card__price">£48,905</span></h3>
    <p class="card__meta">NR. Ferry Ville, West Javonside, Buckinghamshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.959027" data-latitude="51.2757">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?21123" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Omnis Sequi Ut Eum Iusto Similique Enim Aut Ea. <span class="card__price">£96,559</span></h3>
    <p class="card__meta">NR. Lehner Wall, South Jonathon, Buckinghamshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="-0.583575" data-latitude="50.853">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?94436" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Amet Fugiat Et Quo. <span class="card__price">£66,982</span></h3>
    <p class="card__meta">NR. Barrows Roads, Guadalupeshire, Cambridgeshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.95869" data-latitude="51.2736">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?60228" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Vero Nisi Ad. <span class="card__price">£47,115</span></h3>
    <p class="card__meta">NR. Marquardt Valley, Farrelltown, Buckinghamshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.16438" data-latitude="51.2363">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?93725" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Odio Dolorem Aut Sit Quam. <span class="card__price">£96,257</span></h3>
    <p class="card__meta">NR. Quitzon Plain, Stoneshire, Cambridgeshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.960194" data-latitude="51.2751">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?46593" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Omnis Distinctio Et. <span class="card__price">£85,251</span></h3>
    <p class="card__meta">NR. Jacobs Wall, Veumborough, Buckinghamshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.01088" data-latitude="51.2234">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?19848" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Deleniti A Numquam Cum Voluptate Vitae Commodi Voluptatum Error. <span class="card__price">£92,926</span></h3>
    <p class="card__meta">NR. Austin Greens, New Walterfort, Borders</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.194919" data-latitude="51.0609">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?27087" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Occaecati Facilis Architecto Qui Sed Ut Sint Impedit. <span class="card__price">£7,160</span></h3>
    <p class="card__meta">NR. Russ Viaduct, Binsmouth, Borders</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.28886" data-latitude="51.1706">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?76667" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Quam Maxime Quasi. <span class="card__price">£7,034</span></h3>
    <p class="card__meta">NR. Deangelo Keys, South Neal, Borders</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.195558" data-latitude="51.0618">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?50231" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Labore Doloribus Et Nemo. <span class="card__price">£19,218</span></h3>
    <p class="card__meta">NR. Kaya Lakes, Kovacekbury, Cambridgeshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.19216" data-latitude="51.0596">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?33393" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Aut Autem Nostrum Qui Et Sunt Possimus. <span class="card__price">£99,111</span></h3>
    <p class="card__meta">NR. Boyer Lock, Geoffreyfort, Borders</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.190418" data-latitude="51.0599">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?79077" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Debitis Asperiores Hic Voluptatem Repellat Ea Quos. <span class="card__price">£50,987</span></h3>
    <p class="card__meta">NR. Schultz Corners, Olinside, Cambridgeshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.01953" data-latitude="51.2179">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?82008" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Perspiciatis Quo Eius Molestiae Occaecati Molestias Temporibus. <span class="card__price">£7,985</span></h3>
    <p class="card__meta">NR. Glover Gateway, Schneiderview, Bedfordshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.213422" data-latitude="51.1155">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?87811" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Repellat Eaque Sunt Eos Repellat. <span class="card__price">£6,619</span></h3>
    <p class="card__meta">NR. Carleton Stream, Erickside, Borders</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.193125" data-latitude="51.0601">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?46771" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Ut Et Dicta Quas Doloribus Deserunt Eos Qui Excepturi Natus. <span class="card__price">£43,187</span></h3>
    <p class="card__meta">NR. Moen Courts, Drewport, Buckinghamshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="-1.01212" data-latitude="51.1072">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?69962" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Soluta Omnis Qui Beatae Est Aut Mollitia. <span class="card__price">£3,943</span></h3>
    <p class="card__meta">NR. Brenden Manor, West Charlene, Borders</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="-0.586818" data-latitude="50.8505">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?76260" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Consequatur Velit Quae Nihil Optio. <span class="card__price">£22,567</span></h3>
    <p class="card__meta">NR. Justen Radial, Bayerfort, Borders</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.19216" data-latitude="51.0596">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?18247" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Maxime Deserunt Enim Sit. <span class="card__price">£74,816</span></h3>
    <p class="card__meta">NR. Johnston Stravenue, Lake Helena, Bedfordshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.610572" data-latitude="51.2336">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?97408" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">In Illo Officiis Officiis Enim Illum Quo Eos Sed. <span class="card__price">£16,085</span></h3>
    <p class="card__meta">NR. Mollie Ford, Ornmouth, Bedfordshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.286625" data-latitude="51.1684">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?78884" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Velit Pariatur Qui Rem. <span class="card__price">£27,240</span></h3>
    <p class="card__meta">NR. Stracke Well, Port Maiyachester, Borders</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.19216" data-latitude="51.0596">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?31733" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">In Modi Sit Officiis A Qui Aliquam. <span class="card__price">£83,740</span></h3>
    <p class="card__meta">NR. Schiller Square, Connorshire, Avon</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.16485" data-latitude="51.234">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?33895" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Dolorum Fugiat Ea Sit Quidem Officiis Voluptatem Blanditiis. <span class="card__price">£15,358</span></h3>
    <p class="card__meta">NR. Kody Harbors, Rustystad, Cambridgeshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="-0.583575" data-latitude="50.853">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?72189" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Quia Ullam Ex Aliquid. <span class="card__price">£81,863</span></h3>
    <p class="card__meta">NR. Christiansen Lodge, Batzhaven, Bedfordshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.286625" data-latitude="51.1684">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?49072" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Quis Fuga Dignissimos Maiores. <span class="card__price">£95,371</span></h3>
    <p class="card__meta">NR. Vincent Ridge, Port Melba, Borders</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="-0.242816" data-latitude="51.133">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?38908" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Cupiditate Nobis Ipsa Et Enim Id. <span class="card__price">£58,310</span></h3>
    <p class="card__meta">NR. Mann Port, Lindgrenside, Bedfordshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

    </div>
</section>


                <button class="button button--inline button--inline--small button--green--dark button--left bottom">
  <span>← Exit map view</span>
</button>

            </div>
    </div>
</section>

    </div>
</section>
</main>

