

<header class="header">
    <div class="header__container">
        <div class="header__inner">
            <h1 class="header__logo"><a href="page-homepage">Woodlands.co.uk</a></h1>

            <div class="navigation">
    <nav class="navigation__list">
        <form action="/search" method="post" class="form form--search form--search--simple">
    <div class="form__inner">
        <div class="form__field">
    <label for="form__search_location" class="form__label"><span>Location</span></label>
    <input type="text" class="form-input" id="form__search_location" name="location" placeholder="Enter location / postcode" />
</div>

        <button class="button button--red button--inline">
  <span>Search</span>
</button>

    </div>
</form>


        <ul>
                <li class="navigation__item navigation__item--has-sub ">
    <a href="page-buy">Buy</a>

    <ul>
            <li class="navigation__item navigation__item--has-sub ">
    <a href="page-buy">Woodlands for sale</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Search for woods</a>

</li>

            <li class="navigation__item  ">
    <a href="#">South East England</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Northern England</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Cumbria</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Central England</a>

</li>

            <li class="navigation__item  ">
    <a href="#">East Anglia</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Devon</a>

</li>

    </ul>
</li>

            <li class="navigation__item navigation__item--has-sub ">
    <a href="page-buy">Buying a wood</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Why buy a wood?</a>

</li>

            <li class="navigation__item  ">
    <a href="#">How to buy a woodland</a>

</li>

            <li class="navigation__item  ">
    <a href="#">How we support owners</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Legal guide</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Finance guide</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Our covenant</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Recommended solicitors</a>

</li>

    </ul>
</li>

            <li class="navigation__item navigation__item--has-sub ">
    <a href="#">Other land for sale</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Tree planting land</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Lakes and rivers</a>

</li>

    </ul>
</li>

            <li class="navigation__item navigation__item--has-sub ">
    <a href="page-sell">Sell your wood</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Sell your wood to us</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Selling your wood through us</a>

</li>

    </ul>
</li>

    </ul>
</li>

                <li class="navigation__item navigation__item--has-sub ">
    <a href="page-owning">Owning a wood</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Planning legislation</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Trees &amp; regulations</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Access &amp; tracks</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Management insurance</a>

</li>

    </ul>
</li>

                <li class="navigation__item navigation__item--has-sub ">
    <a href="page-videos-guides">Videos &amp; guides</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Woodlands TV</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Woodland activities</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Practical guides</a>

</li>

            <li class="navigation__item  ">
    <a href="#">What do people do?</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Looking after your wood</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Tree identification</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Wildlife identification</a>

</li>

    </ul>
</li>

                <li class="navigation__item navigation__item--has-sub ">
    <a href="page-about">About us</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Our team</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Press room</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Our research</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Contact us</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Meet us at woodfairs</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Community woodlands</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Woodland awards</a>

</li>

    </ul>
</li>


            <li class="navigation__item navigation__item--search"><a href="page-search" class="js--navigation-search">Search Woods</a></li>
        </ul>
    </nav>

    <button class="hamburger hamburger--squeeze navigation__button js--navigation" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</div>

        </div>
    </div>

    <form action="/search" method="post" class="form form--search form--search--alt">
    <div class="form__inner">
        <div class="form__field">
    <label for="form__search_location" class="form__label"><span>Location</span></label>
    <input type="text" class="form-input" id="form__search_location" name="location" placeholder="Enter location / postcode" />
</div>

        <div class="form__field">
    <label for="form__search_type" class="form__label"><span>Type</span></label>
    <select class="form-select" id="form__search_type" name="type">
        <option value="woodland">Woodland</option>
        <option value="mixed deciduous">Mixed Deciduous</option>
        <option value="coniferous">Coniferous</option>
        <option value="coppice">Coppice</option>
        <option value="ancient woodland">Ancient Woodland</option>
    </select>
</div>


        <div class="form__field form__field--switch form__field--switch--reverse">
    <input type="checkbox" class="form-checkbox" id="form__search_sold" name="sold" />
    <label for="form__search_sold" class="form__label"><i></i><span>Show Sold</span></label>
</div>


        <button class="button button--red button--inline">
  <span>Search</span>
</button>

    </div>
</form>

</header>


<main>
<section class="section section--map">
    <div class="section__inner">
<section class="grid grid--2/3--reverse">
    <div class="grid__inner">
            <div class="grid__item map--listing">
                <button class="button button--inline button--green--dark button--left">
  <span>← Exit map view</span>
</button>


                <h2 class="section__title section__title--medium">Woodlands for sale in this location</h2>

                
<section class="grid grid--single">
    <div class="grid__inner">
      <div class="card card--woodland card--woodland--simple">
  <a href="page-woodland" class="card__link">
    <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?7514" />
    </div>
</div>

    <div class="card__body">
      <h3 class="card__title">Eligendi Consequatur Aliquam Qui Doloribus Maiores Voluptatibus Soluta.</h3>
      <p class="card__meta">NR. Brakus Camp, Lubowitzmouth, Avon</p>
      <p class="card__extra">About 5 ½ acres</p>
      <div class="card__content">
        Qui quia est consequuntur consectetur est totam necessitatibus. Voluptate sint quod iure at non. Veniam dolores et et veniam adipisci nostrum sed omnis labore. Placeat ut ea fugit beatae voluptatibus. Et iusto dignissimos ut. Iusto excepturi quidem molestiae.
      </div>
    </div>
    <div class="card__banner">
      £78,137
    </div>
  </a>
</div>

      <div class="card card--woodland card--woodland--simple">
  <a href="page-woodland" class="card__link">
    <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?74502" />
    </div>
</div>

    <div class="card__body">
      <h3 class="card__title">Voluptatem Sed Dolor Consequatur Perspiciatis Dignissimos Aut Minima.</h3>
      <p class="card__meta">NR. Marquardt Extensions, South Chelseyberg, Bedfordshire</p>
      <p class="card__extra">Almost 4 acres</p>
      <div class="card__content">
        Neque ea amet velit sed. Aut corporis porro sed quis ea quis libero quam distinctio. Est quo eligendi a. Qui non vitae facilis odit et dolores. Labore impedit aut optio expedita sunt enim modi excepturi. Commodi delectus id iste officia in inventore.
      </div>
    </div>
    <div class="card__banner">
      £80,087
    </div>
  </a>
</div>

      <div class="card card--woodland card--woodland--simple">
  <a href="page-woodland" class="card__link">
    <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?31289" />
    </div>
</div>

    <div class="card__body">
      <h3 class="card__title">Ratione Molestias Rem Molestias Quam Rem Aliquam Libero.</h3>
      <p class="card__meta">NR. Hackett Knoll, Monroechester, Buckinghamshire</p>
      <p class="card__extra">Almost 4 acres</p>
      <div class="card__content">
        Modi qui repellendus repudiandae rerum aut ea sapiente nisi. Sunt suscipit est dolor rem voluptas voluptas. Quaerat non sapiente corrupti sit rerum tempora facilis. Exercitationem omnis ut eaque mollitia.
      </div>
    </div>
    <div class="card__banner">
      £73,879
    </div>
  </a>
</div>

      <div class="card card--woodland card--woodland--simple">
  <a href="page-woodland" class="card__link">
    <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?88340" />
    </div>
</div>

    <div class="card__body">
      <h3 class="card__title">A Quia Architecto Non Laboriosam Quas Nobis Soluta.</h3>
      <p class="card__meta">NR. Will Roads, Rudystad, Avon</p>
      <p class="card__extra">About 5 ½ acres</p>
      <div class="card__content">
        Quo omnis excepturi ut qui corporis. Dolores sint quo. Aut aperiam qui est. Qui illum incidunt iure maiores impedit qui. Quis voluptas nostrum. Deleniti necessitatibus impedit.
      </div>
    </div>
    <div class="card__banner">
      £94,741
    </div>
  </a>
</div>

      <div class="card card--woodland card--woodland--simple">
  <a href="page-woodland" class="card__link">
    <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?76541" />
    </div>
</div>

    <div class="card__body">
      <h3 class="card__title">Velit Deserunt Fugiat Voluptatem Eligendi.</h3>
      <p class="card__meta">NR. Hettinger Shoals, Bernardomouth, Avon</p>
      <p class="card__extra">About 5 ½ acres</p>
      <div class="card__content">
        Delectus error expedita. Quos molestiae nihil accusantium. Sit qui tempora non quis voluptatem molestiae. Aperiam dolores deleniti eum omnis odio consequatur a dignissimos. Vero doloribus magnam molestias. Quibusdam sed eveniet.
      </div>
    </div>
    <div class="card__banner">
      £12,498
    </div>
  </a>
</div>

      <div class="card card--woodland card--woodland--simple">
  <a href="page-woodland" class="card__link">
    <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?36650" />
    </div>
</div>

    <div class="card__body">
      <h3 class="card__title">Incidunt Veniam Voluptatem Quidem Ipsum Accusantium Nihil Non.</h3>
      <p class="card__meta">NR. Janessa Circles, Felipeland, Berkshire</p>
      <p class="card__extra">About 5 ½ acres</p>
      <div class="card__content">
        Quia aut quia quas accusantium voluptatem occaecati mollitia. Sunt odio repellat dolorem et molestias velit et. Qui quos nesciunt.
      </div>
    </div>
    <div class="card__banner">
      £64,482
    </div>
  </a>
</div>

    </div>
</section>

            </div>
            <div class="grid__item map--map">
                <div class="map" data-map>
    Map…
</div>

            </div>
    </div>
</section>

    </div>
</section>
</main>

