

<!-- Start: @social-button--facebook -->
<div class="fb-like" data-href="xxx" data-width="" data-layout="button" data-action="like" data-size="small" data-share="false"></div>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v8.0&appId=211175705609609" nonce="wawGv3W2"></script>
<!-- End: @social-button--facebook -->

<!-- Start: @social-button--twitter -->
<a class="twitter-share-button" href="https://twitter.com/intent/tweet" data-size="small">Tweet</a>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
<!-- End: @social-button--twitter -->

