@use 'sass:map';

$variants: (
    'red': (
        'text': 'white',
        'bg': 'brand-red-dark',
        'border': 'brand-red-dark',
        'outline': (
            'text': 'brand-red',
            'bg': 'white',
            'border': 'brand-red',
        ),
        'hover': (
            'text': 'white',
            'bg': 'brand-red',
            'border': 'brand-red',
        )
    ),
    'green': (
        'text': 'white',
        'bg': 'brand-green-light',
        'border': 'brand-green-light',
        'outline': (
            'text': 'brand-green',
            'bg': 'white',
            'border': 'brand-green-dark',
        ),
        'hover': (
            'text': 'white',
            'bg': 'brand-green-dark',
            'border': 'brand-green-dark',
        )
    ),
    'yellow': (
        'text': 'brand-red-dark',
        'bg': 'brand-yellow',
        'border': 'brand-yellow',
        'outline': (
            'text': 'brand-yellow-dark',
            'bg': 'white',
            'border': 'brand-yellow-dark',
        ),
        'hover': (
            'text': 'brand-red-dark',
            'bg': 'brand-yellow-light',
            'border': 'brand-yellow',
        )
    ),
);

.button {
    @apply flex justify-center w-full rounded-md px-5 py-4 my-6 uppercase text-sm font-bold tracking-widest;
    @apply bg-white text-brand-red-dark border border-brand-red-dark;

    &:last-child {
        @apply mb-0;
    }

    &--inline {
        @screen sm {
            @apply w-auto mx-auto;
        }
    }

    &--small {
        @apply text-sm normal-case;
    }

    &:hover,
    &:focus,
    &:active {
        @apply border-brand-red text-brand-red;
    }

    &:focus {
        @apply outline-none;
    }

    @each $prefix, $colors in $variants {
        $text: map.get($colors, 'text');
        $bg: map.get($colors, 'bg');
        $border: map.get($colors, 'border');
        $hover: map.get($colors, 'hover');
        $outline: map.get($colors, 'outline');

        &--#{$prefix} {
            @apply text-#{$text} bg-#{$bg} border-#{$border};

            &--outline {
                $text: map.get($outline, 'text');
                $bg: map.get($outline, 'bg');
                $border: map.get($outline, 'border');

                @apply text-#{$text} bg-#{$bg} border-#{$border};
            }

            &:hover,
            &:focus,
            &:active {
                $text: map.get($hover, 'text');
                $bg: map.get($hover, 'bg');
                $border: map.get($hover, 'border');

                @apply text-#{$text} bg-#{$bg} border-#{$border};
            }
        }
    }
}
