<div class="{{modifier 'section' modifiers}}">
  <h2 class="section__title text-left">{{ title }}</h2>

  {{#each comments }}
      {{ render '@block--blog-comment' this merge=true }}
  {{/each}}
</div>
