<h2 class="section__title section__title--small section__title--alt text-left">{{ title }}</h2>

<ul class="{{modifier 'listing' modifiers}}">
  {{#each list }}
    <li class="list__item">
        {{ render '@button' this merge=true }}
    </li>
  {{/each}}
</ul>
