.footer {
    @apply py-16 px-6 text-center bg-brand-green-dark text-white;

    &__inner {
        @apply mx-auto max-w-screen-xl;
    }

    &__org {
        @apply overflow-hidden block w-full bg-auto bg-no-repeat bg-center my-6;

        height: 50px;
        text-indent: 100%;
        background-image: url(../images/logo.svg);
    }

    &__navigation {
        @apply pb-12 mb-12 border-b border-brand-green text-lg;
        @apply hidden;

        @screen md {
            @apply block;
        }

        ul {
            column-count: 3;
            column-gap: 4rem;

            @screen lg {
                column-count: 4;
            }

            > li {
                @apply block pb-2 text-left whitespace-no-wrap;
            }
        }

        a {
            @apply block no-underline text-white;

            &:hover,
            &:focus,
            &:active {
                @apply underline;
            }
        }

        &__section {
            > a {
                @apply text-brand-yellow-dark font-bold;
            }
        }
    }

    &__copyright {
        //
    }

    &__text {
        //
    }

    &__links {
        @apply flex justify-center text-center;

        li {
            @apply relative mx-2;

            &:before {
                @apply -ml-1 mr-3;
                content: '•';
            }

            &:first-child:before {
                content: "";
            }
        }

        a {
            @apply underline text-white;

            &:hover,
            &:focus,
            &:active {
                @apply no-underline;
            }
        }
    }

    .listing--social {
        @apply pb-12 mb-12 border-b border-brand-green;
    }
}
