<div class="{{modifier 'cta' cta.modifiers}}">
  <h2 class="cta__title">{{ cta.title }}</h2>
  <div class="cta__text">
    {{ cta.text }}
  </div>
  {{ render '@button' cta.button merge=true }}
</div>
