.cta {
    @apply p-6;

    @screen md {
        @apply text-center;
    }

    hr {
        @apply my-4;
    }

    &__title {
        @apply font-display leading-none text-3xl not-italic text-brand-red-dark font-bold mb-6;

        @screen lg {
            @apply text-4xl;
        }
    }

    &__text {
        @apply my-8 text-lg leading-tight;
    }

    &__items {
        @apply flex flex-wrap items-start pt-4;
    }

    &__item {
        @apply flex flex-row-reverse items-center w-full mb-6;

        @screen md {
            @apply flex-col-reverse w-48 mx-auto px-4 w-1/2;
        }

        @screen lg {
            @apply w-1/4 mb-0;
        }

        &__title {
            @apply text-base text-gray-dark font-bold uppercase mr-auto ml-5;

            @screen md {
                @apply mx-auto mt-4;
            }
        }
    }

    &--help {
        @apply text-center bg-brand-yellow bg-no-repeat;

        padding-top: 80px;
        background-image: url(../images/question-mark.png);
        background-position: 50% -25px;

        .cta__inner {
            @apply max-w-xl mx-auto;
        }
    }
}
