<div class="item colour">
    <h2 class="item__title colour__title">Brand Red</h2>
    <div class="item__section colour__section colour__section--red">
        <div class="item__item colour__item colour__item--default">
            <ul>
                <li><strong>Name</strong>: Default</li>
                <li><strong>Value</strong>: <code>brand-red</code></li>
                <li><strong>Hex</strong>: <code>#c30028</code></li>
            </ul>
            <div></div>
        </div>
        <div class="item__item colour__item colour__item--dark">
            <ul>
                <li><strong>Name</strong>: Dark</li>
                <li><strong>Value</strong>: <code>brand-red-dark</code></li>
                <li><strong>Hex</strong>: <code>#640a0a</code></li>
            </ul>
            <div></div>
        </div>
    </div>
</div>

<div class="item colour">
    <h2 class="item__title colour__title">Brand Green</h2>
    <div class="item__section item__section colour__section colour__section--green">
        <div class="item__item colour__item colour__item--default">
            <ul>
                <li><strong>Name</strong>: Default</li>
                <li><strong>Value</strong>: <code>brand-green</code></li>
                <li><strong>Hex</strong>: <code>#02532f</code></li>
            </ul>
            <div></div>
        </div>
        <div class="item__item colour__item colour__item--dark">
            <ul>
                <li><strong>Name</strong>: Dark</li>
                <li><strong>Value</strong>: <code>brand-green-dark</code></li>
                <li><strong>Hex</strong>: <code>#0b3824</code></li>
            </ul>
            <div></div>
        </div>
        <div class="item__item colour__item colour__item--light">
            <ul>
                <li><strong>Name</strong>: Light</li>
                <li><strong>Value</strong>: <code>brand-green-light</code></li>
                <li><strong>Hex</strong>: <code>#007a43</code></li>
            </ul>
            <div></div>
        </div>
    </div>
</div>

<div class="item colour">
    <h2 class="item__title colour__title">Brand Yellow</h2>
    <div class="item__section colour__section colour__section--yellow">
        <div class="item__item colour__item colour__item--default">
            <ul>
                <li><strong>Name</strong>: Default</li>
                <li><strong>Value</strong>: <code>brand-yellow</code></li>
                <li><strong>Hex</strong>: <code>#fccb6e</code></li>
            </ul>
            <div></div>
        </div>
        <div class="item__item colour__item colour__item--light">
            <ul>
                <li><strong>Name</strong>: Light</li>
                <li><strong>Value</strong>: <code>brand-yellow-light</code></li>
                <li><strong>Hex</strong>: <code>#faf5ed</code></li>
            </ul>
            <div></div>
        </div>
    </div>
</div>

<div class="item colour">
    <h2 class="item__title colour__title">Gray</h2>
    <div class="item__section colour__section colour__section--gray">
        <div class="item__item colour__item colour__item--default">
            <ul>
                <li><strong>Name</strong>: Default</li>
                <li><strong>Value</strong>: <code>brand-gray</code></li>
                <li><strong>Hex</strong>: <code>#e5e7e8</code></li>
            </ul>
            <div></div>
        </div>
        <div class="item__item colour__item colour__item--dark">
            <ul>
                <li><strong>Name</strong>: Dark</li>
                <li><strong>Value</strong>: <code>brand-gray-dark</code></li>
                <li><strong>Hex</strong>: <code>#c0ced2</code></li>
            </ul>
            <div></div>
        </div>
        <div class="item__item colour__item colour__item--light">
            <ul>
                <li><strong>Name</strong>: Light</li>
                <li><strong>Value</strong>: <code>brand-gray-light</code></li>
                <li><strong>Hex</strong>: <code>#f4f5f7</code></li>
            </ul>
            <div></div>
        </div>
    </div>
</div>
