<div class="item">
    <h2 class="item__title">Fonts</h2>
    <div class="item__section item__section--wide">
        <div class="item__item item__item--display">
            <ul>
                <li><strong>Name</strong>: <code>Display</code></li>
                <li><strong>Value</strong>: <code>font-display</code></li>
                <li><strong>Font</strong>: <code>FreightNeo Pro Bold</code></li>
                <li><strong>Resource</strong>: <a href="https://fonts.adobe.com/fonts/freight-neo">Adobe Fonts</a></li>
            </ul>
            <div>
                <h1>Display Font</h1>
                <p>{{ text }}</p>
            </div>
        </div>
        <div class="item__item item__item--body">
            <ul>
                <li><strong>Name</strong>: <code>Body</code></li>
                <li><strong>Value</strong>: <code>font-body</code></li>
                <li><strong>Font</strong>: <code>Sofia Pro</code></li>
                <li><strong>Resource</strong>: <a href="https://fonts.adobe.com/fonts/sofia">Adobe Fonts</a></li>
            </ul>
            <div>
                <h1>Body Font</h1>
                <p>{{ text }}</p>
            </div>
        </div>
    </div>
</div>
