.media {
    @apply relative;

    &__content {
        @apply relative overflow-hidden w-full;

        padding-bottom: 75%; /* 4:3 */
        height: 0;

        > * {
            @apply absolute top-0 right-0 w-full h-full;
            @apply transition-all duration-300 ease-in-out;
        }
    }

    &--image {
        //
    }

    &--video {
        //
    }

    &--widescreen {
        .media__content {
            padding-bottom: 56.25%; /* 16:9 */
        }
    }

    &--wide {
        .media__content {
            padding-bottom: 33.33%;
        }
    }

    &--square {
        .media__content {
            padding-bottom: 100%;
        }
    }
}
