{{#if media.video}}
    {{ render '@media--video' this merge=true }}
{{else}}
    <div class="{{modifier _self.baseHandle media.modifiers}}">
        <div class="media__content">
            <img src="{{ media.src }}" alt="" title="" />
        </div>
    </div>
{{/if}}
