<header class="header">
    <h1 class="header__logo"><a href="{{ header.link }}">{{ header.text }}</a></h1>

    <button type="button" class="header__search js--search"></button>

    <button class="hamburger hamburger--squeeze header__navigation js--navigation" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</header>

{{ render '@layout-navigation' navigation merge=true }}
