.footer {
    @apply py-16 px-6 text-center bg-brand-green-dark text-white;

    &__inner {
        //
    }

    &__org {
        @apply overflow-hidden block w-full bg-auto bg-no-repeat bg-center my-6;

        height: 50px;
        text-indent: 100%;
        background-image: url(../images/logo.svg);
    }

    &__copyright {
        //
    }

    &__text {
        //
    }

    &__navigation {
        @apply flex justify-center text-center;

        li {
            @apply relative mx-2;

            &:before {
                @apply -ml-1 mr-3;
                content: '•';
            }

            &:first-child:before {
                content: "";
            }
        }

        a {
            @apply underline;

            &:hover,
            &:focus,
            &:active {
                @apply no-underline;
            }
        }
    }

    .listing--social {
        @apply pb-12 mb-12 border-b border-brand-green;
    }
}
