@import "mapbox-gl/dist/mapbox-gl";

.map {
    @apply relative bg-gray-light w-full h-full p-6;

    &__key {
        @apply absolute top-0 inset-x-0 mt-2 p-3 text-black text-center bg-white bg-opacity-50;

        &:empty {
            @apply hidden;
        }
    }

    &--svg {
        @apply p-0 bg-transparent block w-full h-full;

        svg {
            @apply mx-auto;

            max-height: 500px;

            @screen lg {
                @apply mr-0;
            }

            @media (min-height: 1024px) {
                max-height: 700px;
            }
        }

        path {
            @apply fill-current stroke-1 text-map;

            stroke: theme('colors.background.default');

            &.selected {
                @apply text-map-selected;
            }

            &[key] {
                @apply cursor-pointer;

                &:hover,
                &:focus,
                &:active {
                    @apply text-map-hover;
                }
            }
        }
    }

    &__marker {
        @apply cursor-pointer bg-cover;

        height: 40px;
        width: 40px;
        background-image: url(../images/marker.png);
    }

    .mapboxgl-popup {
        @apply max-w-3xl;
    }

    .mapboxgl-popup-content {
        @apply text-center;

        .mapboxgl-popup-close-button {
            @apply text-2xl mr-2 mt-1 p-1 text-gray-dark z-50 bg-white;

            &:hover,
            &:focus,
            &:active {
                @apply bg-white text-black;
            }
        }

        .card__body {
            @apply px-0 pb-1;
        }

        .card__title {
            @apply text-brand-green-light;
        }

        .card__meta {
            @apply mb-2 text-brand-green font-body-bold text-base;
        }

        .card__more {
            @apply text-base;
        }
    }
}
