<div class="{{modifier 'gallery' gallery.modifiers}}">
    <ul class="gallery__list">
      {{#each gallery }}
        <li class="gallery__item">
            {{ render '@media' this merge=true }}
        </li>
      {{/each}}
    </ul>
</div>
