<div class="{{modifier 'gallery' modifiers}}">
    <ul class="gallery__thumbnails">
      {{#each gallery }}
        <li class="gallery__item">
            {{ render '@media' this merge=true }}
        </li>
      {{/each}}
    </ul>
</div>
