@import "tiny-slider/src/tiny-slider";
@import "photoswipe/src/css/main";
@import "photoswipe/src/css/default-skin/default-skin";

.gallery--carousel {
    @apply relative;

    .gallery__list {
        @apply cursor-zoom;
    }

    .gallery__thumbnails {
        @apply hidden;

        @screen sm {
            @apply grid;
        }

        .gallery__item {
            @apply rounded;
        }
    }

    .tns-outer {
        @apply relative mb-4;

        &:hover {
            .tns-controls {
                @apply visible;
            }
        }
    }

    .tns-inner {
        @apply relative;

        .gallery__list {
            @apply mb-0;
        }
    }

    .tns-nav {
        @apply absolute top-0 inset-x-0 text-center z-10 pointer-events-none;

        > button {
            @apply inline-block overflow-hidden h-3 w-3 mx-1 rounded-full bg-white indent-full pointer-events-auto;

            background-color: rgba(#fff, 0.5);

            &.tns-nav-active {
                @apply bg-white;
            }

            &:hover,
            &:focus,
            &:active {
                @apply bg-white;
            }
        }
    }

    .tns-controls {
        @apply invisible absolute inset-0 flex items-center justify-between z-10 pointer-events-none;
        @apply visible;

        > button {
            @apply relative block overflow-hidden h-10 w-10 rounded-full bg-white indent-full pointer-events-auto mx-3;

            background-color: rgba(#fff, 0.9);

            &[disabled] {
                @apply invisible;
                @apply visible;
            }

            &::after {
                @apply absolute border-brand-red-dark;

                content: '';
                top: 50%;
                height: 12px;
                width: 12px;
                margin: -6px 0 0;
                border-width: 0 2px 2px 0;
            }

            &:hover,
            &:focus,
            &:active {
                @apply bg-white;

                &::after {
                    @apply border-brand-red;
                }
            }
        }

        > [data-controls="prev"] {
            &::after {
                left: 50%;
                margin-left: -4px;
                transform: rotate(135deg);
            }
        }

        > [data-controls="next"] {
            &::after {
                right: 50%;
                margin-right: -4px;
                transform: rotate(315deg);
            }
        }
    }
}
