<h2 class="section__title section__title--small section__title--alt u-text-left">{{ title }}</h2>

<ul class="list list--unstyled list--spaced">
  {{#each buttons }}
    <li>
        {{ render '@button' this merge=true }}
    </li>
  {{/each}}
</ul>
