{{ render '@layout-header' header merge=true }}

<main class="narrow">
    {{#> @section modifiers='bg-yellow,short' }}
        {{ render '@block--hero' hero }}
    {{/ @section }}

    {{#> @section }}
        {{ render '@typography-text' }}
    {{/ @section }}

</main>

{{ render '@layout-footer' }}
