.accordion {
    @apply relative pt-6;

    &__title {
        @apply text-brand-red-dark text-xl pb-3 font-bold border-b border-gray;
    }

    &__item {
        @apply relative border-b border-gray;

        &:first-child {
            @apply border-t;
        }

        &__title {
            @apply relative text-brand-red text-lg font-bold cursor-pointer py-3 outline-none;

            &::after {
                @apply absolute right-0 duration-300 transition-transform text-center mr-3 w-3 h-3 text-lg border-brand-red border-b-2 border-l-2;

                content: '';
                top: 50%;
                margin-top: -0.375rem;
                transform: rotate(-45deg);
            }

            &:hover,
            &:focus,
            &:active {
                @apply text-brand-green-light;

                &::after {
                    @apply border-brand-green-light;
                }
            }
        }

        &__content {
            @apply relative overflow-hidden m-0;

            transition-property: all;
            transition-timing-function: ease;

            > div {
                @apply pb-5;
            }
        }

        &.js-enabled {
            > .accordion__item__content {
                visibility: hidden;
            }
        }

        &.is-active {
            > .accordion__item__title {
                @apply text-brand-green-light;

                &::after {
                    transform: rotate(135deg);
                }
            }

            > .accordion__item__content {
                visibility: visible;
            }
        }
    }
}
