.form__field.form__field--switch {
    @apply flex items-center;

    label {
        @apply flex items-center w-auto mr-auto cursor-pointer;

        > span {
            @apply pl-2;
        }

        > i {
            @apply relative block h-8 w-16 text-transparent bg-white select-none rounded-lg border border-brand-green;

            border-radius: theme('height.8');

            &::after {
                @apply block absolute h-8 w-8 bg-white border border-brand-green rounded-full;
                @apply transition-transform duration-300;

                content: '';
                top: -1px;
                left: -1px;
                transition: 0.3s;
            }
        }

        &:active {
            > i::after {
                @apply w-10;
            }
        }
    }

    input {
        @apply sr-only;

        &:checked + label > i {
            @apply bg-gray-light;

            &::after {
                @apply bg-brand-green;

                .form--search--alt & {
                    @apply border-white;
                }

                left: 100%;
                transform: translateX(-100%);
            }
        }
    }

    &--reverse {
        label {
            @apply flex-row-reverse;

            > span {
                @apply pl-3 pr-3;
            }
        }
    }

    &--standalone {
        label > span {
            @apply sr-only;
        }
    }

    &--large {
        label {
            > i {
                @apply h-10 w-20;

                border-radius: theme('height.10');

                &::after {
                    @apply h-10 w-10;
                }
            }

            &:active {
                > i::after {
                    @apply w-12;
                }
            }
        }
    }

    &--green {
        input:checked + label > i {
            @apply bg-brand-green;

            &::after {
                @apply bg-white;
            }
        }
    }
}
