<form action="" method="GET" class="form search">
    <div class="form__field">
        <label for="search__search">{{ search.label }}</label>
        <input type="text" id="search__search" name="q" placeholder="{{ search.placeholder }}" />
    </div>
    <button type="submit" class="button button--yellow">Search woods for sale</button>
</form>
