.header {
    @apply fixed inset-x-0 z-40 p-6 pl-3 text-white bg-brand-green-dark;

    &__inner {
        @apply mx-auto max-w-screen-xl flex justify-between items-center;
    }

    &__logo {
        @apply relative z-40 font-display text-4xl text-center m-0 overflow-hidden;

        a {
            @apply block bg-auto bg-no-repeat bg-center;

            width: 300px;
            text-indent: 100%;
            background-image: url(../images/logo.svg);

            &:hover,
            &:focus,
            &:active {
                @apply text-brand-red-dark;
            }
        }
    }

    &__search {
        @apply relative z-40 order-last bg-brand-red-dark h-8 w-8;
    }

    @screen md {
        &__logo {
            @apply w-auto;
        }

        &__search {
            @apply hidden;
        }
    }
}
