<div class="{{modifier 'blog-comment' modifiers}}">
  <div class="blog-comment__content typography">
    {{{markdown text }}}
  </div>

  <div class="blog-comment__meta">
    <p class="blog-comment__author"><span>{{ author }}</span></p>
    <p class="blog-comment__date"><span>{{ date }}</span></p>
  </div>
</div>
