$hamburger-layer-width: 32px;
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-height: 5px;
$hamburger-layer-spacing: 6px;
$hamburger-layer-border-radius: 0;
$hamburger-layer-color: theme('colors.brand-yellow.default');
$hamburger-hover-opacity: 0.8;
$hamburger-types: (
    spin,
    squeeze
);

$navigationCount: 5;
$animationDelay: 150ms;

@import '~hamburgers/_sass/hamburgers/hamburgers';

.navigation {
    @apply flex flex-col bg-brand-green-dark;

    &__list {
        @apply fixed inset-0 z-30 flex flex-col justify-center items-center bg-brand-green-dark px-6 py-8 overflow-hidden;
        @apply origin-top duration-300 ease-in-out;

        transform: translateY(-100%);

        body.navigation--shown & {
            transform: translateY(0);
        }
    }

    &__item {
        @apply relative opacity-0 -translate-x-48 origin-top duration-300 ease-in-out text-4xl;

        transition-property: transform, opacity;

        @for $i from 1 through $navigationCount {
            &:nth-child(#{$i}) {
                transition-delay: $i * $animationDelay;
            }
        }

        body.navigation--shown & {
            @apply opacity-100 translate-x-0;
        }

        @screen md {
            @apply text-base mx-2;
        }

        > a {
            @apply py-2 text-brand-yellow font-bold no-underline;

            &:hover,
            &:focus,
            &:active {
                @apply text-brand-yellow-light;
            }
        }

        &--active > a {
            @apply text-brand-yellow-light;
        }

    }

    &__button {
        @apply z-40 order-first;
    }
}

@screen lg {
    .navigation {
        @apply relative;

        &__list {
            @apply relative p-0;
            transition-property: none;
            transform: translateY(0);

            > ul {
                @apply flex flex-row justify-end items-center w-full;
            }
        }

        &__item {
            @apply flex items-center opacity-100 ml-2 mr-1;
            transition-property: none;

            &::before {
                @apply inline-block border-l border-brand-green-light h-4 mr-3;
                content: '';
            }

            &:first-child::before {
                @apply hidden;
            }

            @screen xl {
                @apply mx-3;

                &::before {
                    @apply mr-6;
                }
            }

            > a {
                @apply py-4 text-white font-normal uppercase tracking-wide;

                &:hover,
                &:focus,
                &:active {
                    @apply text-brand-yellow-dark;
                }
            }

            &--search {
                @apply mr-0;

                > a {
                    @apply text-brand-yellow-dark;

                    &:after {
                        @apply pl-2;
                        content: "?";
                    }
                }
            }
        }

        &__button {
            @apply hidden;
        }
    }
}


