$hamburger-layer-width: 32px;
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-height: 5px;
$hamburger-layer-spacing: 6px;
$hamburger-layer-border-radius: 0;
$hamburger-layer-color: theme('colors.brand-yellow.default');
$hamburger-hover-opacity: 0.8;
$hamburger-types: (
    spin,
    squeeze
);

$navigationCount: 5;
$animationDelay: 150ms;

@import '~hamburgers/_sass/hamburgers/hamburgers';

body.navigation--shown {
    @apply overflow-hidden;
}

.navigation {
    @apply flex flex-col bg-brand-green-dark;

    &__list {
        @apply fixed top-0 inset-x-0 z-30 block bg-brand-green max-h-screen overflow-auto;
        @apply origin-top duration-300 ease-in-out;

        padding-top: 102px;
        transform: translateY(-120%);

        body.navigation--shown & {
            transform: translateY(0);
        }
    }

    &__item {
        @apply relative text-2xl border-b border-brand-green-light;

        > a {
            @apply relative block py-4 px-6 text-white font-normal no-underline;
            @apply origin-top duration-300 ease-in-out opacity-0 transform -translate-x-48;

            transition-property: transform, opacity;

            &:hover,
            &:focus {
                @apply text-brand-yellow bg-brand-green-dark;
            }

            body.navigation--shown & {
                @apply opacity-100 translate-x-0;
            }
        }

        @for $i from 1 through $navigationCount {
            &:nth-child(#{$i}) > a {
                transition-delay: $i * $animationDelay;
            }
        }

        > ul {
            @apply hidden bg-brand-green-dark;

            li {
                @apply border-b-0 text-lg border-brand-green;
            }

            a {
                @apply py-2;
            }

            > li {
                @apply border-t;

                ul {
                    @apply pb-2 -mt-1;
                }

                li {
                    @apply border-t-0;

                    a {
                        @apply py-1;
                    }
                }
            }
        }

        &--search {
            @apply hidden;
        }

        &--active > a {
            @apply text-brand-yellow-light;
        }

        &--is-active {
            > a,
            > a:focus,
            > a:active {
                @apply bg-brand-green-dark text-brand-yellow-dark;
            }

            > ul {
                @apply block;
            }
        }
    }

    &__button {
        @apply z-40 order-first;
    }

    .form--search {
        @apply sticky block top-0 transform-none border-b border-brand-green-light;
    }
}

@screen lg {
    .navigation {
        @apply relative;

        &__list {
            @apply relative p-0 bg-transparent overflow-visible;

            transition-property: none;
            transform: translateY(0);

            > ul {
                @apply flex flex-row justify-end items-center w-full;
            }
        }

        &__item {
            @apply relative flex items-center ml-2 mr-1 border-0;

            &::before {
                @apply inline-block border-l border-brand-green-light h-4 mr-3;

                content: '';
            }

            &:first-child::before {
                @apply hidden;
            }

            @screen xl {
                @apply mx-3;

                &::before {
                    @apply mr-6;
                }
            }

            > a {
                @apply px-0 py-4 border-0 opacity-100 translate-x-0 text-white text-base font-normal uppercase tracking-wide;

                transition-property: none;

                &:hover,
                &:focus,
                &:active {
                    @apply text-brand-yellow-dark bg-transparent;
                }
            }

            &--search {
                @apply flex mr-0;

                > a {
                    @apply text-brand-yellow-dark;

                    &:hover,
                    &:focus {
                        @apply text-brand-yellow;
                    }

                    &::after {
                        @apply inline-block ml-2 bg-center bg-no-repeat bg-auto h-4 w-8 text-base align-text-top;

                        content: "";
                        margin-top: 3px;
                        background-image: url(../icons/search.png);
                    }
                }
            }

            > ul {
                @apply hidden absolute top-0 left-0 bg-brand-green w-screen;

                top: 50px;

                li {
                    @apply block m-0;

                    &::before {
                        @apply hidden;
                    }
                }

                a {
                    @apply normal-case p-0 m-0 border-0;
                }

                ul {
                    @apply relative top-0;
                }
            }
        }

        &__button {
            @apply hidden;
        }

        .form--search {
            @apply hidden;
        }
    }
}
