<div class="navigation">
    <nav class="navigation__list">
        {{ render '@block--search--simple' search merge=true }}

        {{#if navigation}}
        <ul>
            {{#each navigation}}
                {{ render '@layout-navigation--item' (navigationContext this) }}
            {{/each}}

            <li class="navigation__item navigation__item--search"><a href="page-search" class="js--navigation-search">Search Woods</a></li>
        </ul>
        {{/if}}
    </nav>

    <button class="hamburger hamburger--squeeze navigation__button js--navigation" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</div>
