$hamburger-layer-width: 32px;
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-height: 5px;
$hamburger-layer-spacing: 6px;
$hamburger-layer-border-radius: 0;
$hamburger-layer-color: theme('colors.brand-yellow.default');
$hamburger-hover-opacity: 0.8;
$hamburger-types: (
    spin,
    squeeze
);

$arrowSize: 10px;
$navigationCount: 5;
$animationDelay: 150ms;

@import '~hamburgers/_sass/hamburgers/hamburgers';

body.navigation--shown {
    @apply overflow-hidden;

    @screen lg {
        @apply overflow-auto;
    }
}

.navigation {
    @apply flex flex-col bg-brand-green-dark;

    &__list {
        @apply fixed top-0 inset-x-0 z-30 block bg-brand-green max-h-screen overflow-auto;
        @apply origin-top duration-300 ease-in-out;

        padding-top: 102px;
        transform: translateY(-120%);

        body.navigation--shown & {
            transform: translateY(0);
        }
    }

    &__item {
        @apply relative text-2xl border-b border-brand-green-divider;

        > a,
        > button {
            @apply relative block py-4 px-6 text-white font-normal no-underline;
            @apply origin-top duration-300 ease-in-out opacity-0 transform -translate-x-48;
            @apply w-full text-left;

            transition-property: transform, opacity;

            &::after {
                @apply hidden absolute right-0 mr-6 border-white;

                content: '';
                top: 50%;
                height: 12px;
                width: 12px;
                margin-top: -6px;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }

            &:hover,
            &:focus {
                @apply text-brand-yellow bg-brand-green-dark;

                &::after {
                    @apply border-brand-yellow;
                }
            }

            body.navigation--shown & {
                @apply opacity-100 translate-x-0;
            }
        }

        @for $i from 1 through $navigationCount {
            &:nth-child(#{$i}) > a {
                transition-delay: $i * $animationDelay;
            }
        }

        > ul {
            @apply hidden bg-brand-green-dark;

            li {
                @apply border-b-0 text-lg border-brand-green;
            }

            a,
            button {
                @apply py-2;
            }

            > li {
                @apply border-t;

                ul {
                    @apply pb-2 -mt-1;
                }

                li {
                    @apply border-t-0;

                    a {
                        @apply py-1;
                    }
                }
            }
        }

        &--has-sub {
            > a::after,
            > button::after {
                @apply block;
            }
        }

        &--search {
            @apply hidden;
        }

        &--active > a,
        &--active > button {
            @apply text-brand-yellow-light;
        }

        &--is-active {
            > a,
            > a:focus,
            > a:active {
                @apply bg-brand-green-dark text-brand-yellow-dark;

                &::after {
                    @apply mt-0 border-brand-yellow-dark;

                    border-width: 2px 0 0 2px;
                }
            }

            > ul {
                @apply block;

                a,
                > a:focus,
                > a:active {
                    @apply bg-transparent;
                }
            }
        }
    }

    &__button {
        @apply float-right z-40 order-first;

        padding: 15px 0 8px;
    }

    .form--search {
        @apply sticky block top-0 transform-none border-b border-brand-green-light py-6 px-3;

        @screen xs {
            @apply px-6;
        }

        min-width: 310px;
    }
}

@screen nav {
    .navigation {
        @apply static w-full;

        &__list {
            @apply static p-0 bg-transparent overflow-visible;

            transition-property: none;
            transform: translateY(0);

            > ul {
                @apply flex flex-row justify-end items-center w-full;
            }
        }

        &__item {
            @apply static flex items-center border-0;

            > a,
            button {
                @apply relative flex items-center py-10 pb-8 pl-3 pr-0 border-0 opacity-100 translate-x-0 text-white text-base font-normal uppercase tracking-wide;

                transition-property: none;

                &:hover,
                &:focus {
                    @apply text-brand-yellow-dark bg-transparent;
                }

                &::before {
                    @apply inline-block border-l border-brand-green-divider h-4 pr-3;

                    content: '';
                }

                @screen xl {
                    @apply px-3;

                    &::before {
                        @apply pr-6;
                    }
                }
            }

            &:first-child > a,
            &:first-child > button {
                &::before {
                    @apply hidden;
                }
            }

            &--has-sub {
                > a,
                > button {
                    &,
                    &:hover,
                    &:focus {
                        &::after {
                            @apply hidden m-0 top-auto right-auto;

                            content: "";
                            bottom: 0;
                            left: 50%;
                            width: 0;
                            height: 0;
                            margin-left: -$arrowSize;
                            border-style: solid;
                            border-width: 0 $arrowSize $arrowSize $arrowSize;
                            border-color: transparent transparent theme('colors.brand-green.default') transparent;
                            transform: rotate(0deg);
                        }
                    }
                }

                &:hover {
                    > a {
                        @apply text-brand-yellow-dark;
                    }

                    > ul {
                        @apply flex;

                        ul {
                            @apply block;
                        }

                        a::after {
                            @apply hidden;
                        }
                    }

                    > a::after {
                        @apply block;
                    }
                }
            }

            &--search {
                @apply flex mr-0;

                > a {
                    @apply text-brand-yellow-dark;

                    &:hover,
                    &:focus {
                        @apply text-brand-yellow;
                    }

                    &::after {
                        @apply relative right-auto top-0 inline-block ml-2 bg-center bg-no-repeat bg-auto h-4 w-8 text-base align-text-top border-0 p-0 mr-0;

                        content: "";
                        margin-top: 3px;
                        background-image: url(../icons/search.png);
                        transform: rotate(0deg);
                    }
                }
            }

            > ul {
                @apply hidden absolute bottom-auto bg-brand-green w-full transform -translate-x-1/2 max-w-screen-md pl-6;

                top: 100%;
                left: 50%;

                li {
                    @apply block border-0 border-l border-brand-green-divider m-0 pl-6 ml-6 py-6;

                    &:first-child {
                        @apply pl-0 ml-0 border-0;

                        max-width: 14rem;
                        min-width: 10rem;
                    }

                    a,
                    button {
                        @apply px-0;

                        &:hover,
                        &:focus,
                        &:active {
                            @apply text-white underline;
                        }

                        &::before {
                            @apply hidden;
                        }
                    }

                    ul {
                        @apply relative top-auto left-auto block translate-x-0 p-0 m-0;

                        > li {
                            @apply border-0 p-0 m-0;
                        }

                        a,
                        button {
                            @apply text-white;

                            &::after {
                                display: none !important;
                            }
                        }
                    }
                }

                .navigation__item--has-sub > a,
                .navigation__item--has-sub > button {
                    @apply text-brand-yellow-dark whitespace-pre;

                    &:hover,
                    &:focus,
                    &:active {
                        @apply text-brand-yellow-dark;
                    }
                }

                a,
                button {
                    @apply normal-case p-0 m-0 border-0;
                }
            }
        }

        &__button {
            @apply hidden;
        }

        .form--search {
            @apply hidden;
        }
    }
}
