

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Call To Action: Help | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <div class="cta cta--help">
  <div class="cta__inner">
    <h2 class="cta__title">assumenda fuga veritatis ut</h2>
    <p class="cta__text">Sunt odio omnis. Quia est aut repellendus tempore quo quo et. Quae laboriosam quis autem magnam. Ad aliquid et nulla maiores.</p>

    <hr />

    <div class="managed-by managed-by--manager">
  <div class="managed-by__avatar">
    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/plasticine/128.jpg" />
  </div>
  <div class="managed-by__manager">
    <h3 class="managed-by__title">Regional Managers</h3>
    <p class="managed-by__contact">Bette Moen</p>
    <p class="managed-by__contact"><a href="tel:(088) 799-7161 x25930">(088) 799-7161 x25930</a></p>
  </div>
</div>


    <hr />

    <p class="cta__text cta__text--extra">Maiores qui itaque cumque in qui vitae aut dolorum. Qui velit et officia impedit animi rerum laboriosam.</p>

  </div>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

