

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cards: Woodland | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <div class="card">
  <a href="page-woodland" class="card__link">
    <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?45277" />
    </div>
</div>

    <div class="card__body">
      <h3 class="card__title">Woodland Card</h3>
      <p class="card__meta">NR. Name Loop, Hickleland, Bedfordshire</p>
      <p class="card__extra">About 3 ¼ acres</p>
      <div class="card__content">
        Et iure ex. Rerum molestias architecto rerum voluptatem aspernatur laudantium dolorum. Sint rerum repudiandae architecto magni. Cum et necessitatibus dolores. Voluptates aliquam a possimus nulla sint dolores.
      </div>
    </div>
    <div class="card__banner">
      £68,482
    </div>
  </a>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

