

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Cards: With Link | Component Library</title>

    <meta name="description" content="Component Library for Cards: With Link" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Cards: With Link Component Library">
    <meta property="og:site_name" content="Cards: With Link Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Cards: With Link">
</head>
<body class="h-screen">

    <div class="card ">
  <a href="#link" class="card__link">
        <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

    <div class="card__body">
      <h3 class="card__title">Card With Link</h3>
      <div class="card__content">
        Voluptate distinctio quis ut ad ullam est doloremque. Sunt ipsa eligendi voluptatum eaque atque dolorum. Nam tempora facere sunt in dolores. Eveniet et numquam.
      </div>
    </div>
  </a>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

