

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Managed By: Default | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <div class="managed-by">
  <div class="managed-by__person">
    <h3 class="managed-by__title">
      Managed by <strong>Rosemarie Yundt</strong>
    </h3>
    <div class="managed-by__avatar">
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/sangdth/128.jpg" />
    </div>
  </div>
  <p class="managed-by__contact">Telephone: <a href="tel:(024) 499-3837 x5569">(024) 499-3837 x5569</a></p>
  <p class="managed-by__contact">Email: <a href="mailto:Mara.Wolf85@example.org">Mara.Wolf85@example.org</a></p>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

