

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cards: Default | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <div class="card">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?12473" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Default Card</h3>
    <div class="card__content">
      Tempora aut provident. Necessitatibus eum cupiditate a eligendi delectus tempore. Aut accusantium itaque ut ut aut est sapiente. Architecto dolore voluptatem.
    </div>
  </div>
</div>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

