

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cards: With Video | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <div class="card">
  <div class="media">
    <div class="media__content">
        <iframe src="http://www.youtube.com/embed/dP15zlyra3c?html5&#x3D;1"></iframe>
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Card With Video</h3>
    <div class="card__content">
      Sit rerum dignissimos odio quas est occaecati. Quibusdam consequatur qui praesentium molestias. Rerum voluptatibus ut. Placeat nam accusantium nobis tempore id repellat veniam. Aut quisquam assumenda est voluptatem numquam ab modi. Ad at earum deleniti vel corrupti modi quia aliquid.
    </div>
  </div>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

