

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Quotes: With Link | Component Library</title>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <blockquote class="quote">
    <div class="quote__content">
        <p>“Sunt est ut dicta autem quam repudiandae porro velit. Ut ipsa rerum enim consequatur aperiam repellendus. Nesciunt quod debitis asperiores atque quos. Est voluptatem ab sunt. Quas et architecto sint tempora. A ad reiciendis quia modi nulla sint et.”</p>
    </div>
    <p class="quote__link">
        <a href="#">Read blog post</a>
    </p>
</blockquote>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

