

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Accordion: Default | Component Library</title>

    <meta name="description" content="Component Library for Accordion: Default" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Accordion: Default Component Library">
    <meta property="og:site_name" content="Accordion: Default Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Accordion: Default">
</head>
<body class="h-screen">

    <div class="accordion">

  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Accordion #1</h2>
    <div class="accordion__item__content">
      <div>
        <p>Enim dolore quis fuga eum aspernatur enim omnis. Id fuga non qui ut itaque alias. Ratione soluta rerum velit. Optio quae eum occaecati dolores fuga. Enim est doloremque voluptas et odit voluptatem.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Accordion #2</h2>
    <div class="accordion__item__content">
      <div>
        <p>Necessitatibus recusandae deserunt possimus culpa et repellat sapiente. Maiores et magni quia labore natus. Alias quo facere qui et ea mollitia exercitationem illum cumque.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Accordion #3</h2>
    <div class="accordion__item__content">
      <div>
        <p>Molestias sint sit cumque sint et earum ea. Nisi voluptatem ut ullam. Rerum est nemo perspiciatis placeat totam qui. Sit corporis tenetur ut sit qui et eum. Consequatur reiciendis sunt debitis earum. Rerum natus ea rerum occaecati repudiandae quasi qui.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Accordion #4</h2>
    <div class="accordion__item__content">
      <div>
        <p>Aspernatur qui autem laudantium quidem distinctio. Officia ut quis velit unde. Est est aut voluptatem sequi earum minima laboriosam ut reiciendis. Magnam reprehenderit praesentium non consequatur sed architecto ut aut incidunt. Unde aut unde. Inventore voluptas est dolor.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Accordion #5</h2>
    <div class="accordion__item__content">
      <div>
        <p>Corrupti eum libero sequi. Tempore rerum itaque eius ullam cupiditate odio consequatur. Voluptas tempore eos voluptatibus est ipsa aut. Enim veritatis sed.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Accordion #6</h2>
    <div class="accordion__item__content">
      <div>
        <p>Quaerat nobis dolorum. Est laboriosam ut occaecati sapiente velit facere est qui. Cumque facere at cumque quod repudiandae sit qui nemo. Vel aut nemo.</p>
      </div>
    </div>
  </div>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

