

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Hero: Woodland | Component Library</title>

    <meta name="description" content="Component Library for Hero: Woodland" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Hero: Woodland Component Library">
    <meta property="og:site_name" content="Hero: Woodland Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Hero: Woodland">
</head>
<body class="h-screen">

    <div class="hero">
  <h1>Perspiciatis Perferendis Ut <span class="hero__extra">£50,353</span></h1>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

