

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cards: With Banner | Component Library</title>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <div class="card">
  <div class="media media--image">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?3627" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Card with Banner</h3>
    <div class="card__content">
      Quidem dolores sapiente nulla odit eligendi. Aut nihil debitis ut eos repellat dolores. Ipsum eum repellat totam adipisci est pariatur tenetur culpa quisquam. Voluptatem cupiditate impedit voluptatem eum laudantium rem facilis.
    </div>
    <p class="card__category">Buckinghamshire</p>
  </div>
  <div class="card__banner">
    £87,524
  </div>
</div>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

