

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Modal: Default | Component Library</title>

    <meta name="description" content="Component Library for Modal: Default" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Modal: Default Component Library">
    <meta property="og:site_name" content="Modal: Default Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Modal: Default">
</head>
<body class="h-screen">

    <div class="modal" aria-hidden="true" id="modal-a56de35d-42ec-4209-9351-7a21e4f1dfa8">
  <div class="modal__container" data-modal-close="modal-a56de35d-42ec-4209-9351-7a21e4f1dfa8">
    <div class="modal__item" role="dialog" aria-modal="true" aria-labelledby="modal__title--a56de35d-42ec-4209-9351-7a21e4f1dfa8">

      <header class="modal__header">
        <h2 class="modal__title" id="modal__title--a56de35d-42ec-4209-9351-7a21e4f1dfa8">Default Modal</h2>
        <button type="button" data-modal-close="modal-a56de35d-42ec-4209-9351-7a21e4f1dfa8" aria-label="Close Modal">×</button>
      </header>

      <div class="modal__content">
          Recusandae sed adipisci nam sunt quia natus. Natus delectus expedita incidunt inventore aut eaque et. Dolores suscipit sed ipsum est aliquid nemo. Rerum laborum eum fugit sunt qui dolorum. Quo magni et rem. Voluptatibus quisquam quo consequatur vitae.
 Quae aut et sed dolores sint quod fugit. Et sed quia autem error qui ut. Odit officia possimus. Corporis temporibus et quisquam et ullam est est. Repudiandae dolorem dolores debitis. Voluptas quia totam omnis.
 Quis dolorem dignissimos saepe provident. Similique laudantium deleniti expedita distinctio. Eum autem tempora rerum consequuntur aut nihil et cupiditate quia.
      </div>


    </div>
  </div>
</div>


        <button class="button button--green button--inline" data-modal-open="modal-a56de35d-42ec-4209-9351-7a21e4f1dfa8"><span>Open Modal Dialog</span></button>

    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

