

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Modal: Small | Component Library</title>

    <meta name="description" content="Component Library for Modal: Small" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Modal: Small Component Library">
    <meta property="og:site_name" content="Modal: Small Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Modal: Small">
</head>
<body class="h-screen">

    <div class="modal modal--small" aria-hidden="true" id="modal-8522c868-0d33-46e8-97cf-da3fa6d1d5fd">
  <div class="modal__container" data-modal-close="modal-8522c868-0d33-46e8-97cf-da3fa6d1d5fd">
    <div class="modal__item" role="dialog" aria-modal="true" aria-labelledby="modal__title--8522c868-0d33-46e8-97cf-da3fa6d1d5fd">

      <header class="modal__header">
        <h2 class="modal__title" id="modal__title--8522c868-0d33-46e8-97cf-da3fa6d1d5fd">Default Modal</h2>
        <button type="button" data-modal-close="modal-8522c868-0d33-46e8-97cf-da3fa6d1d5fd" aria-label="Close Modal">×</button>
      </header>

      <div class="modal__content">
          Unde rem reprehenderit cupiditate laboriosam distinctio. Saepe nisi veritatis repellat assumenda non. Eveniet quis omnis similique sit nihil doloremque ex possimus. Earum quos vel.
 Tempore qui veritatis aliquid atque nobis. Mollitia minima et explicabo voluptates. Eum sint qui maxime voluptatem. Et quia commodi neque amet qui nesciunt laboriosam est. Sed eveniet provident perspiciatis sed totam animi est.
 Fuga ipsam in voluptates nostrum excepturi aut magnam esse. Iusto vel nemo magni rerum quis esse quia commodi. Reprehenderit sequi libero placeat. Quae consequatur qui alias sed. Distinctio ut minus sunt. Quia sed quis voluptate sed quis sint dicta.
      </div>


    </div>
  </div>
</div>


        <button class="button button--green button--inline" data-modal-open="modal-8522c868-0d33-46e8-97cf-da3fa6d1d5fd"><span>Open Modal Dialog</span></button>

    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

