

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Modal: Default | Component Library</title>

    <meta name="description" content="Component Library for Modal: Default" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Modal: Default Component Library">
    <meta property="og:site_name" content="Modal: Default Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Modal: Default">
</head>
<body class="h-screen">

    <div class="modal" aria-hidden="true" id="modal-1fea6d43-4c21-4314-babf-d18792ed0ba3">
  <div class="modal__container" data-modal-close="modal-1fea6d43-4c21-4314-babf-d18792ed0ba3">
    <div class="modal__item" role="dialog" aria-modal="true" aria-labelledby="modal__title--1fea6d43-4c21-4314-babf-d18792ed0ba3">

      <header class="modal__header">
        <h2 class="modal__title" id="modal__title--1fea6d43-4c21-4314-babf-d18792ed0ba3">Default Modal</h2>
        <button type="button" data-modal-close="modal-1fea6d43-4c21-4314-babf-d18792ed0ba3" aria-label="Close Modal">×</button>
      </header>

      <div class="modal__content">
          Voluptate ut et expedita deleniti facilis. Quo ut facere sed veritatis esse accusamus et. Enim commodi dolores distinctio dolores voluptas placeat. Ea harum nulla occaecati voluptates voluptas alias ad.
 Hic consequatur eius eligendi. Sit tempore vitae optio sunt alias sit adipisci. Id ut officiis qui facilis placeat vitae ut voluptatibus.
 Fuga laboriosam facilis esse ab accusamus quam odio. Consequuntur possimus sed magnam quis. Eum at ut quia in. In est consequuntur dignissimos. Consequatur accusantium consequatur nisi iure dicta eos suscipit sint odio.
      </div>


    </div>
  </div>
</div>


        <button class="button button--green button--inline" data-modal-open="modal-1fea6d43-4c21-4314-babf-d18792ed0ba3"><span>Open Modal Dialog</span></button>

    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

