

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Quotes: Simple | Component Library</title>

    <meta name="description" content="Component Library for Quotes: Simple" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Quotes: Simple Component Library">
    <meta property="og:site_name" content="Quotes: Simple Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Quotes: Simple">
</head>
<body class="h-screen">

    <blockquote class="quote">
    <div class="quote__content">
        <p>“Et sed praesentium consequatur aliquam ipsam. Rerum beatae ratione ut aspernatur enim consequatur laboriosam omnis autem. Numquam atque eligendi consequatur consequatur dolores nihil molestiae similique. Minus asperiores rerum sed harum est sunt aut consequatur inventore. Quae quas quidem est facere repellendus maiores. Natus quibusdam corporis exercitationem doloremque placeat.”</p>
    </div>
    <div class="quote__image">
        <img src="../../images/drawings/badger.png" alt="Badger" title="" class="drawing " />

    </div>
</blockquote>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

