

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <title>Cards: Woodland (Map) | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body class="h-screen">

    <div class="card card--woodland card--woodland--map" data-longitude="52.5248441" data-latitude="-2.5737944">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?72888" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Woodland Map Card</h3>
    <p class="card__meta">NR. Libbie Throughway, East Theachester, Buckinghamshire</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

