

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Cards: Default | Component Library</title>

    <meta name="description" content="Component Library for Cards: Default" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Cards: Default Component Library">
    <meta property="og:site_name" content="Cards: Default Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Cards: Default">
</head>
<body class="h-screen">

    <div class="card ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Default Card</h3>
    <div class="card__content">
      Asperiores hic recusandae vero ex molestias error non. Earum quas id esse eum aliquam. Consequatur error in et repudiandae id. Nemo soluta est. Sed ipsum quia molestiae in facilis doloribus.
    </div>
  </div>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

