

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cards: Default | Component Library</title>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <div class="card">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?92300" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Default Card</h3>
    <div class="card__content">
      Qui corrupti ipsa et qui provident. Harum doloribus aut delectus at odit beatae aut. Quo esse est qui sunt autem ipsam quo a. Dolore dolorem enim fugiat in voluptas ab quo accusamus minus. Maiores similique cupiditate vel sapiente necessitatibus aliquid velit dicta aliquam.
    </div>
  </div>
</div>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

