

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Cards: Woodland (Map) | Component Library</title>

    <meta name="description" content="Component Library for Cards: Woodland (Map)" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Cards: Woodland (Map) Component Library">
    <meta property="og:site_name" content="Cards: Woodland (Map) Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Cards: Woodland (Map)">
</head>
<body class="h-screen">

    <div class="card card--woodland card--woodland--map " data-longitude="0.551742" data-latitude="51.1283">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Woodland Map Card <span class="card__price">£49,118</span></h3>
    <p class="card__meta">NR. Bashirian Fall, New Elsefort, Avon</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

