

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Accordion: Default | Component Library</title>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <div class="accordion">
  <h3 class="accordion__title">Summary</h3>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Accordion #1</h2>
    <div class="accordion__item__content">
      <div>
        <p>Quisquam quidem quisquam ut quod explicabo sit. Magni repudiandae enim ipsam minima pariatur distinctio provident omnis. Eligendi voluptatum rerum minus iusto laborum iste eos.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Accordion #2</h2>
    <div class="accordion__item__content">
      <div>
        <p>Maxime fugiat est. Minima non consequatur. Et voluptatem accusantium odit sapiente sed. Voluptatem voluptatem dolorum delectus et dolores necessitatibus sunt dolore quod. Omnis ab molestiae quisquam deleniti nesciunt.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Accordion #3</h2>
    <div class="accordion__item__content">
      <div>
        <p>Quibusdam maxime qui. Est quia sunt exercitationem in et ad asperiores. Officia sint iste quod quo. Repellendus tempore molestiae dicta totam voluptatem quo tenetur. Adipisci voluptatem qui enim molestias laborum aspernatur itaque est. Eos voluptatem quia ex qui qui ut ratione.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Accordion #4</h2>
    <div class="accordion__item__content">
      <div>
        <p>Eum omnis nihil aut aut sint. Laboriosam perspiciatis beatae non doloremque aut. Soluta molestiae voluptatum minima aut ratione id atque.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Accordion #5</h2>
    <div class="accordion__item__content">
      <div>
        <p>Odit dolores id eum cum. Non maxime officiis voluptatem numquam numquam omnis. Omnis ut recusandae ullam qui inventore facere placeat inventore. Nam aut est beatae qui vero voluptates aliquam. Et et non corrupti est nihil repellendus.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Accordion #6</h2>
    <div class="accordion__item__content">
      <div>
        <p>Blanditiis qui illum quam. Magnam corrupti amet ut. Culpa provident quo quia omnis ratione et tenetur tenetur qui. Quisquam deserunt dolores et omnis aut deleniti hic quod impedit. Eos est temporibus quam amet est nihil quae delectus.</p>
      </div>
    </div>
  </div>
</div>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

