

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Modal: With Footer | Component Library</title>

    <meta name="description" content="Component Library for Modal: With Footer" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Modal: With Footer Component Library">
    <meta property="og:site_name" content="Modal: With Footer Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Modal: With Footer">
</head>
<body class="h-screen">

    <div class="modal" aria-hidden="true" id="modal-2734fd9f-4904-4769-a264-67156439380a">
  <div class="modal__container" data-modal-close="modal-2734fd9f-4904-4769-a264-67156439380a">
    <div class="modal__item" role="dialog" aria-modal="true" aria-labelledby="modal__title--2734fd9f-4904-4769-a264-67156439380a">

      <header class="modal__header">
        <h2 class="modal__title" id="modal__title--2734fd9f-4904-4769-a264-67156439380a">Default Modal</h2>
        <button type="button" data-modal-close="modal-2734fd9f-4904-4769-a264-67156439380a" aria-label="Close Modal">×</button>
      </header>

      <div class="modal__content">
          Nulla libero est consequatur a consequatur quis laborum mollitia. Voluptas sunt minus deserunt sed dolor iure nisi voluptatibus. Rerum est cupiditate natus quod quisquam et incidunt. Unde hic quia laudantium provident id alias repellendus. Repellat sit omnis nisi aut sequi. Aperiam beatae maiores neque sint deleniti.
 Nihil similique et error rerum tenetur earum. Labore consequatur aut occaecati. Dignissimos aspernatur nulla eius nemo blanditiis. Et autem quia aut ratione aut. Unde et neque et hic occaecati. Perspiciatis tempora nihil tempore.
 Reiciendis sequi nostrum. Sunt unde asperiores laboriosam. Odit et dicta in et est voluptatum mollitia iure quia. Magni repellendus minima optio.
      </div>

      <div class="modal__footer">
        Voluptate illo debitis. Qui repellendus impedit est sed ea eum. Aspernatur amet pariatur ipsam voluptas reiciendis temporibus accusantium perferendis ducimus. Ut omnis asperiores omnis doloribus similique qui aliquam ratione commodi. Atque vel in.
      </div>

    </div>
  </div>
</div>


        <button class="button button--green button--inline" data-modal-open="modal-2734fd9f-4904-4769-a264-67156439380a"><span>Open Modal Dialog</span></button>

    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

