

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cards: Default | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <div class="card">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?45277" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Default Card</h3>
    <div class="card__content">
      Aliquam ut ut suscipit voluptatem harum qui consequatur consequatur. Possimus dolore et dolorem magni. In et et.
    </div>
  </div>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

