

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <title>Accordion: Default | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body class="h-screen">

    <div class="accordion">

  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Accordion #1</h2>
    <div class="accordion__item__content">
      <div>
        <p>Qui ratione vitae magnam voluptas veritatis quo nesciunt cupiditate. In ullam et dolor officia deleniti quibusdam et quos. Omnis omnis omnis quam ducimus exercitationem eaque sit. Consequatur est esse aut expedita distinctio. Sunt sed hic ad sapiente est qui.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Accordion #2</h2>
    <div class="accordion__item__content">
      <div>
        <p>Excepturi nemo quia vero atque repellendus. Eligendi officiis officia perferendis dolorem vel temporibus aut nostrum. Nihil ex a voluptas ducimus.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Accordion #3</h2>
    <div class="accordion__item__content">
      <div>
        <p>Dicta recusandae optio praesentium. Ut ipsum quidem perferendis dignissimos aperiam et consectetur dolore. Aut ullam est ratione et incidunt ut sit quam. Repudiandae dolorem et reiciendis numquam sed quo aliquid.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Accordion #4</h2>
    <div class="accordion__item__content">
      <div>
        <p>Aut laboriosam eum tempora. Eligendi eum ut recusandae distinctio exercitationem occaecati sint. Perspiciatis pariatur possimus occaecati qui sed. Ut eum rerum. Dolorem consequatur eos iusto nihil voluptatem velit quibusdam quas.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Accordion #5</h2>
    <div class="accordion__item__content">
      <div>
        <p>Odio odio provident praesentium ut eveniet alias odio. Et aut quo sint suscipit ea ut. Incidunt sit qui qui quisquam. Dolorum sed sed architecto sequi. Cumque velit laborum facilis quia.</p>
      </div>
    </div>
  </div>
  <div class="accordion__item">
    <h2 class="accordion__item__title" tabindex="0">Accordion #6</h2>
    <div class="accordion__item__content">
      <div>
        <p>Nemo corrupti porro aut repudiandae unde error consectetur nihil. Rerum est sit dolorem possimus reiciendis ab. Impedit aperiam eum eveniet qui animi praesentium recusandae.</p>
      </div>
    </div>
  </div>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

