

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Cards: Blog | Component Library</title>

    <meta name="description" content="Component Library for Cards: Blog" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Cards: Blog Component Library">
    <meta property="og:site_name" content="Cards: Blog Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Cards: Blog">
</head>
<body class="h-screen">

    <div class="card card--blog">
  <a href="page-blog-post" class="card__link">
    <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?65551" alt="" title="" />
    </div>
</div>

    <div class="card__body">
      <h3 class="card__title">Blog Card</h3>
      <p class="card__meta">by Rita, 5th May 2020, 24170 comments</p>
      <div class="card__content">
        Porro aliquid amet quaerat ut molestiae perferendis. Perspiciatis et ipsam modi accusamus cumque optio. Aut autem nesciunt omnis. Qui facilis vel consequuntur sed fuga. Temporibus et perferendis deleniti ea. Doloribus quia aut nam.
      </div>
    </div>
  </a>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

