

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Modal: Small | Component Library</title>

    <meta name="description" content="Component Library for Modal: Small" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Modal: Small Component Library">
    <meta property="og:site_name" content="Modal: Small Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Modal: Small">
</head>
<body class="h-screen">

    <div class="modal modal--small" aria-hidden="true" id="modal-ee5b5d7e-cd14-457d-87a5-0bf596929f18">
  <div class="modal__container" data-modal-close="modal-ee5b5d7e-cd14-457d-87a5-0bf596929f18">
    <div class="modal__item" role="dialog" aria-modal="true" aria-labelledby="modal__title--ee5b5d7e-cd14-457d-87a5-0bf596929f18">

      <header class="modal__header">
        <h2 class="modal__title" id="modal__title--ee5b5d7e-cd14-457d-87a5-0bf596929f18">Default Modal</h2>
        <button type="button" data-modal-close="modal-ee5b5d7e-cd14-457d-87a5-0bf596929f18" aria-label="Close Modal">×</button>
      </header>

      <div class="modal__content">
          Ut itaque sed qui non inventore et est. Id eveniet libero occaecati et quo. Dolores et voluptas. Voluptatem dolorem repudiandae provident ullam sunt. Odit quaerat rem omnis cupiditate dolorem non. Dolorum incidunt voluptas reprehenderit culpa.
 Earum ut rerum eligendi repellat. Quam quibusdam ratione saepe quo quae aliquid cumque. Quae quaerat ratione facilis aut. Nulla sed libero rem ex reprehenderit.
 Quia deserunt modi non ullam. Placeat nisi quae deleniti est nemo aut deserunt error. Doloribus dolor at et. Aliquid est exercitationem veritatis. Qui ducimus ad quia fugit beatae similique ad.
      </div>


    </div>
  </div>
</div>


        <button class="button button--green button--inline" data-modal-open="modal-ee5b5d7e-cd14-457d-87a5-0bf596929f18"><span>Open Modal Dialog</span></button>

    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

