

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cards: With Sold Banner | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <div class="card card--sold">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?53759" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Card With Sold Banner</h3>
    <div class="card__content">
      Tempore sed atque et earum accusantium minus fugiat. Esse velit qui deleniti officiis velit quisquam debitis tenetur. Esse a tempora dicta laborum. Velit autem in ex asperiores quae. Optio sint atque mollitia a in.
    </div>
  </div>
  <div class="card__banner">
    Sold
  </div>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

