

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Cards: Woodland | Component Library</title>

    <meta name="description" content="Component Library for Cards: Woodland" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Cards: Woodland Component Library">
    <meta property="og:site_name" content="Cards: Woodland Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Cards: Woodland">
</head>
<body class="h-screen">

    <div class="card card--woodland ">
  <a href="page-woodland" class="card__link">
        <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

    <div class="card__body">
      <h3 class="card__title">Woodland Card</h3>
      <p class="card__meta">NR. Mayer Underpass, Runolfssonstad, Cambridgeshire</p>
      <p class="card__extra">About 3 ¼ acres</p>
      <div class="card__content">
        Quisquam molestiae autem incidunt et debitis modi error. Ipsum ex soluta. Sit labore et. Rerum dolores ut veritatis eum voluptatem et animi iusto animi.
      </div>
    </div>
    <div class="card__banner">
      £43,373
    </div>
  </a>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

