

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Read More: Default | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <div class="read-more" data-show="Read more " data-hide="Read less">
  <div class="read-more__content">
      <p>Corporis eaque non quae vel harum praesentium eius aut. Dolores nam accusantium odio voluptatem doloremque. Voluptatibus odio aut non quia voluptas.
 Iste quia corporis mollitia vitae nobis. Facilis explicabo ex asperiores temporibus. Consequatur iusto beatae. Aperiam et quidem aspernatur ducimus iste adipisci. Sit illum autem voluptatibus sequi. Vero voluptatem sapiente tempora aut libero.
 Dolore et doloremque fuga. Et necessitatibus in consequatur ex voluptatum et inventore voluptatem. Quisquam reiciendis fuga. Quibusdam voluptate aliquam qui incidunt et quaerat enim et. Non quibusdam qui rerum in laudantium vel eum.
 Minima excepturi nisi sed ratione et eos perspiciatis atque. Hic harum numquam quia architecto voluptatem dolorem et fuga. Autem laborum distinctio consectetur dicta et quia. Distinctio animi autem molestiae suscipit numquam adipisci eaque molestiae est. Quaerat ut voluptatem totam.
 Et dolores quia. Dignissimos ducimus asperiores enim voluptate possimus dolor libero. Eum exercitationem laborum ex similique debitis incidunt libero delectus. Sed eos voluptas autem aut. Nihil omnis magni tempore vel tempora.</p>
  </div>

  <div class="read-more__toggle">
    <button class="button button--small">
  Read more
</button>

  </div>
</div>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

