

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Quotes: With Link | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <blockquote class="quote">
    <div class="quote__content">
        <p>“Est aut ea odio quis qui. Iusto illum est iste occaecati dignissimos recusandae. Dolor est amet recusandae reprehenderit aut repellat. Officia temporibus voluptatem et cupiditate iusto occaecati enim. Voluptatem et alias aut delectus iure et aut voluptas quaerat.”</p>
    </div>
    <p class="quote__link">
        <a href="#">Read blog post</a>
    </p>
</blockquote>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

