

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Modal: Default | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <div class="modal" aria-hidden="true" id="modal-2e6d5c2e-2002-445e-9056-f5988195d1c9">
  <div class="modal__container" data-modal-close="modal-2e6d5c2e-2002-445e-9056-f5988195d1c9">
    <div class="modal__item" role="dialog" aria-modal="true" aria-labelledby="modal__title--2e6d5c2e-2002-445e-9056-f5988195d1c9">

      <header class="modal__header">
        <h2 class="modal__title" id="modal__title--2e6d5c2e-2002-445e-9056-f5988195d1c9">Default Modal</h2>
        <button type="button" data-modal-close="modal-2e6d5c2e-2002-445e-9056-f5988195d1c9" aria-label="Close Modal">×</button>
      </header>

      <div class="modal__content">
          Nesciunt ipsa sint sit et. Ut ut debitis. Autem est labore magnam eligendi dolores. Eos aut minima nisi ut tempore voluptas qui.
 Maiores inventore ut quo corrupti. Id voluptatem velit totam qui animi eveniet numquam. In qui reprehenderit voluptatem quod debitis numquam non dolor praesentium.
 Officia et pariatur ex assumenda distinctio. Maiores magnam quia quam officia temporibus enim modi dolores. Nam eligendi consequuntur error nobis ipsam voluptatem.
      </div>


    </div>
  </div>
</div>


        <button class="button button--green button--inline" data-modal-open="modal-2e6d5c2e-2002-445e-9056-f5988195d1c9"><span>Open Modal Dialog</span></button>

    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

