

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <title>Cards: With Link | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body class="h-screen">

    <div class="card">
  <a href="#link" class="card__link">
    <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?94629" />
    </div>
</div>

    <div class="card__body">
      <h3 class="card__title">Card With Link</h3>
      <div class="card__content">
        Voluptas ex magnam sed velit earum id eos. Impedit in itaque tenetur natus omnis velit odio similique totam. Ut odio qui incidunt ea facilis. Qui ut ex consequatur magnam ipsum necessitatibus. Et accusantium libero quia cupiditate illo pariatur eum quo aspernatur. A vel dignissimos laudantium sunt occaecati veritatis asperiores.
      </div>
    </div>
  </a>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

