

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Quotes: With Link | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <blockquote class="quote">
    <div class="quote__content">
        <p>“Corrupti repellat pariatur fuga vitae et omnis. Libero modi tempore qui. Odio excepturi fugit ducimus excepturi omnis quisquam hic velit amet.”</p>
    </div>
    <p class="quote__link">
        <a href="#">Read blog post</a>
    </p>
</blockquote>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

