

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <title>Cards: Blog | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body class="h-screen">

    <div class="card card--blog">
  <a href="page-blog-post" class="card__link">
    <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?79634" />
    </div>
</div>

    <div class="card__body">
      <h3 class="card__title">Blog Card</h3>
      <p class="card__meta">by Perry, 2nd October 2019, 53146 comments</p>
      <div class="card__content">
        Blanditiis est modi dolorum est optio ab alias sed. Saepe est aut cum praesentium incidunt vitae minus. Veritatis quia ut. Molestias et quis nobis maiores. Consequatur deserunt sunt.
      </div>
    </div>
  </a>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

