

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Gallery: Square | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <div class="gallery">
    <ul class="gallery__list">
        <li class="gallery__item">
            <div class="media media--square">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?25368" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media media--square">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?79927" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media media--square">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?65736" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media media--square">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?72613" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media media--square">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?20610" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media media--square">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?14606" />
    </div>
</div>

        </li>
    </ul>
</div>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

