

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Modal: With Footer | Component Library</title>

    <meta name="description" content="Component Library for Modal: With Footer" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Modal: With Footer Component Library">
    <meta property="og:site_name" content="Modal: With Footer Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Modal: With Footer">
</head>
<body class="h-screen">

    <div class="modal" aria-hidden="true" id="modal-1748c39f-4e2f-4f44-ad6b-e1d040a473a9">
  <div class="modal__container" data-modal-close="modal-1748c39f-4e2f-4f44-ad6b-e1d040a473a9">
    <div class="modal__item" role="dialog" aria-modal="true" aria-labelledby="modal__title--1748c39f-4e2f-4f44-ad6b-e1d040a473a9">

      <header class="modal__header">
        <h2 class="modal__title" id="modal__title--1748c39f-4e2f-4f44-ad6b-e1d040a473a9">Default Modal</h2>
        <button type="button" data-modal-close="modal-1748c39f-4e2f-4f44-ad6b-e1d040a473a9" aria-label="Close Modal">×</button>
      </header>

      <div class="modal__content">
          Tempora in vel repellat quia sapiente veniam. Esse enim et. Commodi explicabo exercitationem enim.
 Minus aut ut architecto commodi dolorem. Magnam quasi reiciendis laudantium ipsam. Expedita inventore dolorem corporis inventore. Et non esse explicabo voluptas a harum ipsam perspiciatis.
 Consequuntur accusamus ut quas est quo reiciendis. Iusto molestiae et quia quia. Natus unde earum optio iusto ut accusantium sapiente omnis. Rerum reiciendis quis recusandae rerum quas est esse. Fuga aut cum quaerat in qui placeat laudantium fugiat qui.
      </div>

      <div class="modal__footer">
        Sint adipisci dolores sapiente a maxime nemo. Quis dolores dolorem maiores accusamus fuga et. Non veniam qui sed et ullam.
      </div>

    </div>
  </div>
</div>


        <button class="button button--green button--inline" data-modal-open="modal-1748c39f-4e2f-4f44-ad6b-e1d040a473a9"><span>Open Modal Dialog</span></button>

    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

