

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Blog Comment: Default | Component Library</title>

    <meta name="description" content="Component Library for Blog Comment: Default" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Blog Comment: Default Component Library">
    <meta property="og:site_name" content="Blog Comment: Default Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Blog Comment: Default">
</head>
<body class="h-screen">

    <div class="blog-comment">
  <div class="blog-comment__content typography">
    <p>Nulla corporis minima voluptas perferendis. Et ratione ut nobis repellendus iure aspernatur quod. Aliquid ut exercitationem amet iure est et quos quasi labore. Est est nisi nesciunt ut vel eveniet odit et dolorum.</p>
<p>Ut est ut. Est id magnam veniam temporibus dolorum enim non vitae reiciendis. Tempore ducimus odio incidunt. Sit quaerat aut ut porro eaque est expedita.</p>

  </div>

  <div class="blog-comment__meta">
    <p class="blog-comment__author"><span>Anabel</span></p>
    <p class="blog-comment__date"><span>1st December 2019</span></p>
  </div>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

