

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cards: Woodland | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <div class="card">
  <a href="page-woodland" class="card__link">
    <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?5182" />
    </div>
</div>

    <div class="card__body">
      <h3 class="card__title">Woodland Card</h3>
      <p class="card__meta">NR. Ullrich Junctions, East Annabell, Cambridgeshire</p>
      <p class="card__extra">About 5 ½ acres</p>
      <div class="card__content">
        Aspernatur qui aut ea quo nemo id repellat. Velit delectus sint animi nihil velit distinctio eaque cum reiciendis. Molestias nisi atque aperiam totam nobis voluptatem. Autem dolores et quod ipsum voluptatem nam repellendus rerum officia.
      </div>
    </div>
    <div class="card__banner">
      £22,800
    </div>
  </a>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

