

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Modal: Default | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <div class="modal" aria-hidden="true" id="modal-026cd262-9a49-4a5d-b8e3-c22cf09ffdcc">
  <div class="modal__container" data-modal-close="modal-026cd262-9a49-4a5d-b8e3-c22cf09ffdcc">
    <div class="modal__item" role="dialog" aria-modal="true" aria-labelledby="modal__title--026cd262-9a49-4a5d-b8e3-c22cf09ffdcc">

      <header class="modal__header">
        <h2 class="modal__title" id="modal__title--026cd262-9a49-4a5d-b8e3-c22cf09ffdcc">Default Modal</h2>
        <button type="button" data-modal-close="modal-026cd262-9a49-4a5d-b8e3-c22cf09ffdcc" aria-label="Close Modal">×</button>
      </header>

      <div class="modal__content">
          Ut itaque aliquid facere eius amet. Aperiam rerum ipsam quibusdam iure explicabo eaque qui. Et nulla vel eveniet. Odit voluptas dicta sed nulla temporibus consequatur et quia aut. Magnam excepturi nihil fugiat dolore quia sit fuga.
 Placeat ipsam optio et nihil est expedita quae. Reprehenderit voluptatibus modi. Molestiae voluptates est. Aut doloribus porro sed reiciendis. Dolores reiciendis atque eius assumenda.
 Sed quia laborum temporibus dolore aliquam dolorem ut. Sit quis omnis eum maiores. Numquam ipsum et et autem est voluptas facilis sit ex. Voluptatibus quia voluptate enim assumenda perspiciatis. Esse eius beatae voluptas et ex. Et ut in saepe praesentium voluptatem rerum.
      </div>


    </div>
  </div>
</div>


        <button class="button button--green button--inline" data-modal-open="modal-026cd262-9a49-4a5d-b8e3-c22cf09ffdcc"><span>Open Modal Dialog</span></button>

    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

