

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Quotes: Full | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <blockquote class="quote">
    <div class="quote__content">
        <p>“Doloribus dolor quia voluptatibus et et. Voluptatem soluta quia voluptatem rerum eaque est nam ab. Nemo qui id quod perspiciatis. Quibusdam dignissimos quia non ab repellat voluptatum cum. Nisi sit laudantium sequi dignissimos quam eligendi et facere. Molestias ea numquam adipisci et et dicta maiores temporibus.”</p>
    </div>
    <div class="quote__by">
        <cite>
            Deshawn Larson, Lead Communications Liaison
        </cite>
    </div>
    <p class="quote__link">
        <a href="#">Read blog post</a>
    </p>
</blockquote>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

