

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Read More: Default | Component Library</title>

    <meta name="description" content="Component Library for Read More: Default" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Read More: Default Component Library">
    <meta property="og:site_name" content="Read More: Default Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Read More: Default">
</head>
<body class="h-screen">

    <div class="read-more" data-show="Read more " data-hide="Read less">
  <div class="read-more__content">
      <p>Sit et temporibus quos voluptatem. Inventore ab voluptatum voluptate. Consequatur esse omnis ab ut.
 Et et sint consequatur in. Odit omnis omnis doloremque. Error ad similique illo praesentium et.
 Et debitis illo aliquam quisquam hic aut. Quia eligendi vel vitae eos reiciendis eligendi dolorum omnis sapiente. Dolores nulla dolor similique assumenda reiciendis et. Optio rerum et corrupti perferendis molestiae fugiat exercitationem deserunt.
 Vero voluptatibus dolor voluptatem molestiae dolores rerum quis id illum. Et quidem dignissimos accusamus distinctio unde et aut enim veritatis. Ut accusantium nisi et tempore in officia id non. Quia velit occaecati maxime aperiam. Rem quisquam tempore rem id hic ipsam.
 Repudiandae dicta deleniti delectus in omnis explicabo non eos facere. Neque quasi sunt eveniet dignissimos veniam asperiores iste. In sed vel libero sit commodi totam. Rerum labore reiciendis et reiciendis officia dolore aut qui. Eum et voluptas aut dolores quo voluptatem reiciendis. Qui accusantium aperiam.</p>
  </div>

  <div class="read-more__toggle">
      <button class="button button--small ">
  <span>Read more</span>
</button>

  </div>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

