

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Read More: Default | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <div class="read-more" data-show="Read more " data-hide="Read less">
  <div class="read-more__content">
      <p>Qui eius quod rerum fugiat libero iure. Architecto qui aspernatur a delectus. Praesentium sit animi totam accusantium eos rerum aut sunt. Quos qui autem vel ipsam dolores et.
 Nulla beatae quisquam quasi repudiandae. Qui voluptatibus voluptas explicabo. Saepe voluptatum enim modi eos pariatur. Animi et illo deleniti sequi.
 Et ad omnis veritatis natus non voluptatem mollitia saepe. Aperiam animi sed nobis quo fugiat sed. Consequatur dolorem quis aliquid rerum sit laudantium.
 Reiciendis temporibus sit molestiae tempore temporibus. Sed impedit non error explicabo explicabo placeat. Possimus soluta ullam quasi adipisci. Optio aut aspernatur rem porro eum. Explicabo aperiam maxime similique ea. Aliquam deleniti cum qui.
 Inventore ducimus saepe voluptas totam sit id. Deleniti temporibus sit eveniet autem delectus. Sit consequatur aut. Enim explicabo dignissimos.</p>
  </div>

  <div class="read-more__toggle">
      <button class="button button--small">
  <span>Read more</span>
</button>

  </div>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

