

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Call To Action: Listing | Component Library</title>

    <meta name="description" content="Component Library for Call To Action: Listing" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Call To Action: Listing Component Library">
    <meta property="og:site_name" content="Call To Action: Listing Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Call To Action: Listing">
</head>
<body class="h-screen">

    <div class="cta">
  <h2 class="cta__title">Call to Action Listing</h2>
  <div class="cta__items">
        <div class="cta__item">
            <h3 class="cta__item__title">quisquam aut cupiditate</h3>
            <i class="icon icon--medium icon--yellow-dark">
  <img src="../../icons/tick.png" alt="" title="" />
</i>

        </div>
        <div class="cta__item">
            <h3 class="cta__item__title">sed quaerat ab</h3>
            <i class="icon icon--medium icon--yellow-dark">
  <img src="../../icons/tick.png" alt="" title="" />
</i>

        </div>
        <div class="cta__item">
            <h3 class="cta__item__title">non eius consequatur</h3>
            <i class="icon icon--medium icon--yellow-dark">
  <img src="../../icons/tick.png" alt="" title="" />
</i>

        </div>
        <div class="cta__item">
            <h3 class="cta__item__title">itaque nemo velit</h3>
            <i class="icon icon--medium icon--yellow-dark">
  <img src="../../icons/tick.png" alt="" title="" />
</i>

        </div>
  </div>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

