

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <title>Modal: With Footer | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body class="h-screen">

    <div class="modal" aria-hidden="true" id="modal-687d014c-3754-4957-a132-ee7734d8be7c">
  <div class="modal__container" data-modal-close="modal-687d014c-3754-4957-a132-ee7734d8be7c">
    <div class="modal__item" role="dialog" aria-modal="true" aria-labelledby="modal__title--687d014c-3754-4957-a132-ee7734d8be7c">

      <header class="modal__header">
        <h2 class="modal__title" id="modal__title--687d014c-3754-4957-a132-ee7734d8be7c">Default Modal</h2>
        <button type="button" data-modal-close="modal-687d014c-3754-4957-a132-ee7734d8be7c" aria-label="Close Modal">×</button>
      </header>

      <div class="modal__content">
          Vero ut aperiam rerum commodi dolor. Ad quia repellat. Qui corrupti rerum ipsam facilis recusandae est voluptas quas. Amet cupiditate quaerat modi quam repellendus sint natus hic. Eligendi qui omnis quibusdam. Cumque quo et sit et quidem.
 Sit natus eum beatae. Beatae ea sit sit. Ut laboriosam nesciunt aut rerum commodi dolorum corrupti fugit. Saepe ipsum atque dicta.
 Facilis sit unde quo sed quia numquam debitis. Ipsam quibusdam distinctio laboriosam qui autem earum fugiat. Modi a facere non sint. Excepturi perferendis voluptatibus et facilis quisquam sit. Placeat sit eos esse aliquid voluptatem. Aut reprehenderit recusandae sint quam velit quia.
      </div>

      <div class="modal__footer">
        Maxime quia odit autem nihil eum magnam ratione vel dicta. Vel dolores dolorem sit voluptas repellendus. Iusto nam dolorem eius harum sed.
      </div>

    </div>
  </div>
</div>


        <button class="button button--green button--inline" data-modal-open="modal-687d014c-3754-4957-a132-ee7734d8be7c"><span>Open Modal Dialog</span></button>

    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

