

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <title>Tabs: Default | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body class="h-screen">

    <div class="tab" data-tab="4be989a4-e1eb-42f8-84fb-af32df21abd8">
  <div class="tab__navigation button-group">
        <button class="button button--small button--green button--green--outline" data-tab-for=344680e2-0663-489a-8aa7-ff083f38a519>
          <span>quos voluptatibus molestias</span>
        </button>
        <button class="button button--small button--green button--green--outline" data-tab-for=4fd2ce9a-f0de-4d87-a94c-6c07c8e67029>
          <span>iusto quod veniam</span>
        </button>
        <button class="button button--small button--green button--green--outline" data-tab-for=7940da62-6746-4a19-9e0d-243441570bc1>
          <span>nostrum excepturi similique</span>
        </button>
        <button class="button button--small button--green button--green--outline" data-tab-for=f6fe735b-9f81-4def-9937-1368e6863c34>
          <span>rerum alias doloremque</span>
        </button>
  </div>

  <div class="tab__items">
        <div class="tab__item tab__item--344680e2-0663-489a-8aa7-ff083f38a519" data-tab-item="344680e2-0663-489a-8aa7-ff083f38a519">
            <h3 class="tab__item__title">quos voluptatibus molestias</h3>
            Nesciunt beatae nihil nihil similique. Sequi doloremque nulla facilis dolor rerum quae nulla ut. Illum iure quas ut autem assumenda quae ullam assumenda. Aut unde error possimus nam neque. Doloribus dolor iure neque fugiat dolores temporibus voluptatem accusamus officia.
        </div>
        <div class="tab__item tab__item--4fd2ce9a-f0de-4d87-a94c-6c07c8e67029" data-tab-item="4fd2ce9a-f0de-4d87-a94c-6c07c8e67029">
            <h3 class="tab__item__title">iusto quod veniam</h3>
            Eveniet deserunt a debitis velit. Rerum quaerat et quam aut cupiditate voluptatem sit. Earum perferendis voluptates quisquam quos dicta et debitis. Minima qui quis suscipit est. Provident quo iste.
        </div>
        <div class="tab__item tab__item--7940da62-6746-4a19-9e0d-243441570bc1" data-tab-item="7940da62-6746-4a19-9e0d-243441570bc1">
            <h3 class="tab__item__title">nostrum excepturi similique</h3>
            Et voluptatibus quo at est incidunt deserunt adipisci. Autem ut eos eligendi ipsam. Quia architecto dolor velit qui aliquid nesciunt. Soluta dolores eaque fugiat natus veritatis commodi impedit eum. Veritatis nesciunt quo.
        </div>
        <div class="tab__item tab__item--f6fe735b-9f81-4def-9937-1368e6863c34" data-tab-item="f6fe735b-9f81-4def-9937-1368e6863c34">
            <h3 class="tab__item__title">rerum alias doloremque</h3>
            Qui culpa voluptatem quia eum maxime et ut sint dicta. Quidem quod optio eaque itaque vel. Aut qui suscipit ea laborum consequatur nulla magnam id. Perspiciatis optio quia et hic temporibus minima omnis. Nihil a voluptates.
        </div>
  </div>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

