

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Call to Action Form: Subscribe | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <form action="" method="GET" class="form form--cta">
    <label for="form__cta__field" class="form__title">Subscribe to email updates</label>

    <label for="form__cta__field" class="form__subtitle">Get an email when new woods come on to the market</label>

    <div class="form__cta__group">
        <input type="text" id="form__cta__field" name="field" placeholder="Enter email address…" />
        <button class="button button--green">
  <span>Sign up to mailing list</span>
</button>

    </div>
</form>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

