

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Cards: With Sold Banner | Component Library</title>

    <meta name="description" content="Component Library for Cards: With Sold Banner" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Cards: With Sold Banner Component Library">
    <meta property="og:site_name" content="Cards: With Sold Banner Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Cards: With Sold Banner">
</head>
<body class="h-screen">

    <div class="card card--sold">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?27252" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Card With Sold Banner</h3>
    <div class="card__content">
      Libero saepe recusandae. Atque dolores officiis. Doloremque eum quo et enim quo. Repellat sequi eum nihil quo commodi error nihil possimus. Corporis autem eligendi doloremque est qui reprehenderit. Voluptatum corrupti in similique nemo culpa.
    </div>
  </div>
  <div class="card__banner">
    Sold
  </div>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

