

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Tags: Default | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <ul class="tags">
    <li><a href="#" class="tag">Totam</a>
</li>
    <li><a href="#" class="tag">Facere</a>
</li>
    <li><a href="#" class="tag">Error</a>
</li>
    <li><a href="#" class="tag">Necessitatibus</a>
</li>
    <li><a href="#" class="tag">Optio</a>
</li>
</ul>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

