

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Search: Alternative | Component Library</title>

    <meta name="description" content="Component Library for Search: Alternative" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Search: Alternative Component Library">
    <meta property="og:site_name" content="Search: Alternative Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Search: Alternative">
</head>
<body class="h-screen">

    <div class="form form--search form--search--alt" data-search="Show Search Filters">
    <form action="/search" method="post">
        <div class="form__inner">
            <h4 class="form--search__title">Search for woodlands</h4>

            <div class="form__field">
    <label for="form__search_location" class="form__label"><span>Location</span></label>
    <input type="text" class="form-input" id="form__search_location" name="location" placeholder="Enter location / postcode" />
</div>

            <div class="form__field">
    <label for="form__search_type" class="form__label"><span>Type</span></label>
    <select class="form-select" id="form__search_type" name="type">
        <option value="woodland">Woodland</option>
        <option value="mixed deciduous">Mixed Deciduous</option>
        <option value="coniferous">Coniferous</option>
        <option value="coppice">Coppice</option>
        <option value="ancient woodland">Ancient Woodland</option>
    </select>
</div>


            <div class="form__field form__field--switch form__field--switch--reverse">
    <input type="checkbox" class="form-checkbox" id="form__search_sold" name="sold" />
    <label for="form__search_sold" class="form__label"><i></i><span>Show Sold</span></label>
</div>


            <button class="button button--red button--inline ">
  <span>Search</span>
</button>

        </div>
    </form>

    <button class="button button--green--dark button--full button--toggle ">
  <span>Show search filters</span>
</button>

</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

