

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Button Group: Default | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <div class="button-group">
      <button class="button button--small button--inline">
  <span>ipsum illo et</span>
</button>

      <button class="button button--small button--inline">
  <span>ut voluptates qui</span>
</button>

      <button class="button button--small button--inline">
  <span>dolorem id illum</span>
</button>

</div>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

