

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Intro: Default | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <div class="intro">
  <ul class="list list--unstyled">
    <li class="intro__item">Intro text #1</li>
    <li class="intro__item">Intro text #2</li>
    <li class="intro__item">Intro text #3</li>
  </ul>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

