

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Gallery: Carousel | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <template id="photoswipe">
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>

    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>

</template>

<div class="gallery gallery--carousel">
    <ul class="gallery__list">
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?37007" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?37007" />
    </div>
</div>

            <p class="gallery__description">Sed quibusdam ut.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?88724" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?88724" />
    </div>
</div>

            <p class="gallery__description">Ut facere fuga voluptatem sit repudiandae nesciunt aut.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?47929" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?47929" />
    </div>
</div>

            <p class="gallery__description">Est aliquam eaque cupiditate.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?76026" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?76026" />
    </div>
</div>

            <p class="gallery__description">Placeat provident alias blanditiis necessitatibus cum optio quos quasi.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?14478" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?14478" />
    </div>
</div>

            <p class="gallery__description">Fuga possimus adipisci exercitationem quis commodi sit quia asperiores officiis.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?72563" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?72563" />
    </div>
</div>

            <p class="gallery__description">Voluptas distinctio quis officiis quisquam quasi.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?15511" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?15511" />
    </div>
</div>

            <p class="gallery__description">Temporibus corrupti ipsam.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?91171" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?91171" />
    </div>
</div>

            <p class="gallery__description">Est voluptates et laborum non ipsum repellendus quis.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?29776" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?29776" />
    </div>
</div>

            <p class="gallery__description">Quae voluptatem distinctio animi et ut eaque.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?9337" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?9337" />
    </div>
</div>

            <p class="gallery__description">Ut eos eos possimus.</p>
        </li>
    </ul>
    <ul class="gallery__thumbnails">
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?37007"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?34204" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?88724"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?33136" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?47929"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?53510" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?76026"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?53802" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?14478"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?75909" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?72563"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?16115" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?15511"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?81430" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?91171"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?98681" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?29776"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?85416" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?9337"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?97013" />
    </div>
</div>
</a>
        </li>
    </ul>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

