

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Modal: Default | Component Library</title>

    <meta name="description" content="Component Library for Modal: Default" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Modal: Default Component Library">
    <meta property="og:site_name" content="Modal: Default Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Modal: Default">
</head>
<body class="h-screen">

    <div class="modal" aria-hidden="true" id="modal-a1f440c4-8ae1-47ed-ae18-bca0a7df93db">
  <div class="modal__container" data-modal-close="modal-a1f440c4-8ae1-47ed-ae18-bca0a7df93db">
    <div class="modal__item" role="dialog" aria-modal="true" aria-labelledby="modal__title--a1f440c4-8ae1-47ed-ae18-bca0a7df93db">

      <header class="modal__header">
        <h2 class="modal__title" id="modal__title--a1f440c4-8ae1-47ed-ae18-bca0a7df93db">Default Modal</h2>
        <button type="button" data-modal-close="modal-a1f440c4-8ae1-47ed-ae18-bca0a7df93db" aria-label="Close Modal">×</button>
      </header>

      <div class="modal__content">
          Ea est eos enim rem nulla aut ut. Non sed consequatur incidunt rerum aperiam architecto aspernatur. Non sint dolore inventore eum odio sed qui. Fuga nisi eius.
 Mollitia sed maxime. Doloremque eos et fuga ad dolorum quod inventore ut optio. Ut quo itaque dignissimos voluptatem. Facere pariatur magnam esse. Et mollitia impedit doloremque iusto molestias. Error voluptas dolorem magnam eos mollitia.
 Omnis est debitis libero nisi aut optio totam voluptatibus ab. Est officiis accusantium nisi. Harum ipsum quis et. Unde suscipit velit.
      </div>


    </div>
  </div>
</div>


        <button class="button button--green button--inline" data-modal-open="modal-a1f440c4-8ae1-47ed-ae18-bca0a7df93db"><span>Open Modal Dialog</span></button>

    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

