

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cards: With Link | Component Library</title>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <div class="card">
  <a href="https://www.woodlands.co.uk" class="card__link">
    <div class="media media--image">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?3627" />
    </div>
</div>

    <div class="card__body">
      <h3 class="card__title">Card with Link</h3>
      <div class="card__content">
        Omnis beatae sint. Vel ullam voluptas. Dolores tenetur unde totam et ut. Blanditiis aut distinctio temporibus enim architecto magnam minima dolorem. Voluptatibus sapiente est non. Quia reprehenderit placeat.
      </div>
      <p class="card__category">Borders</p>
    </div>
  </a>
</div>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

