

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <title>Cards: Default | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body class="h-screen">

    <div class="card">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?44182" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Default Card</h3>
    <div class="card__content">
      Dignissimos doloribus quibusdam cumque sit autem facilis. Sed provident vel consectetur dolorem ipsa. Sunt animi aliquam nemo enim assumenda occaecati blanditiis. Non dolorem ut repellendus doloribus natus error autem. Dicta odio a eligendi. Doloremque non necessitatibus eum dolor veniam et ipsa ducimus et.
    </div>
  </div>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

