

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cards: With Banner | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <div class="card">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?666" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Card With Banner</h3>
    <div class="card__content">
      Non rerum quasi consequuntur vitae repellat. Iure dolorem animi mollitia. Voluptatem vel vitae. Rerum illum est accusamus enim et voluptatem quis inventore. Quos nulla sequi ipsa. Odio nisi ratione.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

