

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Cards: With Sold Banner | Component Library</title>

    <meta name="description" content="Component Library for Cards: With Sold Banner" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Cards: With Sold Banner Component Library">
    <meta property="og:site_name" content="Cards: With Sold Banner Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Cards: With Sold Banner">
</head>
<body class="h-screen">

    <div class="card card--sold ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Card With Sold Banner</h3>
    <div class="card__content">
      Quia doloremque animi esse neque laudantium sequi et non ut. Aut cupiditate facilis ut ab. Voluptates sed asperiores a rerum ipsam ut non enim id. Dolorum at tempora. Aut recusandae et iure veniam quibusdam voluptatem reprehenderit hic.
    </div>
  </div>
  <div class="card__banner">
    £26,761
  </div>
  <div class="card__banner card__banner--sold">
    Sold
  </div>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

