

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Modal: Default | Component Library</title>

    <meta name="description" content="Component Library for Modal: Default" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Modal: Default Component Library">
    <meta property="og:site_name" content="Modal: Default Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Modal: Default">
</head>
<body class="h-screen">

    <div class="modal" aria-hidden="true" id="modal-9ed88492-4d4e-467c-b6da-bbf12d4843df">
  <div class="modal__container" data-modal-close="modal-9ed88492-4d4e-467c-b6da-bbf12d4843df">
    <div class="modal__item" role="dialog" aria-modal="true" aria-labelledby="modal__title--9ed88492-4d4e-467c-b6da-bbf12d4843df">

      <header class="modal__header">
        <h2 class="modal__title" id="modal__title--9ed88492-4d4e-467c-b6da-bbf12d4843df">Default Modal</h2>
        <button type="button" data-modal-close="modal-9ed88492-4d4e-467c-b6da-bbf12d4843df" aria-label="Close Modal">×</button>
      </header>

      <div class="modal__content">
          Expedita voluptatem aut unde ipsa unde quo ut. Aut eum magni delectus aliquid fugiat sunt. Molestiae beatae excepturi fuga corrupti qui incidunt ex blanditiis.
 Voluptatem magni recusandae dolorem est inventore earum quidem minus. Aliquid nemo delectus. Iste quas vel.
 Ut accusantium animi autem ut. Qui omnis laborum aut. Repellat ullam nulla corporis nesciunt temporibus ad quibusdam sed harum.
      </div>


    </div>
  </div>
</div>


        <button class="button button--green button--inline" data-modal-open="modal-9ed88492-4d4e-467c-b6da-bbf12d4843df"><span>Open Modal Dialog</span></button>

    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

