

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <title>Tags: Default | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body class="h-screen">

    <ul class="tags">
    <li><a href="#" class="tag">
    <span class="tag__title">Dolor</span>
</a>
</li>
    <li><a href="#" class="tag">
    <span class="tag__title">Quasi</span>
</a>
</li>
    <li><a href="#" class="tag">
    <span class="tag__title">Sint</span>
</a>
</li>
    <li><a href="#" class="tag">
    <span class="tag__title">Necessitatibus</span>
</a>
</li>
    <li><a href="#" class="tag">
    <span class="tag__title">Aliquid</span>
</a>
</li>
</ul>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

