

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <title>Gallery: Square | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body class="h-screen">

    <div class="gallery">
    <ul class="gallery__thumbnails">
        <li class="gallery__item">
            <div class="media media--square">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?68176" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media media--square">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?60669" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media media--square">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?73131" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media media--square">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?3679" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media media--square">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?11968" />
    </div>
</div>

        </li>
        <li class="gallery__item">
            <div class="media media--square">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?60220" />
    </div>
</div>

        </li>
    </ul>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

