

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Cards: With Video | Component Library</title>

    <meta name="description" content="Component Library for Cards: With Video" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Cards: With Video Component Library">
    <meta property="og:site_name" content="Cards: With Video Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Cards: With Video">
</head>
<body class="h-screen">

    <div class="card ">
  <div class="media">
    <div class="media__content">
        <iframe src="http://www.youtube.com/embed/dP15zlyra3c?html5&#x3D;1"></iframe>
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Card With Video</h3>
    <div class="card__content">
      Labore iusto et sapiente et porro rerum quos nesciunt. Voluptatum asperiores exercitationem id earum earum quas magni aut. Iusto sunt aliquid. Ducimus et sint.
    </div>
  </div>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

