

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Tabs: Default | Component Library</title>

    <meta name="description" content="Component Library for Tabs: Default" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Tabs: Default Component Library">
    <meta property="og:site_name" content="Tabs: Default Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Tabs: Default">
</head>
<body class="h-screen">

    <div class="tab" data-tab="d2539ef8-c416-4c7d-80cf-de9ed7a64e1e">
  <div class="tab__navigation button-group">
        <button class="button button--small button--green button--green--outline" data-tab-for=9dcb2ee4-458f-4251-afbf-77dc1bd71544>
          <span>in aspernatur est</span>
        </button>
        <button class="button button--small button--green button--green--outline" data-tab-for=d9cc1472-dfbc-41f5-9364-d0d42d12be4b>
          <span>beatae pariatur et</span>
        </button>
        <button class="button button--small button--green button--green--outline" data-tab-for=c62e1860-267d-42eb-bef6-3759249d79dd>
          <span>tempora qui autem</span>
        </button>
        <button class="button button--small button--green button--green--outline" data-tab-for=7967ef4a-e8e8-417d-8403-b5b0668e491b>
          <span>eveniet magnam voluptas</span>
        </button>
  </div>

  <div class="tab__items">
        <div class="tab__item tab__item--9dcb2ee4-458f-4251-afbf-77dc1bd71544" data-tab-item="9dcb2ee4-458f-4251-afbf-77dc1bd71544">
            <h3 class="tab__item__title">in aspernatur est</h3>
            Perspiciatis natus autem delectus ut fuga qui quos. Aut sapiente sint porro odit vel a sit. Quo id quasi temporibus et nulla aperiam. Enim suscipit vero magni tempore id sit aut earum eveniet. Maxime voluptate ipsum eum.
        </div>
        <div class="tab__item tab__item--d9cc1472-dfbc-41f5-9364-d0d42d12be4b" data-tab-item="d9cc1472-dfbc-41f5-9364-d0d42d12be4b">
            <h3 class="tab__item__title">beatae pariatur et</h3>
            Corrupti a ipsam beatae alias quo nobis consequatur at repellat. Laborum id exercitationem rerum id enim et. Laborum consequatur sit. Ut similique esse quaerat voluptas. Nostrum facere sint at.
        </div>
        <div class="tab__item tab__item--c62e1860-267d-42eb-bef6-3759249d79dd" data-tab-item="c62e1860-267d-42eb-bef6-3759249d79dd">
            <h3 class="tab__item__title">tempora qui autem</h3>
            Culpa harum aut ut voluptatem autem. Impedit cum eum eveniet enim placeat optio consequatur. Tenetur esse voluptatem quis. Quaerat sunt nobis velit eum est quibusdam magni. Iure similique earum temporibus consequuntur.
        </div>
        <div class="tab__item tab__item--7967ef4a-e8e8-417d-8403-b5b0668e491b" data-tab-item="7967ef4a-e8e8-417d-8403-b5b0668e491b">
            <h3 class="tab__item__title">eveniet magnam voluptas</h3>
            Odio illo vero eveniet deserunt corrupti. Cum quis architecto impedit. Culpa laboriosam dicta odio magni hic maiores accusamus labore tempore. Reiciendis ratione ea eos perspiciatis laborum quos expedita provident. Magni atque totam dolore consequatur aut.
        </div>
  </div>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

