

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Table: Default | Component Library</title>

    <meta name="description" content="Component Library for Table: Default" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Table: Default Component Library">
    <meta property="og:site_name" content="Table: Default Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Table: Default">
</head>
<body class="h-screen">

    <table>
    <tr>
        <th></th>
    </tr>
        <tr>
  <td>Text1</td>
  <td>£50,000</td>
  <td>Text2</td>
</tr>

    <tr>
        <td>manual row</td>
    </tr>
        <tr>
  <td>Text1</td>
  <td>£50,000</td>
  <td>Text2</td>
</tr>

    <tr>
        <td>manual row</td>
    </tr>
        <tr>
  <td>Text1</td>
  <td>£50,000</td>
  <td>Text2</td>
</tr>

    <tr>
        <td>manual row</td>
    </tr>
</table>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

