

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Quotes: Simple | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <blockquote class="quote">
    <div class="quote__content">
        <p>“Quidem cumque dolores voluptas aliquid enim error mollitia et est. Ut doloribus vitae voluptas doloremque modi. Officiis tempora quasi maiores esse. Maiores in et dolor voluptas voluptatibus sint nobis provident quis. Quos dolor ut.”</p>
    </div>
</blockquote>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

