

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Hero: Woodland | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <div class="hero">
  <h1>Nulla Quaerat Et <span class="hero__extra">£20,133</span></h1>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

