

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Call to Action Form: Subscribe to Blog | Component Library</title>

    <meta name="description" content="Component Library for Call to Action Form: Subscribe to Blog" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Call to Action Form: Subscribe to Blog Component Library">
    <meta property="og:site_name" content="Call to Action Form: Subscribe to Blog Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Call to Action Form: Subscribe to Blog">
</head>
<body class="h-screen">

    <form action="" method="GET" class="form form--cta form--cta--alt form--cta--blog form--cta--box">

    <div class="form--cta__container">
        <label for="form--cta__field-id" class="form__label form__title">Subscribe to our blog</label>

        <label for="form--cta__field-id" class="form__subtitle">We’ll email you with every new article</label>

        <div class="form__group">
            <input type="text" id="form--cta__field-id" name="field" placeholder="Enter email address…" />
            <button class="button button--green button--green--dark ">
  <span>Subscribe</span>
</button>

        </div>
    </div>
</form>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

