

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Gallery: Carousel | Component Library</title>

    <meta name="description" content="Component Library for Gallery: Carousel" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Gallery: Carousel Component Library">
    <meta property="og:site_name" content="Gallery: Carousel Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Gallery: Carousel">
</head>
<body class="h-screen">

    <template id="photoswipe">
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>

    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>

</template>

<div class="gallery gallery--carousel">
    <ul class="gallery__list">
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?55" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?55" alt="" title="" />
    </div>
</div>

            <p class="gallery__description">Reprehenderit officia quia architecto quod eveniet adipisci ratione sunt.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?38382" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?38382" alt="" title="" />
    </div>
</div>

            <p class="gallery__description">Doloribus et et doloribus eligendi.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?40894" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?40894" alt="" title="" />
    </div>
</div>

            <p class="gallery__description">Quis quo non quasi eius.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?72064" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?72064" alt="" title="" />
    </div>
</div>

            <p class="gallery__description">Mollitia est nulla quis perspiciatis et modi praesentium omnis.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?69476" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?69476" alt="" title="" />
    </div>
</div>

            <p class="gallery__description">Culpa nihil minima.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?50513" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?50513" alt="" title="" />
    </div>
</div>

            <p class="gallery__description">Quibusdam et minus sequi expedita repellat nam.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?88798" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?88798" alt="" title="" />
    </div>
</div>

            <p class="gallery__description">Ut minima tempora cum id cumque dolor explicabo.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?24986" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?24986" alt="" title="" />
    </div>
</div>

            <p class="gallery__description">Ea reprehenderit voluptatem molestias fugiat animi nisi expedita doloribus.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?10504" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?10504" alt="" title="" />
    </div>
</div>

            <p class="gallery__description">Earum placeat ad.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?84997" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?84997" alt="" title="" />
    </div>
</div>

            <p class="gallery__description">Est et repellat dignissimos.</p>
        </li>
    </ul>
    <ul class="gallery__thumbnails">
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?55"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?16713" alt="" title="" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?38382"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?51346" alt="" title="" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?40894"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?17247" alt="" title="" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?72064"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?90112" alt="" title="" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?69476"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?74693" alt="" title="" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?50513"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?84058" alt="" title="" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?88798"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?61246" alt="" title="" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?24986"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?21319" alt="" title="" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?10504"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?53418" alt="" title="" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?84997"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?66862" alt="" title="" />
    </div>
</div>
</a>
        </li>
    </ul>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

