

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Call to Action Form: Search | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <form action="" method="GET" class="form form--cta">
    <label for="form__cta__field" class="form__label form__title">Woodlands for sale for conservation and enjoyment</label>


    <div class="form__group">
        <input type="text" id="form__cta__field" name="field" placeholder="Enter locations eg. Suffolk" />
        <button class="button button--green">
  <span>Search woodlands for sale</span>
</button>

    </div>
</form>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

