

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Button Group: Default | Component Library</title>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <div class="button-group">
      <button class="button button--small button--inline">
  ut molestias omnis
</button>

      <button class="button button--small button--inline">
  corporis minus rerum
</button>

      <button class="button button--small button--inline">
  officiis ducimus eveniet
</button>

      <button class="button button--small button--inline">
  et rem quos
</button>

      <button class="button button--small button--inline">
  voluptatem molestiae quia
</button>

</div>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

