

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Blog Comment: Default | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <div class="blog-comment">
  <div class="blog-comment__content typography">
    <p>Officiis non dolores eum est omnis placeat perspiciatis voluptatibus qui. Sit maxime aspernatur animi sunt voluptatem autem ut. Nostrum quo rerum.</p>
<p>Et debitis voluptatem et provident quis possimus aut. Libero architecto unde suscipit officia adipisci. Officiis accusantium quis et. Ipsum inventore repellendus. Saepe natus quam numquam ullam aliquam.</p>

  </div>

  <div class="blog-comment__meta">
    <p class="blog-comment__author"><span>Ernie</span></p>
    <p class="blog-comment__date"><span>7th April 2020</span></p>
  </div>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

