

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Quotes: With Citation | Component Library</title>

    <meta name="description" content="Component Library for Quotes: With Citation" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Quotes: With Citation Component Library">
    <meta property="og:site_name" content="Quotes: With Citation Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Quotes: With Citation">
</head>
<body class="h-screen">

    <blockquote class="quote">
    <div class="quote__content">
        <p>“Itaque aliquam numquam. Iusto voluptatibus magni sunt. Sapiente ab corrupti nulla. Sit aliquid dolorem quia modi dolorem sunt nostrum. Et quam veniam animi sapiente.”</p>
    </div>
    <div class="quote__by">
        <cite>
            Iva Zboncak, Dynamic Functionality Officer
        </cite>
    </div>
    <div class="quote__image">
        <img src="../../images/drawings/badger.png" alt="Badger" title="" class="drawing " />

    </div>
</blockquote>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

