

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Quotes: Default | Component Library</title>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <blockquote class="quote quote--with-image">
    <div class="quote__content">
        <p>“Sapiente dolorem praesentium soluta ea et repellendus magnam similique magni. Et architecto dolorem qui dignissimos maiores aut assumenda aut. Quia molestiae voluptatem. Minus deserunt occaecati nostrum atque.”</p>
    </div>
    <div class="quote__by">
        <cite>
            Tevin Kozey, Principal Brand Consultant
        </cite>
    </div>
</blockquote>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

