

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Call To Action: Default | Component Library</title>

    <meta name="description" content="Component Library for Call To Action: Default" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Call To Action: Default Component Library">
    <meta property="og:site_name" content="Call To Action: Default Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Call To Action: Default">
</head>
<body class="h-screen">

    <div class="cta">
  <h2 class="cta__title">Call to Action</h2>
  <div class="cta__text">
    Natus voluptas consequatur nam velit provident molestiae. Sint magni vitae quidem eos. Praesentium accusantium sequi velit deserunt quis ipsa aut nostrum. Illo quia eum quibusdam omnis nihil commodi. Eos sunt accusamus quos est debitis quaerat.
  </div>
  <button class="button button--red button--inline ">
  <span>Call to Action</span>
</button>

</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

