

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <title>Quotes: Full | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body class="h-screen">

    <blockquote class="quote">
    <div class="quote__content">
        <p>“Quia fuga fugiat saepe molestias ipsa ratione quia. Sed unde consequatur excepturi a cumque labore est qui quas. Consequatur mollitia quibusdam nam officia incidunt qui nisi ea alias. Fugit asperiores provident nostrum sit incidunt iure similique id. Sit rem libero atque dolore.”</p>
    </div>
    <div class="quote__by">
        <cite>
            Blanche Cormier I, Principal Implementation Executive
        </cite>
    </div>
    <p class="quote__link">
        <a href="#">Read blog post</a>
    </p>
    <div class="quote__image">
        <img src="../../images/drawings/badger.png" alt="Badger" title="" class="drawing " />

    </div>
</blockquote>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

