

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Gallery: Carousel | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <div class="gallery gallery--carousel">
    <ul class="gallery__list">
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?1787">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?1787" />
    </div>
</div>

            <p class="gallery__description">Facilis mollitia eligendi.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?32765">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?32765" />
    </div>
</div>

            <p class="gallery__description">Nihil aut voluptatibus possimus.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?8895">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?8895" />
    </div>
</div>

            <p class="gallery__description">Consequatur et soluta totam corporis assumenda et tempora.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?31413">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?31413" />
    </div>
</div>

            <p class="gallery__description">Aliquam alias sint vel.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?30029">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?30029" />
    </div>
</div>

            <p class="gallery__description">Quis vel fuga.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?54912">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?54912" />
    </div>
</div>

            <p class="gallery__description">Qui quia sequi numquam iusto earum.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?71125">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?71125" />
    </div>
</div>

            <p class="gallery__description">Tempora dolor itaque magnam numquam et.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?38393">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?38393" />
    </div>
</div>

            <p class="gallery__description">Necessitatibus vitae voluptatem sed non non velit nam et harum.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?50428">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?50428" />
    </div>
</div>

            <p class="gallery__description">At nemo sed error dolores et amet.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?95493">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?95493" />
    </div>
</div>

            <p class="gallery__description">Nihil voluptatem quis sed minus id aliquid quia maxime.</p>
        </li>
    </ul>
    <ul class="gallery__thumbnails">
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?1787"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?28680" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?32765"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?82054" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?8895"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?68052" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?31413"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?95761" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?30029"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?22045" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?54912"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?19211" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?71125"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?35544" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?38393"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?32427" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?50428"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?81720" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?95493"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?42829" />
    </div>
</div>
</a>
        </li>
    </ul>
</div>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

