

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cards: With Banner | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <div class="card">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?57237" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Card With Banner</h3>
    <div class="card__content">
      Nostrum et fugiat rerum placeat sit ut voluptas voluptas et. In ut adipisci dolores ut quam sequi. Fugit blanditiis et qui. Omnis modi error distinctio omnis tempora. Amet nulla et saepe et qui. A nesciunt soluta.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

