

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <title>Tabs: Default | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body class="h-screen">

    <div class="tab" data-tab="63fa91b4-6c1b-4b32-b8d6-0808a74d897c">
  <div class="tab__navigation button-group">
        <button class="button button--small button--green button--green--outline" data-tab-for=b384b3f7-6c9f-4ea9-a3a4-adaf768f3bbf>
          <span>necessitatibus rem architecto</span>
        </button>
        <button class="button button--small button--green button--green--outline" data-tab-for=4a33a493-6832-4602-aaf4-7780e03a66b1>
          <span>quia dolores laudantium</span>
        </button>
        <button class="button button--small button--green button--green--outline" data-tab-for=efcf7b25-5c6c-45a9-9438-849488d83bd9>
          <span>enim autem doloremque</span>
        </button>
        <button class="button button--small button--green button--green--outline" data-tab-for=7f39f6ce-f687-481b-82fa-69645be577ee>
          <span>voluptas incidunt quod</span>
        </button>
  </div>

  <div class="tab__items">
        <div class="tab__item tab__item--b384b3f7-6c9f-4ea9-a3a4-adaf768f3bbf" data-tab-item="b384b3f7-6c9f-4ea9-a3a4-adaf768f3bbf">
            <h3 class="tab__item__title">necessitatibus rem architecto</h3>
            Unde odio asperiores voluptatum maiores est recusandae iste. Cumque tempora rerum vitae maxime. A dicta quia. Corporis modi et laudantium architecto recusandae explicabo quo ipsa. Amet odit rerum expedita.
        </div>
        <div class="tab__item tab__item--4a33a493-6832-4602-aaf4-7780e03a66b1" data-tab-item="4a33a493-6832-4602-aaf4-7780e03a66b1">
            <h3 class="tab__item__title">quia dolores laudantium</h3>
            Doloremque temporibus et ducimus illum doloribus. Beatae dicta maxime ut. Sapiente quis iure qui fuga nostrum incidunt et aperiam. Voluptatem at sint. Architecto et quidem.
        </div>
        <div class="tab__item tab__item--efcf7b25-5c6c-45a9-9438-849488d83bd9" data-tab-item="efcf7b25-5c6c-45a9-9438-849488d83bd9">
            <h3 class="tab__item__title">enim autem doloremque</h3>
            Nesciunt beatae quos rerum cumque ut eveniet. A officia eos voluptas. Quibusdam asperiores repudiandae qui vel. Ex voluptatibus quod magnam occaecati. Alias facere non ut omnis molestias asperiores.
        </div>
        <div class="tab__item tab__item--7f39f6ce-f687-481b-82fa-69645be577ee" data-tab-item="7f39f6ce-f687-481b-82fa-69645be577ee">
            <h3 class="tab__item__title">voluptas incidunt quod</h3>
            Delectus vero labore. Consequatur minus modi officia esse blanditiis enim temporibus et. Animi dignissimos aperiam molestiae. Commodi consequatur et dolorem aperiam voluptate autem facilis. Officia odio voluptatem.
        </div>
  </div>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

