

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Modal: Small | Component Library</title>

    <meta name="description" content="Component Library for Modal: Small" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Modal: Small Component Library">
    <meta property="og:site_name" content="Modal: Small Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Modal: Small">
</head>
<body class="h-screen">

    <div class="modal modal--small" aria-hidden="true" id="modal-86ce3e13-178b-446c-ae64-f132bca8bd47">
  <div class="modal__container" data-modal-close="modal-86ce3e13-178b-446c-ae64-f132bca8bd47">
    <div class="modal__item" role="dialog" aria-modal="true" aria-labelledby="modal__title--86ce3e13-178b-446c-ae64-f132bca8bd47">

      <header class="modal__header">
        <h2 class="modal__title" id="modal__title--86ce3e13-178b-446c-ae64-f132bca8bd47">Default Modal</h2>
        <button type="button" data-modal-close="modal-86ce3e13-178b-446c-ae64-f132bca8bd47" aria-label="Close Modal">×</button>
      </header>

      <div class="modal__content">
          Eum magnam quam velit quisquam. Et aut sit et sed pariatur dolores quod voluptatum. Natus accusamus aperiam ullam. Qui cupiditate omnis nulla aliquam ratione. Dicta rerum vero. Cumque occaecati hic illo doloribus ut modi placeat non voluptate.
 Voluptas nemo ea. Quaerat ab consequatur consequatur. Quia eum nesciunt suscipit illo ut ducimus. Cumque est nihil. Perspiciatis debitis quas amet fugit dolorum dolore voluptate cupiditate aliquam.
 Assumenda delectus vitae. Neque et molestiae quam blanditiis quis aut porro sapiente. Voluptatum ut quo voluptatum aspernatur eius cumque accusamus. Ipsum est similique pariatur voluptatibus. Aut totam velit.
      </div>


    </div>
  </div>
</div>


        <button class="button button--green button--inline" data-modal-open="modal-86ce3e13-178b-446c-ae64-f132bca8bd47"><span>Open Modal Dialog</span></button>

    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

