

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <title>Blog Comment: Default | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body class="h-screen">

    <div class="blog-comment">
  <div class="blog-comment__content typography">
    <p>A maxime quis explicabo maiores nemo porro ullam officiis. Temporibus inventore ut. Ut rerum at labore velit.</p>
<p>Iure dolor vel et voluptates voluptatum enim occaecati optio. Harum delectus qui odio est architecto. Exercitationem sint rem.</p>

  </div>

  <div class="blog-comment__meta">
    <p class="blog-comment__author"><span>Duncan</span></p>
    <p class="blog-comment__date"><span>1st September 2019</span></p>
  </div>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

