

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <title>Cards: Blog | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body class="h-screen">

    <div class="card card--blog">
  <a href="page-blog-post" class="card__link">
    <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?72888" />
    </div>
</div>

    <div class="card__body">
      <h3 class="card__title">Blog Card</h3>
      <p class="card__meta">by Melvina, 14th September 2019, 52586 comments</p>
      <div class="card__content">
        Quisquam quaerat libero. Et suscipit sit neque. Ex et voluptate sed iure excepturi culpa. Deserunt doloremque culpa ipsam quasi laborum ut voluptas exercitationem. Voluptatum vero qui.
      </div>
    </div>
  </a>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

