

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Buttons: Green (Dark) | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <button class="button button--green--dark">
  <span>Dark Green Button</span>
</button>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

