

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Buttons: Green (Outline) | Component Library</title>

    <meta name="description" content="Component Library for Buttons: Green (Outline)" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Buttons: Green (Outline) Component Library">
    <meta property="og:site_name" content="Buttons: Green (Outline) Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Buttons: Green (Outline)">
</head>
<body class="h-screen">

    <button class="button button--green button--green--outline ">
  <span>Green Outlined Button</span>
</button>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

