

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Buttons: Inline (Green) | Component Library</title>

    <meta name="description" content="Component Library for Buttons: Inline (Green)" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Buttons: Inline (Green) Component Library">
    <meta property="og:site_name" content="Buttons: Inline (Green) Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Buttons: Inline (Green)">
</head>
<body class="h-screen">

    <button class="button button--inline button--green ">
  <span>Green Inline Button</span>
</button>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

