

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Button Listing: Default | Component Library</title>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <h2 class="section__title section__title--small">Popular topics</h2>

<ul class="list list--unstyled list--spaced">
    <li>
        <button class="button button--small">
  Blanditiis omnis quidem dolorum.
</button>

    </li>
    <li>
        <button class="button button--small">
  Illo recusandae eaque recusandae.
</button>

    </li>
    <li>
        <button class="button button--small">
  Totam numquam maxime.
</button>

    </li>
    <li>
        <button class="button button--small">
  Qui eum quod reiciendis maxime a possimus animi.
</button>

    </li>
</ul>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

