

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Cards Listing: General | Component Library</title>

    <meta name="description" content="Component Library for Cards Listing: General" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Cards Listing: General Component Library">
    <meta property="og:site_name" content="Cards Listing: General Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Cards Listing: General">
</head>
<body class="h-screen">

      <h2 class="section__title">General card listing</h2>

<section id="e93680b5-543c-485c-8e23-e80cd485930f" class="grid">
    <div class="grid__inner">
    <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Laboriosam Modi Aliquid Quae Consequatur.</h3>
    <div class="card__content">
      Odit rerum odit. Repellendus deserunt modi voluptatem. Repellat in ipsa quas facere ut voluptatem. Ducimus est officiis magni repudiandae quis optio molestias. Eum quo et aut repellendus necessitatibus. Labore assumenda repellendus.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Blanditiis Placeat Enim Quae Inventore Nihil Rem.</h3>
    <div class="card__content">
      Quos neque optio molestiae nulla qui et sed in quasi. Rerum eligendi libero doloribus cum unde. Corporis autem fuga et animi voluptas sed asperiores.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Eos Ipsam Quia Et Ab Harum Alias Nisi Ut Ipsam.</h3>
    <div class="card__content">
      Quis sapiente voluptas similique qui. Consectetur ut architecto molestiae debitis cumque. Quaerat voluptatem et. Dolorem expedita voluptatem voluptatum autem. Dolores officiis est inventore ullam error iusto sit illum velit. Ipsam quas blanditiis voluptates dolor voluptate nam dolor autem.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Quis Est Aut Ea Autem Voluptas Sint Numquam Earum Reprehenderit.</h3>
    <div class="card__content">
      Sequi dignissimos consequuntur quae debitis unde esse sed. Quisquam iste suscipit reprehenderit. Aut voluptatem officia sunt suscipit est aut atque iste. Voluptatem fuga autem ratione qui laudantium id. Et dolorum omnis dolorum quia non minima. Laudantium corporis ut quia id nostrum.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Nisi Molestiae Et Veniam Sed Voluptas Ea Sint Vel.</h3>
    <div class="card__content">
      Et et et neque eligendi sed. Qui non dolorem in magnam. Voluptates rerum quibusdam quo. Eaque vel ut totam quibusdam impedit libero. Impedit vitae nesciunt nam voluptas qui praesentium dolorum. Ut tempore dolores ut aperiam qui inventore alias nisi.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Dolor Amet Labore Quisquam Aspernatur Enim Sed Quaerat Dolorum.</h3>
    <div class="card__content">
      Ut nemo sed dignissimos doloribus omnis. Minus neque aspernatur aut et atque ratione est beatae. Et nesciunt quia. Commodi sint nihil ea dignissimos aliquam incidunt et.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      </div>
</section>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

