

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Listings: General | Component Library</title>

    <meta name="description" content="Component Library for Listings: General" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Listings: General Component Library">
    <meta property="og:site_name" content="Listings: General Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Listings: General">
</head>
<body class="h-screen">

    <h2 class="section__title section__title--small section__title--alt text-left">General Listing</h2>

<ul class="listing">
    <li class="listing__item">
        Sed doloribus voluptas ut occaecati architecto eum.
    </li>
    <li class="listing__item">
        Eius et quo dolor explicabo et.
    </li>
    <li class="listing__item">
        Ut quidem placeat.
    </li>
    <li class="listing__item">
        Commodi modi vero.
    </li>
</ul>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

