

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Woodland: Default | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <section class="grid grid--2/3 grid--spaced grid--divider grid--woodland">
    <div class="grid__inner">
    <div class="grid__item">
        <template id="photoswipe">
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>

    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>

</template>

<div class="gallery gallery--carousel">
    <ul class="gallery__list">
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?40939" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?40939" />
    </div>
</div>

            <p class="gallery__description">Fugit id adipisci vero omnis eius repellendus.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?87783" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?87783" />
    </div>
</div>

            <p class="gallery__description">Accusamus iusto ut sunt.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?30909" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?30909" />
    </div>
</div>

            <p class="gallery__description">Illum dignissimos culpa eligendi quas repudiandae iste est voluptas.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?50421" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?50421" />
    </div>
</div>

            <p class="gallery__description">Saepe incidunt vero temporibus assumenda vero omnis.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?834" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?834" />
    </div>
</div>

            <p class="gallery__description">Eos delectus tempore sit.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?3173" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?3173" />
    </div>
</div>

            <p class="gallery__description">Reiciendis saepe maxime aliquid ea mollitia sed delectus adipisci.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?45400" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?45400" />
    </div>
</div>

            <p class="gallery__description">Occaecati nesciunt iste optio quaerat.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?98713" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?98713" />
    </div>
</div>

            <p class="gallery__description">Necessitatibus esse quos est rem tempore aut.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?69312" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?69312" />
    </div>
</div>

            <p class="gallery__description">Qui qui dicta voluptatem eum sed magni dolores odio.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?68541" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?68541" />
    </div>
</div>

            <p class="gallery__description">Aliquid molestias libero animi esse tenetur ut quia error perferendis.</p>
        </li>
    </ul>
    <ul class="gallery__thumbnails">
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?40939"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?3138" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?87783"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?7329" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?30909"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?94715" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?50421"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?97173" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?834"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?34661" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?3173"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?10800" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?45400"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?50289" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?98713"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?77557" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?69312"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?72574" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?68541"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?53582" />
    </div>
</div>
</a>
        </li>
    </ul>
</div>

        <div class="tab tab--2/3 tab--spaced tab--divider tab--woodland" data-tab="">
  <div class="tab__navigation button-group">
        <button class="button button--small button--inline button--green button--green--outline" data-tab-for=description>
          <span>Description</span>
        </button>
        <button class="button button--small button--inline button--green button--green--outline" data-tab-for=maps>
          <span>Maps</span>
        </button>
        <button class="button button--small button--inline button--green button--green--outline" data-tab-for=directions>
          <span>Directions</span>
        </button>
  </div>

  <div class="tab__items">
        <div class="tab__item tab__item--description" data-tab-item="description">
            <h3 class="tab__item__title">Description</h3>
            Description
        </div>
        <div class="tab__item tab__item--maps" data-tab-item="maps">
            <h3 class="tab__item__title">Maps</h3>
            Maps
        </div>
        <div class="tab__item tab__item--directions" data-tab-item="directions">
            <h3 class="tab__item__title">Directions</h3>
            Directions
        </div>
  </div>
</div>

    </div>
    <div class="grid__item">
        <div class="sticky">
            <p class="lede">Deleniti ducimus consectetur est voluptate dignissimos. Nesciunt maxime enim tenetur sit commodi dolorum sed. Blanditiis optio id nostrum. Quas unde aperiam optio debitis sit id repudiandae enim.</p>

            <button class="button button--green" data-modal-open="modal-a420f499-b0ee-49a0-b070-d2b472e25b39">
                <span>Visit this woodland</span>
            </button>

            <button class="button button--green--dark">
  <span>Download PDF Details</span>
</button>


            <div class="managed-by">
  <div class="managed-by__person">
    <h3 class="managed-by__title">
      Managed by <strong>Wilburn Schmeler</strong>
    </h3>
    <div class="managed-by__avatar">
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/m_kalibry/128.jpg" />
    </div>
  </div>
  <p class="managed-by__contact">Telephone: <a href="tel:785.838.9979 x7367">785.838.9979 x7367</a></p>
  <p class="managed-by__contact">Email: <a href="mailto:Elijah.Bednar@example.org">Elijah.Bednar@example.org</a></p>
</div>

        </div>
    </div>
    </div>
</section>

<div class="modal modal--small" aria-hidden="true" id="modal-a420f499-b0ee-49a0-b070-d2b472e25b39">
  <div class="modal__container" data-modal-close="modal-a420f499-b0ee-49a0-b070-d2b472e25b39">
    <div class="modal__item" role="dialog" aria-modal="true" aria-labelledby="modal__title--a420f499-b0ee-49a0-b070-d2b472e25b39">

      <header class="modal__header">
        <h2 class="modal__title" id="modal__title--a420f499-b0ee-49a0-b070-d2b472e25b39">Visit Woodland</h2>
        <button type="button" data-modal-close="modal-a420f499-b0ee-49a0-b070-d2b472e25b39" aria-label="Close Modal">×</button>
      </header>

<div class="modal__content text-center">
    <p>Voluptatum voluptatum voluptas suscipit illo dignissimos voluptate. Quod velit natus nemo occaecati aut perspiciatis optio. Ullam corrupti illo reiciendis dolor voluptate modi id reiciendis sequi.
 Odio pariatur consequatur amet molestiae ducimus voluptatem quia sit repudiandae. Voluptatibus molestiae iure asperiores et. Quo ut totam est nihil quis rerum quia ut natus. Sunt omnis qui quae adipisci ea aut deleniti tempore.</p>

    <button class="button button--green">
  <span>Download PDF Details</span>
</button>

    <button class="button button--green--dark">
  <span>Print PDF Details</span>
</button>


    <p>Quia quae aliquam voluptatem libero esse commodi. Rerum autem alias eveniet sunt perspiciatis ad. Est libero consequuntur molestias sequi voluptas aperiam assumenda.</p>
</div>


    </div>
  </div>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

