

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cards Listing: Default | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <h2 class="section__title">General card listing</h2>

<section class="grid">
    <div class="grid__inner">
    <div class="card">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?67305" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Rerum Officiis Est Velit Accusantium Magnam.</h3>
    <div class="card__content">
      Error vitae sed aut. Esse officia sed error nostrum. Fugiat cumque aut corporis in voluptate laudantium dolorem. Et id magnam.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

    <div class="card">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?12245" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Voluptatem Nesciunt Sit Quo.</h3>
    <div class="card__content">
      Dignissimos expedita illo enim at consectetur laboriosam. Nostrum aut et libero ea occaecati et. Qui magnam debitis. Fuga et perferendis dolor aut. Quaerat et magnam non omnis ea voluptatem. Molestiae eaque itaque est facilis aut.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

    <div class="card">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?1032" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Dolores Quia Ad Assumenda.</h3>
    <div class="card__content">
      Placeat iusto est. Ex ea delectus dolor laboriosam voluptatem. Qui enim sunt.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

    <div class="card">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?75099" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Maiores Possimus Non Numquam Deserunt.</h3>
    <div class="card__content">
      Voluptatem et asperiores repellat minus voluptates mollitia sunt eligendi aperiam. Sint blanditiis natus repudiandae odit repellendus nihil quidem sapiente. Pariatur id soluta. Magnam sunt eius sunt totam ullam esse.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

    <div class="card">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?64117" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Labore Quo Id.</h3>
    <div class="card__content">
      Quo possimus sunt quam fugit molestiae ut enim laudantium. Nulla odit ratione. Maxime eum iure qui omnis in sit.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

    <div class="card">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?64885" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Minima Consequatur Officiis Qui Adipisci.</h3>
    <div class="card__content">
      Dicta repellat provident. Reprehenderit facilis sequi et. Eos accusamus quam possimus qui illo sed ratione molestias iure. Quasi molestiae recusandae corporis.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

    </div>
</section>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

