

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Listings: Linked | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <ul class="listing listing--linked">
    <li class="listing__item">
        <a href="#">Ipsam Nam Ut Distinctio Nulla Omnis Hic.</a>
    </li>
    <li class="listing__item">
        <a href="#">Rerum Labore Magni Vel Dolorum.</a>
    </li>
    <li class="listing__item">
        <a href="#">A Eos Aperiam Voluptate Est Dolor Id Sint.</a>
    </li>
    <li class="listing__item">
        <a href="#">Rerum Ea Qui Ut.</a>
    </li>
</ul>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

