

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Button Listing: Default | Component Library</title>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <h2 class="section__title section__title--small">Popular topics</h2>

<ul class="list list--unstyled list--spaced">
    <li>
        <button class="button button--small">
  In recusandae nulla ipsum repellendus ut eveniet nesciunt asperiores non.
</button>

    </li>
    <li>
        <button class="button button--small">
  Vitae consequatur ab quos accusamus.
</button>

    </li>
    <li>
        <button class="button button--small">
  Assumenda pariatur harum incidunt nesciunt dolorem illum aliquid.
</button>

    </li>
    <li>
        <button class="button button--small">
  Cum ut esse tenetur optio est odio ut.
</button>

    </li>
</ul>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

