

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Listings: Buttons | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <h2 class="section__title section__title--small section__title--alt text-left">Button List</h2>

<ul class="listing listing--buttons">
    <li class="list__item">
        <button class="button button--small">
  <span>Qui reprehenderit dicta possimus et non alias distinctio.</span>
</button>

    </li>
    <li class="list__item">
        <button class="button button--small">
  <span>Ab eius omnis perferendis rerum laboriosam.</span>
</button>

    </li>
    <li class="list__item">
        <button class="button button--small">
  <span>Et consequuntur cumque voluptates ut occaecati quo.</span>
</button>

    </li>
    <li class="list__item">
        <button class="button button--small">
  <span>Quia voluptate fugiat perspiciatis nesciunt unde ullam sit laboriosam hic.</span>
</button>

    </li>
</ul>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

