

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Button Listing: Default | Component Library</title>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <h2 class="section__title section__title--small">Popular topics</h2>

<ul class="list list--unstyled list--spaced">
    <li>
        <button class="button button--small">
  Nihil ducimus harum dolores voluptas.
</button>

    </li>
    <li>
        <button class="button button--small">
  Ab sint laudantium assumenda quae similique omnis nostrum corrupti temporibus.
</button>

    </li>
    <li>
        <button class="button button--small">
  Eveniet ad perferendis est neque repellat omnis iste et accusamus.
</button>

    </li>
    <li>
        <button class="button button--small">
  Voluptatum temporibus modi voluptatem reiciendis recusandae recusandae laborum nisi.
</button>

    </li>
</ul>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

