

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cards Listing: Single | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

      <h2 class="section__title">Single column card listing</h2>

<section class="grid grid--single">
    <div class="grid__inner">
    <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?75503" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Iste Numquam Expedita.</h3>
    <div class="card__content">
      Tempora sit aperiam exercitationem. Quaerat quam perferendis provident sunt voluptatem atque sunt quod eos. Quia quibusdam sed voluptas cumque officiis aliquid.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?91197" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Et Et Dignissimos.</h3>
    <div class="card__content">
      Necessitatibus quo expedita veniam. Cumque praesentium quia nam a doloribus fuga alias quia. Quam et quisquam minima. Vel aut voluptatem libero eum explicabo. Blanditiis quia maiores at odit. Voluptatem deleniti sed sequi necessitatibus animi molestiae in ea.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?10391" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Esse Reiciendis Dicta Omnis Non Reprehenderit.</h3>
    <div class="card__content">
      Iusto reiciendis adipisci. Et non nostrum explicabo. Odio natus qui numquam veniam. Nemo illo deleniti.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?16782" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Voluptatem Doloremque Iusto Voluptatem.</h3>
    <div class="card__content">
      Voluptates nulla delectus aliquam ex sapiente harum esse quos occaecati. Nihil fuga minima. Neque libero labore nihil reiciendis occaecati.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?203" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Dolores Corporis Voluptas Asperiores Perferendis In.</h3>
    <div class="card__content">
      Libero omnis cupiditate quo accusantium dolores quam. Commodi repellendus dolores cupiditate eos qui. Vel ducimus accusantium adipisci nesciunt reprehenderit ipsam.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?82019" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Consequatur Sint Facere Est Ex Praesentium Rerum Et Inventore Minus.</h3>
    <div class="card__content">
      Quas perferendis eum. Quia ut officiis ipsam accusamus. Molestias et dolore et.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      </div>
</section>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

