

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Listings: General | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <h2 class="section__title section__title--small section__title--alt text-left">General Listing</h2>

<ul class="listing">
    <li class="listing__item">
        Sed excepturi nihil non doloremque odio expedita ipsa.
    </li>
    <li class="listing__item">
        Similique distinctio magnam non ut.
    </li>
    <li class="listing__item">
        Laudantium occaecati sunt est quas nam.
    </li>
    <li class="listing__item">
        Quaerat perspiciatis officiis nisi non sed deserunt.
    </li>
</ul>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

