

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Blog Comments: Default | Component Library</title>

    <meta name="description" content="Component Library for Blog Comments: Default" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Blog Comments: Default Component Library">
    <meta property="og:site_name" content="Blog Comments: Default Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Blog Comments: Default">
</head>
<body class="h-screen">

    <div class="section section--short">
  <h2 class="section__title text-left">Comments</h2>

  <div class="listing listing--comments">
      <div class="blog-comment">
  <div class="blog-comment__content typography">
    <p>Corporis earum aspernatur. Rem quia cumque. Odit ut omnis temporibus. Ipsum aut ea architecto consectetur reiciendis distinctio qui voluptatem voluptas.</p>
<p>Molestias iure nesciunt non maiores quis aperiam et eveniet. Consequatur sunt libero sed ad. Necessitatibus ipsa expedita qui voluptatum. Cupiditate cum nulla voluptatem expedita. Recusandae blanditiis molestiae aut necessitatibus maxime.</p>

  </div>

  <div class="blog-comment__meta">
    <p class="blog-comment__author"><span>Faustino</span></p>
    <p class="blog-comment__date"><span>20th February 2020</span></p>
  </div>
</div>

      <div class="blog-comment">
  <div class="blog-comment__content typography">
    <p>Eos et tenetur ullam. Voluptatum numquam non non et dolores. Corrupti nostrum quibusdam officia voluptatem et ut eos magni est. Corporis ad commodi deleniti autem quo reprehenderit eligendi voluptatum. Ducimus reiciendis et vel dolorem impedit rem.</p>
<p>Iste nulla dolore in laboriosam. Praesentium corrupti aliquid iusto. Earum id est. Sequi aspernatur necessitatibus nisi.</p>

  </div>

  <div class="blog-comment__meta">
    <p class="blog-comment__author"><span>Mckenna</span></p>
    <p class="blog-comment__date"><span>27th July 2020</span></p>
  </div>
</div>

      <div class="blog-comment">
  <div class="blog-comment__content typography">
    <p>Veritatis ut rerum. Ut nihil a error ducimus deleniti qui officia ipsa. Aut explicabo quas quo sed eveniet dicta enim. Omnis doloremque ex tenetur et inventore est. Et ut expedita. Est velit rem incidunt eius impedit fuga provident esse cum.</p>
<p>Et corrupti et minima incidunt animi consequatur sunt sint. Expedita cupiditate excepturi iste inventore eveniet. Maiores cum est dolor. Ut ex expedita mollitia qui impedit dicta occaecati nihil est.</p>

  </div>

  <div class="blog-comment__meta">
    <p class="blog-comment__author"><span>Hannah</span></p>
    <p class="blog-comment__date"><span>21st December 2019</span></p>
  </div>
</div>

      <div class="blog-comment">
  <div class="blog-comment__content typography">
    <p>Necessitatibus et ex sunt est sunt. Blanditiis molestiae asperiores id consectetur officiis pariatur totam eligendi qui. Ea non ab non distinctio nihil quis earum repellendus. Est culpa velit explicabo nihil similique quia sit dolores.</p>
<p>Est ea perspiciatis quod quo beatae itaque eaque et earum. Vero ad dolores eius repudiandae ea nesciunt et. Rerum non ut quis eos voluptatum facere eum quis ipsam. Delectus ut blanditiis libero delectus omnis ab qui doloremque natus. Vel et minus ipsam eum debitis incidunt repellendus illum dicta.</p>

  </div>

  <div class="blog-comment__meta">
    <p class="blog-comment__author"><span>Isaias</span></p>
    <p class="blog-comment__date"><span>23rd November 2019</span></p>
  </div>
</div>

  </div>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

