

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <title>Listings: General | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body class="h-screen">

    <h2 class="section__title section__title--small section__title--alt text-left">General Listing</h2>

<ul class="listing">
    <li class="listing__item">
        Est quaerat minima placeat corporis.
    </li>
    <li class="listing__item">
        Recusandae mollitia et explicabo eaque optio aliquam provident nobis odio.
    </li>
    <li class="listing__item">
        Possimus et consequatur.
    </li>
    <li class="listing__item">
        Qui rerum hic non sequi asperiores.
    </li>
</ul>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

