

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <title>Cards Listing: Single | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body class="h-screen">

      <h2 class="section__title">Single column card listing</h2>

<section class="grid grid--single">
    <div class="grid__inner">
    <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?47688" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Amet Sunt Quidem Optio Porro Eos Ullam Eaque Quia Aspernatur.</h3>
    <div class="card__content">
      Repudiandae ea autem magni cumque ea et consequatur nesciunt nostrum. Soluta impedit aut et corrupti aut eum dolore ipsum. Odit et et et culpa doloremque voluptatem. A et repellendus. Voluptates dolore amet consequatur et. Totam labore sunt molestias enim accusamus dolorem.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?29335" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Molestiae Et Nisi Ut Fugit.</h3>
    <div class="card__content">
      Labore corrupti necessitatibus eum perspiciatis est et. Recusandae dignissimos laborum quia ipsa iure animi dolorem eum. Quia porro voluptas esse rem non. Perspiciatis porro placeat quas voluptatum nulla autem.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?62772" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Aperiam Reiciendis Eius Quia.</h3>
    <div class="card__content">
      Voluptatem saepe at vitae. Laudantium ipsa voluptas autem magnam eum. Ea aut ex modi ex voluptatem voluptas. Reiciendis voluptas excepturi dolores voluptas omnis adipisci dolor veritatis. Nulla est nesciunt assumenda. Aperiam nostrum sunt ea quia et.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?34446" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Dignissimos Mollitia Harum.</h3>
    <div class="card__content">
      Consequatur nisi et. Distinctio voluptatibus quae et corrupti rerum quis. Rerum sequi id vel voluptas praesentium qui dolorem. Ut sit possimus quod.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?21498" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Sed Voluptatem Et Non Praesentium Iste.</h3>
    <div class="card__content">
      Consequatur in provident repellat repellat pariatur. Sint explicabo reprehenderit dolorem illum. Eligendi ut fugiat et ipsa. Vitae repellat voluptas. Repellat vitae ducimus unde libero.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?21435" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Vitae Ratione Ea Repellendus Quo Sit.</h3>
    <div class="card__content">
      Minima earum velit illum tenetur adipisci eligendi provident suscipit assumenda. Culpa voluptatem a laboriosam cum odit. Repellat dolorum sint voluptate sint ut nulla. Omnis assumenda porro modi voluptas eligendi modi nemo quia. Ipsam eum exercitationem non.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      </div>
</section>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

