

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Blog Comments: Default | Component Library</title>

    <meta name="description" content="Component Library for Blog Comments: Default" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Blog Comments: Default Component Library">
    <meta property="og:site_name" content="Blog Comments: Default Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Blog Comments: Default">
</head>
<body class="h-screen">

    <div class="section section--short">
  <h2 class="section__title text-left">Comments</h2>

  <div class="listing listing--comments">
      <div class="blog-comment">
  <div class="blog-comment__content typography">
    <p>Modi saepe quisquam. Non reprehenderit iusto adipisci provident. Veritatis et quasi voluptas pariatur asperiores.</p>
<p>Neque repudiandae sit ea odit aliquam aliquid quis dolore. Vero est ut modi et enim voluptatibus sit. Voluptatum dolores distinctio omnis hic sint quia illo quis. Sunt vel non nihil a labore architecto sit autem dolores. Dolores in eum libero maxime.</p>

  </div>

  <div class="blog-comment__meta">
    <p class="blog-comment__author"><span>Wilton</span></p>
    <p class="blog-comment__date"><span>4th September 2019</span></p>
  </div>
</div>

      <div class="blog-comment">
  <div class="blog-comment__content typography">
    <p>Enim corrupti necessitatibus ut debitis enim quia. Facilis consequatur qui quae asperiores ut voluptas qui et. Ut deserunt fuga voluptatem. Quis optio mollitia est tenetur.</p>
<p>Suscipit exercitationem aut doloribus consequatur molestiae ipsum facilis est vitae. Tempore blanditiis sed dolor autem sed. Dolor quis placeat inventore.</p>

  </div>

  <div class="blog-comment__meta">
    <p class="blog-comment__author"><span>Candace</span></p>
    <p class="blog-comment__date"><span>12th August 2019</span></p>
  </div>
</div>

      <div class="blog-comment">
  <div class="blog-comment__content typography">
    <p>Est omnis accusantium sit. Voluptatem voluptas voluptate similique beatae magni ut sed voluptatem quo. Vel ipsa sit eius modi harum.</p>
<p>Aut voluptatem at at nesciunt. Amet neque quidem ipsum. Autem sunt et voluptatem. Omnis ipsam vel nulla. Mollitia doloremque iusto.</p>

  </div>

  <div class="blog-comment__meta">
    <p class="blog-comment__author"><span>Alayna</span></p>
    <p class="blog-comment__date"><span>2nd April 2020</span></p>
  </div>
</div>

      <div class="blog-comment">
  <div class="blog-comment__content typography">
    <p>Quasi quo magnam cupiditate ipsum est vel. Sed quibusdam ea. Rerum est beatae ad nobis adipisci aspernatur minima et.</p>
<p>Ut aut sunt velit quasi aut aut ut illum dicta. Qui aut aliquam qui nostrum. Tenetur est nostrum ea est qui sunt sed vero. Occaecati et ut voluptatem vel. Nisi exercitationem ipsam quo voluptate.</p>

  </div>

  <div class="blog-comment__meta">
    <p class="blog-comment__author"><span>Edythe</span></p>
    <p class="blog-comment__date"><span>7th May 2020</span></p>
  </div>
</div>

  </div>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

