

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Cards Listing: General | Component Library</title>

    <meta name="description" content="Component Library for Cards Listing: General" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Cards Listing: General Component Library">
    <meta property="og:site_name" content="Cards Listing: General Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Cards Listing: General">
</head>
<body class="h-screen">

      <h2 class="section__title">General card listing</h2>

<section id="dcf64720-18cf-44c0-9e0b-6763bdc2585e" class="grid">
    <div class="grid__inner">
    <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Quia Esse Soluta Sit Asperiores Praesentium Aspernatur.</h3>
    <div class="card__content">
      Qui est dolore vel quibusdam hic voluptatum cum sed. Iste illo ipsum. Et sed temporibus dolores quae consequatur. Beatae rerum explicabo voluptatem labore.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Non Non Odit Sit Occaecati Consectetur Rerum Quo.</h3>
    <div class="card__content">
      Laudantium natus id aut velit et dolorem fugiat autem aut. Eaque qui animi. Aut recusandae velit rerum numquam voluptatem aut ea repudiandae. Sunt officiis molestias illo magni qui minus qui occaecati placeat.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Suscipit Soluta Et Nihil.</h3>
    <div class="card__content">
      Temporibus eum omnis perferendis repellat porro et maxime voluptas. Molestias dolor odio aspernatur et officia. Asperiores accusamus aut quaerat voluptas ab culpa suscipit nulla quia. Voluptatem doloribus sint facere voluptatibus. Et occaecati non dolores reiciendis eligendi.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Aut Deserunt Quis Cumque.</h3>
    <div class="card__content">
      Esse eligendi quo nihil officia sunt voluptatem modi. Sint quis excepturi voluptas nihil deserunt voluptates omnis repudiandae. Maxime in quidem. Modi ea et. Mollitia eius aut at voluptas et expedita rerum aut.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Numquam Soluta Quo Accusamus Voluptatum Et Dolorem Dolores Vel Quas.</h3>
    <div class="card__content">
      Aspernatur velit inventore. Id fugit qui quo mollitia voluptatem. Omnis quia voluptates error sit. Ab suscipit atque autem id voluptatem. Minus dolores omnis accusantium dolor reprehenderit. Est ut et omnis.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Quo Earum Cupiditate.</h3>
    <div class="card__content">
      Explicabo illum quia deleniti quia excepturi delectus. Ea nisi dolorem eveniet. Totam voluptatibus et vel neque.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      </div>
</section>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

