

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Woodland: Default | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <section class="grid grid--2/3 grid--spaced grid--divider grid--woodland">
    <div class="grid__inner">
    <div class="grid__item">
        <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?26142" />
    </div>
</div>


        <br />

        <div class="read-more" data-show="Read more " data-hide="Read less">
  <div class="read-more__content">
      <p>Aut qui at consequatur consequuntur rerum recusandae consequatur recusandae possimus. Aut doloremque minus animi earum quae est rerum ratione. Perferendis recusandae quidem quasi eos aliquam. Corporis animi voluptatibus sit occaecati ut. Quia est et veniam fugiat. Ipsa quis unde at et non qui delectus.
 Veniam exercitationem voluptas. Iste eos et consectetur ut laborum culpa officia nihil. Magni in ipsa consequatur. Sequi qui sed tenetur voluptate sint.
 Ipsum eum deleniti alias placeat aliquid aut corrupti. Laudantium earum occaecati exercitationem libero libero ut dicta voluptatum. Dolores non blanditiis eaque. Quam praesentium quidem nihil dolores. Iure veniam dolorem. Aliquam facere eum laboriosam velit ipsa possimus quasi ut placeat.
 Sit unde blanditiis quae. Sed architecto voluptatem enim modi possimus laborum quaerat soluta. Labore qui cupiditate tempora maiores similique maxime. Aut voluptas quidem. Est ipsam vero inventore doloremque qui sed enim quas. In quis harum non iure.
 Consectetur temporibus culpa quo saepe reprehenderit distinctio hic eos. Nobis esse nemo aut deleniti quos qui. Cupiditate assumenda beatae qui et vitae vel. Animi perferendis eum. Aliquam debitis autem fuga molestiae consequatur aliquam dolore enim qui.
 Cumque et dolorum aperiam ex numquam. Quibusdam id ullam officiis tempore quis sunt provident. Ducimus commodi odit fuga veritatis. Provident qui dolores corrupti laudantium quia repellat accusantium asperiores. Quis perferendis provident consequatur non corporis cum voluptate tempora. Perferendis molestias et eos reprehenderit deleniti eveniet consequatur fugit ea.</p>
  </div>

  <div class="read-more__toggle">
      <button class="link"><span>Read more</span></button>
  </div>
</div>


        <br />

        <div class="tab tab--2/3 tab--spaced tab--divider tab--woodland" data-tab="">
  <div class="tab__navigation button-group">
        <button class="button button--small button--inline button--green button--green--outline" data-tab-for=description>
          <span>Description</span>
        </button>
        <button class="button button--small button--inline button--green button--green--outline" data-tab-for=maps>
          <span>Maps</span>
        </button>
        <button class="button button--small button--inline button--green button--green--outline" data-tab-for=directions>
          <span>Directions</span>
        </button>
  </div>

  <div class="tab__items">
        <div class="tab__item tab__item--description" data-tab-item="description">
            <h3 class="tab__item__title">Description</h3>
            Description
        </div>
        <div class="tab__item tab__item--maps" data-tab-item="maps">
            <h3 class="tab__item__title">Maps</h3>
            Maps
        </div>
        <div class="tab__item tab__item--directions" data-tab-item="directions">
            <h3 class="tab__item__title">Directions</h3>
            Directions
        </div>
  </div>
</div>


    </div>
    <div class="grid__item">
        <div class="sticky">
            <p class="lede">Animi non quia illo aut et vel iure deleniti. Ducimus cumque eum non vitae qui voluptatem repellendus exercitationem. Sint perspiciatis ipsam ullam libero rem. Quis quaerat aut veritatis odio ut dolorum.</p>

            <button class="button button--green">
  <span>Visit this woodland</span>
</button>

            <button class="button button--green--dark">
  <span>Download PDF Details</span>
</button>


            <div class="managed-by">
  <div class="managed-by__person">
    <h3 class="managed-by__title">
      Managed by <strong>Jermain Homenick</strong>
    </h3>
    <div class="managed-by__avatar">
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jeremyworboys/128.jpg" />
    </div>
  </div>
  <p class="managed-by__contact">Telephone: <a href="tel:(301) 315-9996">(301) 315-9996</a></p>
  <p class="managed-by__contact">Email: <a href="mailto:Chester.Dicki21@example.org">Chester.Dicki21@example.org</a></p>
</div>

        </div>
    </div>
    </div>
</section>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

