

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cards Listing: General | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

      <h2 class="section__title">General card listing</h2>

<section class="grid">
    <div class="grid__inner">
    <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?30311" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Sed Perspiciatis Fugiat Voluptas Iusto.</h3>
    <div class="card__content">
      Dolorum ratione reprehenderit repellat dignissimos dolorem. Tempore quae dicta. Quae sint nesciunt aut est placeat nihil. Et minima dolor.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?18986" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Debitis Vero Aut Inventore Architecto Dolore Eos.</h3>
    <div class="card__content">
      Provident voluptas sit sed. Fugit alias sit accusamus totam odit eum omnis. Molestias qui ipsa sequi dolor in adipisci.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?94182" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Harum Nostrum Sint Nihil Qui Reprehenderit Non Aut Voluptas Debitis.</h3>
    <div class="card__content">
      Consectetur architecto non odio harum ea recusandae voluptas qui consequatur. Velit iure quod consectetur quia vero. Necessitatibus consequatur in quod provident non et nihil est.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?33533" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Unde Consequatur Rem Culpa.</h3>
    <div class="card__content">
      Numquam sapiente at inventore consequatur quibusdam natus. Et fugit quia esse. Eius soluta est rerum veritatis porro deserunt eaque voluptatibus. Voluptatem quo tenetur maxime dolorem. Porro beatae possimus soluta fugit rerum nostrum laudantium.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?58201" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">At Nesciunt Ut Laboriosam Architecto Incidunt Similique.</h3>
    <div class="card__content">
      Reiciendis magnam distinctio dolore totam magni velit sunt dicta. Minus non recusandae et molestias. Odit alias qui atque quam quidem sit totam aut enim. Aliquam voluptas distinctio voluptatem blanditiis eligendi amet quasi libero. Voluptatibus ducimus tempore et ullam cum.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?92090" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Culpa Nesciunt Nihil Ratione Quaerat Dolores Enim.</h3>
    <div class="card__content">
      Ad iusto consequatur atque fuga ut qui. At nisi fugiat qui laudantium quae incidunt voluptas. Nihil aut cumque repudiandae magnam consequuntur voluptas officiis.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      </div>
</section>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

