

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Wood: Default | Component Library</title>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <div class="media media--image">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?81717" />
    </div>
</div>


<div class="read-more" data-show="Read more " data-hide="Read less">
  <div class="read-more__content">
      <p>Nesciunt facilis dolor at sunt optio. Temporibus molestiae non. Quae corporis minus iusto inventore commodi minus.
 Non dolorem qui ut. Earum non dolore rem ipsam qui veritatis sed. Sint voluptate sapiente est iusto consequatur dolores autem nam facilis. Adipisci beatae similique et vero repellat aut soluta. Praesentium earum consectetur et ea.
 Neque esse quod vero dignissimos. Suscipit aliquam repudiandae placeat. Adipisci nihil occaecati illum blanditiis quidem. Nam alias itaque molestiae aperiam est nam quod labore.
 Doloremque ipsa officia. Et iusto natus sint vel aut et adipisci. Ducimus mollitia voluptatem facilis et culpa et.
 Dolor alias in hic voluptates sit at. Non modi ipsam. Ipsam ut rerum officiis molestias vel voluptas. Ullam ut fugit inventore recusandae a sit in ipsam. Vitae ipsa ut repudiandae est nobis sint. Repellendus rerum expedita temporibus dolor.
 Animi eos asperiores odit. Et blanditiis velit eum atque odio nemo veritatis ut. Et dolorem ducimus eius quae voluptatem aut aperiam qui veritatis. Est a quia ex voluptates. Quas enim nemo quod atque. Sed non eligendi error blanditiis et molestiae eligendi asperiores.</p>
  </div>

  <div class="read-more__toggle">
    <button class="button button--small">
  Read more
</button>

  </div>
</div>


<button class="button button--green">
  Visit this woodland
</button>

<button class="button button--green">
  Download PDF Details
</button>


<div class="button-group">
      <button class="button button--small button--inline">
  Description
</button>

      <button class="button button--small button--inline">
  Maps
</button>

      <button class="button button--small button--inline">
  Directions
</button>

</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

