

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <title>Listings: Buttons | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body class="h-screen">

    <h2 class="section__title section__title--small section__title--alt text-left">Button List</h2>

<ul class="listing listing--buttons">
    <li class="list__item">
        <button class="button button--small">
  <span>Est in velit optio quam eum est autem aut reprehenderit.</span>
</button>

    </li>
    <li class="list__item">
        <button class="button button--small">
  <span>Velit assumenda et dolore corrupti et a quia odio animi.</span>
</button>

    </li>
    <li class="list__item">
        <button class="button button--small">
  <span>Dolores et est similique adipisci laborum qui aut accusamus.</span>
</button>

    </li>
    <li class="list__item">
        <button class="button button--small">
  <span>Non beatae est ipsa nesciunt vero voluptatem vel sint esse.</span>
</button>

    </li>
</ul>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

