

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Cards Listing: Single | Component Library</title>

    <meta name="description" content="Component Library for Cards Listing: Single" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Cards Listing: Single Component Library">
    <meta property="og:site_name" content="Cards Listing: Single Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Cards Listing: Single">
</head>
<body class="h-screen">

      <h2 class="section__title">Single column card listing</h2>

<section id="e5fc1761-6dd6-4a86-82ad-8ee69d78909c" class="grid grid--single">
    <div class="grid__inner">
    <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?79207" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Atque Consectetur Omnis Harum Et.</h3>
    <div class="card__content">
      In ut vero consectetur. Fuga quidem est. Et illum maiores et. Itaque placeat architecto labore quis quis et voluptate. Consequuntur enim rerum porro.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?87991" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Placeat Quibusdam Ex Et Non Quidem Est Omnis.</h3>
    <div class="card__content">
      Qui mollitia doloribus. Officia aspernatur veniam. Nihil optio neque quis ipsa ipsam sed praesentium deleniti quaerat. Rem voluptas distinctio animi architecto culpa incidunt facilis. Culpa voluptatum quisquam eaque sunt. Et non consequatur rerum suscipit accusantium quisquam similique laboriosam.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?40632" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Reiciendis Velit Nobis Maxime.</h3>
    <div class="card__content">
      Magnam nemo non. Et voluptate tenetur consequatur dolorem rerum expedita sit odit nemo. Optio eos sed veritatis. Minus animi labore non voluptatem quia minima dolore nemo.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?13547" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Dolores Assumenda Voluptatum Dicta Eaque Consectetur Ipsa Dolore Atque Eveniet.</h3>
    <div class="card__content">
      Provident et numquam aut voluptatum dolor sint eveniet. Qui excepturi sint possimus praesentium cumque repellendus enim. Ad non eaque vel quia. Voluptatem perspiciatis vitae odit est. Labore molestias commodi.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?47507" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Id Eligendi Expedita Sequi Rem Occaecati Voluptate Sit Consequatur Cupiditate.</h3>
    <div class="card__content">
      Temporibus delectus dicta veniam possimus porro. Labore sed eligendi unde laborum veniam. Nesciunt ducimus culpa.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?65228" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Qui Qui Aut Delectus Sapiente Exercitationem.</h3>
    <div class="card__content">
      Soluta ducimus numquam laboriosam illo dolor repellendus provident sunt. Magni debitis odio reiciendis nulla quidem placeat ad repudiandae. Sint maxime libero rerum fugiat illo. Eaque consectetur nulla numquam.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      </div>
</section>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

