

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Cards Listing: General | Component Library</title>

    <meta name="description" content="Component Library for Cards Listing: General" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Cards Listing: General Component Library">
    <meta property="og:site_name" content="Cards Listing: General Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Cards Listing: General">
</head>
<body class="h-screen">

      <h2 class="section__title">General card listing</h2>

<section id="ec5889a5-dc7f-473e-b998-441f093d0856" class="grid">
    <div class="grid__inner">
    <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?59220" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Minus Tempore Consequatur Veritatis.</h3>
    <div class="card__content">
      Tempore ab voluptatem incidunt maiores sed. Et illo non sapiente. Inventore tempora voluptate voluptatem nobis deserunt. Repellat nulla omnis consequatur ullam nam sit deleniti reprehenderit nobis. Ea quia enim numquam.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?50845" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Dolorem Ea Ut Minus.</h3>
    <div class="card__content">
      Quas nam laboriosam voluptates vero molestiae cum. Laboriosam quam voluptatem necessitatibus placeat sunt suscipit esse. Mollitia culpa vel nisi ut aspernatur minima suscipit error rerum. Aut qui quis voluptatem autem quod nisi eligendi suscipit aut. Est error consequatur ut omnis quia quaerat mollitia rerum. Voluptas quo non et consequatur eos id.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?14956" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Rerum Necessitatibus Itaque Veritatis Molestias Veritatis Sed Possimus.</h3>
    <div class="card__content">
      Omnis vero adipisci fugiat vel ut cumque dicta aliquam. Sunt illo et. Expedita nobis quisquam deserunt numquam debitis et eum quibusdam repellendus. Consectetur officiis animi odit cupiditate est eum exercitationem ut autem. Est magni laborum.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?94978" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Cum Aut Quam Consectetur Debitis Molestiae Cupiditate Voluptas Inventore.</h3>
    <div class="card__content">
      Eos porro delectus et. Veritatis vel quod modi qui culpa consequatur et recusandae distinctio. Porro ipsam occaecati doloribus rerum inventore voluptas omnis qui sunt. Voluptatem libero sit adipisci commodi quis ut aut et.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?9754" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Itaque Quia Ab Deserunt.</h3>
    <div class="card__content">
      Velit unde nisi aut eius eum amet. Perferendis magnam et et incidunt quo reprehenderit omnis rerum ut. Sed aut praesentium exercitationem dicta non nihil id quasi. Quis totam mollitia eligendi quos odit veniam.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link ">
      <div class="media media--widescreen">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?32259" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Et Aliquam Architecto Architecto Nam Dolores Itaque Dolor Nemo Aspernatur.</h3>
    <div class="card__content">
      Aut distinctio perferendis ullam aliquid est et aut dolorem. Atque odio sunt ipsam sit velit suscipit ipsam. Iure assumenda quaerat commodi nobis quod cupiditate voluptatibus.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      </div>
</section>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

