

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <title>Listings: Linked | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body class="h-screen">

    <ul class="listing listing--linked">
    <li class="listing__item">
        <a href="#">Est Quaerat Minima Placeat Corporis.</a>
    </li>
    <li class="listing__item">
        <a href="#">Recusandae Mollitia Et Explicabo Eaque Optio Aliquam Provident Nobis Odio.</a>
    </li>
    <li class="listing__item">
        <a href="#">Possimus Et Consequatur.</a>
    </li>
    <li class="listing__item">
        <a href="#">Qui Rerum Hic Non Sequi Asperiores.</a>
    </li>
</ul>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

