

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <title>Woodland: Default | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body class="h-screen">

    <section class="grid grid--2/3 grid--spaced grid--divider grid--woodland">
    <div class="grid__inner">
    <div class="grid__item">
        <template id="photoswipe">
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>

    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>

</template>

<div class="gallery gallery--carousel">
    <ul class="gallery__list">
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?62148" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?62148" />
    </div>
</div>

            <p class="gallery__description">Voluptatem aspernatur exercitationem ut.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?81609" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?81609" />
    </div>
</div>

            <p class="gallery__description">Incidunt eum alias est excepturi.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?28874" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?28874" />
    </div>
</div>

            <p class="gallery__description">Magni nihil illo sint velit esse aliquid consequatur.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?87743" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?87743" />
    </div>
</div>

            <p class="gallery__description">Eius vero eos et quibusdam ratione.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?13348" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?13348" />
    </div>
</div>

            <p class="gallery__description">Tenetur blanditiis nesciunt assumenda aut dicta itaque et veritatis sit.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?63634" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?63634" />
    </div>
</div>

            <p class="gallery__description">Tenetur laborum ut sunt nihil doloremque repellendus at quasi.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?33545" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?33545" />
    </div>
</div>

            <p class="gallery__description">Eligendi est labore ea libero ea.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?16603" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?16603" />
    </div>
</div>

            <p class="gallery__description">Ipsa suscipit id aut exercitationem nostrum sit odio.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?22876" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?22876" />
    </div>
</div>

            <p class="gallery__description">Fugiat libero maxime qui sunt in aperiam quod nostrum.</p>
        </li>
        <li class="gallery__item" data-src="http://placeimg.com/1156/650/nature?45986" data-width="1156" data-height="650">
            <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/1156/650/nature?45986" />
    </div>
</div>

            <p class="gallery__description">Quos et eum aperiam impedit sint iste.</p>
        </li>
    </ul>
    <ul class="gallery__thumbnails">
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?62148"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?39447" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?81609"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?86183" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?28874"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?94737" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?87743"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?36129" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?13348"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?52580" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?63634"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?69733" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?33545"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?58251" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?16603"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?21813" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?22876"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?65869" />
    </div>
</div>
</a>
        </li>
        <li class="gallery__item">
            <a href="http://placeimg.com/1156/650/nature?45986"><div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?15693" />
    </div>
</div>
</a>
        </li>
    </ul>
</div>

        <div class="tab tab--2/3 tab--spaced tab--divider tab--woodland" data-tab="">
  <div class="tab__navigation button-group">
        <button class="button button--small button--inline button--green button--green--outline" data-tab-for=description>
          <span>Description</span>
        </button>
        <button class="button button--small button--inline button--green button--green--outline" data-tab-for=maps>
          <span>Maps</span>
        </button>
        <button class="button button--small button--inline button--green button--green--outline" data-tab-for=directions>
          <span>Directions</span>
        </button>
  </div>

  <div class="tab__items">
        <div class="tab__item tab__item--description" data-tab-item="description">
            <h3 class="tab__item__title">Description</h3>
            Description
        </div>
        <div class="tab__item tab__item--maps" data-tab-item="maps">
            <h3 class="tab__item__title">Maps</h3>
            Maps
        </div>
        <div class="tab__item tab__item--directions" data-tab-item="directions">
            <h3 class="tab__item__title">Directions</h3>
            Directions
        </div>
  </div>
</div>

    </div>
    <div class="grid__item">
        <div class="sticky">
            <p class="lede">Ut optio maiores enim ut occaecati. Accusantium animi quis. Nobis consequuntur consequuntur earum deserunt aut fugiat quos labore tempore. Qui reiciendis temporibus praesentium. Magnam non molestias aut et sed accusamus sapiente quidem.</p>

            <button class="button button--green" data-modal-open="modal-8fa4568b-7ad3-4dcd-8323-ee60cb5843aa">
                <span>Visit this woodland</span>
            </button>

            <button class="button button--green--dark">
  <span>Download PDF Details</span>
</button>


            <div class="managed-by">
  <div class="managed-by__person">
    <h3 class="managed-by__title">
      Managed by <strong>Maximus Hilll</strong>
    </h3>
    <div class="managed-by__avatar">
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fjaguero/128.jpg" />
    </div>
  </div>
  <p class="managed-by__contact">Telephone: <a href="tel:086-366-4602 x1842">086-366-4602 x1842</a></p>
  <p class="managed-by__contact">Email: <a href="mailto:Murphy.Cremin15@example.org">Murphy.Cremin15@example.org</a></p>
</div>

        </div>
    </div>
    </div>
</section>

<div class="modal modal--small" aria-hidden="true" id="modal-8fa4568b-7ad3-4dcd-8323-ee60cb5843aa">
  <div class="modal__container" data-modal-close="modal-8fa4568b-7ad3-4dcd-8323-ee60cb5843aa">
    <div class="modal__item" role="dialog" aria-modal="true" aria-labelledby="modal__title--8fa4568b-7ad3-4dcd-8323-ee60cb5843aa">

      <header class="modal__header">
        <h2 class="modal__title" id="modal__title--8fa4568b-7ad3-4dcd-8323-ee60cb5843aa">Visit Woodland</h2>
        <button type="button" data-modal-close="modal-8fa4568b-7ad3-4dcd-8323-ee60cb5843aa" aria-label="Close Modal">×</button>
      </header>

<div class="modal__content text-center">
    <p>Voluptatem sit sint. Est nihil cupiditate et maiores dolores assumenda. Odio laudantium est sequi omnis. Vel nostrum quam inventore et quia est.
 Ratione totam hic accusamus nulla unde necessitatibus consequuntur facilis perspiciatis. Ea est nihil libero est nihil sequi expedita quasi. Dolor sed corporis deserunt dolore rerum amet quibusdam. Excepturi consectetur reprehenderit quo. Nobis delectus consequatur eum ad voluptate quisquam voluptas.</p>

    <button class="button button--green">
  <span>Download PDF Details</span>
</button>

    <button class="button button--green--dark">
  <span>Print PDF Details</span>
</button>


    <p>Voluptas ab laborum quia accusamus omnis nesciunt. Maxime voluptates sunt neque est nobis quaerat assumenda modi. Totam mollitia repellat.</p>
</div>


    </div>
  </div>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

