

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Listings: General | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <h2 class="section__title section__title--small section__title--alt text-left">General Listing</h2>

<ul class="listing">
    <li class="listing__item">
        Id qui non nobis unde libero nemo est veniam.
    </li>
    <li class="listing__item">
        Non dolorem blanditiis dolore sequi repellendus minima officiis.
    </li>
    <li class="listing__item">
        Nesciunt eligendi deleniti sequi aperiam eum illum consequatur quos enim.
    </li>
    <li class="listing__item">
        Eos eligendi officia fugit sunt adipisci quo qui.
    </li>
</ul>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

