

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cards Listing: General | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

      <h2 class="section__title">General card listing</h2>

<section class="grid">
    <div class="grid__inner">
    <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?14171" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Harum Est Et Dolorem Facilis Quod Deleniti Molestiae.</h3>
    <div class="card__content">
      Ut nam fugit. Enim quis autem. Cumque occaecati doloremque distinctio ut beatae et eius et explicabo.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?37919" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Molestiae Et Repellat Quia Dolores Omnis Unde Temporibus.</h3>
    <div class="card__content">
      Inventore tempore et dolorem maiores. Blanditiis ratione officiis. Nihil minus eveniet officiis distinctio cum iusto assumenda. Numquam rerum sed. Dicta culpa voluptate non et. Vel consequuntur quasi perspiciatis harum dolorem illo ut enim non.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?99290" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Libero Esse Iure Maxime Quo.</h3>
    <div class="card__content">
      Quidem quod maxime ipsam aut et. Asperiores doloremque officiis expedita aspernatur excepturi beatae. Non facilis error commodi eaque molestiae quia qui. Libero quos voluptates voluptas perferendis quod.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?21489" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Enim Voluptate Sit Debitis Eligendi Omnis Omnis Et.</h3>
    <div class="card__content">
      Minima et laudantium ut natus libero deleniti animi nisi odio. Mollitia nostrum qui facilis consequuntur expedita eveniet. Quod eos iure quo eos.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?2180" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Aut Eligendi Officiis Eaque Aut Sint.</h3>
    <div class="card__content">
      Rerum est quia velit excepturi inventore facere iusto eius. In laudantium nulla voluptatem alias rem accusantium fugiat eaque dolorum. At harum tempora nemo consectetur hic. Corrupti vel doloribus necessitatibus officia non rerum qui.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      <div class="card card--link">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?64836" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Aut Nam Dolores Id Mollitia.</h3>
    <div class="card__content">
      Consequatur consequatur sint modi. Magnam hic nihil neque. Voluptate necessitatibus laudantium iusto aut omnis dolores illo. Quaerat eius harum nam explicabo. Aut repellat minima aperiam a aut sed laborum veritatis.
    </div>
  </div>
  <div class="card__banner">
    Banner
  </div>
</div>

      </div>
</section>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

