

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Woodland Maps: Default | Component Library</title>

    <meta name="description" content="Component Library for Woodland Maps: Default" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Woodland Maps: Default Component Library">
    <meta property="og:site_name" content="Woodland Maps: Default Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Woodland Maps: Default">
</head>
<body class="h-screen">

    <div class="woodland-maps">
    <h4>Wood map</h4>

    <ul>
        <li><button data-modal-open="modal-map-1"><img src="/images/maps/map-1.gif" alt="map-1" title="" /></button></li>
        <li><button data-modal-open="modal-map-2"><img src="/images/maps/map-2.gif" alt="map-2" title="" /></button></li>
        <li><button data-modal-open="modal-map-3"><img src="/images/maps/map-3.gif" alt="map-3" title="" /></button></li>
    </ul>

    <h4>Location map</h4>

    <div class="woodland-maps__map">
            <div class="map" data-map="#map" data-longitude="0.017139" data-latitude="51.1267"></div>

    </div>
</div>

<div class="modal modal--small" aria-hidden="true" id="modal-map-1">
  <div class="modal__container" data-modal-close="modal-map-1">
    <div class="modal__item" role="dialog" aria-modal="true" aria-labelledby="modal__title--map-1">

      <header class="modal__header">
        <h2 class="modal__title" id="modal__title--map-1">map-1</h2>
        <button type="button" data-modal-close="modal-map-1" aria-label="Close Modal">×</button>
      </header>

<div class="modal__content">
    <img src="/images/maps/map-1.gif" alt="map-1" title="" />
</div>


    </div>
  </div>
</div>
<div class="modal modal--small" aria-hidden="true" id="modal-map-2">
  <div class="modal__container" data-modal-close="modal-map-2">
    <div class="modal__item" role="dialog" aria-modal="true" aria-labelledby="modal__title--map-2">

      <header class="modal__header">
        <h2 class="modal__title" id="modal__title--map-2">map-2</h2>
        <button type="button" data-modal-close="modal-map-2" aria-label="Close Modal">×</button>
      </header>

<div class="modal__content">
    <img src="/images/maps/map-2.gif" alt="map-2" title="" />
</div>


    </div>
  </div>
</div>
<div class="modal modal--small" aria-hidden="true" id="modal-map-3">
  <div class="modal__container" data-modal-close="modal-map-3">
    <div class="modal__item" role="dialog" aria-modal="true" aria-labelledby="modal__title--map-3">

      <header class="modal__header">
        <h2 class="modal__title" id="modal__title--map-3">map-3</h2>
        <button type="button" data-modal-close="modal-map-3" aria-label="Close Modal">×</button>
      </header>

<div class="modal__content">
    <img src="/images/maps/map-3.gif" alt="map-3" title="" />
</div>


    </div>
  </div>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

