

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Listings: Buttons | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <h2 class="section__title section__title--small section__title--alt u-text-left">Button List</h2>

<ul class="listing listing--buttons">
    <li class="list__item">
        <button class="button button--small">
  Aperiam dolor rerum nihil.
</button>

    </li>
    <li class="list__item">
        <button class="button button--small">
  Aperiam ab fuga.
</button>

    </li>
    <li class="list__item">
        <button class="button button--small">
  Nam placeat inventore voluptas voluptatem deleniti.
</button>

    </li>
    <li class="list__item">
        <button class="button button--small">
  Sit cupiditate est corrupti doloremque.
</button>

    </li>
</ul>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

