

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <title>Listings: Linked | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body class="h-screen">

    <ul class="listing listing--linked">
    <li class="listing__item">
        <a href="#">Excepturi In Qui Vel.</a>
    </li>
    <li class="listing__item">
        <a href="#">Et Consequatur Culpa Maiores.</a>
    </li>
    <li class="listing__item">
        <a href="#">Illo Sit Quia Ut.</a>
    </li>
    <li class="listing__item">
        <a href="#">Et Totam Possimus Praesentium.</a>
    </li>
</ul>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

