

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <title>Forms: Default | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body class="h-screen">

    <div class="item item--full">
    <h2 class="item__title">Search</h2>
    <div class="item__section item__section--wide">
        <form action="/search" method="post" class="form form--search">
    <div class="form__inner">
        <div class="form__field">
    <label for="form__search_location" class="form__label"><span>Location</span></label>
    <input type="text" class="form-input" id="form__search_location" name="location" placeholder="Enter location / postcode" />
</div>

        <div class="form__field">
    <label for="form__search_type" class="form__label"><span>Type</span></label>
    <select class="form-select" id="form__search_type" name="type">
        <option value="woodland">Woodland</option>
        <option value="mixed deciduous">Mixed Deciduous</option>
        <option value="coniferous">Coniferous</option>
        <option value="coppice">Coppice</option>
        <option value="ancient woodland">Ancient Woodland</option>
    </select>
</div>


        <div class="form__field form__field--switch form__field--switch--reverse">
    <input type="checkbox" class="form-checkbox" id="form__search_sold" name="sold" />
    <label for="form__search_sold" class="form__label"><i></i><span>Show Sold</span></label>
</div>


        <button class="button button--green button--inline">
  <span>Search</span>
</button>

    </div>
</form>

    </div>
</div>

<div class="item item--full">
    <h2 class="item__title">Contact</h2>
    <div class="item__section item__section--wide">
        <form action="/contact" method="post" class="form form--contact">
            <div class="form__field">
    <label for="form__example__field" class="form__label"><span>Text Field</span></label>
    <input type="text" class="form-input" id="form__example__field" name="example-field" placeholder="Placeholder" />
</div>

            <div class="form__field">
    <label for="form__example__field" class="form__label"><span>Text Field</span></label>
    <input type="text" class="form-input" id="form__example__field" name="example-field" placeholder="Placeholder" />
</div>

            <div class="form__field">
    <label for="form__example__field--select" class="form__label"><span>Select Field</span></label>
    <select class="form-select" id="form__example__field--select" name="example-field--select">
        <option value="0">Odit Ut Voluptas</option>
        <option value="1">Fugit Quasi Eum</option>
        <option value="2">Incidunt Voluptas Sint</option>
        <option value="3">Aspernatur Laboriosam Distinctio</option>
        <option value="4">In Corporis Optio</option>
        <option value="5">Voluptates Cum Aliquam</option>
    </select>
</div>

            <button class="button button--green">
  <span>Green Button</span>
</button>

        </form>
    </div>
</div>




    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

