

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Headings: Default | Component Library</title>

    <meta name="description" content="Component Library for Headings: Default" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Headings: Default Component Library">
    <meta property="og:site_name" content="Headings: Default Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Headings: Default">
</head>
<body class="h-screen">

    <div class="item heading">
    <h2 class="item__title heading__title">Headings</h2>
    <div class="item__section heading__section">
        <div class="item__item heading__item">
            <ul>
                <li><strong>Font</strong>: <code>FreightNeo Pro Bold</code></li>
                <li><strong>Value</strong>: <code>4xl</code></li>
                <li><strong>Size</strong>: <code>2.25rem</code></li>
            </ul>
            <div class="typography">
                <h1>Example Text for <strong>Level 1</strong></h1>
            </div>
        </div>
        <div class="item__item heading__item">
            <ul>
                <li><strong>Font</strong>: <code>FreightNeo Pro Bold</code></li>
                <li><strong>Value</strong>: <code>2xl</code></li>
                <li><strong>Size</strong>: <code>1.5rem</code></li>
            </ul>
            <div class="typography">
                <h2>Example Text for <strong>Level 2</strong></h2>
            </div>
        </div>
        <div class="item__item heading__item">
            <ul>
                <li><strong>Font</strong>: <code>FreightNeo Pro Bold</code></li>
                <li><strong>Value</strong>: <code>xl</code></li>
                <li><strong>Size</strong>: <code>1.25rem</code></li>
            </ul>
            <div class="typography">
                <h3>Example Text for <strong>Level 3</strong></h3>
            </div>
        </div>
        <div class="item__item heading__item">
            <ul>
                <li><strong>Font</strong>: <code>FreightNeo Pro Bold</code></li>
                <li><strong>Value</strong>: <code>base</code></li>
                <li><strong>Size</strong>: <code>1rem</code></li>
            </ul>
            <div class="typography">
                <h4>Example Text for <strong>Level 4</strong></h4>
            </div>
        </div>
    </div>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

