

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Drawings | Component Library</title>

    <meta name="description" content="Component Library for Drawings" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Drawings Component Library">
    <meta property="og:site_name" content="Drawings Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Drawings">
</head>
<body class="h-screen">

    <!-- Start: @drawing--badger -->
<img src="../../images/drawings/badger.png" alt="Badger" title="" class="drawing " />
<!-- End: @drawing--badger -->

<!-- Start: @drawing--bird -->
<img src="../../images/drawings/bird.png" alt="Bird" title="" class="drawing " />
<!-- End: @drawing--bird -->

<!-- Start: @drawing--butterfly -->
<img src="../../images/drawings/butterfly.png" alt="Butterfly" title="" class="drawing " />
<!-- End: @drawing--butterfly -->

<!-- Start: @drawing--flowers -->
<img src="../../images/drawings/flowers.png" alt="Flowers" title="" class="drawing " />
<!-- End: @drawing--flowers -->

<!-- Start: @drawing--landscape -->
<img src="../../images/drawings/landscape.png" alt="Landscape" title="" class="drawing " />
<!-- End: @drawing--landscape -->

<!-- Start: @drawing--logs -->
<img src="../../images/drawings/logs.png" alt="Logs" title="" class="drawing " />
<!-- End: @drawing--logs -->

<!-- Start: @drawing--moth -->
<img src="../../images/drawings/moth.png" alt="Moth" title="" class="drawing " />
<!-- End: @drawing--moth -->

<!-- Start: @drawing--trees -->
<img src="../../images/drawings/trees.png" alt="Trees" title="" class="drawing " />
<!-- End: @drawing--trees -->



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

