

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Form Checkbox | Component Library</title>

    <meta name="description" content="Component Library for Form Checkbox" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Form Checkbox Component Library">
    <meta property="og:site_name" content="Form Checkbox Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Form Checkbox">
</head>
<body class="h-screen">

    <!-- Start: @form--checkbox--default -->
<div class="form__field form__field--checkbox">
    <input type="checkbox" class="form-checkbox" id="form__example__checkbox" name="example-checkbox" />
    <label for="form__example__checkbox" class="form__label"><span>Eveniet Temporibus A</span></label>
</div>
<!-- End: @form--checkbox--default -->

<!-- Start: @form--checkbox--reverse -->
<div class="form__field form__field--checkbox form__field--checkbox--reverse">
    <input type="checkbox" class="form-checkbox" id="form__example__checkbox--reverse" name="example-checkbox--reverse" />
    <label for="form__example__checkbox--reverse" class="form__label"><span>Eveniet Temporibus A</span></label>
</div>
<!-- End: @form--checkbox--reverse -->



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

