

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Form Checkbox Switch: Green | Component Library</title>

    <meta name="description" content="Component Library for Form Checkbox Switch: Green" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Form Checkbox Switch: Green Component Library">
    <meta property="og:site_name" content="Form Checkbox Switch: Green Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Form Checkbox Switch: Green">
</head>
<body class="h-screen">

    <div class="form__field form__field--switch form__field--switch--green">
    <input type="checkbox" class="form-checkbox" id="form__example__checkbox--green" name="example-checkbox--green" />
    <label for="form__example__checkbox--green" class="form__label"><i></i><span>Eligendi Beatae Voluptatibus</span></label>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

