

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <title>Form Radio: Reverse | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body class="h-screen">

    <ul class="form__field form__field--radio form__field--radio--reverse">
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--0--reverse" name="example-radio--reverse" />
        <label for="form__example__radio--0--reverse" class="form__label"><span>Voluptas Quia Accusamus</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--1--reverse" name="example-radio--reverse" />
        <label for="form__example__radio--1--reverse" class="form__label"><span>Praesentium Inventore Dolorem</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--2--reverse" name="example-radio--reverse" />
        <label for="form__example__radio--2--reverse" class="form__label"><span>Ut Et Omnis</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--3--reverse" name="example-radio--reverse" />
        <label for="form__example__radio--3--reverse" class="form__label"><span>Porro Quibusdam Optio</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--4--reverse" name="example-radio--reverse" />
        <label for="form__example__radio--4--reverse" class="form__label"><span>Exercitationem Impedit Nulla</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--5--reverse" name="example-radio--reverse" />
        <label for="form__example__radio--5--reverse" class="form__label"><span>Aut Aut Ducimus</span></label>
    </li>
</ul>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

