

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Form Radio | Component Library</title>

    <meta name="description" content="Component Library for Form Radio" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Form Radio Component Library">
    <meta property="og:site_name" content="Form Radio Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Form Radio">
</head>
<body class="h-screen">

    <!-- Start: @form--radio--default -->
<ul class="form__field form__field--radio">
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--0" name="example-radio" />
        <label for="form__example__radio--0" class="form__label"><span>Beatae Maiores Doloribus</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--1" name="example-radio" />
        <label for="form__example__radio--1" class="form__label"><span>Odit Porro Fugit</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--2" name="example-radio" />
        <label for="form__example__radio--2" class="form__label"><span>Magnam Sunt Aliquam</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--3" name="example-radio" />
        <label for="form__example__radio--3" class="form__label"><span>Esse Similique Consequuntur</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--4" name="example-radio" />
        <label for="form__example__radio--4" class="form__label"><span>Minima Soluta In</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--5" name="example-radio" />
        <label for="form__example__radio--5" class="form__label"><span>Veritatis Modi Iusto</span></label>
    </li>
</ul>
<!-- End: @form--radio--default -->

<!-- Start: @form--radio--reverse -->
<ul class="form__field form__field--radio form__field--radio--reverse">
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--0--reverse" name="example-radio--reverse" />
        <label for="form__example__radio--0--reverse" class="form__label"><span>Repudiandae Dolore Quia</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--1--reverse" name="example-radio--reverse" />
        <label for="form__example__radio--1--reverse" class="form__label"><span>Perspiciatis Quia Et</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--2--reverse" name="example-radio--reverse" />
        <label for="form__example__radio--2--reverse" class="form__label"><span>Omnis Repellat Beatae</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--3--reverse" name="example-radio--reverse" />
        <label for="form__example__radio--3--reverse" class="form__label"><span>Non Perferendis Et</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--4--reverse" name="example-radio--reverse" />
        <label for="form__example__radio--4--reverse" class="form__label"><span>Nulla Mollitia Soluta</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--5--reverse" name="example-radio--reverse" />
        <label for="form__example__radio--5--reverse" class="form__label"><span>Sed Quia Inventore</span></label>
    </li>
</ul>
<!-- End: @form--radio--reverse -->

<!-- Start: @form--radio--inline -->
<ul class="form__field form__field--radio form__field--radio--inline">
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--0--inline" name="example-radio--inline" />
        <label for="form__example__radio--0--inline" class="form__label"><span>Velit Quo Et</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--1--inline" name="example-radio--inline" />
        <label for="form__example__radio--1--inline" class="form__label"><span>Quibusdam Eum Itaque</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--2--inline" name="example-radio--inline" />
        <label for="form__example__radio--2--inline" class="form__label"><span>In Molestias Labore</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--3--inline" name="example-radio--inline" />
        <label for="form__example__radio--3--inline" class="form__label"><span>Ut Sequi Deserunt</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--4--inline" name="example-radio--inline" />
        <label for="form__example__radio--4--inline" class="form__label"><span>Perferendis Et Tempore</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--5--inline" name="example-radio--inline" />
        <label for="form__example__radio--5--inline" class="form__label"><span>Enim Quidem Minima</span></label>
    </li>
</ul>
<!-- End: @form--radio--inline -->



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

