

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Form Fields (Stacked) | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <!-- Start: @form--field--stacked--text -->
<div class="form__field form__field--stacked">
    <label for="form__example__field" class="form__label"><span>Text Field</span></label>
    <input type="text" class="form-input" id="form__example__field" name="example-field" placeholder="Placeholder" />
</div>
<!-- End: @form--field--stacked--text -->

<!-- Start: @form--field--stacked--password -->
<div class="form__field form__field--stacked">
    <label for="form__example__field--password" class="form__label"><span>Password Field</span></label>
    <input type="password" class="form-input" id="form__example__field--password" name="example-field--password" placeholder="Placeholder" />
</div>
<!-- End: @form--field--stacked--password -->

<!-- Start: @form--field--stacked--number -->
<div class="form__field form__field--stacked">
    <label for="form__example__field--number" class="form__label"><span>Number Field</span></label>
    <input type="number" class="form-input" id="form__example__field--number" name="example-field--number" placeholder="Placeholder" />
</div>
<!-- End: @form--field--stacked--number -->

<!-- Start: @form--field--stacked--select -->
<div class="form__field form__field--stacked">
    <label for="form__example__field--select" class="form__label"><span>Select Field</span></label>
    <select class="form-select" id="form__example__field--select" name="example-field--select">
        <option value="0">Sint Accusamus Nam</option>
        <option value="1">Quas Iusto Explicabo</option>
        <option value="2">Suscipit Odit Voluptate</option>
        <option value="3">Aperiam Aut Autem</option>
        <option value="4">Ut Sint Nisi</option>
        <option value="5">Dicta Aut Ut</option>
    </select>
</div>
<!-- End: @form--field--stacked--select -->



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

