

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Form Fields | Component Library</title>

    <meta name="description" content="Component Library for Form Fields" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Form Fields Component Library">
    <meta property="og:site_name" content="Form Fields Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Form Fields">
</head>
<body class="h-screen">

    <!-- Start: @form--field--text -->
<div class="form__field">
    <label for="form__example__field" class="form__label"><span>Text Field</span></label>
    <input type="text" class="form-input" id="form__example__field" name="example-field" placeholder="Placeholder" />
</div>
<!-- End: @form--field--text -->

<!-- Start: @form--field--password -->
<div class="form__field">
    <label for="form__example__field--password" class="form__label"><span>Password Field</span></label>
    <input type="password" class="form-input" id="form__example__field--password" name="example-field--password" placeholder="Placeholder" />
</div>
<!-- End: @form--field--password -->

<!-- Start: @form--field--number -->
<div class="form__field">
    <label for="form__example__field--number" class="form__label"><span>Number Field</span></label>
    <input type="number" class="form-input" id="form__example__field--number" name="example-field--number" placeholder="Placeholder" />
</div>
<!-- End: @form--field--number -->

<!-- Start: @form--field--select -->
<div class="form__field">
    <label for="form__example__field--select" class="form__label"><span>Select Field</span></label>
    <select class="form-select" id="form__example__field--select" name="example-field--select">
        <option value="0">Sint Vel Dolores</option>
        <option value="1">Iste Aut Vero</option>
        <option value="2">Ab Soluta Aut</option>
        <option value="3">Ipsa Qui Dolores</option>
        <option value="4">Nam Quia Assumenda</option>
        <option value="5">Perferendis Laborum Accusamus</option>
    </select>
</div>
<!-- End: @form--field--select -->



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

