

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <title>Form Checkbox Switch: Green | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body class="h-screen">

    <div class="form__field form__field--switch form__field--switch--green">
    <input type="checkbox" class="form-checkbox" id="form__example__checkbox--green" name="example-checkbox--green" />
    <label for="form__example__checkbox--green" class="form__label"><i></i><span>Rerum Voluptatum Et</span></label>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

