

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Form Radio | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <!-- Start: @form--radio--default -->
<ul class="form__field form__field--radio">
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--0" name="example-radio" />
        <label for="form__example__radio--0" class="form__label"><span>Veritatis Deleniti Harum</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--1" name="example-radio" />
        <label for="form__example__radio--1" class="form__label"><span>Illum Autem Iure</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--2" name="example-radio" />
        <label for="form__example__radio--2" class="form__label"><span>Facere Et Ut</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--3" name="example-radio" />
        <label for="form__example__radio--3" class="form__label"><span>Veritatis Optio Voluptatem</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--4" name="example-radio" />
        <label for="form__example__radio--4" class="form__label"><span>Iure Inventore Voluptatum</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--5" name="example-radio" />
        <label for="form__example__radio--5" class="form__label"><span>Inventore Excepturi Nesciunt</span></label>
    </li>
</ul>
<!-- End: @form--radio--default -->

<!-- Start: @form--radio--reverse -->
<ul class="form__field form__field--radio form__field--radio--reverse">
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--0--reverse" name="example-radio--reverse" />
        <label for="form__example__radio--0--reverse" class="form__label"><span>Omnis Eius Aut</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--1--reverse" name="example-radio--reverse" />
        <label for="form__example__radio--1--reverse" class="form__label"><span>Fugiat Aspernatur Consequatur</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--2--reverse" name="example-radio--reverse" />
        <label for="form__example__radio--2--reverse" class="form__label"><span>Aperiam Tempora Tempora</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--3--reverse" name="example-radio--reverse" />
        <label for="form__example__radio--3--reverse" class="form__label"><span>Est Maxime Soluta</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--4--reverse" name="example-radio--reverse" />
        <label for="form__example__radio--4--reverse" class="form__label"><span>Quis Molestiae Ullam</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--5--reverse" name="example-radio--reverse" />
        <label for="form__example__radio--5--reverse" class="form__label"><span>Nobis Ex Aspernatur</span></label>
    </li>
</ul>
<!-- End: @form--radio--reverse -->

<!-- Start: @form--radio--inline -->
<ul class="form__field form__field--radio form__field--radio--inline">
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--0--inline" name="example-radio--inline" />
        <label for="form__example__radio--0--inline" class="form__label"><span>Accusamus Ullam Qui</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--1--inline" name="example-radio--inline" />
        <label for="form__example__radio--1--inline" class="form__label"><span>Dolorem Facilis Molestiae</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--2--inline" name="example-radio--inline" />
        <label for="form__example__radio--2--inline" class="form__label"><span>Quae Veritatis Ut</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--3--inline" name="example-radio--inline" />
        <label for="form__example__radio--3--inline" class="form__label"><span>Quia Mollitia Ratione</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--4--inline" name="example-radio--inline" />
        <label for="form__example__radio--4--inline" class="form__label"><span>Quia Praesentium Quaerat</span></label>
    </li>
    <li>
        <input type="radio" class="form-radio" id="form__example__radio--5--inline" name="example-radio--inline" />
        <label for="form__example__radio--5--inline" class="form__label"><span>Aliquid Nostrum Est</span></label>
    </li>
</ul>
<!-- End: @form--radio--inline -->



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

