

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Form Checkbox Switch: Standalone (Red) | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <div class="form__field form__field--switch form__field--switch--standalone form__field--switch--red">
    <input type="checkbox" class="form-checkbox" id="form__example__checkbox--standalone--red" name="example-checkbox--standalone--red" />
    <label for="form__example__checkbox--standalone--red" class="form__label"><i></i><span>Perferendis Perspiciatis Harum</span></label>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

