

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Form Fields (Stacked): Select | Component Library</title>

    <meta name="description" content="Component Library for Form Fields (Stacked): Select" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Form Fields (Stacked): Select Component Library">
    <meta property="og:site_name" content="Form Fields (Stacked): Select Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Form Fields (Stacked): Select">
</head>
<body class="h-screen">

    <div class="form__field form__field--stacked">
    <label for="form__example__field--select" class="form__label"><span>Select Field</span></label>
    <select class="form-select" id="form__example__field--select" name="example-field--select">
        <option value="0">Minima Aut Explicabo</option>
        <option value="1">Non Numquam Harum</option>
        <option value="2">Voluptatibus Eius Dicta</option>
        <option value="3">Animi Libero Iusto</option>
        <option value="4">Rem Aut Rerum</option>
        <option value="5">Quia Sed Et</option>
    </select>
</div>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

