

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Grid: Two Thirds Column | Component Library</title>

    <meta name="description" content="Component Library for Grid: Two Thirds Column" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Grid: Two Thirds Column Component Library">
    <meta property="og:site_name" content="Grid: Two Thirds Column Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Grid: Two Thirds Column">
</head>
<body class="h-screen">

    <section class="grid grid--2/3">
    <div class="grid__inner">
      <div class="grid__item">
        1
      </div>
      <div class="grid__item">
        2
      </div>
    </div>
</section>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

