

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Header: Default | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <header class="header">
    <div class="header__container">
        <div class="header__inner">
            <h1 class="header__logo"><a href="page-homepage">Woodlands.co.uk</a></h1>

            <div class="navigation">
    <nav class="navigation__list">
        <ul>
                <li class="navigation__item ">
                    <a href="page-buy">Buy</a>
                </li>
                <li class="navigation__item ">
                    <a href="page-owning">Owning a wood</a>
                </li>
                <li class="navigation__item ">
                    <a href="page-videos-guides">Videos &amp; guides</a>
                </li>
                <li class="navigation__item ">
                    <a href="page-about">About us</a>
                </li>
            <li class="navigation__item navigation__item--search"><a href="page-search" class="js--navigation-search">Search Woods</a></li>
        </ul>
    </nav>

    <button class="hamburger hamburger--squeeze navigation__button js--navigation" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</div>

        </div>
    </div>

    <form action="/search" method="post" class="form form--search form--search--alt">
    <div class="form__inner">
        <div class="form__field">
    <label for="form__search_location" class="form__label"><span>Location</span></label>
    <input type="text" class="form-input" id="form__search_location" name="location" placeholder="Enter location / postcode" />
</div>

        <div class="form__field">
    <label for="form__search_type" class="form__label"><span>Type</span></label>
    <select class="form-select" id="form__search_type" name="type">
        <option value="woodland">Woodland</option>
        <option value="mixed deciduous">Mixed Deciduous</option>
        <option value="coniferous">Coniferous</option>
        <option value="coppice">Coppice</option>
        <option value="ancient woodland">Ancient Woodland</option>
    </select>
</div>


        <div class="form__field form__field--switch form__field--switch--reverse">
    <input type="checkbox" class="form-checkbox" id="form__search_sold" name="sold" />
    <label for="form__search_sold" class="form__label"><i></i><span>Show Sold</span></label>
</div>


        <button class="button button--red button--inline">
  <span>Search</span>
</button>

    </div>
</form>

</header>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

