

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Header: Default | Component Library</title>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <header class="header">
    <h1 class="header__logo"><a href="page-homepage">Woodlands.co.uk</a></h1>

    <div class="navigation">
    <nav class="navigation__list">
        <ul>
                <li class="navigation__item ">
                    <a href="page-buy">Buy</a>
                </li>
                <li class="navigation__item ">
                    <a href="page-owning">Owning a wood</a>
                </li>
                <li class="navigation__item ">
                    <a href="page-videos-guides">Videos &amp; guides</a>
                </li>
                <li class="navigation__item ">
                    <a href="page-about">About us</a>
                </li>
        </ul>
    </nav>

    <button class="hamburger hamburger--squeeze navigation__button js--navigation" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</div>

</header>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

