

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Lists: Ordered | Component Library</title>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <ul class="list list--ordered">
    <li>List Item #1</li>
    <li>List Item #2</li>
    <li>List Item #3</li>
    <li>List Item #4</li>
</ul>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

