

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Media: Wide | Component Library</title>

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />
</head>
<body>

    <div class="media media--wide">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?7655" />
    </div>
</div>


    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

