

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Map: Default | Component Library</title>

    <meta name="description" content="Component Library for Map: Default" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Map: Default Component Library">
    <meta property="og:site_name" content="Map: Default Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Map: Default">
</head>
<body class="h-screen">

    <header class="header">
    <div class="header__container">
        <div class="header__inner">
            <h1 class="header__logo"><a href="page-homepage">Woodlands.co.uk</a></h1>

            <div class="navigation">
    <nav class="navigation__list">
        <form action="/search" method="post" class="form form--search form--search--simple">
    <div class="form__inner">
        <div class="form__field">
    <label for="form__search_location" class="form__label"><span>Location</span></label>
    <input type="text" class="form-input" id="form__search_location" name="location" placeholder="Enter location / postcode" />
</div>

        <button class="button button--red button--inline bottom">
  <span>Search</span>
</button>

    </div>
</form>


        <ul>
                <li class="navigation__item navigation__item--has-sub ">
    <a href="page-buy">Buy</a>

    <ul>
            <li class="navigation__item navigation__item--has-sub ">
    <a href="page-buy">Woodlands for sale</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Search for woods</a>

</li>

            <li class="navigation__item  ">
    <a href="#">South East England</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Northern England</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Cumbria</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Central England</a>

</li>

            <li class="navigation__item  ">
    <a href="#">East Anglia</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Devon</a>

</li>

    </ul>
</li>

            <li class="navigation__item navigation__item--has-sub ">
    <a href="page-buy">Buying a wood</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Why buy a wood?</a>

</li>

            <li class="navigation__item  ">
    <a href="#">How to buy a woodland</a>

</li>

            <li class="navigation__item  ">
    <a href="#">How we support owners</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Legal guide</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Finance guide</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Our covenant</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Recommended solicitors</a>

</li>

    </ul>
</li>

            <li class="navigation__item navigation__item--has-sub ">
    <a href="#">Other land for sale</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Tree planting land</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Lakes and rivers</a>

</li>

    </ul>
</li>

            <li class="navigation__item navigation__item--has-sub ">
    <a href="page-sell">Sell your wood</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Sell your wood to us</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Selling your wood through us</a>

</li>

    </ul>
</li>

    </ul>
</li>

                <li class="navigation__item navigation__item--has-sub ">
    <a href="page-owning">Owning a wood</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Planning legislation</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Trees &amp; regulations</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Access &amp; tracks</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Management insurance</a>

</li>

    </ul>
</li>

                <li class="navigation__item navigation__item--has-sub ">
    <a href="page-videos-guides">Videos &amp; guides</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Woodlands TV</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Woodland activities</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Practical guides</a>

</li>

            <li class="navigation__item  ">
    <a href="#">What do people do?</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Looking after your wood</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Tree identification</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Wildlife identification</a>

</li>

    </ul>
</li>

                <li class="navigation__item navigation__item--has-sub ">
    <a href="page-about">About us</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Our team</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Press room</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Our research</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Contact us</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Meet us at woodfairs</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Community woodlands</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Woodland awards</a>

</li>

    </ul>
</li>


            <li class="navigation__item navigation__item--search"><a href="page-search" class="js--navigation-search">Search Woods</a></li>
        </ul>
    </nav>

    <button class="hamburger hamburger--squeeze navigation__button js--navigation" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</div>

        </div>
    </div>

    <form action="/search" method="post" class="form form--search form--search--alt">
    <div class="form__inner">
        <h4 class="form--search__title">Search for woodlands</h4>

        <div class="form__field">
    <label for="form__search_location" class="form__label"><span>Location</span></label>
    <input type="text" class="form-input" id="form__search_location" name="location" placeholder="Enter location / postcode" />
</div>

        <div class="form__field">
    <label for="form__search_type" class="form__label"><span>Type</span></label>
    <select class="form-select" id="form__search_type" name="type">
        <option value="woodland">Woodland</option>
        <option value="mixed deciduous">Mixed Deciduous</option>
        <option value="coniferous">Coniferous</option>
        <option value="coppice">Coppice</option>
        <option value="ancient woodland">Ancient Woodland</option>
    </select>
</div>


        <div class="form__field form__field--switch form__field--switch--reverse">
    <input type="checkbox" class="form-checkbox" id="form__search_sold" name="sold" />
    <label for="form__search_sold" class="form__label"><i></i><span>Show Sold</span></label>
</div>


        <button class="button button--red button--inline bottom">
  <span>Search</span>
</button>

    </div>

</form>

</header>


<main>
<section class="section section--map ">
    <div class="section__inner">
<section id="" class="grid grid--2/3--reverse">
    <div class="grid__inner">
            <div class="grid__item map--map">
                    <div class="map" data-map="#listing--map"></div>

            </div>
            <div class="grid__item map--listing">
                <button class="button button--inline button--inline--small button--green--dark button--left top">
  <span>← Exit map view</span>
</button>


                <h2 class="section__title section__title--medium normal-case">Woodlands for sale in this location:</h2>

                
<section id="listing--map" class="grid grid--single">
    <div class="grid__inner">
      <div class="card card--woodland card--woodland--map " data-longitude="0.601613" data-latitude="51.2322">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?98494" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Eos Sed Aut. <span class="card__price">£49,923</span></h3>
    <p class="card__meta">NR. Metz Key, Anthonyland, Bedfordshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.16485" data-latitude="51.234">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?60548" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Animi Harum Et Molestiae Enim Voluptatem Nihil Nemo Est. <span class="card__price">£67,047</span></h3>
    <p class="card__meta">NR. Timothy Roads, East Leon, Bedfordshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.960194" data-latitude="51.2751">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?96738" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Quia Quo Aspernatur Reiciendis Fuga. <span class="card__price">£57,770</span></h3>
    <p class="card__meta">NR. Maymie Springs, Jakubowskiland, Buckinghamshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="-1.01361" data-latitude="51.1073">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?2660" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Quia Enim Adipisci Consequuntur Expedita Eos. <span class="card__price">£6,970</span></h3>
    <p class="card__meta">NR. Halvorson Ways, North Ramona, Cambridgeshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.348011" data-latitude="51.1576">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?36948" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Qui Nesciunt Reprehenderit Eos Ut Dignissimos Illum In Et. <span class="card__price">£51,117</span></h3>
    <p class="card__meta">NR. Maybelle Fords, Grantstad, Berkshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.1662" data-latitude="51.2371">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?53158" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Consequatur Numquam Qui Error Corporis Cumque Sequi. <span class="card__price">£12,222</span></h3>
    <p class="card__meta">NR. Adella Courts, Sanfordton, Cambridgeshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.639071" data-latitude="51.2495">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?66008" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Exercitationem Quae Consequuntur Impedit Tempore Vitae. <span class="card__price">£73,420</span></h3>
    <p class="card__meta">NR. Maida Ville, New Filibertohaven, Cambridgeshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.195558" data-latitude="51.0618">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?16694" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Quam Accusantium Quisquam Quia Eaque Dolore Adipisci Maxime Consequatur. <span class="card__price">£16,073</span></h3>
    <p class="card__meta">NR. Quigley Path, South Malachichester, Cambridgeshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="-0.586818" data-latitude="50.8505">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?47508" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Doloribus Nemo Qui Architecto. <span class="card__price">£15,219</span></h3>
    <p class="card__meta">NR. Merl Street, South Jacinto, Berkshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.637193" data-latitude="50.9428">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?98227" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Et Dolorem Nam Exercitationem Maiores Perferendis Consequatur. <span class="card__price">£89,399</span></h3>
    <p class="card__meta">NR. Greenholt Harbors, Derekchester, Berkshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.346766" data-latitude="51.1564">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?50716" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Veniam Expedita Et. <span class="card__price">£1,144</span></h3>
    <p class="card__meta">NR. Bergstrom Views, Riceton, Berkshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.01088" data-latitude="51.2234">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?28129" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Ullam Ut Sint Cum Et Id Omnis Id Aut. <span class="card__price">£55,549</span></h3>
    <p class="card__meta">NR. Langosh Glen, Loriland, Berkshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.0121" data-latitude="51.22">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?59361" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Distinctio Quo Iusto Autem Ipsa. <span class="card__price">£86,440</span></h3>
    <p class="card__meta">NR. Treutel Groves, Lake Amandabury, Berkshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.406269" data-latitude="51.1211">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?73966" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Quia Iste Optio Magnam Aperiam Deserunt Repudiandae At Ut. <span class="card__price">£71,396</span></h3>
    <p class="card__meta">NR. Bosco Centers, Leschmouth, Cambridgeshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.608438" data-latitude="51.2328">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?68334" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Ut Ut Eum Non Ea Deserunt Quis Aut Cumque Sed. <span class="card__price">£82,937</span></h3>
    <p class="card__meta">NR. Fletcher Mountain, East Ethelport, Berkshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.193125" data-latitude="51.0601">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?39155" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Repudiandae Id Id. <span class="card__price">£36,664</span></h3>
    <p class="card__meta">NR. Shyann Keys, North Brad, Bedfordshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.1662" data-latitude="51.2371">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?26265" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Suscipit Officiis Blanditiis. <span class="card__price">£81,476</span></h3>
    <p class="card__meta">NR. Gerhold Corner, Rosaliaview, Borders</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.350633" data-latitude="51.1588">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?92989" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Qui In Id Consequatur Error Aut. <span class="card__price">£99,580</span></h3>
    <p class="card__meta">NR. Thiel Summit, Lake Myrna, Cambridgeshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.286227" data-latitude="51.1695">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?45760" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Ut Nemo Totam. <span class="card__price">£47,990</span></h3>
    <p class="card__meta">NR. Mills Junctions, Jailynview, Avon</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.213422" data-latitude="51.1155">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?46319" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Aut Odit Consequatur Qui. <span class="card__price">£19,349</span></h3>
    <p class="card__meta">NR. Cleveland Hollow, North Rachael, Cambridgeshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.193125" data-latitude="51.0601">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?11463" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Dicta Accusantium Quis Impedit Ea Doloremque Voluptas. <span class="card__price">£82,177</span></h3>
    <p class="card__meta">NR. Gleichner Crest, Handville, Berkshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.28886" data-latitude="51.1706">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?54677" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Molestias Autem Molestiae Eos Aut Ex Eos Exercitationem Quis Libero. <span class="card__price">£31,851</span></h3>
    <p class="card__meta">NR. Leffler Knoll, Elinorborough, Borders</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.637193" data-latitude="50.9428">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?55950" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Accusamus Error Blanditiis Excepturi Tenetur. <span class="card__price">£82,802</span></h3>
    <p class="card__meta">NR. Tillman Dale, Goyettetown, Cambridgeshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.641832" data-latitude="51.1005">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?68481" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Doloribus Non Velit Fugiat Sed Saepe. <span class="card__price">£71,605</span></h3>
    <p class="card__meta">NR. Kirlin Rapid, Camdenmouth, Bedfordshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.610572" data-latitude="51.2336">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?41872" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Ad Assumenda Quia Repudiandae Sed Nam Autem. <span class="card__price">£48,729</span></h3>
    <p class="card__meta">NR. Erling Ranch, East Travisshire, Borders</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.213422" data-latitude="51.1155">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?39149" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Molestias Facilis Harum Porro. <span class="card__price">£68,276</span></h3>
    <p class="card__meta">NR. Goodwin Prairie, East Fernandoshire, Bedfordshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.193125" data-latitude="51.0601">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?84109" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Sit Alias Beatae Incidunt Dolores Ut In Dolorem In. <span class="card__price">£21,196</span></h3>
    <p class="card__meta">NR. Kiehn Lock, South Mosebury, Borders</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.286227" data-latitude="51.1695">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?46778" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Reprehenderit Exercitationem Iste Laudantium. <span class="card__price">£23,761</span></h3>
    <p class="card__meta">NR. Delia Prairie, Kemmerberg, Borders</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.604208" data-latitude="51.233">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?80079" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Quas At At Sit Et Quia. <span class="card__price">£92,350</span></h3>
    <p class="card__meta">NR. Lessie Villages, South Alizeborough, Buckinghamshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.193125" data-latitude="51.0601">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?87252" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Nihil Quo Doloribus Laudantium Quae Nihil. <span class="card__price">£43,429</span></h3>
    <p class="card__meta">NR. Schiller Fords, South Ignatius, Bedfordshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.01953" data-latitude="51.2179">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?38076" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Illum Iure Ratione Et Doloribus Enim. <span class="card__price">£92,566</span></h3>
    <p class="card__meta">NR. Brekke Fords, South Hallie, Berkshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.16485" data-latitude="51.234">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?60327" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Dolorum Quis Ullam Debitis Iure Rerum Consequatur. <span class="card__price">£17,235</span></h3>
    <p class="card__meta">NR. Leffler Rapid, Duncanfurt, Buckinghamshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="-1.01441" data-latitude="51.1065">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?68022" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Ducimus Excepturi Blanditiis Earum Aspernatur Et In Nesciunt Fugit. <span class="card__price">£65,690</span></h3>
    <p class="card__meta">NR. Goldner Fork, New Otilia, Borders</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.637193" data-latitude="50.9428">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?17163" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Hic Molestiae Soluta Eligendi Rerum Dignissimos In Dolorem Laboriosam. <span class="card__price">£19,485</span></h3>
    <p class="card__meta">NR. Emery Passage, Lake Hermannland, Borders</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.610572" data-latitude="51.2336">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?71320" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Id At Non Perspiciatis Quam Rerum Sed A. <span class="card__price">£1,112</span></h3>
    <p class="card__meta">NR. Hand Track, South Claud, Buckinghamshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.350633" data-latitude="51.1588">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?41304" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Et Ducimus Mollitia Deleniti Cupiditate. <span class="card__price">£29,819</span></h3>
    <p class="card__meta">NR. Howell Field, Lake Josefa, Cambridgeshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="-0.242816" data-latitude="51.133">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?50693" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Eum Debitis Iusto Qui. <span class="card__price">£16,226</span></h3>
    <p class="card__meta">NR. Roman Bridge, Gwenfort, Borders</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.601613" data-latitude="51.2322">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?63109" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Soluta Dicta Quia Ut Qui Velit. <span class="card__price">£8,980</span></h3>
    <p class="card__meta">NR. Smith Roads, Sylvestershire, Borders</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.959027" data-latitude="51.2757">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?11208" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Officia Voluptas Quasi Cumque Ut Est Ipsa. <span class="card__price">£6,630</span></h3>
    <p class="card__meta">NR. Murl Mount, Friesenmouth, Avon</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.608671" data-latitude="51.2342">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?71966" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Non Alias Quis Aut Soluta Vero Porro Dolorem. <span class="card__price">£65,272</span></h3>
    <p class="card__meta">NR. Sheldon Manors, Veumfurt, Borders</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.16438" data-latitude="51.2363">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?63971" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Aliquam Qui Sint Suscipit Aut Quis. <span class="card__price">£2,252</span></h3>
    <p class="card__meta">NR. Clair Cliffs, Weissnatchester, Cambridgeshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="-0.583575" data-latitude="50.853">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?9248" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Excepturi Sit Fugiat Nobis. <span class="card__price">£40,277</span></h3>
    <p class="card__meta">NR. Markus Trafficway, South Conner, Buckinghamshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.0148" data-latitude="51.2148">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?29291" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Itaque Reprehenderit Veniam Aut Autem Molestiae Maxime Et Perferendis. <span class="card__price">£22,811</span></h3>
    <p class="card__meta">NR. Harris Avenue, West Victoriaburgh, Avon</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.601613" data-latitude="51.2322">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?76478" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Autem Distinctio Sequi Omnis Ut Aut. <span class="card__price">£6,181</span></h3>
    <p class="card__meta">NR. Susan Square, Lake Adan, Avon</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.16044" data-latitude="51.2331">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?93621" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Ea Sit At. <span class="card__price">£43,494</span></h3>
    <p class="card__meta">NR. O&#x27;Reilly Extension, Wildermanmouth, Avon</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.190418" data-latitude="51.0599">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?6430" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Aut Sapiente Corporis Ducimus Corporis Vel Iusto. <span class="card__price">£44,032</span></h3>
    <p class="card__meta">NR. Thompson Way, Kuvalishaven, Berkshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.959027" data-latitude="51.2757">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?18229" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Animi At Occaecati Et Similique Tempore. <span class="card__price">£93,190</span></h3>
    <p class="card__meta">NR. Alfreda Plaza, West Betsy, Bedfordshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.637193" data-latitude="50.9428">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?75369" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Et Dolorem Ab Odit. <span class="card__price">£88,045</span></h3>
    <p class="card__meta">NR. Shields Glen, Lake Mariaburgh, Buckinghamshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.1662" data-latitude="51.2371">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?3796" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Aliquam Nemo Earum Numquam Assumenda. <span class="card__price">£97,672</span></h3>
    <p class="card__meta">NR. Paucek Glens, Shieldstown, Borders</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.16438" data-latitude="51.2363">
  <div class="media">
    <div class="media__content">
        <img src="http://placeimg.com/400/225/nature?80162" alt="" title="" />
    </div>
</div>

  <div class="card__body">
    <h3 class="card__title">Blanditiis Et Animi Nesciunt Sed Magni Laudantium Voluptatum. <span class="card__price">£44,579</span></h3>
    <p class="card__meta">NR. Rylee Spurs, Deckowmouth, Cambridgeshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

    </div>
</section>


                <button class="button button--inline button--inline--small button--green--dark button--left bottom">
  <span>← Exit map view</span>
</button>

            </div>
    </div>
</section>

    </div>
</section>
</main>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

