

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Map: Default | Component Library</title>

    <meta name="description" content="Component Library for Map: Default" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Map: Default Component Library">
    <meta property="og:site_name" content="Map: Default Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Map: Default">
</head>
<body class="h-screen">

    <header class="header">
    <div class="header__container">
        <div class="header__inner">
            <h1 class="header__logo"><a href="page-homepage">Woodlands.co.uk</a></h1>

            <div class="navigation">
    <nav class="navigation__list">
        <div class="form form--search form--search--simple">
    <form action="/search" method="post">
        <div class="form__inner">
            <div class="form__field">
    <label for="form__search_location" class="form__label"><span>Location</span></label>
    <input type="text" class="form-input" id="form__search_location" name="location" placeholder="Enter location / postcode" />
</div>

            <button class="button button--red button--inline ">
  <span>Search</span>
</button>

        </div>
    </form>
</div>


        <ul>
                <li class="navigation__item navigation__item--has-sub ">
    <a href="page-buy">Buy</a>

    <ul>
            <li class="navigation__item navigation__item--has-sub ">
    <a href="page-buy">Woodlands for sale</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Search for woods</a>

</li>

            <li class="navigation__item  ">
    <a href="#">South East England</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Northern England</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Cumbria</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Central England</a>

</li>

            <li class="navigation__item  ">
    <a href="#">East Anglia</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Devon</a>

</li>

    </ul>
</li>

            <li class="navigation__item navigation__item--has-sub ">
    <a href="page-buy">Buying a wood</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Why buy a wood?</a>

</li>

            <li class="navigation__item  ">
    <a href="#">How to buy a woodland</a>

</li>

            <li class="navigation__item  ">
    <a href="#">How we support owners</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Legal guide</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Finance guide</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Our covenant</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Recommended solicitors</a>

</li>

    </ul>
</li>

            <li class="navigation__item navigation__item--has-sub ">
    <button>Other land for sale</button>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Tree planting land</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Lakes and rivers</a>

</li>

    </ul>
</li>

            <li class="navigation__item navigation__item--has-sub ">
    <a href="page-sell">Sell your wood</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Sell your wood to us</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Selling your wood through us</a>

</li>

    </ul>
</li>

    </ul>
</li>

                <li class="navigation__item navigation__item--has-sub ">
    <a href="page-owning">Owning a wood</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Planning legislation</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Trees &amp; regulations</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Access &amp; tracks</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Management insurance</a>

</li>

    </ul>
</li>

                <li class="navigation__item navigation__item--has-sub ">
    <a href="page-videos-guides">Videos &amp; guides</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Woodlands TV</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Woodland activities</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Practical guides</a>

</li>

            <li class="navigation__item  ">
    <a href="#">What do people do?</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Looking after your wood</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Tree identification</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Wildlife identification</a>

</li>

    </ul>
</li>

                <li class="navigation__item navigation__item--has-sub ">
    <a href="page-about">About us</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Our team</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Press room</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Our research</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Contact us</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Meet us at woodfairs</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Community woodlands</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Woodland awards</a>

</li>

    </ul>
</li>


            <li class="navigation__item navigation__item--search"><a href="page-search" class="js--navigation-search">Search Woods</a></li>
        </ul>
    </nav>

    <button class="hamburger hamburger--squeeze navigation__button js--navigation" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</div>

        </div>
    </div>

    <div class="form form--search form--search--alt" data-search="Show Search Filters">
    <form action="/search" method="post">
        <div class="form__inner">
            <h4 class="form--search__title">Search for woodlands</h4>

            <div class="form__field">
    <label for="form__search_location" class="form__label"><span>Location</span></label>
    <input type="text" class="form-input" id="form__search_location" name="location" placeholder="Enter location / postcode" />
</div>

            <div class="form__field">
    <label for="form__search_type" class="form__label"><span>Type</span></label>
    <select class="form-select" id="form__search_type" name="type">
        <option value="woodland">Woodland</option>
        <option value="mixed deciduous">Mixed Deciduous</option>
        <option value="coniferous">Coniferous</option>
        <option value="coppice">Coppice</option>
        <option value="ancient woodland">Ancient Woodland</option>
    </select>
</div>


            <div class="form__field form__field--switch form__field--switch--reverse">
    <input type="checkbox" class="form-checkbox" id="form__search_sold" name="sold" />
    <label for="form__search_sold" class="form__label"><i></i><span>Show Sold</span></label>
</div>


            <button class="button button--red button--inline ">
  <span>Search</span>
</button>

        </div>
    </form>

    <button class="button button--green--dark button--full button--toggle ">
  <span>Show search filters</span>
</button>

</div>

</header>


<main>
<section class="section section--map ">
    <div class="section__inner">
<section id="" class="grid grid--2/3--reverse">
    <div class="grid__inner">
            <div class="grid__item map--map">
                    <div class="map" data-map="#listing--map"></div>

            </div>
            <div class="grid__item map--listing">
                <button class="button button--inline button--inline--small button--green--dark button--left top">
  <span>← Exit map view</span>
</button>


                <h2 class="section__title section__title--medium normal-case">Woodlands for sale in this location:</h2>

                
<section id="listing--map" class="grid grid--single">
    <div class="grid__inner">
      <div class="card card--woodland card--woodland--map " data-longitude="-0.242816" data-latitude="51.133">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Unde Beatae Sunt Consequuntur Eveniet Molestiae Et Officiis Sit. <span class="card__price">£68,519</span></h3>
    <p class="card__meta">NR. Bernier Mountains, Cartwrightfurt, Bedfordshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.16438" data-latitude="51.2363">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Sed Dolorum Dolore Pariatur Inventore Accusamus Veniam Facere. <span class="card__price">£62,309</span></h3>
    <p class="card__meta">NR. Kohler Groves, Maudiefort, Avon</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.0121" data-latitude="51.22">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Magnam Soluta Consectetur Eligendi Eos Omnis Sed Maiores. <span class="card__price">£25,982</span></h3>
    <p class="card__meta">NR. Haag Road, South Arloport, Borders</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.641832" data-latitude="51.1005">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Quaerat Molestiae Dolores Perspiciatis Consequatur Veritatis Voluptatem Porro. <span class="card__price">£31,851</span></h3>
    <p class="card__meta">NR. Alejandrin Stravenue, New Pierce, Buckinghamshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.286625" data-latitude="51.1684">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Molestiae Eligendi Accusantium Ut Dolor Similique Quae Iusto. <span class="card__price">£43,687</span></h3>
    <p class="card__meta">NR. Kunze Ways, Jeanetteburgh, Borders</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.601613" data-latitude="51.2322">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Architecto Quo Dolores Labore Accusantium. <span class="card__price">£47,571</span></h3>
    <p class="card__meta">NR. Treutel Vista, Earlineland, Buckinghamshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.960194" data-latitude="51.2751">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Doloribus Suscipit Est Animi Omnis Et. <span class="card__price">£61,682</span></h3>
    <p class="card__meta">NR. Rosetta Corners, New Dannie, Cambridgeshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.637193" data-latitude="50.9428">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Eaque Possimus Nihil Nesciunt Voluptas. <span class="card__price">£69,453</span></h3>
    <p class="card__meta">NR. Emard Camp, Cassidymouth, Borders</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="-1.01441" data-latitude="51.1065">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Minus Dignissimos Consequuntur. <span class="card__price">£50,129</span></h3>
    <p class="card__meta">NR. Syble Islands, Bauchland, Bedfordshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.959027" data-latitude="51.2757">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Officiis Dicta Et Ab Reprehenderit Sit. <span class="card__price">£18,387</span></h3>
    <p class="card__meta">NR. Pacocha Underpass, Lake Linnea, Buckinghamshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.199746" data-latitude="51.0598">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Libero Quisquam Et Corporis Accusamus. <span class="card__price">£86,367</span></h3>
    <p class="card__meta">NR. Nathaniel Crossroad, East Alf, Bedfordshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.01953" data-latitude="51.2179">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Eligendi Est Eius Vel Ut Eum Amet Tenetur. <span class="card__price">£39,912</span></h3>
    <p class="card__meta">NR. Caden Crossroad, North Orlandoburgh, Cambridgeshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.16438" data-latitude="51.2363">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Voluptas Explicabo Nemo Voluptas Facilis Minima Quis. <span class="card__price">£74,973</span></h3>
    <p class="card__meta">NR. Roscoe Fort, North Rozellamouth, Berkshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.16485" data-latitude="51.234">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Aut Atque Maiores Eligendi. <span class="card__price">£19,648</span></h3>
    <p class="card__meta">NR. Merlin Fields, Tremblayport, Cambridgeshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.601613" data-latitude="51.2322">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Omnis Ut Voluptatum Ut Ab Dolor Odit Aliquid Pariatur Error. <span class="card__price">£22,888</span></h3>
    <p class="card__meta">NR. Farrell Springs, Khalidmouth, Avon</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="-1.01212" data-latitude="51.1072">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Architecto Ab Voluptatem Et Minima Ea. <span class="card__price">£97,269</span></h3>
    <p class="card__meta">NR. Sadye Mount, South Titostad, Cambridgeshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.194919" data-latitude="51.0609">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Omnis Itaque Et Ex Voluptas. <span class="card__price">£68,299</span></h3>
    <p class="card__meta">NR. Frankie Roads, Isobelhaven, Borders</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.19216" data-latitude="51.0596">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Consectetur Nemo Aspernatur Voluptate Voluptas Qui Corrupti Expedita Sunt. <span class="card__price">£45,429</span></h3>
    <p class="card__meta">NR. Julio Courts, Chesterland, Avon</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="-1.01212" data-latitude="51.1072">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Rerum Ut Ullam Sequi Libero Ut. <span class="card__price">£23,310</span></h3>
    <p class="card__meta">NR. Schamberger Path, New Edythe, Bedfordshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.641832" data-latitude="51.1005">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Ipsa Quae Id. <span class="card__price">£34,432</span></h3>
    <p class="card__meta">NR. Champlin Roads, Rohanberg, Berkshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.213422" data-latitude="51.1155">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">At Quaerat Dignissimos Repellendus Quis Commodi Consectetur Quaerat Corporis. <span class="card__price">£35,013</span></h3>
    <p class="card__meta">NR. Cedrick Highway, Terrellberg, Buckinghamshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.601902" data-latitude="51.234">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Temporibus Voluptatem Ullam Quaerat Qui Distinctio Officia Ut Molestiae. <span class="card__price">£66,395</span></h3>
    <p class="card__meta">NR. Jast Parkway, Orinhaven, Cambridgeshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.193125" data-latitude="51.0601">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Tempore Eos Eaque Repellat Numquam Aut Rerum. <span class="card__price">£79,000</span></h3>
    <p class="card__meta">NR. Yundt Forge, Weissnatmouth, Borders</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.348011" data-latitude="51.1576">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Rerum Odit Expedita Quo Consequatur Maxime. <span class="card__price">£56,152</span></h3>
    <p class="card__meta">NR. Prohaska Parks, Andersonville, Cambridgeshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.959027" data-latitude="51.2757">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Dicta Animi Et Ut Est Soluta Cumque Laborum. <span class="card__price">£48,511</span></h3>
    <p class="card__meta">NR. Xzavier Curve, Nikomouth, Buckinghamshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="-1.01441" data-latitude="51.1065">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Aliquam Eos Autem. <span class="card__price">£34,182</span></h3>
    <p class="card__meta">NR. Lennie Harbors, New Shyann, Buckinghamshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.637193" data-latitude="50.9428">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Alias Rem Sint Error Vel Voluptatem Id. <span class="card__price">£37,513</span></h3>
    <p class="card__meta">NR. Miguel Run, New Carahaven, Avon</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.190418" data-latitude="51.0599">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Sit Dolorum Hic Dicta. <span class="card__price">£38,776</span></h3>
    <p class="card__meta">NR. Lemke Fields, Lake Kieran, Avon</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.28978" data-latitude="51.1699">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Ipsa Vitae Quibusdam Exercitationem Doloremque Sunt. <span class="card__price">£24,675</span></h3>
    <p class="card__meta">NR. Zemlak Prairie, Hicklefurt, Berkshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.641774" data-latitude="51.0992">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Provident Accusamus Architecto Animi Commodi Pariatur Ullam Id Voluptatem Nulla. <span class="card__price">£5,265</span></h3>
    <p class="card__meta">NR. Kulas Stream, Drewburgh, Avon</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.601902" data-latitude="51.234">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Culpa Autem Rem Voluptatem Voluptas Et Repellat Illum. <span class="card__price">£24,730</span></h3>
    <p class="card__meta">NR. Bogisich Landing, Runolfssonfort, Berkshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.16252" data-latitude="51.2325">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Sed Et Possimus Temporibus Vero Velit Et Rerum Animi Velit. <span class="card__price">£66,198</span></h3>
    <p class="card__meta">NR. Austen Coves, East Joaquin, Bedfordshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.644051" data-latitude="51.0998">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Minus Harum Nesciunt Voluptatibus Cupiditate Magnam Aspernatur. <span class="card__price">£63,020</span></h3>
    <p class="card__meta">NR. Brooke Fall, Markshaven, Borders</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="-1.01212" data-latitude="51.1072">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Ipsum Ut Repellendus Commodi Reprehenderit Nisi Assumenda Ratione Ab Necessitatibus. <span class="card__price">£93,923</span></h3>
    <p class="card__meta">NR. Jamison Heights, Port Ruthie, Borders</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.0148" data-latitude="51.2148">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Minus Repellat Ducimus Rerum Quis Autem Maxime Corrupti Cum Facilis. <span class="card__price">£6,437</span></h3>
    <p class="card__meta">NR. Wolff Fields, Port Norris, Buckinghamshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.16044" data-latitude="51.2331">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Aut Odio Sunt Tempora Harum Amet Maiores Veniam. <span class="card__price">£4,500</span></h3>
    <p class="card__meta">NR. Parisian Junction, Greenfelderfort, Bedfordshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.346766" data-latitude="51.1564">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Eius Quod Repellendus Voluptatem Ea Dolores Eius. <span class="card__price">£53,250</span></h3>
    <p class="card__meta">NR. Halie Wall, Lake Fanny, Cambridgeshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.403002" data-latitude="51.1196">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Deserunt Quidem Praesentium Amet Temporibus Temporibus Sequi Quis Corrupti. <span class="card__price">£50,303</span></h3>
    <p class="card__meta">NR. Carter Mountains, Fadelport, Berkshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.01736" data-latitude="51.2169">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Itaque Quidem Dolores Qui. <span class="card__price">£513</span></h3>
    <p class="card__meta">NR. Pfannerstill Spring, North Bria, Buckinghamshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.213422" data-latitude="51.1155">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Ipsum Iste Inventore Eveniet Consequatur Assumenda Id. <span class="card__price">£1,659</span></h3>
    <p class="card__meta">NR. Isidro Rapid, Murazikfurt, Berkshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.641774" data-latitude="51.0992">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Et Rem Dolor Eos Quas Velit Debitis. <span class="card__price">£94,823</span></h3>
    <p class="card__meta">NR. Thompson Gardens, Bergnaummouth, Avon</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.190418" data-latitude="51.0599">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Quis Tempore Ratione Aut Animi Voluptate Autem. <span class="card__price">£57,609</span></h3>
    <p class="card__meta">NR. Graham Extension, Gorczanyport, Avon</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.403002" data-latitude="51.1196">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Ad Est Pariatur Aut. <span class="card__price">£40,231</span></h3>
    <p class="card__meta">NR. MacGyver Curve, Lake Jaimemouth, Borders</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.1662" data-latitude="51.2371">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Voluptatem Temporibus Laboriosam Aliquam Voluptas. <span class="card__price">£34,857</span></h3>
    <p class="card__meta">NR. Marcia Isle, Ameliaton, Berkshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.601613" data-latitude="51.2322">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Omnis Eius Quia Non Voluptatem Accusantium. <span class="card__price">£28,131</span></h3>
    <p class="card__meta">NR. Brittany Mountain, Wymanland, Berkshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="-0.586424" data-latitude="50.8522">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Mollitia Veniam Exercitationem Voluptatem Et. <span class="card__price">£57,600</span></h3>
    <p class="card__meta">NR. Stoltenberg Rest, Sipesburgh, Cambridgeshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.017139" data-latitude="51.1267">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Incidunt Laborum Delectus Inventore Aperiam. <span class="card__price">£30,535</span></h3>
    <p class="card__meta">NR. Jada Track, West Ryleigh, Borders</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.16485" data-latitude="51.234">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Et Consectetur Quis Officiis Velit Nulla Enim Corporis Quos Et. <span class="card__price">£21,647</span></h3>
    <p class="card__meta">NR. Bradtke Station, East Carli, Berkshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="-0.586818" data-latitude="50.8505">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Explicabo Sapiente Blanditiis Consectetur Consequatur. <span class="card__price">£51,527</span></h3>
    <p class="card__meta">NR. Gregorio Harbor, South Callieville, Bedfordshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.346766" data-latitude="51.1564">
      <div class="media">
        <div class="media__content">
            <img src="http://picsum.photos/400/225" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Aut Enim Repellat Dolores Et Accusantium Eveniet. <span class="card__price">£43,860</span></h3>
    <p class="card__meta">NR. Jewel Burg, Clarissaland, Borders</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

    </div>
</section>


                <button class="button button--inline button--inline--small button--green--dark button--left bottom">
  <span>← Exit map view</span>
</button>

            </div>
    </div>
</section>

    </div>
</section>
</main>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

