

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Map: Default | Component Library</title>

    <meta name="description" content="Component Library for Map: Default" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Map: Default Component Library">
    <meta property="og:site_name" content="Map: Default Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Map: Default">
</head>
<body class="h-screen">

    <header class="header">
    <div class="header__container">
        <div class="header__inner">
            <h1 class="header__logo"><a href="page-homepage">Woodlands.co.uk</a></h1>

            <div class="navigation">
    <nav class="navigation__list">
        <form action="/search" method="post" class="form form--search form--search--simple">
    <div class="form__inner">
        <div class="form__field">
    <label for="form__search_location" class="form__label"><span>Location</span></label>
    <input type="text" class="form-input" id="form__search_location" name="location" placeholder="Enter location / postcode" />
</div>

        <button class="button button--red button--inline bottom">
  <span>Search</span>
</button>

    </div>
</form>


        <ul>
                <li class="navigation__item navigation__item--has-sub ">
    <a href="page-buy">Buy</a>

    <ul>
            <li class="navigation__item navigation__item--has-sub ">
    <a href="page-buy">Woodlands for sale</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Search for woods</a>

</li>

            <li class="navigation__item  ">
    <a href="#">South East England</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Northern England</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Cumbria</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Central England</a>

</li>

            <li class="navigation__item  ">
    <a href="#">East Anglia</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Devon</a>

</li>

    </ul>
</li>

            <li class="navigation__item navigation__item--has-sub ">
    <a href="page-buy">Buying a wood</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Why buy a wood?</a>

</li>

            <li class="navigation__item  ">
    <a href="#">How to buy a woodland</a>

</li>

            <li class="navigation__item  ">
    <a href="#">How we support owners</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Legal guide</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Finance guide</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Our covenant</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Recommended solicitors</a>

</li>

    </ul>
</li>

            <li class="navigation__item navigation__item--has-sub ">
    <a href="#">Other land for sale</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Tree planting land</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Lakes and rivers</a>

</li>

    </ul>
</li>

            <li class="navigation__item navigation__item--has-sub ">
    <a href="page-sell">Sell your wood</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Sell your wood to us</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Selling your wood through us</a>

</li>

    </ul>
</li>

    </ul>
</li>

                <li class="navigation__item navigation__item--has-sub ">
    <a href="page-owning">Owning a wood</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Planning legislation</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Trees &amp; regulations</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Access &amp; tracks</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Management insurance</a>

</li>

    </ul>
</li>

                <li class="navigation__item navigation__item--has-sub ">
    <a href="page-videos-guides">Videos &amp; guides</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Woodlands TV</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Woodland activities</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Practical guides</a>

</li>

            <li class="navigation__item  ">
    <a href="#">What do people do?</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Looking after your wood</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Tree identification</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Wildlife identification</a>

</li>

    </ul>
</li>

                <li class="navigation__item navigation__item--has-sub ">
    <a href="page-about">About us</a>

    <ul>
            <li class="navigation__item  ">
    <a href="#">Our team</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Press room</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Our research</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Contact us</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Meet us at woodfairs</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Community woodlands</a>

</li>

            <li class="navigation__item  ">
    <a href="#">Woodland awards</a>

</li>

    </ul>
</li>


            <li class="navigation__item navigation__item--search"><a href="page-search" class="js--navigation-search">Search Woods</a></li>
        </ul>
    </nav>

    <button class="hamburger hamburger--squeeze navigation__button js--navigation" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</div>

        </div>
    </div>

    <form action="/search" method="post" class="form form--search form--search--alt">
    <div class="form__inner">
        <h4 class="form--search__title">Search for woodlands</h4>

        <div class="form__field">
    <label for="form__search_location" class="form__label"><span>Location</span></label>
    <input type="text" class="form-input" id="form__search_location" name="location" placeholder="Enter location / postcode" />
</div>

        <div class="form__field">
    <label for="form__search_type" class="form__label"><span>Type</span></label>
    <select class="form-select" id="form__search_type" name="type">
        <option value="woodland">Woodland</option>
        <option value="mixed deciduous">Mixed Deciduous</option>
        <option value="coniferous">Coniferous</option>
        <option value="coppice">Coppice</option>
        <option value="ancient woodland">Ancient Woodland</option>
    </select>
</div>


        <div class="form__field form__field--switch form__field--switch--reverse">
    <input type="checkbox" class="form-checkbox" id="form__search_sold" name="sold" />
    <label for="form__search_sold" class="form__label"><i></i><span>Show Sold</span></label>
</div>


        <button class="button button--red button--inline bottom">
  <span>Search</span>
</button>

    </div>

</form>

</header>


<main>
<section class="section section--map ">
    <div class="section__inner">
<section id="" class="grid grid--2/3--reverse">
    <div class="grid__inner">
            <div class="grid__item map--map">
                    <div class="map" data-map="#listing--map"></div>

            </div>
            <div class="grid__item map--listing">
                <button class="button button--inline button--inline--small button--green--dark button--left top">
  <span>← Exit map view</span>
</button>


                <h2 class="section__title section__title--medium normal-case">Woodlands for sale in this location:</h2>

                
<section id="listing--map" class="grid grid--single">
    <div class="grid__inner">
      <div class="card card--woodland card--woodland--map " data-longitude="-0.242816" data-latitude="51.133">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?26541" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Et Totam Dignissimos Quae Delectus Eius Quas Ratione Laudantium Sint. <span class="card__price">£7,053</span></h3>
    <p class="card__meta">NR. Davis Mission, South Tatyana, Avon</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="-0.583575" data-latitude="50.853">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?24105" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Asperiores Optio Eum. <span class="card__price">£1,085</span></h3>
    <p class="card__meta">NR. VonRueden Groves, Gleichnerview, Avon</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.406269" data-latitude="51.1211">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?49725" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Minima Rerum Odit Aperiam Et Sunt Fugit Eius Aspernatur. <span class="card__price">£71,645</span></h3>
    <p class="card__meta">NR. Jaiden Rapids, Reingerport, Berkshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.959027" data-latitude="51.2757">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?5132" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Et Animi Illo Esse Aut Aut Eveniet Quidem. <span class="card__price">£40,174</span></h3>
    <p class="card__meta">NR. Damian Crest, Bergnaumhaven, Buckinghamshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.017139" data-latitude="51.1267">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?32546" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Illum Voluptas Corporis Minus Quam Tenetur Facilis Porro Nemo Ducimus. <span class="card__price">£50,904</span></h3>
    <p class="card__meta">NR. Michele Lights, New Abraham, Buckinghamshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.960194" data-latitude="51.2751">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?81044" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Voluptatibus Vel Ad Perferendis Ea Nulla Aliquid. <span class="card__price">£92,204</span></h3>
    <p class="card__meta">NR. Jany Passage, South Nayeliland, Cambridgeshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.348011" data-latitude="51.1576">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?22753" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Doloribus Libero Dolor Dignissimos Exercitationem Qui. <span class="card__price">£67,928</span></h3>
    <p class="card__meta">NR. Schultz Street, Boyerhaven, Cambridgeshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.406269" data-latitude="51.1211">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?92241" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Exercitationem Velit Quam. <span class="card__price">£90,106</span></h3>
    <p class="card__meta">NR. Mosciski Manor, Port Ansel, Buckinghamshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.017139" data-latitude="51.1267">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?87114" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Quo Non Omnis Possimus Distinctio. <span class="card__price">£35,710</span></h3>
    <p class="card__meta">NR. Winifred Bridge, Kingshire, Bedfordshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.641774" data-latitude="51.0992">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?69527" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Molestias Odio In Ut Omnis Velit Quia In Quae. <span class="card__price">£33,245</span></h3>
    <p class="card__meta">NR. Willms Highway, South Pamelahaven, Cambridgeshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.406269" data-latitude="51.1211">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?32113" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Suscipit Omnis Cum Et Unde Odit. <span class="card__price">£70,696</span></h3>
    <p class="card__meta">NR. Sidney Way, East Molly, Berkshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.0148" data-latitude="51.2148">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?81438" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Voluptates Distinctio Consequatur Ut Et Corporis Ut Hic Cumque. <span class="card__price">£12,316</span></h3>
    <p class="card__meta">NR. Janelle Courts, Luigiville, Buckinghamshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.639071" data-latitude="51.2495">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?67105" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Qui Voluptatem Sed Et Optio Et. <span class="card__price">£65,856</span></h3>
    <p class="card__meta">NR. Ken Knolls, South Erich, Buckinghamshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.017139" data-latitude="51.1267">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?88169" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Ipsam Animi Impedit Ex Libero Quis Rem. <span class="card__price">£91,936</span></h3>
    <p class="card__meta">NR. Greenholt Fort, Phyllischester, Borders</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.601613" data-latitude="51.2322">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?76721" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Ipsa Porro Incidunt Aut Ex Est. <span class="card__price">£42,142</span></h3>
    <p class="card__meta">NR. Goodwin Mount, Gislasonbury, Avon</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.403002" data-latitude="51.1196">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?80917" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">In Aut Id Nobis In Sunt Aliquid Qui Deleniti. <span class="card__price">£60,180</span></h3>
    <p class="card__meta">NR. Marcelo Land, South Ona, Buckinghamshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="-0.586818" data-latitude="50.8505">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?44087" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">In Eum Et Cupiditate Quia Illum Possimus. <span class="card__price">£6,561</span></h3>
    <p class="card__meta">NR. Kovacek Common, Port Vidal, Buckinghamshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.608671" data-latitude="51.2342">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?93766" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Odit Unde Dolor. <span class="card__price">£19,671</span></h3>
    <p class="card__meta">NR. Jaime Garden, Blickview, Buckinghamshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.644051" data-latitude="51.0998">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?25037" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Omnis Eos Amet. <span class="card__price">£97,866</span></h3>
    <p class="card__meta">NR. Breanna Loop, Keeblerland, Borders</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.637193" data-latitude="50.9428">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?66360" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Amet Quam Eos Velit Reprehenderit Ipsa Hic Ea Dolores. <span class="card__price">£51,267</span></h3>
    <p class="card__meta">NR. Rempel Stream, North Estebanchester, Bedfordshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.19216" data-latitude="51.0596">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?14505" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Id Ab Ut Amet Repellat Magni Qui Libero Odit At. <span class="card__price">£65,265</span></h3>
    <p class="card__meta">NR. Ankunding Mountain, Lake Zitatown, Avon</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.1662" data-latitude="51.2371">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?32401" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Reprehenderit Vel Maiores Et. <span class="card__price">£2,857</span></h3>
    <p class="card__meta">NR. Anderson Mountains, Lake Leanna, Avon</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.01736" data-latitude="51.2169">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?64093" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Soluta Necessitatibus Quibusdam Quas Amet. <span class="card__price">£66,024</span></h3>
    <p class="card__meta">NR. Roob Mall, East Jayview, Avon</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.403002" data-latitude="51.1196">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?88109" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Et Laboriosam Est Non Placeat Laboriosam. <span class="card__price">£63,387</span></h3>
    <p class="card__meta">NR. Anderson Pike, Port Melyna, Buckinghamshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.641832" data-latitude="51.1005">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?36982" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Dolore Voluptatum Omnis Qui Reprehenderit Voluptatem Ut Possimus. <span class="card__price">£83,785</span></h3>
    <p class="card__meta">NR. Florine Mountain, Boydfurt, Borders</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.194919" data-latitude="51.0609">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?34715" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Eum Doloribus Repellendus Dolor Dolore Ipsam Voluptatibus Aut Est. <span class="card__price">£78,552</span></h3>
    <p class="card__meta">NR. Bechtelar Vista, Grahamton, Bedfordshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.0148" data-latitude="51.2148">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?64687" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Velit Totam Ab Tempore Debitis Quidem. <span class="card__price">£49,462</span></h3>
    <p class="card__meta">NR. Conroy Dam, East Jocelyn, Buckinghamshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.0148" data-latitude="51.2148">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?48047" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Dolor Quia Omnis Dolor Et Aut. <span class="card__price">£61,297</span></h3>
    <p class="card__meta">NR. Huel Meadows, West Jerrold, Borders</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.01953" data-latitude="51.2179">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?91677" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Consequuntur Quia Dicta Et Mollitia Tempore Quae Eos Vitae Voluptatem. <span class="card__price">£8,233</span></h3>
    <p class="card__meta">NR. McKenzie Bypass, Dachchester, Buckinghamshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.644051" data-latitude="51.0998">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?94933" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Corrupti Ullam Quasi. <span class="card__price">£16,208</span></h3>
    <p class="card__meta">NR. Brody Landing, Pagacburgh, Buckinghamshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.16044" data-latitude="51.2331">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?38540" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Deleniti Labore Sed Fugiat Incidunt Aperiam Officia Repellat Velit. <span class="card__price">£86,710</span></h3>
    <p class="card__meta">NR. Wendy Station, West Reymundomouth, Cambridgeshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.28886" data-latitude="51.1706">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?84710" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Et Est Aut Vitae Accusamus Autem. <span class="card__price">£6,451</span></h3>
    <p class="card__meta">NR. Ole Harbors, North Nehabury, Bedfordshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.19216" data-latitude="51.0596">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?23060" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Ab Consequatur Aut Et Perspiciatis Harum Sit Autem. <span class="card__price">£69,796</span></h3>
    <p class="card__meta">NR. Susana Light, Herminiafort, Borders</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.608438" data-latitude="51.2328">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?83039" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Error Distinctio Voluptatem Temporibus Amet Facere Ut Ut Fugit Placeat. <span class="card__price">£28,466</span></h3>
    <p class="card__meta">NR. Olson Circle, Schambergerchester, Avon</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="-0.583575" data-latitude="50.853">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?94767" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Corporis Dolor At Dolor. <span class="card__price">£21,847</span></h3>
    <p class="card__meta">NR. Rogelio Curve, East Kendall, Avon</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.16485" data-latitude="51.234">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?18536" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Accusantium Quibusdam Voluptatem Provident. <span class="card__price">£96,120</span></h3>
    <p class="card__meta">NR. Glennie Motorway, Lake Alexandrea, Buckinghamshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.960194" data-latitude="51.2751">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?26628" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Repudiandae Modi Animi Inventore Dignissimos Deserunt. <span class="card__price">£78,337</span></h3>
    <p class="card__meta">NR. Mikel Field, Beierbury, Avon</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.604271" data-latitude="51.2296">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?7270" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Nemo Fugit Laudantium Ea Dolorum. <span class="card__price">£55,368</span></h3>
    <p class="card__meta">NR. Thiel Keys, Spencerburgh, Buckinghamshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.28978" data-latitude="51.1699">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?48328" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Fuga Omnis Nesciunt Nisi Saepe Nemo Voluptas. <span class="card__price">£16,268</span></h3>
    <p class="card__meta">NR. Nikko Parkway, West Maxine, Bedfordshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.01953" data-latitude="51.2179">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?86730" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Consequatur Dolores Cupiditate Architecto Et. <span class="card__price">£36,121</span></h3>
    <p class="card__meta">NR. Tina Flats, Port Forest, Borders</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.01736" data-latitude="51.2169">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?37021" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Ut Est Consequatur Debitis Fuga Dolores. <span class="card__price">£79,685</span></h3>
    <p class="card__meta">NR. Marcus Fork, New Alysonberg, Cambridgeshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.195558" data-latitude="51.0618">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?19845" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Qui Ipsam Saepe Quia Voluptatem Deleniti Est. <span class="card__price">£41,842</span></h3>
    <p class="card__meta">NR. Harvey Station, Minnietown, Borders</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.16044" data-latitude="51.2331">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?15179" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Veritatis Excepturi Et Quis. <span class="card__price">£71,644</span></h3>
    <p class="card__meta">NR. Padberg Terrace, Adalineborough, Bedfordshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.959027" data-latitude="51.2757">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?95235" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Officiis Qui Necessitatibus Autem Nam. <span class="card__price">£3,452</span></h3>
    <p class="card__meta">NR. Hodkiewicz Overpass, New Tressaland, Cambridgeshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.95869" data-latitude="51.2736">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?42909" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Dolor Tenetur Nesciunt Cumque Iste Sit Rerum. <span class="card__price">£13,558</span></h3>
    <p class="card__meta">NR. Ola Haven, West Dorthaville, Bedfordshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="-0.242816" data-latitude="51.133">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?10340" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Commodi Dolor Voluptatum Sit Aut. <span class="card__price">£78,403</span></h3>
    <p class="card__meta">NR. Josefina Port, Fayside, Buckinghamshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.195558" data-latitude="51.0618">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?32551" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Necessitatibus Perferendis Recusandae Omnis Architecto Doloremque Saepe Sunt. <span class="card__price">£53,578</span></h3>
    <p class="card__meta">NR. Devante Pike, South Mustafa, Buckinghamshire</p>
    <p class="card__extra">About 5 ½ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="-1.01212" data-latitude="51.1072">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?12267" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Eos Delectus Asperiores Consequatur. <span class="card__price">£9,896</span></h3>
    <p class="card__meta">NR. Reinger Estates, Lake Nyahside, Berkshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="0.348011" data-latitude="51.1576">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?45869" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Omnis Sit Maxime Cupiditate Est Mollitia Quia Non Ab Aut. <span class="card__price">£91,619</span></h3>
    <p class="card__meta">NR. Jeff Walks, Port Ransom, Cambridgeshire</p>
    <p class="card__extra">About 3 ¼ acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

      <div class="card card--woodland card--woodland--map " data-longitude="1.1662" data-latitude="51.2371">
      <div class="media">
        <div class="media__content">
            <img src="http://placeimg.com/400/225/nature?41829" alt="" title="" />
        </div>
    </div>

  <div class="card__body">
    <h3 class="card__title">Rerum Odit Velit Provident Similique. <span class="card__price">£52,693</span></h3>
    <p class="card__meta">NR. Stamm Squares, Williamsonside, Cambridgeshire</p>
    <p class="card__extra">Almost 4 acres</p>
    <a href="page-woodland" class="card__more">See more details</a>
  </div>
</div>

    </div>
</section>


                <button class="button button--inline button--inline--small button--green--dark button--left bottom">
  <span>← Exit map view</span>
</button>

            </div>
    </div>
</section>

    </div>
</section>
</main>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

