

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Social Buttons: Facebook | Component Library</title>

    <meta name="description" content="Component Library for Social Buttons: Facebook" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Social Buttons: Facebook Component Library">
    <meta property="og:site_name" content="Social Buttons: Facebook Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Social Buttons: Facebook">
</head>
<body class="h-screen">

    <div class="fb-like" data-href="xxx" data-width="" data-layout="button" data-action="like" data-size="small" data-share="false"></div>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v8.0&appId=211175705609609" nonce="wawGv3W2"></script>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

