

<!DOCTYPE html>
<html class="min-h-screen">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Tag: Dismiss | Component Library</title>

    <meta name="description" content="Component Library for Tag: Dismiss" />
    <meta name="keywords" content="Component Library, Template, Style Guide, Atomic Design, HTML, SCSS" />

    <script>
        document.getElementsByTagName('html')[0].className += ' js';
    </script>

    <link media="all" rel="stylesheet" href="../../css/site.css" />

    <meta property="og:title" content="Tag: Dismiss Component Library">
    <meta property="og:site_name" content="Tag: Dismiss Component Library">
    <meta property="og:url" content="https://woodlandscouk.github.io/components/">
    <meta property="og:description" content="Component Library for Tag: Dismiss">
</head>
<body class="h-screen">

    <span class="tag tag--dismiss">
    <span class="tag__title">Velit</span>
    <button type="button" class="tag__dismiss js--dismiss">⨉</button>
</span>



    <script src="../../js/manifest.js"></script>
    <script src="../../js/vendor.js"></script>
    <script src="../../js/site.js"></script>

</body>
</html>

